<div class="dynamic-grid">
  <div class="float-right">
    <div class="float-right">
      <input class="search-align" type="text" ng-enter="searchSomething()" ng-change="resetEnterPressed()" ng-model="searchObject" placeholder="Search">
    </div>
    <div class="radio-buttons float-right">
      <input id="radio_select" type="radio" ng-model="searchMode" default value="select">
        <label for="radio_select">Select</label>
      <input id="radio_jump" type="radio" ng-model="searchMode" value="jump">
        <label for="radio_jump">Jump</label>
    </div>
  </div>
  <div ui-grid="gridOptions" ui-grid-selection ui-grid-cellNav class="col-xs-12 grid remove-padding">
  </div>
  <div class="col-xs-12">
  </div>
</div>
