<div class="expandable-picklist popup-background" ng-style="{'width': gridWidth+'px','margin-left': -gridWidth/2+'px'}">
		<!-- <div class="col-xs-12 remove-padding">
			<button class="btn btn-xs btn-secondary-outline margin-inline float-right" ng-click="callbackfn()">Close</button>
		</div> -->
		<div class="col-xs-12 header-template remove-padding">
			<div class="float-right">
				<div class="float-right">
					<input class="search-align" type="text" ng-enter="searchExpandableGrid()" ng-change="resetEnterPressed()" ng-model="searchObject" placeholder="Search">
				</div>
				<div class="radio-buttons float-right">
					<input id="radio_select" type="radio" ng-model="searchMode" default value="select">
						<label for="radio_select">
							Select
						</label>
					<input id="radio_jump" type="radio" ng-model="searchMode" value="jump">
						<label for="radio_jump">
							Jump
						</label>
				</div>
			</div>
		</div>
		<div ui-grid="gridOptions" ui-grid-expandable ui-grid-selection class="col-xs-12 grid remove-padding">
</div>