<div class="container" data-ng-controller="HeaderController">
     <div class="purchase-requisition-list " ng-show="changePass">
        
       
        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="changePass = false;"></button>
        </div>

        <!-- Item List Popup -->

        <div class="change-password-container">
            <form name="form">
                    <div class="form-group">
                        <input class="form-control"
                               placeholder="Current Password"
                               type="password"
                               ng-model="credentials.currentPassword">
                    </div>
                    
                    <div class="form-group">
                        <input class="form-control password"
                               type="password"
                               ng-model="credentials.newPassword"
                               placeholder="New Password">
                    </div>
                    <div class="form-group">
                        <input class="form-control password"
                               type="password"
                               ng-model="credentials.verifyPassword"
                               placeholder="Verify Password">
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary width-150" ng-click="changePassword()">Confirm</button>
                    </div>
                    
                </form>
            
        </div>
        
       

    </div>
	<nav class="top-menu" ng-class="{'hidden-top-menu': hideTopMenu}">
    <div class="menu-icon-container hidden-md hidden-lg">
        <div class="animate-menu-button left-menu-toggle">
            <div></div>
        </div>
    </div>
    <div class="menu">
        <div class="menu-user-block">
            <div class="dropdown dropdown-avatar">
                <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="avatar" href="javascript:void(0);">
                        <img src="../modules/core/img/1.png" alt="Alternative text to the image">
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                    <!-- <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-user"></i> Profile</a>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-header">Home</div>
                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> Dashboard</a>
                    <div class="dropdown-divider"></div> -->
                    <a class="dropdown-item" href="javascript:void(0)" ng-click="changePass=true;">Change Password</a>
                    <a class="dropdown-item" href="javascript:void(0)" ng-click="logoutUser()"><i class="dropdown-icon icmn-exit"></i> Logout</a>
                    
                    
                </ul>
            </div>
        </div>
        <div class="menu-info-block">
            <div class="left">
                <div id="navHeader" class="header-buttons">
                    <div class="dropdown" ng-repeat="item in menu.items" ng-show="item.shouldRender()">
                        <a href="javascript: void(0);" class="dropdown-toggle dropdown-inline-button" data-toggle="dropdown" aria-expanded="false">
                            <span class="hidden-md hidden-sm hidden-xs">{{item.title}}</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="" role="menu">
                            <a class="dropdown-item" href="javascript:void(0)" ng-repeat="subitem in item.items" ng-href="{{'#!/'+subitem.uiRoute}}">{{subitem.title}}</a>
                        </ul>
                    </div>
                </div>
            </div>
<!--             <div class="left hidden-md-down">
                <div class="example-top-menu-chart">
                    <span class="title">Income:</span>
                    <span class="chart" id="topMenuChart">1,3,2,0,3,1,2,3,5,2</span>
                    <span class="count">425.00 USD</span>

                    <script>
                        $(function () {

                            var topMenuChart = $("#topMenuChart").peity("bar", {
                                fill: ['#01a8fe'],
                                height: 22,
                                width: 44
                            });

                            setInterval(function() {
                                var random = Math.round(Math.random() * 10);
                                var values = topMenuChart.text().split(",");
                                values.shift();
                                values.push(random);
                                topMenuChart.text(values.join(",")).change()
                            }, 1000);

                        });
                    </script>
                </div>
            </div> -->
            

            <!-- Search Area -->


            <!-- <div class="right hidden-sm hidden-xs">
                <div class="search-block">
                    <div class="form-input-icon form-input-icon-right">
                        <i class="icmn-search"></i>
                        <input type="text" class="form-control form-control-sm form-control-rounded" placeholder="Search...">
                        <button type="submit" class="search-block-submit "></button>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</nav>
</div>