<nav class="left-menu" left-menu ng-class="{'hidden-left-menu': hideLeftMenu}" style="width:0;" data-ng-controller="SidebarController">
    <div class="logo-container" style="background-color: #fff;">
        <a href="" ng-click="logoClick()" class="logo">
            <img src="../modules/core/img/logo.png" alt="Clean UI Admin Template" />
            <!--img class="logo-inverse" src="../assets/common/img/logo-inverse.png" alt="Clean UI Admin Template" /-->
        </a>
    </div>
    <div class="left-menu-inner scroll-pane" style="display: none;">
        <ul class="left-menu-list left-menu-list-root list-unstyled">
            <li>
                <a class="left-menu-link" href="/#!/inventories/create">
                    <b>Inventory</b>
                </a>
            </li>
            <li>    
                <a class="left-menu-link" href="/#!/inventory-unit">
                    Units
                </a>
            </li>
            <li>
                <a class="left-menu-link" href="/#!/inventory-label">
                    Labels
                </a>
            </li>
            <li>
                <a class="left-menu-link" href="/#!/inventory-store">
                    Stores
                </a>
            </li>
            <li>
                <a class="left-menu-link" href="/#!/inventory-customer-supplier">
                    Customer/Supplier
                </a>
            </li>
            <li>
                <a class="left-menu-link" href="/#!/inventory-transaction-category">
                    Transaction Category
                </a>
            </li>
            <li>
                <a class="left-menu-link" href="/#!/inventory-stock">
                    Stock
                </a>
            </li>
            <hr>
            <li>
                <a class="left-menu-link" href="/#!/purchaseRequisition">
                    Purchase Requisition
                </a>
            </li>
            <li>
                <a class="left-menu-link" href="/#!/purchaseOrder">
                    Purchase Order
                </a>
            </li>            
            <li>
                <a class="left-menu-link" href="/#!/GRN">
                    Goods Received Note
                </a>
            </li>
        </ul>
    </div>
</nav>