<div class="panel picklist-expandable panel-body reduce-panel-padding">
  <div class="col-xs-4 title-settings">
    {{title}}
  </div>
  <div class="col-xs-8 reduce-padding">
    <div class="reduce-padding search-block-picklist-simple form-input-icon form-input-icon-right float-right">
      <i class="icmn-search"></i>
      <input type="text" id="{{prefix + prefix}}" class="form-control form-control-sm form-control-rounded search-container-height-picklist-simple" ng-model="searchItem" placeholder="Search..." ng-change="searchItems()">
      <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
      <button type="button" class="search-block-submit-picklist-simple" ng-click="getItems()"></button>
    </div>
  </div>
  <div class="col-xs-12 reduce-padding picklist-table">
    <div class="col-xs-12 reduce-padding heading-row-settings">
      <div class="col-xs-12 reduce-padding" id="search-heading">
        <div ng-repeat="heading in headings" ng-style="{'width': heading.width + '%'}" class="display-inline text-align-center headings-settings">
          <div class="col-xs-12 reduce-padding heading-bold" ng-click="sortBy(heading)">
            {{heading.alias}}
          </div>
          <div class="col-xs-12 reduce-padding">
            <input type="text" name="filter" ng-model="searchFilter" ng-change="searchHeading(heading.name, searchFilter)" class="form-control search-align-center">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 reduce-padding picklist-scroll" ng-style="hgt" id="main-columns" class="main-columns">
      <!-- Traverse each object in array -->
      <div class="row row-settings" ng-repeat="item in sample | orderBy:propertyName:reverse" ng-class="{'no-filter': item.filtered === 'hidden'}">
        <div class="col-xs-12 reduce-padding" id="{{prefix + item.searchid}}">
          <!-- Traverse each key in object in array -->
          <div ng-repeat="key in item" ng-dblclick="item.show = !item.show" ng-click="singleClick(item)" ng-style="{'width': headings[$index].width + '%'}" class="display-inline text-align-center text-margin" ng-class="{'highlight': item.selected === 'selected', 'no-highlight': item.selected === 'not selected', 'search-highlight': item.searched ===  'searched', 'no-highlight': item.searched === 'not searched', 'no-filter': item.filtered === 'hidden'}" ng-if="$index < sampleHeadings - 7">
            {{key}}
          </div>
          <div class="col-xs-12" ng-hide="!item.show">
            <div class="display-inline display-inline text-align-center subheading-row-settings subheadings-settings heading-bold" ng-repeat="heading in expandableHeadings" ng-style="{'width': heading.width + '%'}">
              {{heading.alias}}
            </div>
          </div>
          <div class="col-xs-12" ng-hide="!item.show">
            <div class="col-xs-12 display-inline subrow-settings" ng-repeat="expandedItem in sample[item.searchid][expandableHeading]">
              <div ng-repeat="key in expandedItem" class="display-inline text-align-center text-margin" ng-click="singleClickExpanded(expandedItem, sample[item.searchid])" ng-if="$index < expandableCount"  ng-style="{'width': expandableHeadings[$index].width + '%'}" ng-class="{'highlight': expandedItem.selected === 'selected', 'no-highlight': expandedItem === 'not selected'}">
                {{key}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <button type="button" class="btn btn-lg btn-success float-right submit-button-settings" ng-click="submit()">Select</button>
  </div>
</div>