<div class="panel picklist-expandable panel-body reduce-panel-padding">
  <div class="col-xs-4 title-settings">
    {{title}}
  </div>
  <div class="col-xs-8 reduce-padding">
    <div class="reduce-padding search-block-picklist-simple form-input-icon form-input-icon-right float-right">
      <i class="icmn-search"></i>
      <input type="text" id="{{prefix + prefix}}" class="form-control form-control-sm form-control-rounded search-container-height-picklist-simple" ng-model="searchKeyword" placeholder="Press Enter to Search..." ng-enter="searchControllerItems()" ng-change="checkKeywordLength()">
      <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
      <button type="button" class="search-block-submit-picklist-simple" ng-click="searchControllerItems()"></button>
    </div>
  </div>
  <div class="col-xs-12 reduce-padding picklist-table">
    <div class="col-xs-12 reduce-padding heading-row-settings">
      <div class="col-xs-12 reduce-padding" id="search-heading">
        <div ng-repeat="heading in headings" ng-style="{'width': heading.width + '%'}" class="display-inline text-align-center headings-settings">
          <div class="col-xs-12 reduce-padding heading-bold" ng-click="sortBy(heading)">
            {{heading.alias}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 reduce-padding picklist-scroll" scroller="pagination()" ng-style="hgt" id="main-columns" class="main-columns">
      <!-- Traverse each object in array -->
      <div class="row row-settings" ng-repeat="item in sample | orderBy:propertyName:reverse" ng-class="{'no-filter': item.filtered === 'hidden'}">
        <div class="col-xs-12 reduce-padding" id="{{prefix + item.searchid}}">
          <!-- Traverse each key in object in array -->
          <div ng-repeat="key in item" ng-dblclick="doubleClick()" ng-click="singleClick(item)" ng-style="{'width': headings[$index].width + '%'}" class="display-inline text-align-center text-margin" ng-class="{'highlight': item.selected === 'selected', 'no-highlight': item.selected == 'not selected', 'search-highlight': item.searched ===  'searched', 'no-highlight': item.searched === 'not searched', 'no-filter': item.filtered === 'hidden'}" ng-if="$index < sampleHeadings - 5">
            {{key}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <button type="button" class="btn btn-lg btn-success float-right submit-button-settings" ng-click="submit()">Select</button>
  </div>
</div>