<div class="dynamic-grid popup-background" ng-style="{'width': gridWidth+'px','margin-left': -gridWidth/2+'px'}">
  <div class="col-xs-12 header-template remove-padding">
    <div class="float-right">
      
      <div class="float-right">
        <input class="search-align" type="text" ng-enter="searchSomething2()" ng-change="resetEnterPressed()" ng-model="searchObject" placeholder="Search">
      </div>
      <div class="radio-buttons float-right">
        <input id="radio_select" type="radio" ng-model="searchMode" default value="select">
          <label for="radio_select">
            Select
          </label>
        <input id="radio_jump" type="radio" ng-model="searchMode" value="jump">
          <label for="radio_jump">
            Jump
          </label>
      </div>
    </div>
  </div>
  <div ui-grid="gridOptions" ui-grid-selection class="col-xs-12 grid remove-padding">
  </div>
  <div class="col-xs-12 footer-template remove-padding">
    <button type="button" class="btn btn-print" ng-click="getCurrentSelection()">Select Row</button>
  </div>
</div>