<section data-ng-controller="MedicinesController">
    <dynamic-grid columns-to-add="columnsToshow" datafortable="samplejson" callbackfn="callbackfn(arg1)" columnsizefortable="columnSize" ng-show="showGrid"></dynamic-grid>

    <div class="form-group row"> 
        <div class="col-md-8">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="searchKeyword" placeholder="Search Medicines..." ng-enter="getItems()">
                <span class="input-group-btn" ng-click="getItems()">
                    <a href="javascript: void(0);" ng-click="getItems()" class="btn btn-success">
                        Search Items
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="panel inventories-pricing" ng-class="{'blur': showGrid}" ng-click="hide_directive()">
        <!-- <div class="panel-heading">
            <h3>Medicine</h3>
        </div> -->
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/main-page">Home</a></li>
            <li ng-hide="UpdateItem"  class="active-page"><a href="#">Medicine</a></li>
        </ul>
        <div class="panel-body">
            <form name="formMedicine" class="form-horizontal" novalidate>
                <div class="col-sm-12">
                    <div class="col-sm-12 reduce-padding">
                        <div class="col-sm-6">
                            <h5>MEDICINE DETAILS</h5>
                            <hr>
                            <br />
                             <div class="col-xs-9">
                                <div class="form-group">
                                    <label class="form-control-label">
                                        Formula
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="text" name="formula" class="form-control" ng-model="medicine.formula" required="">
                                        <span class="error" ng-show="formMedicine.formula.$touched && formMedicine.formula.$error.required">Please fill this field</span>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <div class="col-sm-6">
                            <div class="col-xs-9">
                                <div class="form-group">
                                    <label class="form-control-label">
                                        Trade Name
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding" ng-repeat="t in tradeNames">
                                        <input type="text" name="tradeName" class="form-control" ng-model="t.description" required="">
                                        <span class="error" ng-show="formMedicine.tradeName.$touched && formMedicine.tradeName.$error.required">Please fill this field</span>
                                    </div>
                                </div>
                            </div>
                                                
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <hr class="hr-inventory">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <button class="btn btn-primary" ng-click="reset_medicine(formMedicine)">Clear</button>
                                <button type="submit" class="btn btn-success" ng-click="submit_medicine(medicine, formMedicine)" ng-disabled="formMedicine.formula.$error.required" ng-hide="UpdateItem">Save</button>
                                <button type="submit" class="btn btn-success" ng-click="update_medicine(medicine, formMedicine)" ng-disabled="formMedicine.tradeName.$error.required || formMedicine.formula.$error.required" ng-show="UpdateItem">Update</button>
                                <button type="submit" class="btn btn-danger" ng-click="delete_medicine(formMedicine)" ng-show="UpdateItem">Delete</button>
                                <span class="error" ng-show="formMedicine.tradeName.$touched && formMedicine.tradeName.$error.required || formMedicine.formula.$touched && formMedicine.formula.$error.required">Please fill remaining fields</span>
                            </div>
                        </div>
                    </div>
                </div> 
            </form>
        </div>
    </div>
</section>