<section class="inventory-curd" id="headerid" data-ng-controller="MedicineDataController">
    
    <!-- Popup -->

    <div class="purchase-requisition-list " ng-show="showGrid || showSupplierList || showFormulaTradeName">
        
        <!-- Close button -->
		
     

    </div>

    <!--Popup End -->

    <!-- Form Section -->

    <div class="panel" ng-class="{'blur': showGrid}" ng-click="hide_directive()">
        
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/main-page">Home</a></li>
            <li ng-hide="UpdateItem"  class="active-page"><a href="#">Medicine Data</a></li>
        </ul>
        <!-- <div class="panel-heading" ng-hide="UpdateItem">
            <h3>Add/Edit Inventory Item</h3>
        </div>
        <div class="panel-heading" ng-show="UpdateItem">
            <h3>Update Inventory Item</h3>
        </div> -->

        

        <!-- Search And Mode -->

        <div class="search-block">
            <div class="form-input-icon form-input-icon-right">
                <i class="icmn-search"></i>
                <input type="text" class="form-control form-control-sm form-control-rounded search-container-height" ng-model="searchKeyword" placeholder="Search..." typeahead="item.brandname for item in itemsSearchTypeahead($viewValue)" ng-enter="getItems()" typeahead-loading="loadingLocations" typeahead-on-select="callbackfn($item)" ng-change="descChange()">
            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                <!-- <input type="text" class="form-control form-control-sm form-control-rounded search-container-height" placeholder="Search..." ng-model="searchKeyword" > -->
                <button type="button" class="search-block-submit" ng-click="getItems()"></button>
            </div>
            <div ng-show="showSearchMessage" class="float-right">
                No results found
            </div>
        </div>

        <!-- Search And Mode End -->

        <div class="panel-body">
            <form name="form" class="form-horizontal" novalidate>

                <div class="col-lg-12 reduce-padding">
                    
                    <!-- item Details and Tax Details -->

                    <div class="col-lg-4">
                        
                        <!-- Item Details -->

                        <div class="col-xs-12">
                            <h5>MEDICINE DETAILS</h5>
                            <hr>
                        </div>

                        <div class="col-xs-7">
                            <div>
                                <label class="form-control-label">Brand Name</label>
                                <input name="brandname" type="text" class="form-control" ng-model="item.brandname" autofocus="" ng-blur="fetchbrands()" required="true">
                                <span class="error" ng-show="form.brandname.$touched && form.brandname.$error.required">Please fill this field</span>
                            </div>
                        </div>
						
						<div class="col-xs-7">
                            <div>
                                <label class="form-control-label">Pharmaceutical</label>
                                <input name="pharma" type="text" class="form-control" ng-model="item.pharmaceutical" >
                            </div>
                        </div>
                        <div class="col-xs-7">
						<label class="form-control-label">Included Drugs</label>
                            <div ng-repeat="f in item.formulaNames" style="margin-top:5px">
                                <input name="formula" type="text" class="form-control" ng-model="f.name">
                            </div>
                        </div>

                  
                    </div>
                    
                    <!-- Unit Conversions and Oprional Details-->

                    <div class="col-lg-8">
                        <div class="col-xs-12">
                            <h5>Available Types and Quantity</h5>
                            <hr>
                        </div>
                        <div class="col-xs-12">
							<div style="font-weight: bold"> 
								<div class="col-xs-3">
									Form Type
								</div>
								<div class="col-xs-3">
									Packing
								</div>
                                <div class="col-xs-3">
									Potency
								</div>
                                <div class="col-xs-3">
									Price
								</div>	
							</div>
                            <div ng-repeat="form in item.forms">
								<div class="col-xs-3" style="margin: 5px 0">
								    <select class="form-control" ng-model="form.type">
                                        <option value="Tablet">Tablets</option>
                                        <option value="Suspensions">Suspensions</option>
										<option value="Syrups">Syrups</option>
										<option value="Capsules">Capsules</option>
										<option value="Gel">Gel</option>
										<option value="Drops">Drops</option>
										<option value="Injections">Injections</option>
										<option value="Ear Drops">Ear Drops</option>
										<option value="Mouthwash">Mouthwash</option>
										<option value="Scrub">Scrub</option>
										<option value="Soln">Soln</option>
										<option value="Inf">Inf</option>
                                    </select>
								</div>
                                <div class="col-xs-3" style="margin: 5px 0">
									<input name="packaging" type="text" placeholder="packaging" class="form-control" ng-model="form.packaging">
								</div>
                                <div class="col-xs-3" style="margin: 5px 0">
									<input name="potency" type="text" placeholder="Potency" class="form-control" ng-model="form.potency">
								</div>
                                <div class="col-xs-3" style="margin: 5px 0">
									<input name="price" type="Number" placeholder="price" class="form-control" ng-model="form.price">
								</div>									
                            </div>
                        </div>					
                    </div> 

                    <!-- Price Details -->

                    <div class="col-lg-12">
                        <div class="col-xs-12">
                            <h5>ALTERNATE BRANDS</h5>
                            <hr>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-3" ng-repeat="alternatebrand in item.alternatebrands" style="margin-top:5px;">
                                <input name="alternatebrand" type="text" class="form-control" ng-model="alternatebrand.name">
                            </div>
                        </div>                  
                    </div> 
                </div>

                <!-- CURD Buttons -->

                <div class="col-lg-12">

                    
                    
                    <div class="form-group">

                        <!-- Delete Confirmation Popup -->
                        <!-- <hr class="hr-inventory"> -->

                        <!--div class="col-xs-12">
                            <div ng-class="confirmationPopup">
                                <div class="gray-container">
                                    <b>Are you sure?</b><br>
                                    This item will be deleted permanently.<br><br>
                                    <button class="btn btn-neutral" ng-click="hide_delete_popup()">Cancel</button>&nbsp;&nbsp;<button class="btn btn-danger" ng-click="confirm_delete_popup(item,form)">Delete</button>
                                </div>
                                <div class="arrow-down"></div>
                            </div>
                        </div-->

                        <!-- Buttons -->
                        <!-- <div class="col-xs-12">
                            <div class="error right-align" ng-show="form.description.$touched && form.description.$error.required || form.purchaseToStorage.$invalid || form.storageToSelling.$invalid || form.salesTax.$invalid || form.sellingPrice.$invalid && form.sellingPrice.$touched || form.purchasingPrice.$invalid && form.purchasingPrice.$touched || form.retailPrice.$invalid && form.retailPrice.$touched || form.ed.$invalid && form.ed.$touched">Please fill remaining fields</div>
                        </div> -->
                        <div class="col-xs-12" style="margin-top:10px;">
                            
                            <div class="btn-align">
                               <!--  <button type="submit" class="btn btn-primary" ng-click="submit_item(item,form)" ng-disabled="form.barcode.$error.required || form.description.$error.required || !form.purchaseToStorage.$valid || !form.storageToSelling.$valid || !form.salesTax.$valid" ng-hide="UpdateItem">Save</button> -->
                               <button type="submit" class="btn btn-lg btn-primary btn-success" ng-click="submit_item(item,form)" ng-disabled="form.$invalid" ng-hide="UpdateItem">
                                    <span ng-hide="processing">Save</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                            </div>
                            <div class="btn-align">
                                <button  type="submit" class="btn btn-lg btn-success btn-primary" ng-click="update_item(item,form)" ng-disabled="form.$invalid" ng-show="UpdateItem">
                                <span ng-hide="processing">Update</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                            </div>
                            <div class="btn-align">
                                <button type="button" class="btn btn-lg btn-primary" ng-click="reset(form)">Clear</button>
                            </div>
                            <!--div class="btn-align">
                                <button type="submit" class="btn btn-lg btn-danger btn-primary" ng-click="delete_item()" ng-disabled="form.description.$error.required || form.purchaseToStorage.$invalid || form.storageToSelling.$invalid || form.salesTax.$invalid" ng-show="UpdateItem">Delete</button>
                            </div-->
                            
                            
                        </div>
                        
                        
                    </div>
                </div>  
            </form>
        </div>
    </div>

    <!-- Form Section End -->

</section>



