<section class="row" data-ng-controller="AuthenticationController">
	<div class="page-content-inner" style="background-image: url(/images/temp/login/2.jpg);background-size: cover; background-repeat: no-repeat;height:100vh;">

    <!-- Register Page -->
    <div class="single-page-block-header">
        <div class="row">
            <div class="col-lg-4">
                <div class="logo">
                    <a href="./">
                        <img src="/images/logo.png" alt="Clean UI Admin Template" />
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <!-- <div class="single-page-block-header-menu">
                    <ul class="list-unstyled list-inline">
                        <li><a href="javascript: history.back();">&larr; Back</a></li>
                        <li class="active"><a href="javascript: void(0);">Register</a></li>
                        <li><a href="javascript: void(0);">About</a></li>
                        <li><a href="javascript: void(0);">Support</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
    <div class="single-page-block">
        <div class="single-page-block-inner effect-3d-element">
            <div class="blur-placeholder"><!-- --></div>
            <div class="single-page-block-form">
                <h3 class="text-center">Register Form</h3>
                <br />
                <form id="form-validation" name="form-validation" novalidate>
                    <div class="form-group">
                        <div class="form-input-icon form-input-icon-right">
                            <input id="validation-email"
                                   class="form-control"
                                   placeholder="Full Name"
                                   name="validation[email]"
                                   type="text"
                                   ng-model="credentials.displayName" 
                                   required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input-icon form-input-icon-right">
                            <input id="validation-email"
                                   class="form-control"
                                   placeholder="Email or Username"
                                   name="validation[email]"
                                   type="text"
                                   ng-model="credentials.username"
                                   required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input-icon form-input-icon-right">
                            <select class="form-control" ng-model="credentials.roles" required="">
                                <option value="lab pathologist">Lab Pathologist</option>
                                <option value="lab receptionist">Lab Receptionist</option>
                                <option value="lab technician">Lab Technician</option>
								<option value="radiologist">Radiologist</option>
								<option value="radiology receptionist">Radiology Receptionist</option>
                                <option value="nurse">Nurse</option>
                                <option value="opd admin">OPD Admin</option>
								<option value="medical officer">Medical Officer</option>
                                <option value="opd receptionist">OPD Receptionist</option>
                                <option value="pharmacy admin">Pharmacy Admin</option>
                                <option value="pharmacy salesman">Pharmacy Salesman</option>
								<option value="ipd receptionist">IPD Receptionist</option>
								<option value="ipd admin">IPD Admin</option>
								<option value="ipd nurse">IPD Nurse</option>
								<option value="emergency receptionist">Emergency Receptionist</option>
								<option value="emergency admin">Emergency Admin</option>
								<option value="emergency nurse">Emergency Nurse</option>								
                                <option value="super admin">Super Admin</option>
								<option value="store admin">Store Admin</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <input id="validation-password"
                               class="form-control password"
                               name="validation[password]"
                               type="password" data-validation="[L>=6]"
                               data-validation-message="$ must be at least 6 characters"
                               placeholder="Password"
                               ng-model="credentials.password" 
                               required="">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Repeat Password"
                        ng-model="dup_password" required="">
                    </div>
                    <div class="error" ng-hide="error===''">
                        <div>{{error}}</div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary width-150" ng-click="signup()">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- <div class="single-page-block-footer text-center">
        <ul class="list-unstyled list-inline">
            <li><a href="javascript: void(0);">Terms of Use</a></li>
            <li class="active"><a href="javascript: void(0);">Compliance</a></li>
            <li><a href="javascript: void(0);">Confidential Information</a></li>
            <li><a href="javascript: void(0);">Support</a></li>
            <li><a href="javascript: void(0);">Contacts</a></li>
        </ul>
    </div> -->
    <!-- End Register Page -->

</div>

<!-- Page Scripts -->
<script>

    $(function () {

        // Form Validation
        $('#form-validation').validate({
            submit: {
                settings: {
                    inputContainer: '.form-group',
                    errorListClass: 'form-control-error',
                    errorClass: 'has-danger'
                }
            }
        });

        // Add class to body for change layout settings
        $('body').addClass('full-height');

        // Set Background Image for Form Block
        function setImage() {
            var imgUrl = $('.page-content-inner').css('background-image');

            $('.blur-placeholder').css('background-image', imgUrl);
        };

        function changeImgPositon() {
            var width = $(window).width(),
                height = $(window).height(),
                left = - (width - $('.single-page-block-inner').outerWidth()) / 2,
                top = - (height - $('.single-page-block-inner').outerHeight()) / 2;


            $('.blur-placeholder').css({
                width: width,
                height: height,
                left: left,
                top: top
            });
        };

        setImage();
        changeImgPositon();

        $(window).on('resize', function(){
            changeImgPositon();
        });

        // Mouse Move 3d Effect
        var rotation = function(e){
            var perX = (e.clientX/$(window).width())-0.5;
            var perY = (e.clientY/$(window).height())-0.5;
            TweenMax.to(".effect-3d-element", 0.4, { rotationY:15*perX, rotationX:15*perY,  ease:Linear.easeNone, transformPerspective:1000, transformOrigin:"center" })
        };

        if (!cleanUI.hasTouch) {
            $('body').mousemove(rotation);
        }

    });

</script>
<!-- End Page Scripts -->
</section>