
.form-actions {
    border-top: 1px solid $gray-darken;
    padding-top: 20px;
    margin: 20px 0px;
}

input[type=text], input[type=password], input[type=email], textarea {
    appearance: none !important;
}

form hr {
    width: 80%;
    float: left;
}

form h5 {
    color: #1fb2fe;
    margin-bottom: 5px;
}

.form-control-label {
    font-size: 13px;
    font-weight: 600;
	padding-top: 10px;
}

.form-control {
    font-family: $font-text;
    padding: 0 10px;
    border-color: #827ca1;
    height: 24px;
    &.form-control-rounded {
        border-radius: 500px;
    }
    &:focus {
        border-color: $primary;
    }
    &.input-sm {
        padding: 4px 8px;
    }
}

.form-control:disabled, .form-control[readonly] {
    background-color: $gray-lighten;
}

.input-group-addon {
    border-color: $gray-darken;
    background-color: $gray-lighten;
}

span.input-group-addon {
    outline: none !important;
}

.form-control-label {
    padding-left: 0px;
}

.form-control-static {
    min-height: 39px;
}

.form-group {
    &.has-danger {
        .form-control {
            border-color: $danger;
        }
    }
    &.has-success {
        .form-control {
            border-color: $success;
        }
    }
    &.has-warning {
        .form-control {
            border-color: $warning;
        }
    }
    &.has-focused {
        .form-control {
            border-color: $primary;
        }
    }
}

.form-input-icon {
    position: relative;
    > i {
        color: #ccc;
        position: absolute;
        z-index: 1 !important;
        margin: 11px 2px 4px 10px;
        z-index: 3;
        width: 16px;
        font-size: 16px;
        text-align: center;
        left: 0;
    }
    .form-control {
        padding-left: 34px;
    }
    &.form-input-icon-right {
        > i {
            left: auto;
            right: 3px;
            margin: 11px 10px 4px 2px;
        }
        .form-control {
            padding-left: 16px;
            padding-right: 34px;
        }
    }
}

.btn-lg {
	padding: 10px 16px;
    font-size: 16px;
    line-height: 1;
    min-width: 120px;
    border-radius: 6px;
}

.optional-span {
    color: #999;
    font-size: 11px;
    font-weight: 300;
    margin-left: 5px;
}