
@media (max-width: $sm-max-width) {
    nav.top-menu {
        left: 0px !important;
        .menu {
            padding: 21px 15px;
        }
        .menu-icon-container {
            & + .menu {
                margin-left: 65px;
            }
        }
    }

    nav.top-submenu, .top-submenu {
        padding: 10px 10px 0px 10px;
        &.top-submenu-with-background {
            margin: -15px -15px 15px -15px;
        }
    }

    nav.left-menu {
        transform: translateX(-240px);
        @include transition-menu();
        & + .main-container {
            margin-left: 0px;
        }
    }

    .menu-static {
        nav.top-menu {
            margin-left: 0px !important;
            z-index: 40;
            position: relative;
        }
    }

    .page-content {
        padding: 15px;
        margin-left: 0px !important;
    }

    .panel {
        margin-bottom: 15px;
        &.panel-with-sidebar {
            &:before {
                display: none;
            }
            .panel-heading, .panel-body, .panel-footer {
                margin-left: 0px !important;
                margin-right: 0px !important;
            }
            .panel-sidebar {
                float: none !important;
                border-right: none !important;
                border-left: none !important;
                width: auto;
                border-bottom: 1px solid $gray-darken;
                margin-bottom: 0px !important;
            }
        }
    }
}


@media (max-width: $md-max-width) {
    .sidebar-large {
        &.panel {
            margin-bottom: 15px;
            &.panel-with-sidebar {
                &:before {
                    display: none;
                }
                .panel-heading, .panel-body, .panel-footer {
                    margin-left: 0px !important;
                    margin-right: 0px !important;
                }
                .panel-sidebar {
                    float: none !important;
                    width: auto;
                    border-bottom: 1px solid $gray-darken;
                    margin-bottom: 0px !important;
                }
            }
        }
    }
}

@media (max-width: $xs-max-width) {
    nav.top-submenu, .top-submenu {
        &.top-submenu-with-background {
            margin: -15px -.9375rem .9375rem -.9375rem;
        }
    }

    nav.top-menu {
        .menu {
            padding-left: 0px;
        }
    }

    .page-content {
        padding: .9375rem;
    }

    .panel {
        margin-bottom: .9375rem;
        .panel {
            margin-bottom: 20px;
        }
        .panel-sidebar {
            padding: 20px !important;
        }
        .panel-heading {
            padding: 20px;
        }
        .panel-body {
            padding: 20px;
        }
        .panel-footer {
            padding: 20px;
        }
        &.panel-with-borders {
            > .panel-body {
                padding-top: 20px;
            }
            > .panel-body {
                padding-top: 20px;
            }
        }
    }

    .mode-superclean {
        .top-submenu, .top-submenu.top-submenu-with-background {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}