.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.reduce-padding {
	padding-left: 0;
	padding-right: 0;
}

.active {
	background: #9ba8b2;
    border-color: #9ba8b2;
    color: #fff;
}

.btn-group {
	border: 1px solid $gray;
	margin-left: 20px;
	border-radius: 5px;
}

hr {
	margin-top: 15px;
	margin-bottom: 5px;
}

.hr-padding {
    margin-top: 20px;
	margin-bottom: 10px;
}

.hr-full {
	width: 100%;
}

.left-align {
	float:left;
}

.right-align {
	float: right;
}

.btn-align {
  float: right;
  margin-right: 5px;
}

.popup-close-btn {
	background: url('../../images/close.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

.nav-btn {
	float: right;
	margin-left: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

$loadingSpinnerDiameter: 24px;
$loadingSpinnerStrokeWidth: 4px;
$loadingSpinnerStrokeColor: #FFF;
$loadingSpinnerOpacity: .8;
$loadingSpinnerStrokeStyle: solid; // solid, dashed, dotted
$loadingSpinnerSpeed: .7s;
$loadingSpinnerSearchStrokeColor: #827ca1;

.loadingSpinner {
  border: $loadingSpinnerStrokeWidth $loadingSpinnerStrokeStyle $loadingSpinnerStrokeColor;
  border-top-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  width: $loadingSpinnerDiameter - ($loadingSpinnerStrokeWidth * 2);
  height: $loadingSpinnerDiameter - ($loadingSpinnerStrokeWidth * 2);
  opacity: $loadingSpinnerOpacity;
  border-radius: 50%;
  animation: loadingSpinner $loadingSpinnerSpeed infinite linear;
  -webkit-animation: loadingSpinner $loadingSpinnerSpeed infinite linear;
}

.loadingSpinnerSearch {
  border: $loadingSpinnerStrokeWidth $loadingSpinnerStrokeStyle $loadingSpinnerSearchStrokeColor;
  border-top-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  width: $loadingSpinnerDiameter - ($loadingSpinnerStrokeWidth * 2);
  height: $loadingSpinnerDiameter - ($loadingSpinnerStrokeWidth * 2);
  opacity: $loadingSpinnerOpacity;
  border-radius: 50%;
  animation: loadingSpinner $loadingSpinnerSpeed infinite linear;
  -webkit-animation: loadingSpinner $loadingSpinnerSpeed infinite linear;
}

.centerForDemo .loadingSpinnerSearch {
  margin: 0px auto;
}

.centerForDemo .loadingSpinner {
  margin: 0px auto;
}

.table-width {
	width: 100%;
}

.table-head {
	background-color: lightgray;
	border-bottom: 2px solid darkgray;
	height: 35px;
}

.order-table-head-row {
	border-bottom: 1px solid lightgray;
	font-size: 13px;
	font-weight: bold;
}

.order-table-row {
	border-bottom: 1px solid lightgray;
	height: 35px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
}

.col-pad {
	padding: 0 10px;
	border-right: 1px solid #fff;
}

.table-body {
	tr:nth-child(even) {background-color: #f5f5f5;}
	td {border-right: 1px solid #efefef;}
}

.med-name-grid {
	min-width: 200px;
}

textarea {
   resize: none;
}

.grid-border-top {
	border-top: 2px solid #ccc;
}

.search-row {
	background-color: #ddd !important;
}

.click-cursor {
	cursor: pointer;
}

.input-field-border {
	border: 1px solid #ccc !important;
}

.table-header-gray-bg {
	background: #ccc;
}

.search-block-field {
    @include transition-slow();
    float: right;
    margin-right: 20px;
		margin-top: 20px;
    width: 200px;
    .form-control {
        min-width: 200px;
    }
    &:hover {
        width: 300px;
        @include transition-slow();
        .form-control {
            width: 100%;
        }
    }
}

 .search-block-submit {
    position: absolute;
    top: -1px;
    right: 0px;
    height: 38px;
    width: 38px;
    background:  none;
    border: none;
    z-index: 4;
    cursor: pointer;
    &:focus, &:active {
        outline: none !important;
    }
}

.search-container-height {
	height: 30px;
}

.change-password-container {
  width:400px;
  height:265px;
  background-color: #fff;
  margin: 100px auto;
  padding: 40px;
}




