.dynamic-grid {
  
  .header-template {
    font-size: 14px;
    border: 1px solid #ddd;
    text-align: right;
  }

  .footer-template {
    border: 1px solid #ddd;
    font-size: 14px;
    text-align: right;
    padding: 5px 0 5px 0;
  }

  .ui-grid-viewport {
    background-color: white;
  }

  .btn-print {
    padding: 5px;
    margin: 5px;
    background-color: white !important;
    border-color: #dfe4ed !important;
    height: auto !important;
    color: #827ca1 !important;
  }

  .btn-print:hover {
    background-color: #dfe4ed !important;
  }

  .search-align {
    margin: 5px;
    padding: 5px;
  }

  .radio-buttons {
    padding: 12px 5px 5px 5px;
    display: inline;
  }

  .grid { 
    border: none;
    height: 350px;
    font-size: 13px;
  }

  .print-selection {
      width: 600px;
      margin-top: 10px;
  }

  .ui-grid-row {
      height: 30px;
  }
}