.expandable-picklist {
  
  .header-template {
    font-size: 14px;
    border: 1px solid #ddd;
    text-align: right;
    background-color: #f1f1f1;
  }

  .footer-template {
    border: 1px solid #ddd;
    font-size: 14px;
    text-align: right;
    padding: 5px 0 5px 0;
  }

  .ui-grid-render-container {
    position: absolute;
  }

  .ui-grid-viewport {
    background-color: white;
  }

  .ui-grid-filter-container {
    padding: 0 10px;
  }

  .ui-grid-button-align {
    text-align: center;
    padding-top: 4px;
  }

  .ui-grid-header-viewport {
    background: #c0c0c0;
  }

  .btn-secondary-outline {
    border: 1px solid #c0c0c0;
    background: white;
  }

  .btn-secondary-outline:hover {
    border: 1px solid #c0c0c0;
    background: #c0c0c0;
  }

  .ui-grid-animate-spin {
    display: none;
  }

  .scrollFilter {
    border: 0;
  }

  .ui-grid-header {
    height: 50px;
    background-color: #f1f1f1;
  }

  .ui-grid-icon-plus-squared {
    padding-left: 5px;
  }

  .ui-grid-icon-minus-squared {
    padding-left: 5px;
  }

  .ui-grid-header-row {
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
  }

  .ui-grid-header-cell {
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
  }

  .btn-print {
    padding: 5px;
    margin: 5px;
    background-color: f1f1f1 !important;
    border-color: #dfe4ed !important;
    height: auto !important;
    color: #827ca1 !important;
  }

  .btn-print:hover {
    background-color: #f1f1f1 !important;
  }

  .search-align {
    margin: 5px;
    padding: 5px;
  }

  .radio-buttons {
    padding: 12px 5px 5px 5px;
    display: inline;
  }

  .heading-bold {
    font-weight: 600
  }

  .grid { 
    border: none;
    height: 350px;
    font-size: 13px;
  }

  .print-selection {
      width: 600px;
      margin-top: 10px;
  }

  .ui-grid-row {
      height: 30px;
  }
}