.top-menu {
    height: 50px;
    background: $white;
    border-bottom: 1px solid $gray-darken;
    z-index: 110;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    &:before {
        display: block;
        content: '';
        position: absolute;
        top: 0px;
        left: -1px;
        width: 1px;
        height: 100%;
        background: $white;
    }
    & + .page-content {
        margin-top: 50px;
    }
    .menu-icon-container {
        font-size: 27px;
        float: left;
        margin: 25px 0px 0px 20px;
    }
    .menu {
        height: 50px;
        padding: 21px 25px;
        .menu-user-block {
            float: right;
        }
        .menu-info-block {
            margin-right: 80px;
            .left {
                float: left;
                .header-buttons {
                    margin-top: 9px;
                    @media (max-width: $xs-max-width) {
                        .dropdown-inline-button {
                            padding-right: 0px;
                        }
                    }
                }
            }
            .right {
                float: right;
            }
        }
        .search-block {
            @include transition-slow();
            width: 200px;
            .form-control {
                min-width: 200px;
            }
            &:hover {
                width: 300px;
                @include transition-slow();
                .form-control {
                    width: 100%;
                }
            }
        }
    }
    .dropdown-inline-button {
        padding: 0px 15px;
    }
}

.search-block {
    position: relative;
    .form-input-icon {
        > i {
            margin-top: 9px;
        }
    }
    .search-block-submit {
        position: absolute;
        top: -1px;
        right: 0px;
        height: 38px;
        width: 38px;
        background:  none;
        border: none;
        z-index: 4;
        cursor: pointer;
        &:focus, &:active {
            outline: none !important;
        }
    }
}