.picklist-simple {
	padding: 10px;

	.display-inline {
		display: inline;
		padding: 2px;
		float: left;
	}

	.highlight {
		background-color: #b3c4c7 !important;
	}

	.no-highlight {
		background-color: white;
	}

	.search-settings {
		width: 60%;
		margin: auto;
		padding: 3px;
	}

	.title-settings {
		font-weight: 600;
		font-size: 16px;
		padding-top: 15px;
	}

	.float-right {
		float: right;
	}

	.reduce-panel-padding {
		padding: 5px !important;
	}

	.heading-bold {
		font-weight: 600;
		font-size: 15px;
	}

	.search-highlight {
		background-color: #c9dde1;
	}

	.search-align-center {
		margin: auto;
		width: 70%;
		max-width: 190px;
	}

	.reduce-padding {
		padding: 0;
	}

	.text-align-center {
		text-align: center;
	}

	.headings-settings {
		padding-top: 3px;
		padding-bottom: 3px;
		cursor: pointer;
	}

	.row-settings {
		padding: 2px;
		border: 1px #eceff4 solid;
	}

	.row-settings:hover {
		background-color: #eceff4;
		cursor: pointer;
	}

	.picklist-scroll {
		overflow-y: scroll !important;
	}

	.main-columns {
		position: relative;
	}

	.no-filter {
		display: none;
	}

	.heading-row-settings {
    	background-color: #a9a9a9;
    	border-radius: 3px;
	}

	.search-block-picklist-simple {
        @include transition-slow();
        float: right;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 150px;
        .form-control {
            min-width: 150px;
        }
        &:hover {
            width: 300px;
            @include transition-slow();
            .form-control {
                width: 100%;
            }
        }
    }

    .search-block-submit-picklist-simple {
        position: absolute;
        top: -1px;
        right: 0px;
        height: 38px;
        width: 38px;
        background:  none;
        border: none;
        z-index: 4;
        cursor: pointer;
        &:focus, &:active {
            outline: none !important;
        }
    }

    .search-container-height-picklist-simple {
	   	height: 34px;	
    }

	.ng-valid {
		border-color: #827ca1 !important;
	}

	.picklist-table {
		border: 1px #827ca1 solid;
		border-radius: 3px;
	}

	.heading-row-settings {
		background-color: #eceff4;
		padding-bottom: 5px;
		padding-top: 5px;
	}

	.submit-button-settings {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.text-margin {
		margin-top: 1px;
		margin-bottom: 1px;
	}
}