<section data-ng-controller="DentalNurseNotesController">
	<div class="panel">
        <!-- <div class="panel-heading">
            <h3>Hospital</h3>
        </div> -->
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/dental-nurse-home">Home</a></li>
            <li  class="active-page"><a href="#">Dental Nurse Notes</a></li>
        </ul>
        <div class="panel-body">
            <form name="form" class="form-horizontal" novalidate>
                <div class="col-xs-12">
                    <div class="col-xs-12 reduce-padding">                        
                        <div>
                            <h5>Dental Nurse Notes</h5>
                            <hr>
                        </div>

                        <!-- Column 1 -->
                        <div class="col-xs-4">
                            
                            <!-- Patient Name -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Patient Name
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" class="form-control" ng-model="note.patientName" disabled="true">
                                </div>
                            </div>

                            <!-- MR Number -->
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        MR Number
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="text" class="form-control" ng-model="note.MRNumber" disabled="true">
                                    </div>
                                </div>
                            </div>
							
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Patient History<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <textarea type="text" name="history" rows="4" class="form-control" ng-model="note.patientHistory"></textarea>
                                </div>
                            </div>

                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Medical Conditions<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <textarea type="text" name="history" rows="4" class="form-control" ng-model="note.medicalConditions"></textarea>
                                </div>
                            </div>

                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Medications<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <textarea type="text" name="history" rows="4" class="form-control" ng-model="note.medications"></textarea>
                                </div>
                            </div>

                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Allergies<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <textarea type="text" name="history" rows="4" class="form-control" ng-model="note.allergies"></textarea>
                                </div>
                            </div>

                        </div>

                        <!-- Column 2 -->
                        <div class="col-xs-4">

                        	<div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Reason For Coming
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="text" class="form-control" ng-model="note.reason" typeahead="item.val for item in reasonSearchTypeahead($viewValue)" typeahead-loading="loadingLocations" typeahead-min-length='0' typeahead-focus autocomplete="off">
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Smoking
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <select class="form-control" ng-model="note.smoking">
                                        	<option value="No">No</option>
											<option value="Yes">Yes</option>
										</select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Extraoral<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <input type="checkbox" name="extraoral" ng-model="note.extraoral.asymmetry"> Asymmetry<br>
                                <input type="checkbox" name="extraoral" ng-model="note.extraoral.swelling"> Swelling<br>   
                                <input type="checkbox" name="extraoral" ng-model="note.extraoral.erythema"> Erythema<br>   
                                <input type="checkbox" name="extraoral" ng-model="note.extraoral.Pain"> Pain<br>   
                                <input type="checkbox" name="extraoral" ng-model="note.extraoral.parathesia"> Parathesia<br>   
                                <input type="checkbox" name="extraoral" ng-model="note.extraoral.tmj"> TMJ<br>
                                <input type="checkbox" name="extraoral" ng-model="note.extraoral.other"> Other<br>
                                <input type="text" name="extraoral" ng-model="note.extraoral.otherreason" ng-show="note.extraoral.other" class="form-control">   
                            </div>

                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Intraoral<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <input type="checkbox" name="intraoral" ng-model="note.intraoral.swelling"> Swelling<br>
                                <input type="checkbox" name="intraoral" ng-model="note.intraoral.exudate"> Exudate<br>   
                                <input type="checkbox" name="intraoral" ng-model="note.intraoral.hemorrhage"> Hemorrhage<br>   
                                <input type="checkbox" name="intraoral" ng-model="note.intraoral.mobility"> Mobility<br>   
                                <input type="checkbox" name="intraoral" ng-model="note.intraoral.occlusion"> Occlusion<br>
                                <input type="checkbox" name="intraoral" ng-model="note.intraoral.pain"> Pain<br>   
                                <input type="checkbox" name="intraoral" ng-model="note.intraoral.biotype"> Biotype<br>   
                                <input type="checkbox" name="intraoral" ng-model="note.intraoral.hardTissues"> Hard Tissues<br>
                                <input type="checkbox" name="intraoral" ng-model="note.intraoral.other"> Other<br>
                                <input type="text" name="intraoral" ng-model="note.intraoral.otherreason" ng-show="note.intraoral.other" class="form-control">   
                            </div>

                        </div>

                        <!-- Column 3 -->
                        <div class="col-xs-4">
                            <!-- Temprature -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Temperature<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <input type="number" name="temperature" class="form-control half-width-field" ng-model="note.temperature" min="0" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">&#8457;</span>
                                <span class="col-xs-12 reduce-padding error" ng-show="form.temperature.$touched && form.temperature.$invalid">Please enter correct values</span>      
                            </div>

                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    HR<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <input type="number" name="hr" class="form-control half-width-field" ng-model="note.hr" min="0" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">BPM</span>
                                <span class="col-xs-12 reduce-padding error" ng-show="form.hr.$touched && form.hr.$invalid">Please enter correct values</span>      
                            </div>
                            <!-- Blood Pressure -->
                            <div class="col-xs-12">
                                <label class="form-control-label">
                                    Blood Pressure<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="number" name="systolicBP" class="form-control sys-blood-press-field" placeholder="Systolic" ng-model="note.systolicBP" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">mmHg</span>
                                    <input type="number" name="diastolicBP" class="form-control dia-blood-press-field" placeholder="Diastolic" ng-model="note.diastolicBP" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">mmHg</span>
                                </div>
                                <span class="col-xs-12 reduce-padding error" ng-show="(form.systolicBP.$touched && form.systolicBP.$invalid) || (form.diastolicBP.$touched && form.diastolicBP.$invalid)">Please enter correct values</span>
                            </div>

                            <!-- Blood Sugar -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Blood Sugar (Random)<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <input type="number" name="bloodSugar" class="form-control half-width-field" ng-model="note.bloodSugar" min="0" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">mg/dL</span>
                                <span class="col-xs-12 reduce-padding error" ng-show="form.bloodSugar.$touched && form.bloodSugar.$invalid">Please enter correct values</span>    
                            </div>	
							
                            <!-- Pulse -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Pulse<span class="optional-span">(Optional)</span>
                                </label>
                                <br>        
                                <input type="number" name="pulse" class="form-control half-width-field" ng-model="note.pulse" min="0" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">Per Minute</span>
                                <span class="col-xs-12 reduce-padding error" ng-show="form.pulse.$touched && form.pulse.$invalid">Please enter correct values</span>
                            </div>

                            <!-- Pulse Oximetry -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Pulse Oximetry<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <input type="number" name="pulseOximetry" class="form-control half-width-field" ng-model="note.pulseOximetry" min="0" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">SpO2</span>
                                <span class="col-xs-12 reduce-padding error" ng-show="form.pulseOximetry.$touched && form.pulseOximetry.$invalid">Please enter correct values</span>
                                    
                            </div>

                            <!-- Remarks -->
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Remarks<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <textarea type="text" name="remarks" rows="1" class="form-control" ng-model="note.remarks"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Bottom Navigation -->
                    <div class="col-xs-12">
                        <hr class="hr-inventory hr-full">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-lg btn-success nav-btn" ng-click="update_purchase_requisition(purchaseRequisition, formPurchaseRequisition)" ng-disabled="itemsList.length == '0' || !formPurchaseRequisition.$valid" ng-show="UpdateItem">
                                    <span ng-hide="processing">Update</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                <button type="submit" class="btn btn-success btn-lg nav-btn" ng-click="submit(note, form)" ng-disabled="!form.$valid || !note.patientName || !note.MRNumber" ng-hide="UpdateItem">
                                    <span ng-hide="processing">Save</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                </button>
                                <button type="reset" class="btn btn-primary btn-lg nav-btn" ng-click="reset(form)">Clear</button>
                            </div>
                        </div>
                    </div>
                </div> 
            </form>
        </div>
    </div>
</section>