 <div class="panel opd">
<section>
    <form name="formViewAppointment" class="form-horizontal" novalidate ng-click="showDoctorsDropDown = false">
        <div class="col-xs-12 reduce-padding">
            <h5>VIEW IPD PATIENTS</h5>
            <hr>
            <br />
            <div class="col-xs-12">
                <div class="col-md-6">
                    <label class="form-control-label">
                        Doctor
                    </label>
                    <br>
                    <div class="col-xs-6 reduce-padding">
                        <input type="text" class="form-control disable-valid-dirty" ng-model="searchDoctor" ng-disabled="showAppointmentDelete" ng-focus="searchDoctors()" ng-change="searchDoctors('change', 'view')" placeholder="Select Doctor">
                    </div>
                    <div class="search-result-container dropdown-height" ng-show="showDoctorsDropDown">
                        <div class="results" tabindex="0" ng-enter="selectAppointmentDoctors(doctor)" ng-repeat="doctor in searched_doctors" ng-click="selectAppointmentDoctors(doctor)">
                            {{doctor.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" style="min-width:1280px; overflow-x: scroll">
                <div class="col-xs-12 appointment-header">
                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('doctor_name')">
                        Name
                    </div>
                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('patient_name')">
                        MR Number                   						
					</div>
                    <div class="col-xs-1 reduce-padding text-align-center">
                        Phone
                    </div>
                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('time')">
                        Admitted On
                    </div>
                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('time')">
                        Refering Dr
                    </div>
                    <div class="col-xs-1 reduce-padding text-align-center click-cursor" ng-click="sortBy('time')">
                        Ward
                    </div>
                    <div class="col-xs-1 reduce-padding text-align-center click-cursor" ng-click="sortBy('time')">
                        Bed
                    </div>
                    <div class="col-xs-1 reduce-padding text-align-center">
                        Status
                    </div>
                </div>
                <div class="col-xs-12 search-row text-align-center">
                    <div class="col-xs-2 reduce-padding">
                        <input class="input-field-border" type="text" ng-model="search.doctor_name"></input>
                    </div>
                    <div class="col-xs-2 reduce-padding">
                        <input class="input-field-border" type="text" ng-model="search.patient_name"></input>
                    </div>
                </div>
                <div class="col-xs-12 reduce-padding scroll-arrival-appointments">
                    <div class="col-xs-12 appointment-row" ng-repeat="patient in ipdpatients | filter:search | orderBy:propertyName:reverse" ng-click="selectPatient(patient)" class="clickable-row" ng-class="{blue: (patient.status === 'Admitted'), red: (patient.status === 'Discharge Order' || patient.status === 'Transfer Order'), gray: (appointment.appointment_status === 'Discharged')}">
                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
                            {{patient.name}}
                        </div>
                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
                            {{patient.mr_number}}
                        </div>
                        <div class="col-xs-1 reduce-padding vertical-txt-pos text-align-center">
                            {{patient.phone}}
                        </div>
                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
                            {{patient.created | date: "d/M/yy h:mm a"}}
                        </div>
                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
                           {{patient.refering_doctor.name}}
                        </div>
                        <div class="col-xs-1 reduce-padding vertical-txt-pos text-align-center">
                            {{patient.bed_details.bed_description}}
                        </div>
                        <div class="col-xs-1 reduce-padding vertical-txt-pos text-align-center">
                            {{patient.bed_details.ward}}
                        </div>
                        <div class="col-xs-1 reduce-padding vertical-txt-pos text-align-center">
                            {{patient.status}}
                        </div>
                    </div>
                </div>
				<br>
				<!--div class="col-xs-12" style="margin-top:15px">
					<div class="btn-align">
						<button  type="submit" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="submit()">
						<span ng-hide="processing">Print List</span>
							<div class="centerForDemo" ng-show="processing">
								<div class="loadingSpinner"></div>
							</div>
						</button>
					</div>
				</div-->
            </div>
        </div>
    </form>
</section>
</div>