
<section class="nurse" data-ng-controller="NurseEmergencyNotesController">

    <div class="panel">
        <!-- <div class="panel-heading">
            <h3>Hospital</h3>
        </div> -->
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/emergencynurse-home">Home</a></li>
            <li  class="active-page"><a href="#">Nurse Notes (Emergency)</a></li>
        </ul>
        <div class="panel-body">
            <form name="form" class="form-horizontal" novalidate>
                <div class="col-xs-12">
                    <div class="col-xs-12 reduce-padding">                    
                        <div ng-hide="false">
                            <h5>Patient Details/Vitals</h5>
                            <hr>
                        </div>

                        <!-- Column 1 -->
                        <div class="col-xs-4">
                            
                            <!-- Patient Name -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Patient Name
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="purchaseRequisitionNumber" class="form-control" ng-model="note.patientName" disabled="true">
                                </div>
                            </div>

                            <!-- MR Number -->
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        MR Number
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="text" name="purchaseRequisitionNumber" class="form-control" ng-model="note.MRNumber" disabled="true">
                                    </div>
                                </div>
                            </div>
							
							<!-- MR Number -->
                            <div class="col-xs-9" ng-show="ward">
                                <div>
                                    <label class="form-control-label">
                                        Ward
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        {{ward}}
                                    </div>
                                </div>
                            </div>
														<!-- MR Number -->
                            <div class="col-xs-9" ng-show="bed">
                                <div>
                                    <label class="form-control-label">
                                        Bed
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        {{bed}}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Column 2 -->
                        <div class="col-xs-4">
                            
                            <!-- Height -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Height<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="number" name="feet" class="form-control half-width-field" ng-model="note.height.feet" min="1" max="9" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">Feet</span>
                                    <input type="number" name="inches" class="form-control half-width-field" ng-model="note.height.inches" min="0" max="12" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">Inches</span>
                                </div>
                                <span class="col-xs-12 reduce-padding error" ng-show="(form.feet.$touched && form.feet.$invalid) || (form.inches.$touched && form.inches.$invalid)">Please enter correct values</span>
                            </div>

                            <!-- weight -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Weight<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <input type="number" name="weight" class="form-control half-width-field" ng-model="note.weight" min="1" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">Kg</span>
                                <span class="col-xs-12 reduce-padding error" ng-show="form.weight.$touched && form.weight.$invalid">Please enter correct values</span>
                            </div>

                            <!-- Temprature -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Temprature<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <input type="number" name="temperature" class="form-control half-width-field" ng-model="note.temperature" min="0" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">&#8451;</span>
                                <span class="col-xs-12 reduce-padding error" ng-show="form.temperature.$touched && form.temperature.$invalid">Please enter correct values</span>
                                   
                            </div>

                            <!-- Respiratory Rate -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Respiratory Rate<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <input type="number" name="respiratoryRate" class="form-control half-width-field" ng-model="note.respiratoryRate" min="0" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">Per Minute</span>
                                <span class="col-xs-12 reduce-padding error" ng-show="form.respiratoryRate.$touched && form.respiratoryRate.$invalid">Please enter correct values</span>
                            </div>

                        </div>

                        <!-- Column 3 -->
                        <div class="col-xs-4">
                            
                            <!-- Blood Pressure -->
                            <div class="col-xs-12">
                                <label class="form-control-label">
                                    Blood Pressure<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="number" name="systolicBP" class="form-control sys-blood-press-field" placeholder="Systolic" ng-model="note.systolicBP" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">mmHg</span>
                                    <input type="number" name="diastolicBP" class="form-control dia-blood-press-field" placeholder="Diastolic" ng-model="note.diastolicBP" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">mmHg</span>
                                </div>
                                <span class="col-xs-12 reduce-padding error" ng-show="(form.systolicBP.$touched && form.systolicBP.$invalid) || (form.diastolicBP.$touched && form.diastolicBP.$invalid)">Please enter correct values</span>
                            </div>

                            <!-- Pulse -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Pulse<span class="optional-span">(Optional)</span>
                                </label>
                                <br>        
                                <input type="number" name="pulse" class="form-control half-width-field" ng-model="note.pulse" min="0" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">Per Minute</span>
                                <span class="col-xs-12 reduce-padding error" ng-show="form.pulse.$touched && form.pulse.$invalid">Please enter correct values</span>
                            </div>

                            <!-- Pulse Oximetry -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Pulse Oximetry<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <input type="number" name="pulseOximetry" class="form-control half-width-field" ng-model="note.pulseOximetry" min="0" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">SpO2</span>
                                <span class="col-xs-12 reduce-padding error" ng-show="form.pulseOximetry.$touched && form.pulseOximetry.$invalid">Please enter correct values</span>
                                    
                            </div>

                            <!-- Remarks -->
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Remarks<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <textarea type="text" name="remarks" class="form-control" ng-model="note.remarks"></textarea>
                                </div>
                            </div>
                        </div>
						
						 <div class="col-xs-12 table-top-margin" style="margin-top:20px;">
							 <div ng-hide="false">
								<h5>Order Equipment</h5>
								<hr>
							</div>
                            <table class="table table-striped align-center grid-border-top reduce-margin-btm">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>Medicine/Surgical Equipment</th>
                                        <th>Quantity</th>
                                        <th>Remarks</th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="medicine in medicines">
                                        <td>
                                            <input type="text" class="form-control" ng-model="medicine.name" autofocus="" 
                                            typeahead="item.tradeName for item in getMedicines($viewValue)" 
                                            typeahead-loading="loadingLocations" 
                                            typeahead-on-select="setTradeName($item)">
                                        </td>
                                        <td>
                                            <input  class="form-control" type="Number" min="0" max="200" ng-model="medicine.quantity">
                                        </td>
										<td>
                                            <input  class="form-control" type="text" ng-model="medicine.remarks">
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-info add-btn" ng-click="addMedicine()" ng-show="$last">&#10010;</button>
                                            <span ng-hide="$last" ng-click="removeCol(prescription.medicines,$index)">&#10006;</span>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <!-- Bottom Navigation -->
                    <div class="col-xs-12">
                        <hr class="hr-inventory hr-full">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div ng-class="confirmationPopup">
                                    <div class="gray-container">
                                        <b>Are you sure?</b><br>
                                        This Purchase Requisition will be deleted permanently.<br><br>
                                        <button class="btn btn-neutral" ng-click="hide_delete_popup()">Cancel</button>&nbsp;&nbsp;<button class="btn btn-danger" ng-click="confirm_delete_popup(formPurchaseRequisition)">Delete</button>
                                    </div>
                                    <div class="arrow-down-right"></div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-lg btn-success nav-btn" ng-click="update_purchase_requisition(purchaseRequisition, formPurchaseRequisition)" ng-disabled="itemsList.length == '0' || !formPurchaseRequisition.$valid" ng-show="UpdateItem">
                                    <span ng-hide="processing">Update</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                <button type="submit" class="btn btn-success btn-lg nav-btn" ng-click="submit(note, form)" ng-disabled="!form.$valid || !note.patientName || !note.MRNumber" ng-hide="UpdateItem">
                                    <span ng-hide="processing">Save</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                </button>
                                <button type="reset" class="btn btn-primary btn-lg nav-btn" ng-click="reset(form)">Clear</button>
                                <button type="submit" class="btn btn-lg btn-danger nav-btn" ng-click="delete_purchase_requisition()" ng-show="UpdateItem">Delete</button>
                            </div>
                        </div>
                    </div>
                </div> 
		<!-- Medicine's Table-->
		<div class="col-xs-12 table-top-margin" ng-show="prescription">
			<div ng-hide="false">
				<h5>Medicines to Administer</h5>
				<hr>
			</div>
			<table class="table table-striped align-center grid-border-top reduce-margin-btm" ng-show="prescription.medicines[0].name!==''">
				<thead class="thead-default">
					<tr class="table-header-gray-bg">
						<th>Medicine</th>
						<th>Start Date</th>
						<th>Dosage</th>
						<th>Timing</th>
						<th ng-show="pref.mealOptions">B/A Meal</th>
						<th>Days</th>
						<th>Next Dose</th>
						<th>Update</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="medicine in prescription.medicines">
						<td>
							<!-- <div class="text-border"> -->
								{{medicine.name}}
							<!-- </div> -->
						</td>
						<td>{{medicine.start_datetime | date: "d/M/yy h:mm a"}}</td>
						<td>
							<!-- <div class="text-border"> -->
								{{medicine.dosage}}
							<!-- </div> -->
							<!-- <input class="form-control" type="Number" min="0" max="5" ng-model="medicine.dosage" style="width: 100%" ng-disabled="true"> -->
						</td>
						<td>
							<!-- <div class="text-border"> -->
								<!-- {{medicine.timing}} -->
								<span ng-show="medicine.timing==='od'">
									صبح
								</span>
								<span ng-show="medicine.timing==='bd'">
									صبح  +  شام
								</span>
								<span ng-show="medicine.timing==='tds'">    صبح + دوپہر + شام
								</span>
								<span ng-show="medicine.timing==='qid'">    صبح + دوپہر + شام + رات
								</span>
								<span ng-show="medicine.timing==='sos'">    حسب ضرورت
								</span>
								<span ng-show="medicine.timing==='hs'">
									سوتے وقت
								</span>
								 <span ng-show="medicine.timing==='stat'">  فوراً
								 </span>
							   <!--  دوپہر
								شام
								رات
								ضرورت حسب
								سوتے وقت
								فوراً -->


							<!-- </div> -->
							<!-- <select  class="form-control" ng-model="medicine.timing"  ng-disabled="true">
							  <option value="od">OD</option>
							  <option value="bd">BD</option>
							  <option value="tds">TDS</option>
							  <option value="qid">QID</option>
							  <option value="sos">SOS</option>
							  <option value="hs">HS</option>
							  <option value="stat">STAT</option>
							</select> -->
						</td>
						<td ng-show="pref.mealOptions">
							<!-- <div class="text-border"> -->
								<!-- {{medicine.meal}} -->
								<span ng-show="medicine.meal ==='bm'">
									کھانے سے پہلے
								</span>
								<span ng-show="medicine.meal ==='am'">
									کھانے کے بعد
								</span>
								
								
							<!-- </div> -->
							<!-- <select  class="form-control" ng-model="medicine.meal" ng-disabled="true">
							  <option value="bm">Before</option>
							  <option value="am">After</option>
							</select> -->
						</td>
						<td>
							<!-- <div class="text-border"> -->
								{{medicine.days}}
							<!-- </div> -->
							<!-- <input  class="form-control" type="Number" min="0" max="200" ng-model="medicine.days" ng-disabled="true"> -->
						</td>
						<td>{{medicine.next_administer | date: "d/M/yy h:mm a"}}</td>
						<td><button>Update</button></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-12">
			<h5>Select Bed</h5>
				<div class="col-xs-12" style="margin-top: 30px">
					<div class="col-xs-2" ng-repeat="bed in beds" ng-click="selectbed($index)" style="cursor:pointer;margin-top:30px;min-height:100px;text-align:center;padding:0 40px">
						<i class="fa fa-3x fa-bed"></i>
						<div style="height:30px;color:#fff;padding-top:5px;" ng-class="{'fill-green': bed.current_status=='Free', 'fill-red': bed.current_status=='Occupied', 'fill-orange': bed.current_status=='Free_Soo'}">
						{{bed.current_status}}
						</div>
						<div>
							{{bed.description}}
						</div>
					</div>
				</div>
		</div>
            </form>
        </div>
    </div>
</section>