
<section class="nurse" data-ng-controller="NurseNotesController">

    <div class="panel">
        <!-- <div class="panel-heading">
            <h3>Hospital</h3>
        </div> -->
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/nurse-home">Home</a></li>
            <li  class="active-page"><a href="#">Nurse Notes</a></li>
        </ul>
        <div class="panel-body">
            <form name="form" class="form-horizontal" novalidate>
                <div class="col-xs-12">
                    <div class="col-xs-12 reduce-padding">
                        <div ng-show="false">
                            <h5>Update Nurse Notes</h5>
                            <hr>
                        </div>                        
                        <div ng-hide="false">
                            <h5>Nurse Notes</h5>
                            <hr>
                        </div>

                        <!-- Column 1 -->
                        <div class="col-xs-4">
                            
                            <!-- Patient Name -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Patient Name
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="purchaseRequisitionNumber" class="form-control" ng-model="note.patientName" disabled="true">
                                </div>
                            </div>

                            <!-- MR Number -->
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        MR Number
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="text" name="purchaseRequisitionNumber" class="form-control" ng-model="note.MRNumber" disabled="true">
                                    </div>
                                </div>
                            </div>
							
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Patient History<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <textarea type="text" name="history" rows="7" class="form-control" ng-model="note.patientHistory"></textarea>
                                </div>
                            </div>

                        </div>

                        <!-- Column 2 -->
                        <div class="col-xs-4">
                            
                            <!-- Height -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Height<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="number" name="feet" class="form-control half-width-field" ng-model="note.height" ><span class="half-width-text">cm</span>
                                </div>
                                <span class="col-xs-12 reduce-padding error" ng-show="(form.feet.$touched && form.feet.$invalid)">Please enter correct values</span>
                            </div>

                            <!-- weight -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Weight<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <input type="number" name="weight" class="form-control half-width-field" ng-model="note.weight" min="1" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">Kg</span>
                                <span class="col-xs-12 reduce-padding error" ng-show="form.weight.$touched && form.weight.$invalid">Please enter correct values</span>
                            </div>

                            <!-- Temprature -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Temperature<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <input type="number" name="temperature" class="form-control half-width-field" ng-model="note.temperature" min="0" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">&#8457;</span>
                                <span class="col-xs-12 reduce-padding error" ng-show="form.temperature.$touched && form.temperature.$invalid">Please enter correct values</span>
                                   
                            </div>
							
                            <!-- Respiratory Rate -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Head Circumference<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <input type="number" name="headcircumference" class="form-control half-width-field" ng-model="note.headcircumference" min="0"><span class="half-width-text">cm</span>
                                <span class="col-xs-12 reduce-padding error" ng-show="form.headcircumference.$touched && form.headcircumference.$invalid">Please enter correct values</span>
                            </div>

                            <!-- Respiratory Rate -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Respiratory Rate<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <input type="number" name="respiratoryRate" class="form-control half-width-field" ng-model="note.respiratoryRate" min="0" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">Per Minute</span>
                                <span class="col-xs-12 reduce-padding error" ng-show="form.respiratoryRate.$touched && form.respiratoryRate.$invalid">Please enter correct values</span>
                            </div>

                        </div>

                        <!-- Column 3 -->
                        <div class="col-xs-4">
                            
                            <!-- Blood Pressure -->
                            <div class="col-xs-12">
                                <label class="form-control-label">
                                    Blood Pressure<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="number" name="systolicBP" class="form-control sys-blood-press-field" placeholder="Systolic" ng-model="note.systolicBP" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">mmHg</span>
                                    <input type="number" name="diastolicBP" class="form-control dia-blood-press-field" placeholder="Diastolic" ng-model="note.diastolicBP" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">mmHg</span>
                                </div>
                                <span class="col-xs-12 reduce-padding error" ng-show="(form.systolicBP.$touched && form.systolicBP.$invalid) || (form.diastolicBP.$touched && form.diastolicBP.$invalid)">Please enter correct values</span>
                            </div>

                            <!-- Blood Sugar -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Blood Sugar (Random)<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <input type="number" name="bloodSugar" class="form-control half-width-field" ng-model="note.bloodSugar" min="0" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">mg/dL</span>
                                <span class="col-xs-12 reduce-padding error" ng-show="form.bloodSugar.$touched && form.bloodSugar.$invalid">Please enter correct values</span>    
                            </div>	
							
                            <!-- Pulse -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Pulse<span class="optional-span">(Optional)</span>
                                </label>
                                <br>        
                                <input type="number" name="pulse" class="form-control half-width-field" ng-model="note.pulse" min="0" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">Per Minute</span>
                                <span class="col-xs-12 reduce-padding error" ng-show="form.pulse.$touched && form.pulse.$invalid">Please enter correct values</span>
                            </div>

                            <!-- Pulse Oximetry -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Pulse Oximetry<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <input type="number" name="pulseOximetry" class="form-control half-width-field" ng-model="note.pulseOximetry" min="0" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">SpO2</span>
                                <span class="col-xs-12 reduce-padding error" ng-show="form.pulseOximetry.$touched && form.pulseOximetry.$invalid">Please enter correct values</span>
                                    
                            </div>

                            <!-- Remarks -->
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Remarks<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <textarea type="text" name="remarks" rows="1" class="form-control" ng-model="note.remarks"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Bottom Navigation -->
                    <div class="col-xs-12">
                        <hr class="hr-inventory hr-full">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div ng-class="confirmationPopup">
                                    <div class="gray-container">
                                        <b>Are you sure?</b><br>
                                        This Purchase Requisition will be deleted permanently.<br><br>
                                        <button class="btn btn-neutral" ng-click="hide_delete_popup()">Cancel</button>&nbsp;&nbsp;<button class="btn btn-danger" ng-click="confirm_delete_popup(formPurchaseRequisition)">Delete</button>
                                    </div>
                                    <div class="arrow-down-right"></div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-lg btn-success nav-btn" ng-click="update_purchase_requisition(purchaseRequisition, formPurchaseRequisition)" ng-disabled="itemsList.length == '0' || !formPurchaseRequisition.$valid" ng-show="UpdateItem">
                                    <span ng-hide="processing">Update</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                <button type="submit" class="btn btn-success btn-lg nav-btn" ng-click="submit(note, form)" ng-disabled="!form.$valid || !note.patientName || !note.MRNumber" ng-hide="UpdateItem">
                                    <span ng-hide="processing">Save</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                </button>
                                <button type="reset" class="btn btn-primary btn-lg nav-btn" ng-click="reset(form)">Clear</button>
                                <button type="submit" class="btn btn-lg btn-danger nav-btn" ng-click="delete_purchase_requisition()" ng-show="UpdateItem">Delete</button>
                            </div>
                        </div>
                    </div>
                </div> 
            </form>
        </div>
		<!-- Medicine's Table-->
		<!--div class="col-xs-12 table-top-margin" ng-show="prescription">
			<table class="table table-striped align-center grid-border-top reduce-margin-btm" ng-show="prescription.medicines[0].name!==''">
				<thead class="thead-default">
					<tr class="table-header-gray-bg">
						<th>Medicine</th>
						<th>Dosage</th>
						<th>Timing</th>
						<th ng-show="pref.mealOptions">B/A Meal</th>
						<th>Days</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="medicine in prescription.medicines">
						<td>
							<!-- <div class="text-border"> -->
								{{medicine.name}}
							<!-- </div> -->
						</td>
						<td>
							<!-- <div class="text-border"> -->
								{{medicine.dosage}}
							<!-- </div> -->
							<!-- <input class="form-control" type="Number" min="0" max="5" ng-model="medicine.dosage" style="width: 100%" ng-disabled="true"> -->
						</td>
						<td>
							<!-- <div class="text-border"> -->
								<!-- {{medicine.timing}} -->
								<span ng-show="medicine.timing==='od'">
									صبح
								</span>
								<span ng-show="medicine.timing==='bd'">
									صبح  +  شام
								</span>
								<span ng-show="medicine.timing==='tds'">    صبح + دوپہر + شام
								</span>
								<span ng-show="medicine.timing==='qid'">    صبح + دوپہر + شام + رات
								</span>
								<span ng-show="medicine.timing==='sos'">    حسب ضرورت
								</span>
								<span ng-show="medicine.timing==='hs'">
									سوتے وقت
								</span>
								 <span ng-show="medicine.timing==='stat'">  فوراً
								 </span>
							   <!--  دوپہر
								شام
								رات
								ضرورت حسب
								سوتے وقت
								فوراً -->


							<!-- </div> -->
							<!-- <select  class="form-control" ng-model="medicine.timing"  ng-disabled="true">
							  <option value="od">OD</option>
							  <option value="bd">BD</option>
							  <option value="tds">TDS</option>
							  <option value="qid">QID</option>
							  <option value="sos">SOS</option>
							  <option value="hs">HS</option>
							  <option value="stat">STAT</option>
							</select> -->
						</td>
						<td ng-show="pref.mealOptions">
							<!-- <div class="text-border"> -->
								<!-- {{medicine.meal}} -->
								<span ng-show="medicine.meal ==='bm'">
									کھانے سے پہلے
								</span>
								<span ng-show="medicine.meal ==='am'">
									کھانے کے بعد
								</span>
								
								
							<!-- </div> -->
							<!-- <select  class="form-control" ng-model="medicine.meal" ng-disabled="true">
							  <option value="bm">Before</option>
							  <option value="am">After</option>
							</select> -->
						</td>
						<td>
							<!-- <div class="text-border"> -->
								{{medicine.days}}
							<!-- </div> -->
							<!-- <input  class="form-control" type="Number" min="0" max="200" ng-model="medicine.days" ng-disabled="true"> -->
						</td>
						
					</tr>
				</tbody>
			</table>
		</div-->
    </div>
</section>