
<section class="nurse" data-ng-controller="NurseIPDNotesController">

<!-- Central nervous system-->
 <div class="purchase-requisition-list" style="height:100vh;width:100%;" ng-show="cns">
        
        <!-- Close button -->

        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="cns = false;" ng-hide="cnsselected"></button>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="reset()" ng-show="cnsselected"></button>
        </div>
	
		<div class="popup-preview" ng-show="cns" style="height:800px;width:1000px;padding:10px;padding-left:17px;">
			<div class="col-xs-4 reduce-padding" style="margin-top:15px">
				<div class="row reduce-padding" style="padding-left:0;padding-right:0;border:1px solid #000">
					<div class="col-xs-4 align-center">
						EYE OPENING
					</div>
					<div class="col-xs-4 align-center">
						C Eyes Closed by Swelling
					</div>
					<div class="col-xs-4 reduce-padding align-center">
						<div style="text-align:left;border-bottom:1px solid #000;font-size:10px">4 Spontaneous</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:10px">3 To Speech</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:10px">2 To Pain</div>
						<div style="text-align:left;font-size:10px">1 Nil</div>
					</div>
				</div>
				<div class="row reduce-padding" style="padding-left:0;padding-right:0;border:1px solid #000">
					<div class="col-xs-4 align-center">
						BEST VERBAL RESPONSE
					</div>
					<div class="col-xs-4 align-center">
						T Track or E T Tube
					</div>
					<div class="col-xs-4 reduce-padding align-center">
					<div style="text-align:left;border-bottom:1px solid #000;font-size:10px">5 Oriented</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:10px">4 Confused Convers.</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:10px">3 Inappropriate Words</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:10px">2 Incomprehensible S</div>
						<div style="text-align:left;font-size:10px">1 Nil</div>
					</div>
				</div>
				<div class="row reduce-padding" style="padding-left:0;padding-right:0;border:1px solid #000">
					<div class="col-xs-4 align-center">
						BEST MOTOR RESPONSE
					</div>
					<div class="col-xs-4 reduce-padding align-center">
						
					</div>
					<div class="col-xs-4 reduce-padding align-center">
					<div style="text-align:left;border-bottom:1px solid #000;font-size:10px">6 Obeys</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:10px">5 Localizes</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:10px">4 Withdrawal</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:10px">3 Abnormal Flexion</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:10px">2 Extension</div>
						<div style="text-align:left;font-size:10px">1 Nil</div>
					</div>
				</div>
				<div class="row reduce-padding" style="font-size:9px;text-align:center;padding-left:0;padding-right:0;border:1px solid #000">
					GLASCOW COMA SCALE TOTAL
				</div>
				<div class="row reduce-padding" style="padding-left:0;padding-right:0;border:1px solid #000">
					<div class="col-xs-4 align-center">
						ABILITY TO MOVE
					</div>
					<div class="col-xs-4 reduce-padding align-center">
						<div style="text-align:left;">S Strong</div>
						<div style="text-align:left">M Moderate</div>
						<div style="text-align:left">W Week</div>
						<div style="text-align:left">A Absent</div>
					</div>
					<div class="col-xs-4 reduce-padding align-center">
					<div style="text-align:left;border-bottom:1px solid #000;font-size:10px">R Arm</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:10px">L Arm</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:10px"></div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:10px">R Leg</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:10px">L Leg</div>
					</div>
				</div>
				<div class="row reduce-padding" style="padding-left:0;padding-right:0;border:1px solid #000">
					<div class="col-xs-4 align-center">
						PUPILS
					</div>
					<div class="col-xs-4 reduce-padding align-center">
					<div style="text-align:left;"></div>
						<div style="text-align:left;">SIZE</div>
						<div style="text-align:left;border-bottom:1px solid #000"></div>
						<div style="text-align:left">REACTION</div>
					</div>
					<div class="col-xs-4 reduce-padding align-center">
						<div style="text-align:left;border-bottom:1px solid #000;font-size:10px">Right</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:10px">Left</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:10px"></div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:10px">Right</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:10px">Left</div>
					</div>
				</div>
			</div>
			<div class="col-xs-8">
				<table style="font-size:9px;table-layout: fixed;width:900px">
					<tr height="15" style="font-size:9px">
						<td style="width:30px;text-align:center" ng-repeat="rw in hours">{{rw}}</td>
					</tr>
					<tr height="15" ng-repeat="r in rowsgrid track by $index">
						<td height="15" width="30" style="border: 1px solid #000" ng-repeat="rw in hours track by $index">
						<input style="height:15px;width:100%;" type="number"></input>
						</td>
					</tr>
				</table>
			</div>
			
		</div>
</div>

    <div class="panel">
        <!-- <div class="panel-heading">
            <h3>Hospital</h3>
        </div> -->
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/nurse-home">Home</a></li>
            <li  class="active-page"><a href="#">Nurse Notes</a></li>
        </ul>
        <div class="panel-body">
            <form name="form" class="form-horizontal" novalidate>
                <div class="col-xs-12">
                    <div class="col-xs-12 reduce-padding">                    
                        <div ng-hide="false">
                            <h5>Patient Details/Vitals</h5>
                            <hr>
                        </div>

                        <!-- Column 1 -->
                        <div class="col-xs-4">
                            
                            <!-- Patient Name -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Patient Name
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="purchaseRequisitionNumber" class="form-control" ng-model="note.patientName" disabled="true">
                                </div>
                            </div>

                            <!-- MR Number -->
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        MR Number
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="text" name="purchaseRequisitionNumber" class="form-control" ng-model="note.MRNumber" disabled="true">
                                    </div>
                                </div>
                            </div>
							
							<!-- MR Number -->
                            <div class="col-xs-9" ng-show="ward">
                                <div>
                                    <label class="form-control-label">
                                        Ward
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        {{ward}}
                                    </div>
                                </div>
                            </div>
														<!-- MR Number -->
                            <div class="col-xs-9" ng-show="bed">
                                <div>
                                    <label class="form-control-label">
                                        Bed
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        {{bed}}
                                    </div>
                                </div>
                            </div>
							<div class="col-xs-9">
							<br>
							<button class="btn btn-sm btn-primary btn-success" style="float:left;margin-right:20px" ng-click="cns=true">Central Nervous System</button>
							</div>
                        </div>

                        <!-- Column 2 -->
                        <div class="col-xs-4">
                            
                            <!-- Height -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Height<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="number" name="feet" class="form-control half-width-field" ng-model="note.height" ><span class="half-width-text">cm</span>
                                </div>
                                <span class="col-xs-12 reduce-padding error" ng-show="(form.feet.$touched && form.feet.$invalid)">Please enter correct values</span>
                            </div>

                            <!-- weight -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Weight<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <input type="number" name="weight" class="form-control half-width-field" ng-model="note.weight" min="1" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">Kg</span>
                                <span class="col-xs-12 reduce-padding error" ng-show="form.weight.$touched && form.weight.$invalid">Please enter correct values</span>
                            </div>

                            <!-- Temprature -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Temprature<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <input type="number" name="temperature" class="form-control half-width-field" ng-model="note.temperature" min="0" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">&#8451;</span>
                                <span class="col-xs-12 reduce-padding error" ng-show="form.temperature.$touched && form.temperature.$invalid">Please enter correct values</span>
                                   
                            </div>

                            <!-- Respiratory Rate -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Respiratory Rate<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <input type="number" name="respiratoryRate" class="form-control half-width-field" ng-model="note.respiratoryRate" min="0" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">Per Minute</span>
                                <span class="col-xs-12 reduce-padding error" ng-show="form.respiratoryRate.$touched && form.respiratoryRate.$invalid">Please enter correct values</span>
                            </div>

                        </div>

                        <!-- Column 3 -->
                        <div class="col-xs-4">
                            
                            <!-- Blood Pressure -->
                            <div class="col-xs-12">
                                <label class="form-control-label">
                                    Blood Pressure<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="number" name="systolicBP" class="form-control sys-blood-press-field" placeholder="Systolic" ng-model="note.systolicBP" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">mmHg</span>
                                    <input type="number" name="diastolicBP" class="form-control dia-blood-press-field" placeholder="Diastolic" ng-model="note.diastolicBP" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">mmHg</span>
                                </div>
                                <span class="col-xs-12 reduce-padding error" ng-show="(form.systolicBP.$touched && form.systolicBP.$invalid) || (form.diastolicBP.$touched && form.diastolicBP.$invalid)">Please enter correct values</span>
                            </div>

                            <!-- Pulse -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Pulse<span class="optional-span">(Optional)</span>
                                </label>
                                <br>        
                                <input type="number" name="pulse" class="form-control half-width-field" ng-model="note.pulse" min="0" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">Per Minute</span>
                                <span class="col-xs-12 reduce-padding error" ng-show="form.pulse.$touched && form.pulse.$invalid">Please enter correct values</span>
                            </div>

                            <!-- Pulse Oximetry -->
                            <div class="col-xs-9">
                                <label class="form-control-label">
                                    Pulse Oximetry<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <input type="number" name="pulseOximetry" class="form-control half-width-field" ng-model="note.pulseOximetry" min="0" ng-pattern="/^[0-9]+(\.{0})?$/"><span class="half-width-text">SpO2</span>
                                <span class="col-xs-12 reduce-padding error" ng-show="form.pulseOximetry.$touched && form.pulseOximetry.$invalid">Please enter correct values</span>
                                    
                            </div>

                            <!-- Remarks -->
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Remarks<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <textarea type="text" name="remarks" class="form-control" ng-model="note.remarks"></textarea>
                                </div>
                            </div>
                        </div>
						
						 <div class="col-xs-12 table-top-margin" style="margin-top:20px;">
							 <div ng-hide="false">
								<h5>Order/Return Equipment</h5>
								<hr>
							</div>
                            <table class="table table-striped align-center grid-border-top reduce-margin-btm">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>Medicine/Surgical Equipment</th>
                                        <th>Quantity</th>
                                        <th>Remarks</th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="medicine in medicines">
                                        <td>
                                            <input type="text" class="form-control" ng-model="medicine.name" autofocus="" 
                                            typeahead="item.tradeName for item in getMedicines($viewValue)" 
                                            typeahead-loading="loadingLocations" 
                                            typeahead-on-select="setTradeName($item)">
                                        </td>
                                        <td>
                                            <input  class="form-control" type="Number" min="0" max="200" ng-model="medicine.quantity">
                                        </td>
										<td>
                                            <input  class="form-control" type="text" ng-model="medicine.remarks">
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-info add-btn" ng-click="addMedicine()" ng-show="$last">&#10010;</button>
                                            <span ng-hide="$last" ng-click="removeCol(prescription.medicines,$index)">&#10006;</span>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>

                    <!-- Bottom Navigation -->
                    <div class="col-xs-12">
                        <hr class="hr-inventory hr-full">
                        <div class="form-group">

                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-lg btn-success nav-btn" ng-click="update_purchase_requisition(purchaseRequisition, formPurchaseRequisition)" ng-disabled="itemsList.length == '0' || !formPurchaseRequisition.$valid" ng-show="UpdateItem">
                                    <span ng-hide="processing">Update</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                <button type="submit" class="btn btn-success btn-lg nav-btn" ng-click="submit(note, form)" ng-disabled="!form.$valid || !note.patientName || !note.MRNumber" ng-hide="UpdateItem">
                                    <span ng-hide="processing">Order</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                </button>
                                <button type="reset" class="btn btn-primary btn-lg nav-btn" ng-click="reset(form)">Return</button>
                                <button type="submit" class="btn btn-lg btn-danger nav-btn" ng-click="delete_purchase_requisition()" ng-show="UpdateItem">Delete</button>
                            </div>
                        </div>
                    </div>
                </div> 
		<!-- Medicine's Table-->
		<div class="col-xs-12 table-top-margin" ng-show="prescription">
			<div ng-hide="false">
				<h5>Medicines to Administer</h5>
				<hr>
			</div>
			<table class="table table-striped align-center grid-border-top reduce-margin-btm" ng-show="prescription.medicines[0].name!==''">
				<thead class="thead-default">
					<tr class="table-header-gray-bg">
						<th>Medicine</th>
						<th>Start Date</th>
						<th>Dosage</th>
						<th>Timing</th>
						<th ng-show="pref.mealOptions">B/A Meal</th>
						<th>Days</th>
						<th>Next Dose</th>
						<th>Update</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="medicine in prescription.medicines">
						<td>
							<!-- <div class="text-border"> -->
								{{medicine.name}}
							<!-- </div> -->
						</td>
						<td>{{medicine.start_datetime | date: "d/M/yy h:mm a"}}</td>
						<td>
							<!-- <div class="text-border"> -->
								{{medicine.dosage}}
							<!-- </div> -->
							<!-- <input class="form-control" type="Number" min="0" max="5" ng-model="medicine.dosage" style="width: 100%" ng-disabled="true"> -->
						</td>
						<td>
							<!-- <div class="text-border"> -->
								<!-- {{medicine.timing}} -->
								<span ng-show="medicine.timing==='od'">
									صبح
								</span>
								<span ng-show="medicine.timing==='bd'">
									صبح  +  شام
								</span>
								<span ng-show="medicine.timing==='tds'">    صبح + دوپہر + شام
								</span>
								<span ng-show="medicine.timing==='qid'">    صبح + دوپہر + شام + رات
								</span>
								<span ng-show="medicine.timing==='sos'">    حسب ضرورت
								</span>
								<span ng-show="medicine.timing==='hs'">
									سوتے وقت
								</span>
								 <span ng-show="medicine.timing==='stat'">  فوراً
								 </span>
							   <!--  دوپہر
								شام
								رات
								ضرورت حسب
								سوتے وقت
								فوراً -->


							<!-- </div> -->
							<!-- <select  class="form-control" ng-model="medicine.timing"  ng-disabled="true">
							  <option value="od">OD</option>
							  <option value="bd">BD</option>
							  <option value="tds">TDS</option>
							  <option value="qid">QID</option>
							  <option value="sos">SOS</option>
							  <option value="hs">HS</option>
							  <option value="stat">STAT</option>
							</select> -->
						</td>
						<td ng-show="pref.mealOptions">
							<!-- <div class="text-border"> -->
								<!-- {{medicine.meal}} -->
								<span ng-show="medicine.meal ==='bm'">
									کھانے سے پہلے
								</span>
								<span ng-show="medicine.meal ==='am'">
									کھانے کے بعد
								</span>
								
								
							<!-- </div> -->
							<!-- <select  class="form-control" ng-model="medicine.meal" ng-disabled="true">
							  <option value="bm">Before</option>
							  <option value="am">After</option>
							</select> -->
						</td>
						<td>
							<!-- <div class="text-border"> -->
								{{medicine.days}}
							<!-- </div> -->
							<!-- <input  class="form-control" type="Number" min="0" max="200" ng-model="medicine.days" ng-disabled="true"> -->
						</td>
						<td>{{medicine.next_administer | date: "d/M/yy h:mm a"}}</td>
						<td><button>Update</button></td>
					</tr>
				</tbody>
			</table>
		</div>
            </form>
        </div>
    </div>
</section>