<section data-ng-controller="RadiologyOrderController">
	<div class="panel opd">
		<ul class="list-unstyled breadcrumb">
            <li><a href="/#!/radiology-reception">Home</a></li>
            <li class="active-page"><a href="#">Radiology Order Details</a></li>
        </ul>
		<div class="panel-body">

			
			<form name="formViewLabOrder" class="form-horizontal" novalidate>
		        <div class="col-xs-12 reduce-padding">
		            <h5>RADIOLOGY ORDER</h5>
		            <hr>
		            <br />
		            <div class="col-xs-4 reduce-padding">
		                <div class="col-xs-12">
		                    <label class="form-control-label">
		                        Patient Name
		                    </label>
		                    <br>
		                    {{radiologyOrder.patientName}}
		                </div>
		                <div class="col-xs-12">
		                    <label class="form-control-label">
		                        Bill Number
		                    </label>
		                    <br>
		                    {{radiologyOrder.billNumber}}
		                </div>
		                <br>
		            </div>
		            <div class="col-xs-4 reduce-padding">
		                <div class="col-xs-12">
		                    <label class="form-control-label">
		                        Patient MR Number
		                    </label>
		                    <br>
		                    {{radiologyOrder.patientMRN}}
		                </div>
		                <div class="col-xs-12">
		                    <label class="form-control-label">
		                        Date
		                    </label>
		                    <br>
		                    {{radiologyOrder.created_date | date:'dd/MM/yyyy'}} {{radiologyOrder.time}}
		                </div>
		                <br>
		            </div>
		            <div class="col-xs-12 reduce-padding">
		                <div class="col-xs-12 appointment-header">
		                    <div class="col-xs-2 reduce-padding click-cursor" ng-click="sortBy('testCategory')">
		                        Test Category
		                    </div>
		                    <div class="col-xs-2 reduce-padding click-cursor text-align-center" ng-click="sortBy('testDescription')">
		                        Test Description
		                    </div>
		                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('status')">
		                        Status
		                    </div>
		                    <div class="col-xs-2 reduce-padding text-align-center">
		                        Action
		                    </div>
		                </div>
		                <div class="col-xs-12 search-row">
		                    <div class="col-xs-offset-4 col-xs-2 reduce-padding text-align-center">
		                        <input class="input-field-border" type="text" ng-model="search.testDescription"></input>
		                    </div>
		                </div>
		                <div class="col-xs-12 reduce-padding scroll-arrival-appointments">

		                    <div class="col-xs-12 appointment-row click-cursor" ng-repeat="radiologyTest in radiologyOrder.radiologyTests | filter:search | orderBy:propertyName:reverse" ng-class="{blue: (radiologyTest.status === 'Test Completed' || radiologyTest.status === 'Alert'), green: (radiologyTest.status === 'Completed'), gray: (radiologyTest.status === 'Pending'),orange: (radiologyTest.status === 'Resample')}">
		                        <div class="col-xs-2 reduce-padding vertical-txt-pos">
		                            {{radiologyTest.testCategory}}
		                        </div>
		                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
		                            {{radiologyTest.testDescription}}
		                        </div>
		                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center" ng-show="radiologyTest.status !== 'Alert'">
		                            {{radiologyTest.status}}
		                        </div>
		                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center" ng-show="radiologyTest.status === 'Alert'">
		                            In Progress
		                        </div>
		                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
                        			<div ng-show="authentication.user.roles=='radiologist'">
										<button type="button" class="btn btn-success grid-receipt-btn" ng-click="addTestResult(radiologyTest, $index)" ng-disabled="processing || radiologyTest.status === 'Completed'">
											Add Result
										</button>
										<button type="button" ng-show="radiologyTest.status=='Completed'" class="btn btn-success grid-receipt-btn" ng-click="printResult(radiologyTest)" ng-disabled="processing">
											Print Result
										</button>										
									</div>
                        			<div ng-show="authentication.user.roles=='radiology receptionist'">
										<button type="button" ng-show="radiologyTest.status=='Pending'" class="btn btn-success grid-receipt-btn" ng-click="updateteststatus(radiologyTest, 'Test Completed')" ng-disabled="processing || radiologyTest.status === 'Completed'">
											Test Completed
										</button>
										<button type="button" ng-show="radiologyTest.status=='Completed'" class="btn btn-success grid-receipt-btn" ng-click="printResult(radiologyTest)" ng-disabled="processing">
											Print Result
										</button>										
									</div>									
									<!--div ng-show="labimgonly">
										<button type="button"  ng-show="labimgonly" class="btn btn-success grid-receipt-btn" ng-click="uploadLabResult(labTest, $index)" ng-disabled="processing">
											Upload Result
										</button>
										<input type="file" onchange="angular.element(this).scope().uploadFile(this.files[0])" id="fileInput" accept="image/*">
									</div-->
		                        </div>

		                    </div>
		                </div>
		            </div>
		            <div class="col-xs-12 reduce-padding">
		            	<br />
                        <div class="btn-align">
                            <button type="button" class="btn btn-lg nav-btn btn-primary" ng-click="returnToReception()" ng-disabled="processing">
                            <span ng-hide="processing">
                            	Return to Reception
                            </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                        </div>	            	
		            </div>
		        </div>
		    </form>
		</div>
	</div>
</section>