<section data-ng-controller="RadiolgyOrdersListController">
	<div class="panel opd">
		<div class="panel-body">
		    <form name="formViewLabOrders" class="form-horizontal" novalidate>
		        <div class="col-xs-12">
		            <h5>VIEW RADIOLOGY ORDERS</h5>
		            <hr>
		            <br />
		            <div class="col-xs-12">
		                <div class="col-lg-3">
		                    <label class="form-control-label">
		                        From Date
		                    </label>
		                    <br>
		                    <div class="col-xs-10 reduce-padding float-left">
		                        <input type="date" ng-change="getLabOrders()" name="date" class="form-control disable-valid-dirty" ng-model="fromDate" required="required">
		                    </div>
		                </div>
						<div class="col-lg-3">
		                    <label class="form-control-label">
		                        To Date
		                    </label>
		                    <br>
		                    <div class="col-xs-10 reduce-padding float-left">
		                        <input type="date" ng-change="getLabOrders()" name="date" class="form-control disable-valid-dirty" ng-model="toDate" required="required">
		                    </div>
		                </div>
		                <br>
		                <hr class="hr-padding hr-full">
		            </div>
		            <div class="col-xs-12">
		                <div class="col-xs-12 appointment-header">
		                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('patientMRN')">
		                        Patient MR Number
		                    </div>
		                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('billNumber')">
		                        Bill Number
		                    </div>
		                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('testDescription')">
		                        Test
		                    </div>
		                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('status')">
		                        Status
		                    </div>
							<div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('status')">
		                        Sample No
		                    </div>
							<div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('status')">
		                        Transffered to
		                    </div>
		                </div>
		                <div class="col-xs-12 search-row text-align-center">
		                    <div class="col-xs-2 reduce-padding">
		                        <input class="input-field-border" type="text" ng-model="search.patientMRN"></input>
		                    </div>
		                    <div class="col-xs-2 reduce-padding">
		                        <input class="input-field-border" type="text" ng-model="search.billNumber"></input>
		                    </div>
		                    <div class="col-xs-2 reduce-padding">
		                        <input class="input-field-border" type="text" ng-model="innerSearch.testDescription"></input>
		                    </div>
							<div class="col-xs-2 reduce-padding">
		                        <input class="input-field-border" type="text" ng-model="innerSearch.status"></input>
		                    </div>
							<div class="col-xs-2 reduce-padding">
		                        <input class="input-field-border" type="text" ng-model="innerSearch.sampleNo"></input>
		                    </div>
							<div class="col-xs-2 reduce-padding">
		                        <input class="input-field-border" type="text" ng-model="innerSearch.transferredTo"></input>
		                    </div>
		                </div>
		                <div class="col-xs-12 reduce-padding scroll-arrival-appointments">
		                    <div class="col-xs-12 reduce-padding" ng-repeat="labOrder in labOrders | filter:search | orderBy:propertyName:reverse">
		                    	<div class="col-xs-12 appointment-row click-cursor reduce-padding" ng-repeat="labTest in labOrder.labTests | filter:innerSearch | orderBy:propertyName:reverse" ng-click="viewLabResults(labOrder, labTest)" ng-class="{green: (labTest.status === 'Completed'), red: (labTest.status === 'Alert'), blue: (labTest.status === 'In Progress'), gray: (labTest.status === 'Pending'), orange: (labTest.status === 'Resample')}" ng-hide="labTest.status === 'Pending'">
			                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
			                            {{labOrder.patientMRN}}
			                        </div>
			                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
			                            {{labOrder.billNumber}}
			                        </div>
			                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
			                            {{labTest.testDescription}}
			                        </div>
			                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
			                            {{labTest.status}}
			                        </div>
									<div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
			                            {{labTest.sampleNo}}
			                        </div>
									 <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
			                            {{labTest.transferredTo}}
			                        </div>
			                    </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </form>
		</div>
	</div>
</section>