<section data-ng-controller="RadiologyResultsController">
    <div class="panel opd">
	    <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/radiology-reception">Home</a></li>
            <li class="active-page"><a href="#">Test Results</a></li>
        </ul>
        <div class="panel-body">
            <div class="tab-pane">
                <form name="formLabTest" class="form-horizontal" novalidate ng-click="hideFacilities()" autocomplete="off">
                    <div class="col-xs-12 reduce-padding">
                        <div class="col-xs-12 reduce-padding">
                            <div class="col-xs-12">
                                <h5>SUBMIT TEST RESULT</h5>
                            </div>
                            <hr>
                        </div>
                        <div class="col-xs-12 reduce-padding">
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Patient Name
                                </label>
                                <br>
                                {{radiologyResult.patientName}}
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Created
                                </label>
                                <br>
                                {{createdDate.substr(0,createdDate.length-12)}}
                            </div>
                            <br>
                        </div>
                        <div class="col-xs-12 reduce-padding">
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Patient MR Number
                                </label>
                                <br>
                                {{radiologyResult.patientMRN}}
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Description
                                </label>
                                <br>
                                {{radiologyResult.description}}
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Last Modified
                                </label>
                                <br>
                                {{modifiedDate.substr(0,createdDate.length-12)}}
                            </div>
                            <br>
                        </div>						
                        <div class="col-xs-6">
                            <div class="col-xs-10 reduce-padding">
		                        <label class="form-control-label">
		                            Select Template
		                        </label>
		                        <br>
								<select ng-model="selectedTest" class="form-control" ng-change="testSelected()">
									<option ng-repeat="test in radiologyTests" value="{{test}}">{{test.description}}</option>
								</select>
                            </div>
                        </div>
						<div class="col-xs-12 reduce-padding">
							<div class="col-xs-6">
								<div class="col-xs-10 reduce-padding">
									<label class="form-control-label">
									   Test Title
									</label>
									<br>
									<input class="form-control" ng-model="radiologyResult.title" name="title">
									</input>
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-12 reduce-padding services-table">
                            <div class="col-xs-12 reduce-padding grid-header">
                                <div class="col-xs-3 center-text header-col">
                                    Section Heading
                                </div>
                            	<div class="col-xs-8 center-text header-col">
                            		Section Text
                            	</div>
                            </div>
                            <div ng-repeat="section in radiologyResult.testSections" class="col-xs-12 reduce-padding grid-rows" style="padding: 15px 0">
                                <div class="col-xs-3 center-text">
                                    <input type="text" class="form-control" placeholder="Section Heading" ng-model="section.heading" required="">
                                    </input>
                                </div>
								<div class="col-xs-8 center-text reduce-padding">
									<div class="col-xs-12">
										<textarea class="form-control" style="height: 150px;" ng-model="section.sectionText" placeholder="Text for section">
										</textarea>
									</div>									
								</div>
                                <div class="col-xs-1 center-text">
                                    <button type="button" class="btn btn-xs btn-primary" ng-show="$last" ng-click="addResult()"><i class="fa fa-plus"></i></button>
                                	<button type="button" class="btn btn-xs btn-danger" ng-click="removeResult($index)" ng-hide="radiologyResult.testSections.length === 1 || $last"><i class="fa fa-trash"></i></button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 grand-label">
                        <div class="btn-align">
                            <button type="button" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="printResult(formLabTest)" ng-disabled="!formLabTest.$valid || processing" >
                                <span ng-hide="processing">
                                    Print
                                </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                            <button type="button" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="saveResult(formLabTest)" ng-disabled="!formLabTest.$valid || processing">
                                <span ng-hide="processing">
                                    Save & Print
                                </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>