<section data-ng-controller="RadiologyTestsController">
    <div class="panel opd">
        <div class="panel-body">
            <div class="tab-pane">
                <form name="formLabTest" class="form-horizontal" novalidate ng-click="hideFacilities()" autocomplete="off">
                    <div class="col-xs-12 reduce-padding">
                        <div class="col-xs-12 reduce-padding">
                            <div class="col-xs-12">
                                <h5>CREATE RADIOLOGY TEST</h5>
                            </div>
                            <hr>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-10 reduce-padding">
		                        <label class="form-control-label">
		                            Radiology Test Description
		                        </label>
		                        <br>
                                <input class="form-control" ng-model="test.description" name="description" ng-click="showFacilities()"  ng-change="facilitySelected = false;">
                            	</input>
                                <ul ng-show="dropdownFlag" class="services-dropdown">
                                    <li class="facility-li" ng-repeat="facility in facilities | filter : test.description" ng-click="selectTest(facility)">
                                        <div class="col-xs-9">
                                        	{{facility.description}}
                                        </div>  
                                    </li>
                                </ul>
                            </div>
                        </div>
						<div class="col-xs-12 reduce-padding">
							<div class="col-xs-6">
								<div class="col-xs-10 reduce-padding">
									<label class="form-control-label">
									   Test Title
									</label>
									<br>
									<input class="form-control" ng-model="test.title" name="title">
									</input>
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-12 reduce-padding services-table">
                            <div class="col-xs-12 reduce-padding grid-header">
                                <div class="col-xs-3 center-text header-col">
                                    Section Heading
                                </div>
                            	<div class="col-xs-8 center-text header-col">
                            		Section Text
                            	</div>
                            </div>
                            <div ng-repeat="section in test.testSections" class="col-xs-12 reduce-padding grid-rows" style="padding: 15px 0">
                                <div class="col-xs-3 center-text">
                                    <input type="text" class="form-control" placeholder="Section Heading" ng-model="section.heading" required="">
                                    </input>
                                </div>
								<div class="col-xs-8 center-text reduce-padding">
									<div class="col-xs-12">
										<textarea class="form-control" style="height: 150px;" ng-model="section.sectionText" placeholder="Text for section">
										</textarea>
									</div>									
								</div>
                                <div class="col-xs-1 center-text">
                                    <button type="button" class="btn btn-xs btn-primary" ng-show="$last" ng-click="addResult()"><i class="fa fa-plus"></i></button>
                                	<button type="button" class="btn btn-xs btn-danger" ng-click="removeResult($index)" ng-hide="test.referenceValue.length === 1 || $last"><i class="fa fa-trash"></i></button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <br><br>
                        <div class="btn-align">
                            <button type="button" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="submitLabTest(formLabTest)" ng-disabled="!formLabTest.$valid || processing" ng-hide="updateItem">
                            <span ng-hide="processing">
                            	Save
                            </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                        </div>
                        <div class="btn-align">
                            <button type="button" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="printLabTest(formLabTest)" ng-disabled="!formLabTest.$valid || processing">
                            <span ng-hide="processing">
                            	Print Preview
                            </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                        </div>					
                        <div class="btn-align">
                            <button type="button" class="btn btn-lg nav-btn btn-primary" ng-click="reset(formLabTest)" ng-disabled="processing">
                            <span ng-hide="processing">
                            	Reset
                            </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                        </div>
                        <div class="btn-align">
                            <button type="button" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="updateLabTest(formLabTest)" ng-disabled="!formLabTest.$valid || !facilitySelected || processing" ng-show="updateItem">
                            <span ng-hide="processing">
                                Update
                            </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                        </div>
                        <div class="btn-align">
                            <button type="button" class="btn btn-lg nav-btn btn-danger btn-primary" ng-click="deleteLabTest(formLabTest)" ng-disabled="!formLabTest.$valid || !facilitySelected || processing" ng-show="updateItem">
                            <span ng-hide="processing">
                                Delete
                            </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>