<section data-ng-controller="RadiologyReceptionController">
	<div class="panel opd">
		<div class="panel-body">
		    <form name="formViewRadiologyOrders" class="form-horizontal" novalidate>
		        <div class="col-xs-12 reduce-padding">
		            <h5>VIEW RADIOLOGY ORDERS</h5>
		            <hr>
		            <br />
		            <div class="col-xs-12">
		                <div class="col-lg-6">
		                    <label class="form-control-label">
		                        Date
		                    </label>
		                    <br>
		                    <div class="col-xs-6 reduce-padding float-left">
		                        <input type="date" ng-change="getRadiologyOrders()" name="date" class="form-control disable-valid-dirty" ng-model="searchDate" required="required">
		                    </div>
		                </div>
		                <br>
		                <hr class="hr-padding hr-full">
		            </div>
		            <div class="col-xs-12">
		                <div class="col-xs-12 appointment-header">
		                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('patientMRN')">
		                        Patient MR Number
		                    </div>
		                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('patientName')">
		                        Patient Name
		                    </div>
		                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('billNumber')">
		                        Bill Number
		                    </div>
		                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('created_date')">
		                        Created Date
		                    </div>
		                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('time')">
		                        Time
		                    </div>
		                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('status')">
		                        Status
		                    </div>
		                </div>
		                <div class="col-xs-12 search-row text-align-center">
		                    <div class="col-xs-2 reduce-padding">
		                        <input class="input-field-border" type="text" ng-model="search.patientMRN"></input>
		                    </div>
		                    <div class="col-xs-2 reduce-padding">
		                        <input class="input-field-border" type="text" ng-model="search.patientName"></input>
		                    </div>
		                    <div class="col-xs-2 reduce-padding">
		                        <input class="input-field-border" type="text" ng-model="search.billNumber"></input>
		                    </div>
		                </div>
		                <div class="col-xs-12 reduce-padding scroll-arrival-appointments">
		                    <div class="col-xs-12 appointment-row click-cursor" ng-repeat="radiologyOrder in radiologyOrders | filter:search | orderBy:propertyName:reverse" ng-class="{blue: (radiologyOrder.orderStatus === 'In Progress'), green: (radiologyOrder.orderStatus === 'Completed'), red: (radiologyOrder.orderStatus === 'Pending'),orange: (radiologyOrder.orderStatus === 'Resample')}" ng-click="viewRadiologyOrderDetails(radiologyOrder)">
		                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
		                            {{radiologyOrder.patientMRN}}
		                        </div>
		                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
		                            {{radiologyOrder.patientName}}
		                        </div>
		                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
		                            {{radiologyOrder.billNumber}}
		                        </div>
		                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
		                            {{radiologyOrder.created_date | date:'dd/MM/yyyy'}}
		                        </div>
		                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
		                            {{radiologyOrder.time}}
		                        </div>
		                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
		                            {{radiologyOrder.orderStatus}}
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </form>
		</div>
	</div>
</section>