<style>
body {
  background: rgb(204,204,204); 
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}
</style>
<page size="A4" style="padding: 1.5cm; font-family:Arial, Helvetica, sans-serif;">
	<div style="margin : 20px 10px; bottom: 0; float: left; width: 774px;color:#ffffff;">
	<div style="float: left; width: 774px;color: #000000;">
		<table style="width : 100%;  border: 1px solid #c0c0c0; border-collapse: collapse; text-align: left;">
		<col width="130">
  		<col width="40">
  		<col width="30">
				<th style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Name:  {{name}}</strong></th>
				<th style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;" colspan="2"><strong>Date:  {{date}}</strong></th>
			<tr style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
				<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>MR No:  {{mr_number}}</strong></td>
				<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Age: 42 Y</strong></td>
				<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Sex: Male</strong></td>
			</tr>
			<tr style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
				<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;" colspan="3"><strong>Referred By:  Dr. Fareed Ullah Khan </strong></td>
			</tr>			
		</table>
	</div>
		<div style="color: #000000; float: left; width: 774px;">
			<h3 style="text-decoration: underline; font-size: 28px; margin-bottom: 60px; text-align: center;text-decoration: underline;">{{test.title}} </h3>
			
			<div ng-repeat="section in test.testSections">
			<h4 style="text-align: left; margin-bottom: 0px;text-decoration: underline;">{{section.heading}}</h4>
			<div ng-model="txt" style="white-space:pre;margin-top:20px;font-family:Arial, Helvetica, sans-serif;background-color:#fff;border:none;color: #000000;" >{{section.sectionText}}</div>
			</div>
		</div> 
		<!--div style="color: #000000; float: left; width: 774px;">
			<h4 style="text-align: left; margin-bottom:10px; text-decoration: underline;">CONCLUSION:</h4>
			<span>Unremarkable X-ray of the left heel.</span>
		</div--> 
		<div style="color: #000000; margin-top: 50px; float: right;">
			<h3 style="margin-bottom: 0px; font-style: italic;">Dr. Maria Khaliq</h3>
			<span>Radiologist (FCPS)</span>
		</div> 
	</div>
</page>