<section class="main-page" data-ng-controller="AdminMainPageController">
    
    <div class="purchase-requisition-popup" ng-show="showRequisition || showGRN || showPurchaseOrder">
        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="showRequisition = false;showGRN = false;showPurchaseOrder = false;"></button>
        </div>
        <div ng-show="showRequisition">
            <div class="col-xs-2"></div>
            <div class="col-xs-offset-2 col-xs-8 purchase-requisition-popup-container">
                <div class="col-xs-3">
                    <div class="bold">Requisition Number</div><div> {{selectedPurchaseRequisition.code}}</div>
                    <div class="bold">Date</div><div>{{selectedPurchaseRequisition.date.substring(0,10)}}</div>
                </div>
                <div class="col-xs-3">
                    <div class="bold">Remarks</div><div> <span ng-show="selectedPurchaseRequisition.remarks===''">No Remarks</span>{{selectedPurchaseRequisition.remarks}}</div>
                    <div class="bold">Status</div><div>{{selectedPurchaseRequisition.status}}</div>
                </div>
                <div class="col-xs-3" ng-show="selectedPurchaseRequisition.status==='Rejected'">
                    <div class="bold">Reject Reason</div>
                    <div>{{selectedPurchaseRequisition.rejectRemarks}}</div>
                </div>
                <div class="col-xs-2 btn-pad-top" ng-show="selectedPurchaseRequisition.status === 'Pending'">
                    <div ng-class="confirmationPopup">
                        <div class="gray-container">
                            <b>Reason:</b><br>
                            <textarea type="text" rows="3" cols="32" ng-model="selectedPurchaseRequisition.rejectRemarks"></textarea><br>

                            <button class="btn btn-neutral" ng-click="confirmationPopup = 'ng-hide'">Cancel</button>&nbsp;&nbsp;<button class="btn btn-danger" ng-click="purchaseRequisitionDecision(selectedPurchaseRequisition,'Rejected');confirmationPopup = 'ng-hide';">Reject!</button>
                        </div>
                        <div class="arrow-down"></div>
                    </div>
                    <button class="btn btn-md btn-danger" ng-click="confirmationPopup = 'confirmation-popup'">Reject</button>
				</div>
				<div class="col-xs-2 btn-pad-top" ng-show="selectedPurchaseRequisition.status === 'Pending'">
                    <button class="btn btn-md btn-success" style="margin:0 auto;" ng-click="purchaseRequisitionDecision(selectedPurchaseRequisition,'Accepted')" ng-disabled="confirmationPopup === 'confirmation-popup'">Accept</button>
                </div>
				<div class="col-xs-2 btn-pad-top" ng-show="selectedPurchaseRequisition.status === 'Pending'">
					<button class="btn btn-md btn-success right-align" ng-click="updateRequisiton(selectedPurchaseRequisition,'Accepted')" ng-disabled="confirmationPopup === 'confirmation-popup'">Update & Accept</button>
                </div>
                <div class="col-xs-12 popup-grid-height">
                    <table class="table table-striped align-center grid-border">
                        <thead class="thead-default">
                            <tr>
                                <th class="align-center">Item Code</th>
                                <th class="align-center">Item Description</th>
                                <th class="align-center">Quantity</th>
                                <th class="align-center">Est Rate(Rs)</th>
                                <th class="align-center">Remarks</th>
								<th></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="item in selectedPurchaseRequisition.itemsList">
                                <td>{{item.code}}</td>
                                <td>{{item.description}}</td>
                                <td class="align-center">
									<input name="itemqty" class="form-control grid-input-height align-center qty-input" type="Number" style="max-width:100px;margin: 0 auto;" ng-model="item.quantity" min="1" required="" ng-pattern="/^[0-9]+(\.{0})?$/">
                                    <span class="purchase-unit">{{item.purchase_unit}}</span>
								</td>
                                <td>{{item.estRate}}</td>
                                <td>{{item.remarks.substring(0,50)}}</td>
								<td class="text-center order-table-row">
                                    <button type="button" class="close-btn btn-danger" ng-click="remove_medicine($index)" ><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div ng-show="showPurchaseOrder">
            <div class="col-xs-2"></div>
            <div class="col-xs-offset-2 col-xs-8 purchase-requisition-popup-container">
                <div class="col-xs-4">
                    <div class="bold">Purchase Order Number</div><div> {{selectedPurchaseOrder.purchaseOrderNumber}}</div>
                    <div class="bold">Date</div><div>{{selectedPurchaseOrder.date.substring(0,10)}}</div>
                </div>
                <div class="col-xs-3">
                    <div class="bold">Remarks</div><div> <span ng-show="selectedPurchaseOrder.remarks===''">No Remarks</span>{{selectedPurchaseOrder.remarks}}</div>
                </div>
                <div class="col-xs-12 popup-grid-height">
                    <table class="table table-striped align-center grid-border">
                        <thead class="thead-default">
                            <tr>
                                <th class="align-center">Item Code</th>
                                <th class="align-center">Item Description</th>
                                <th class="align-center">Quantity Remaining</th>
                                <th class="align-center">Quantity Handled</th>
                                <th class="align-center">Rate(Rs)</th>
                                <th class="align-center">Net Value</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="item in selectedPurchaseOrder.itemsList">
                                <td>{{item.code}}</td>
                                <td>{{item.description}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.handledQty}}</td>
                                <td>{{item.rate}}</td>
                                <td>{{item.netValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div ng-show="showGRN">
            <div class="col-xs-2"></div>
            <div class="col-xs-offset-2 col-xs-8 purchase-requisition-popup-container">
                <div class="col-xs-4">
                    <div class="bold">GRN Number</div><div> {{selectedPurchaseGRN.GRNNumber}}</div>
                    <div class="bold">Date</div><div>{{selectedPurchaseGRN.date.substring(0,10)}}</div>
                </div>
                <div class="col-xs-3">
                    <!-- <div class="bold">Remarks</div><div> <span ng-show="selectedPurchaseGRN.remarks===''">No Remarks</span>{{selectedPurchaseGRN.remarks}}</div>
                    <div class="bold">Status</div><div>{{selectedPurchaseGRN.status}}</div> -->
                </div>
                <div class="col-xs-3" ng-show="selectedPurchaseGRN.status==='Rejected'">
                    <div class="bold">Reject Reason</div>
                    <div>{{selectedPurchaseGRN.rejectRemarks}}</div>
                </div>
             
                <div class="col-xs-12 popup-grid-height">
                    <table class="table table-striped align-center grid-border">
                        <thead class="thead-default">
                            <tr>
                                <th class="align-center">Item Code</th>
                                <th class="align-center">Item Description</th>
                                <th class="align-center">Quantity</th>
                                <th class="align-center">Rate(Rs)</th>
                                <th class="align-center">Net Value</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="item in selectedPurchaseGRN.itemsList">
                                <td>{{item.code}}</td>
                                <td>{{item.description}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.rate}}</td>
                                <td>{{item.netValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/main-page">Home</a></li>
            <li><a href="/#!/dashboard-page">Dashboard</a></li>
            <!-- <li ng-hide="UpdateItem"  class="active-page"><a href="#">Hospital</a></li> -->
        </ul>
        <div class="panel-heading">
            <h3>Admin Home</h3>
        </div>
        <div class="panel-body">
            <form name="formHospital" class="form-horizontal" novalidate>
                <div class="col-lg-12 reduce-padding">
                    <div class="col-lg-12 reduce-padding">
                        <div class="col-lg-12">
                            <div class="col-xs-12 reduce-padding" >
                                <h5>Purchase Requisition</h5>
                                <hr class="hr-full grid-border">
                            </div>
                            <div class="col-xs-12 reduce-padding admin-grid-height">
                                <table class="table align-center">
                                    <thead class="thead-default">
                                        <tr>
                                            <th></th>
                                            <th class="align-center">Number</th>
                                            <th class="align-center">Remarks</th>
                                            <th class="align-center">Date</th>
                                            <th class="align-center">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="clickable-row" ng-repeat="item in purchaseRequisitions" ng-click="purchaseRequisitionRowClick(item)" >
                                            <td ng-class="item.status"></td>
                                            <td>{{item.code}}</td>
                                            <td>{{item.remarks.substring(0,100)}}</td>
                                            <td>{{item.date.substring(0,10)}}</td>
                                            <td>{{item.status}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                            
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-12" >
                                <h5>Purchase Order</h5>
                                <hr class="hr-full grid-border">
                            </div>
                            <div class="col-xs-12 admin-grid-height">
                                <table class="table table-striped align-center">
                                    <thead class="thead-default">
                                        <tr>
                                            <th class="align-center">Number</th>
                                            <th class="align-center">Remarks</th>
                                            <th class="align-center">Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="clickable-row"  ng-repeat="item in purchaseOrder[0]" ng-click="purchaseOrderRowClick(item)">
                                            <td>{{item.purchaseOrderNumber}}</td>
                                            <td>{{item.remarks.substring(0,50)}}</td>
                                            <td>{{item.date.substring(0,10)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-12" >
                                <h5>Goods Recieved Note</h5>
                                <hr class="hr-full grid-border">
                            </div>
                            <div class="col-xs-12 admin-grid-height">
                                <table class="table table-striped align-center ">
                                    <thead class="thead-default">
                                        <tr>
                                            <th class="align-center">GRN Number</th>
                                            <th class="align-center">Date</th>
                                            <th class="align-center"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="clickable-row" ng-repeat="item in GRN[0]" ng-click="GRNRowClick(item)">
                                            <td>{{item.GRNNumber}}</td>
                                            <td>{{item.date.substring(0,10)}}</td>
                                            <td>{{item.remaining}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> 
            </form>
        </div>
    </div>
</section>