<section class="main-page" data-ng-controller="BillingsReportController">    
    <div class="panel">
        <ul class="list-unstyled breadcrumb breadcrumb-btm-margin">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Billings Report</a></li>
        </ul>
        <div class="panel-body">
            <form class="form-horizontal" novalidate>
                <div class="col-xs-12 reduce-padding">
                    <div class="col-xs-3">
                        <label class="form-control-label">Select Receptionist<span class="optional-span">(Optional)</span></label>
                        <select ng-show="authentication.user.roles!='opd receptionist'" class="form-control" ng-model="report.receptionist" ng-change="getFilteredBills()" ng-disabled="processing">
                            <option ng-repeat="person in receptionists" ng-value="person.username">{{person.username}}</option>
                        </select>
						<div ng-show="authentication.user.roles=='opd receptionist'" class="form-control">{{authentication.user.username}}</div>
                    </div>
                    <div class="col-xs-3">
                        <label class="form-control-label">From Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" name="dt" class="form-control" ng-model="report.fromDate" ng-change="getFilteredBills()" ng-disabled="processing">
                    </div>
                    <div class="col-xs-3">
                        <label class="form-control-label">To Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" name="dt" class="form-control" ng-model="report.toDate" ng-change="getFilteredBills()" ng-disabled="processing">
                    </div>
                    <div class="col-xs-3">
                        <button ng-json-export-excel data="reportExport" report-fields="{'billNumber': 'Bill No', 'created': 'Date', 'grandTotal': 'Total', 'patientInfo.name': 'Patient Name'}" filename =" 'Billing-Report' " separator="," class="css-class btn btn-success export-csv-btn">Export CSV</button>
                    </div>
                </div>

                <div class="col-lg-9 grid-top-margin">
                    <h5>Invoice Report</h5>
                    <hr>
                    <br/>
                    <div class="col-xs-12 reduce-padding align-center" ng-show="none">
                    	No results found.
                    </div>
                    <div class="col-xs-12 reduce-padding" ng-show="!none">
	                    <div class="col-xs-12 invoice-background report-row increase-margin" ng-repeat="bill in bills">
		                    <div class="col-xs-12 reduce-padding report-header">
		                        <div class="col-xs-4 reduce-padding text-align-center">
		                            Bill Number
		                        </div>
		                        <div class="col-xs-4 reduce-padding text-align-center">
		                            Created Date
		                        </div>
		                        <div class="col-xs-4 reduce-padding text-align-center">
		                            Refered Doctor
		                        </div>
		                    </div>
		                    <div class="col-xs-12 reduce-padding report-row">
		                        <div class="col-xs-4 reduce-padding text-align-center">
		                            {{bill.billNumber}}
		                        </div>
		                        <div class="col-xs-4 reduce-padding text-align-center">
		                            {{bill.created | date: 'dd/MM/yyyy'}}
		                        </div>
		                        <div class="col-xs-4 reduce-padding text-align-center">
		                            {{bill.referedDoctor.name}}
		                        </div>
		                    </div>
	                        <div class="col-xs-12 reduce-padding orderlist-background">
		                    	<div class="col-xs-12 reduce-padding decrease-margin">
			                    	<div class="col-xs-offset-5 col-xs-2 report-header reduce-padding report-row invoice-background text-align-center">
			                    		Invoices
			                    	</div>
			                    </div>
			                    <div class="col-xs-12 reduce-padding report-header">
			                        <div class="col-xs-1 reduce-padding text-align-center">
			                        </div>
			                        <div class="col-xs-3 reduce-padding text-align-center">
			                            Receptionist
			                        </div>
			                        <div class="col-xs-3 reduce-padding text-align-center">
			                            Payment Method
			                        </div>
			                        <div class="col-xs-2 reduce-padding text-align-center">
			                            Received
			                        </div>
			                        <div class="col-xs-3 reduce-padding text-align-center">
			                            Date
			                        </div>
			                    </div>
		                        <div class="col-xs-12 reduce-padding invoice-row" ng-repeat="invoice in bill.invoice">
		                        	<div class="col-xs-1 reduce-padding text-align-center">
		                        		{{$index + 1}}
		                        	</div>
		                        	<div class="col-xs-3 reduce-padding text-align-center">
		                        		{{invoice.handlerName}}
		                        	</div>
		                        	<div class="col-xs-3 reduce-padding text-align-center">
		                        		{{invoice.paymentMethod}}
		                        	</div>
		                        	<div class="col-xs-2 reduce-padding text-align-center">
		                        		{{invoice.recieved}}
		                        	</div>
		                        	<div class="col-xs-3 reduce-padding text-align-center">
		                        		{{invoice.created | date: 'dd/MM/yyyy'}}
		                        	</div>
		                        </div>
		                    </div>
	                        <div class="col-xs-12 reduce-padding orderlist-background increase-margin">
		                    	<div class="col-xs-12 reduce-padding decrease-margin">
			                    	<div class="col-xs-offset-5 col-xs-2 report-header reduce-padding report-row invoice-background text-align-center">
			                    		Services
			                    	</div>
			                    </div>
			                    <div class="col-xs-12 reduce-padding report-header">
			                        <div class="col-xs-1 reduce-padding text-align-center">
			                        </div>
			                        <div class="col-xs-3 reduce-padding text-align-center">
			                            Description
			                        </div>
			                        <div class="col-xs-3 reduce-padding text-align-center">
			                            Fee
			                        </div>
			                        <div class="col-xs-2 reduce-padding text-align-center">
			                            Quantity
			                        </div>
			                        <div class="col-xs-3 reduce-padding text-align-center">
			                            Discount
			                        </div>
			                    </div>
		                        <div class="col-xs-12 reduce-padding invoice-row" ng-repeat="service in bill.servicesInfo">
		                        	<div class="col-xs-1 reduce-padding text-align-center">
		                        		{{$index + 1}}
		                        	</div>
		                        	<div class="col-xs-3 reduce-padding text-align-center">
		                        		{{service.description}}
		                        	</div>
		                        	<div class="col-xs-3 reduce-padding text-align-center">
		                        		{{service.fee}}
		                        	</div>
		                        	<div class="col-xs-2 reduce-padding text-align-center">
		                        		{{service.quantity}}
		                        	</div>
		                        	<div class="col-xs-3 reduce-padding text-align-center">
		                        		{{service.discount}}
		                        	</div>
		                        </div>
		                    </div>
		                    <div class="col-xs-12 reduce-padding report-header">
		                        <div class="col-xs-4 reduce-padding text-align-center">
		                            Patient Name
		                        </div>
		                        <div class="col-xs-4 reduce-padding text-align-center">
		                            Patient MR Number
		                        </div>
		                        <div class="col-xs-4 reduce-padding text-align-center">
		                            Phone Number
		                        </div>
		                    </div>
		                    <div class="col-xs-12 reduce-padding">
		                        <div class="col-xs-4 reduce-padding text-align-center">
		                            {{bill.patientInfo.name}}
		                        </div>
		                        <div class="col-xs-4 reduce-padding text-align-center">
		                            {{bill.patientInfo.mr_number}}
		                        </div>
		                        <div class="col-xs-4 reduce-padding text-align-center">
		                            {{bill.patientInfo.phone}}
		                        </div>
		                    </div>
		                    <div class="col-xs-12 reduce-padding report-header increase-margin">
		                    	<div class="col-xs-offset-6 col-xs-3 reduce-padding text-align-right">
		                    		Total
		                    	</div>
		                    	<div class="col-xs-3 reduce-padding text-align-center">
		                    		{{bill.grandTotal}}
		                    	</div>
		                    </div>
	                    </div>
	                </div>
	                <div class="col-xs-12 reduce-padding increase-margin">
	                	<div class="col-xs-6 reduce-padding">
	                		<button type="button" class="btn btn-info float-left" ng-click="getFilteredBillsPagination('previous')" ng-disabled="disablePrevious || processing">
	                			Previous
	                		</button>
	                	</div>
	                	<div class="col-xs-6 reduce-padding">
	                		<button type="button" class="btn btn-info float-right" ng-click="getFilteredBillsPagination('next')" ng-disabled="disableNext || processing">
	                			Next
	                		</button>
	                	</div>
	                </div>
                </div>
            </form>
        </div>
    </div>
</section>