<section class="main-page" data-ng-controller="CategoryReportController">    
    <div class="panel">
        <ul class="list-unstyled breadcrumb breadcrumb-btm-margin">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Department Wise Revenue Report</a></li>
        </ul>
        <div class="panel-body">
            <form class="form-horizontal" novalidate>
                <div class="col-xs-12 reduce-padding">
                    <div class="col-xs-3">
                        <label class="form-control-label">Select Department<span class="optional-span">(Optional)</span></label>
                        <select class="form-control" ng-model="report.department" ng-change="getSpecificCategoriesReport()">
                            <option ng-repeat="department in departments" ng-value="department.category">{{department.name}}</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label class="form-control-label">From Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" name="dt" class="form-control" ng-model="report.fromDate" ng-change="getSpecificCategoriesReport()">
                    </div>
                    <div class="col-xs-3">
                        <label class="form-control-label">To Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" name="dt" class="form-control" ng-model="report.toDate" ng-change="getSpecificCategoriesReport()">
                    </div>
						<div class="col-xs-3">
						<button ng-click="printreport()" class="css-class btn btn-success" style="width: 120px;margin-top:30px">Print</button>			
					</div>
                </div>
                <div class="col-lg-9 grid-top-margin">
                    <h5>Department Report</h5>
                    <hr>
                    <br/>
                    <div class="col-xs-12 reduce-padding report-header">
                        <div class="col-xs-3 reduce-padding text-align-center">
                            Description
                        </div>
                        <div class="col-xs-2 reduce-padding text-align-center">
                            Fee
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            Discount
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            Refunds
                        </div>						
                        <div class="col-xs-1 reduce-padding text-align-center">
                            Quantity
                        </div>
                        <div class="col-xs-2 reduce-padding text-align-center">
                            Total
                        </div>
						<div ng-show="showshares" class="col-xs-2 reduce-padding text-align-center">
							KIH Share
						</div>
                    </div>
                    <div class="col-xs-12 reduce-padding search-row text-align-center">
                        <div class="col-xs-3 reduce-padding">
                            <input class="input-field-border" type="text" ng-model="search.description"></input>
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding report-row" ng-repeat="item in datatoShow | filter:search">
                        <div class="col-xs-3 reduce-padding text-align-center">
                            {{item.description}}
                        </div>
                        <div class="col-xs-2 reduce-padding text-align-center">
                            {{item.amount}}
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            {{item.discount}}
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            {{item.refund}}
                        </div>						
                        <div class="col-xs-1 reduce-padding text-align-center">
                            {{item.quantity}}
                        </div>
                        <div class="col-xs-2 reduce-padding text-align-center">
                        	{{item.amount - item.discount - item.refund}}
                        </div>
                        <div ng-show="showshares" class="col-xs-2 reduce-padding text-align-center">
                        	{{item.share}}
                        </div>
                    </div>
					<br>
                    <div class="col-xs-12 reduce-padding report-row" >
                        <div class="col-xs-3 reduce-padding text-align-center">
                          <b>Total</b>
                        </div>
                        <div class="col-xs-2 reduce-padding text-align-center">
                            <b>{{feeTotal}}</b>
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                           <b>{{discountTotal}}</b>
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            <b>{{refundTotal}}</b>
                        </div>						
                        <div class="col-xs-1 reduce-padding text-align-center">
                           <b>{{quantityTotal}}</b>
                        </div>
                        <div class="col-xs-2 reduce-padding text-align-center">
                        	<b>{{total}}</b>
                        </div>
                        <div ng-show="showshares" class="col-xs-2 reduce-padding text-align-center">
                        	<b>{{totalshare}}</b>
                        </div>						
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>