<section class="main-page" data-ng-controller="CostSalesReportController">  
    <div class="panel">
        <ul class="list-unstyled breadcrumb breadcrumb-btm-margin">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Cost of Sales Report</a></li>
        </ul>
        <div class="panel-body">
            <form class="form-horizontal" novalidate>
                <div class="col-xs-12 reduce-padding">
                    <div class="col-xs-3">
                        <label class="form-control-label">From Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" min="2018-03-19" name="dt" class="form-control" ng-model="report.fromDate" >
                    </div>
                    <div class="col-xs-3">
                        <label class="form-control-label">To Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" name="dt" class="form-control" ng-model="report.toDate">				
                    </div>
                </div>
                <div class="col-xs-12 reduce-padding">
                    <div class="col-xs-3 col-xs-offset-6">
						<button  class="css-class btn btn-success export-csv-btn ng-isolate-scope" ng-click="btn_Apply()">Apply</button>
						&nbsp
						<button type="reset" class="css-class btn btn-success export-csv-btn ng-isolate-scope"  ng-click="From_Reset()">Reset</button>
						&nbsp
						<button ng-click="printreport()" class="css-class btn btn-success" style="margin-top:25px;">Print</button>			
					</div>
                </div>
				
				<!-- Hide Details Case -->
                <div class="col-lg-12 grid-top-margin">
                    <h5>Cost of Sales Report</h5>
                    <hr class="hr-full">
                    <br/>
					
                    <div class="col-xs-12 reduce-padding report-header">
						<div class="col-xs-3 text-align-center reduce-padding">
                            Date
                        </div>
                        <div class="col-xs-3 reduce-padding text-align-center">
                            Total Sale
                        </div>
                        <div class="col-xs-3 reduce-padding text-align-center">
                            Purchase Cost
                        </div>
                        <div class="col-xs-3 reduce-padding text-align-center">
                            Profit
                        </div>
                    </div>
					 <div class="col-xs-12 reduce-padding search-row text-align-center">
                        
                    </div>
                    <div class="col-xs-12" ng-show="sales.length === 0">
                        No Items Found
                    </div>
                    <div class="col-xs-12 reduce-padding" ng-repeat="item1 in sales">
						<div class="col-xs-12 reduce-padding report-row">
							<div class="col-xs-3 text-align-center reduce-padding">
								{{item1.date}}
							</div>
							<div class="col-xs-3 reduce-padding text-align-center">
								{{item1.total.toFixed(0)}}
							</div>
							<div class="col-xs-3 reduce-padding text-align-center">
								{{item1.purchasetotal.toFixed(0)}}
                            </div>
                            <div class="col-xs-3 reduce-padding text-align-center">
								{{(item1.total-item1.purchasetotal).toFixed(0)}}
							</div>
						</div>
					</div>
                    <hr class="hr-full">
                    <div class="col-xs-3 col-xs-offset-3 text-align-center">
                        <b>Total Sales : {{totalSalesAmount.toFixed(0)}}</b>
                    </div>
                    <div class="col-xs-3 text-align-center">
                        <b>Total Purchase : {{totalCostAmount.toFixed(0)}}</b>
                    </div>
                    <div class="col-xs-3 text-align-center">
                        <b>Total Profit : {{(totalSalesAmount-totalCostAmount).toFixed(0)}}</b>
                    </div>
                </div>
				
            </form>
        </div>
    </div>
</section>