<section class="main-page" data-ng-controller="DashboardPageController">
  <div class="panel ">
    <ul class="list-unstyled breadcrumb">
      <li><a href="/#!/admin-main-page">Home</a></li>
      <li><a href="/#!/dashboard-page">Dashboard</a></li>
      <!-- <li ng-hide="UpdateItem"  class="active-page"><a href="#">Hospital</a></li> -->
    </ul>
    <div class="panel-heading">
      <h3>Dashboard</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" novalidate>
        <div class="col-xs-12 reduce-padding">
          <div class="col-xs-3">
            <label class="form-control-label">Select Department<span class="optional-span">(Optional)</span></label>
            <select class="form-control" ng-model="report.department" ng-change="updateGraphView()">
              <option ng-repeat="department in departments" ng-value="department.category">{{department.name}}</option>
            </select>
          </div>
          <div class="col-xs-3">
            <label class="form-control-label">From Date<span class="optional-span">(Optional)</span></label>
            <input type="date" name="dt" class="form-control" ng-model="report.fromDate" ng-change="update()">
          </div>
          <div class="col-xs-3">
            <label class="form-control-label">To Date<span class="optional-span">(Optional)</span></label>
            <input type="date" name="dt" class="form-control" ng-model="report.toDate" ng-change="update()">
          </div>
          <div class="col-xs-1">
            <label class="form-control-label">Show Graph</label>
            <select class="form-control" ng-model="report.showBy" ng-change="updateGraphView()" ng-disabled="report.fromDate === report.toDate">
              <option ng-repeat="val in showChart" ng-value="val">{{val}}</option>
            </select>
          </div>
        </div>
      </form>
      <div class="row">
        <!-- item -->
        <div class="col-xs-6 col-md-3 col-lg-3">
          <div class="panel text-center bg-red">
            <div class="row">
              <div class="large">{{registrations.quantityTotal | number:0}}</div>
              <div class="text-muted">Patients Registered</div>
            </div>
          </div>
        </div>
        <!-- /item -->
        <!-- item -->
        <div class="col-xs-6 col-md-3 col-lg-3">
          <div class="panel text-center bg-red">
            <div class="row">
              <div class="large">{{consultations.quantityTotal | number:0}}</div>
              <div class="text-muted">Consultations</div>
            </div>
          </div>
        </div>
        <!-- /item -->
        <!-- item -->
        <div class="col-xs-6 col-md-3 col-lg-3">
          <div class="panel text-center bg-red">
            <div class="row">
              <div class="large">{{labs.quantityTotal | number:0}}</div>
              <div class="text-muted">Lab Tests</div>
            </div>
          </div>
        </div>
        <!-- /item -->
        <!-- item -->
        <div class="col-xs-6 col-md-3 col-lg-3">
          <div class="panel text-center bg-red">
            <div class="row">
              <div class="large">{{radiology.quantityTotal | number:0}}</div>
              <div class="text-muted">Radiology Tests</div>
            </div>
          </div>
        </div>
        <!-- /item -->
      </div>
      <!--/.row-->
      <div class="row">
        <!-- item -->
        <div class="col-xs-6 col-md-3 col-lg-3" ng-repeat="departmentRevenue in departmentsRevenue">
          <a href="/#!/category-report?department={{departmentRevenue.name}}&fromDate={{report.fromDate.getFullYear()}}-{{report.fromDate.getMonth()+1}}-{{report.fromDate.getDate()}}&toDate={{report.toDate.getFullYear()}}-{{report.toDate.getMonth()+1}}-{{report.toDate.getDate()}}" class="panel text-center bg-red">
            <div class="row">
              <div class="large">{{departmentRevenue.revenue | number:0}}</div>
              <div class="text-muted">{{departmentRevenue.name}} Revenue</div>
            </div>
          </a>
        </div>
        <!-- /item -->
      </div>
      <!--/.row-->
      <div class="row">
        <!-- item -->
        <div class="col-xs-6 col-md-3 col-lg-3">
          <div class="panel text-center bg-red">
            <div class="row">
              <div class="large">{{total.total | number:2}}</div>
              <div class="text-muted">Total Revenue</div>
            </div>
          </div>
        </div>
        <!-- /item -->
        <!-- item -->
        <div class="col-xs-6 col-md-3 col-lg-3">
          <div class="panel text-center bg-red">
            <div class="row">
              <div class="large">{{total.discountTotal | number:2}}</div>
              <div class="text-muted">Total Discount</div>
            </div>
          </div>
        </div>
        <!-- /item -->
        <!-- item -->
        <div class="col-xs-6 col-md-3 col-lg-3">
          <div class="panel text-center bg-red">
            <div class="row">
              <div class="large">{{total.refundTotal | number:2}}</div>
              <div class="text-muted">Total Refund</div>
            </div>
          </div>
        </div>
        <!-- /item -->
      </div>
      <!--/.row-->
      <div class="row">
        <!-- item -->
        <div class="col-xs-6 col-md-3 col-lg-3">
          <div class="panel text-center bg-red">
            <div class="row">
              <div class="large">{{totalSalesAmount | number:2}}</div>
              <div class="text-muted">Pharmacy Sales</div>
            </div>
          </div>
        </div>
        <!-- /item -->
        <!-- item -->
        <div class="col-xs-6 col-md-3 col-lg-3">
          <div class="panel text-center bg-red">
            <div class="row">
              <div class="large">{{totalPurchaseAmount | number:2}}</div>
              <div class="text-muted">Pharmacy Purchase</div>
            </div>
          </div>
        </div>
        <!-- /item -->
      </div>
      <!--/.row-->
      <div class="row">
        <div class="col-md-12">
          <nvd3 options='options' data='data'></nvd3>
        </div>
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-md-12">
          <nvd3 options='departmentOptions' data='departmentData'></nvd3>
        </div>
      </div>
      <!-- /.row -->
    </div>
  </div>
</section>