<head>
<meta charset="utf-8"/>

<style>
	.mw-100 {
		min-width: 70px;
	}

	.table-width {
		width: 100%;
	}

	.table-head {
		background-color: lightgray;
		border-bottom: 2px solid darkgray;
		height: 35px;
		font-size: 12px;
	}

	.order-table-head-row {
		border-bottom: 1px solid lightgray;
		font-size: 12px;
		font-weight: bold;
	}

	.text-center {
		text-align: center;
	}

	.ng-hide {
		display: none;
	}

	.col-pad {
		padding: 0 10px;
		border-right: 1px solid #fff;
	}

	.order-table-row {
		border-bottom: 1px solid lightgray;
		height: 35px;
		font-size: 12px;
	}
</style>
</head>
<div style="height:100px;">
    <div style="float: left;">
        <img src="{{hospitallogo}}" height="100px" style="margin-right:20px;"/>
    </div>
    <div style="float: left;">
        <h1 style="text-align: left;margin-top:0;">DepartmentWise Revenue Report</h1>
		<p>{{date}} {{time}}</p>
    </div>
</div>
<div style="margin-top:100px;font-size: 18px;width:600px;">
    <div>
        <table class="table-width">
			<thead class="table-head">
				<tr>
					<th class="order-table-row column-padding-1 col-pad mw-100">Description</th>
					<th class="text-center col-pad mw-100">Fee</th>
					<th class="text-center col-pad mw-100">Discount</th>
					<th class="text-center col-pad mw-100">Refunds</th>
					<th class="text-center col-pad mw-100">Quantity</th>
					<th class="text-center col-pad mw-100">Total</th>
					<th ng-show="showshares" class="text-center col-pad mw-100">KIH Share</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in datatoShow">
					<td class="order-table-row text-center column-padding-1 mw-100">{{item.description}}</td>
					<td class="text-center order-table-row mw-100">{{item.amount}}</td>
					<td class="text-center order-table-row mw-100"> {{item.discount}}</td>
					<td class="text-center order-table-row mw-100"> {{item.refund}}</td>
					<td class="text-center order-table-row mw-100">{{item.quantity}}</td>
					<td class="text-center order-table-row mw-100"> {{item.amount - item.discount - item.refund}}</td>
					<td ng-show="showshares" class="text-center order-table-row mw-100"> {{item.share}}</td>
				</tr>
				<tr>
					<td class="order-table-row column-padding-1 mw-100"><b>Total Sum</b></td>
					<td class="text-center order-table-row mw-100">{{feeTotal}}</td>
					<td class="text-center order-table-row mw-100">{{discountTotal}}</td>
					<td class="text-center order-table-row mw-100">{{refundTotal}}</td>
					<td class="text-center order-table-row mw-100">{{quantityTotal}}</td>
					<!--td class="text-center order-table-row mw-100"><b>{{alltotal}}</b></td-->
					<td class="text-center order-table-row mw-100"><b>{{totalAmounts}}</b></td>
					<td ng-show="showshares" class="text-center order-table-row mw-100"><b>{{totalshare}}</b></td>
					<!--td class="text-center order-table-row mw-100"><b>{{allbalance}}</b></td-->
				</tr>
			</tbody>
        </table>
    </div>
</div>
