<section data-ng-controller="DiscountReportController">
	<div class="main-page panel">
        <ul class="list-unstyled breadcrumb breadcrumb-btm-margin">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Discount Report</a></li>
        </ul>
        <div class="panel-body">
            <form class="form-horizontal" novalidate>

                <div class="col-xs-12 reduce-padding">
				    <div class="col-xs-3">
                        <label class="form-control-label">Select Receptionist<span class="optional-span">(Optional)</span></label>
                        <select class="form-control" ng-model="receptionist" ng-disabled="processing">
                            <option ng-repeat="person in receptionists" ng-value="person.username">{{person.username}}</option>
                        </select>					
                    </div>
                    <div class="col-xs-3">
                        <label class="form-control-label">From Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" name="dt" class="form-control" ng-model="fromDate">
                    </div>
                    <div class="col-xs-3">
                        <label class="form-control-label">To Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" name="dt" class="form-control" ng-model="toDate">						
                    </div>
					<div class="col-xs-3">
					<button  class="css-class btn btn-success" style="width: 120px;margin-top:38px;" ng-click="getDiscounts()">Apply</button>
						<br>
						<button ng-click="exportfile()" class="css-class btn btn-success" style="margin-top:5px">Export to Excel</button>
					</div>
                </div>
                <div class="col-lg-12 grid-top-margin">
                    <h5>Discount Report</h5>
                    <br/>
                    <table class="table-width">
                        <thead class="table-head">
                            <tr class="order-table-head-row">
                                <th class="order-table-row column-padding-1 col-pad mw-100">Date</th>
                                <th class="text-center col-pad mw-100">MR No</th>
                                <th class="text-center col-pad mw-100">Name</th>
								<th class="text-center col-pad mw-100">Bill Number</th>
                                <th class="text-center col-pad mw-100">Handler</th>
								<th class="text-center col-pad mw-100">Service</th>
								<th class="text-center col-pad mw-100">Total</th>
								<th class="text-center col-pad mw-100">Discount</th>
                            </tr>       
                        </thead>
                        <tbody>
                           <tr class="" ng-hide="reports.length>0">
                                <td class="order-table-row column-padding-1 col-pad"><b>Please select Date</b></td>
                                <td class="text-center col-pad"></td>
                                <td class="text-center col-pad"></td>
								<td class="text-center col-pad"></td>
                                <td class="text-center col-pad"></td>
                                <td class="text-center col-pad"></td>
								<td class="text-center col-pad"></td>
								<td class="text-center col-pad"></td>
                            </tr>
                            <tr ng-repeat="report in reports">
                                <td class="order-table-row column-padding-1 mw-100">{{report.created | date: 'MM/dd/yyyy'}}</td>
                                <td class="text-center order-table-row mw-100">{{report.patientInfo.mr_number}}</td>
                                <td class="text-center order-table-row mw-100">{{report.patientInfo.name}}</td>
                                <td class="text-center order-table-row mw-100">{{report.billNumber}}</td>
                                <td class="text-center order-table-row mw-100">{{report.handlerName}}</td>
								<!--td class="text-center order-table-row">{{report.grandTotal}}</td-->
								<td class="text-center order-table-row">{{report.description}}</td>
								<td class="text-center order-table-row">{{report.fee}}</td>
								<td class="text-center order-table-row">{{report.discount}}</td>
								<!--td class="text-center order-table-row">{{report.balance}}</td-->

                            </tr>
                            <tr ng-show="reports.length>0">
                                <td class="order-table-row column-padding-1 mw-100"><b>Total Sum</b></td>
                                <td class="text-center order-table-row mw-100"></td>
                                <td class="text-center order-table-row mw-100"></td>
                                <td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"></td>
                                <td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"><b>{{totalAmount}}</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</section>