<section class="main-page" data-ng-controller="IncDecReportController">  
    <div class="panel">
        <ul class="list-unstyled breadcrumb breadcrumb-btm-margin">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Stock Adjustment Report</a></li>
        </ul>
        <div class="panel-body">
            <form class="form-horizontal" novalidate>
                <div class="col-xs-12 reduce-padding">
                    <div class="col-xs-3">
                        <label class="form-control-label">From Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" name="dt" class="form-control" ng-model="report.fromDate" >
						
                    </div>
					 <div class="col-xs-3">
                        <label class="form-control-label">To Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" name="dt" class="form-control" ng-model="report.toDate">		
					</div>
                    <div class="col-xs-3">
						<button  class="css-class btn btn-success export-csv-btn ng-isolate-scope" ng-click="btn_Apply()">Apply</button>
						&nbsp
						<button ng-click="printreport()" class="css-class btn btn-success" style="margin-top:25px;">Print</button>			
					</div>
                </div>
				
				<div class="col-lg-12 grid-top-margin" ng-show="stocktransfers.length>0">
                    <h5>Stock Increase</h5>
                    <hr class="hr-full">
                    <br/>
                    <div class="col-xs-12 reduce-padding report-header">
						<div class="col-xs-1 text-align-center reduce-padding">
                            Transfer No
                        </div>
						<div class="col-xs-1 text-align-center reduce-padding">
                            Date
                        </div>
						
						<div class="col-xs-2 text-align-center reduce-padding">
                            Transfered By
                        </div>
                        <div class="col-xs-1 text-align-center reduce-padding">
                            Item ID
                        </div>
                        <div class="col-xs-2 text-align-center reduce-padding">
                            Description
                        </div>
						<div class="col-xs-2 text-align-center reduce-padding">
                            Transfer Type
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            Quantity
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            Net Value
                        </div>						
                    </div>
                    <div class="col-xs-12" ng-show="stocktranfers.length === 0">
                        No Items Found
                    </div>
                    <div class="col-xs-12 reduce-padding" ng-repeat="item1 in stocktransfers" ng-show="item1.fromStoreDescription=='Stock Adjustment'">
						<div class="col-xs-12 reduce-padding report-row" ng-repeat="item in item1.itemsList">
							<div class="col-xs-1 text-align-center reduce-padding">
								{{item1.transferNumber}}
							</div>
							<div class="col-xs-1 text-align-center reduce-padding">
								{{item1.date | date : "dd-MM-yyyy"}}
							</div>
							<div class="col-xs-2 reduce-padding text-align-center">
								{{item1.transferedBy}}
							</div>
							<div class="col-xs-1 reduce-padding text-align-center">
								{{item.code}}
							</div>
							<div class="col-xs-2 reduce-padding text-align-center">
								{{item.description}}
							</div>
							<div ng-show="item1.fromStoreDescription=='Stock Adjustment'" class="col-xs-2 reduce-padding text-align-center">
								Increase
							</div>
							<div ng-show="item1.fromStoreDescription!=='Stock Adjustment'" class="col-xs-2 reduce-padding text-align-center">
								Decrease
							</div>
							<div class="col-xs-1 reduce-padding text-align-center">
								{{item.quantity}}
							</div>
							<div class="col-xs-1 reduce-padding text-align-center">
								{{item.netValue.toFixed(2)}}<span ng-show="item.netValue==0"> (Item deleted)</span>
							</div>
						</div>
					</div>
					<hr class="hr-full">
                    <div class="col-xs-11 text-align-right">
                        <b>Total Value : {{increaseTotal.toFixed(2)}}</b>
                    </div>
                </div>
				
				<div class="col-lg-12 grid-top-margin" ng-show="stocktransfers.length>0">
                    <h5>Stock Decrease</h5>
                    <hr class="hr-full">
                    <br/>
                    <div class="col-xs-12 reduce-padding report-header">
						<div class="col-xs-1 text-align-center reduce-padding">
                            Transfer No
                        </div>
						<div class="col-xs-1 text-align-center reduce-padding">
                            Date
                        </div>
						<div class="col-xs-2 text-align-center reduce-padding">
                            Transfered By
                        </div>
                        <div class="col-xs-1 text-align-center reduce-padding">
                            Item ID
                        </div>
                        <div class="col-xs-2 text-align-center reduce-padding">
                            Description
                        </div>
						<div class="col-xs-2 text-align-center reduce-padding">
                            Transfer Type
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            Quantity
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            Net Value
                        </div>						
                    </div>
                    <div class="col-xs-12" ng-show="stocktranfers.length === 0">
                        No Items Found
                    </div>
                    <div class="col-xs-12 reduce-padding" ng-repeat="item1 in stocktransfers" ng-show="item1.toStoreDescription=='Stock Adjustment'">
						<div class="col-xs-12 reduce-padding report-row" ng-repeat="item in item1.itemsList">
							<div class="col-xs-1 text-align-center reduce-padding">
								{{item1.transferNumber}}
							</div>
							<div class="col-xs-1 text-align-center reduce-padding">
								{{item1.date | date : "dd-MM-yyyy"}}
							</div>
							<div class="col-xs-2 reduce-padding text-align-center">
								{{item1.transferedBy}}
							</div>
							<div class="col-xs-1 reduce-padding text-align-center">
								{{item.code}}
							</div>
							<div class="col-xs-2 reduce-padding text-align-center">
								{{item.description}}
							</div>
							<div ng-show="item1.fromStoreDescription=='Stock Adjustment'" class="col-xs-2 reduce-padding text-align-center">
								Increase
							</div>
							<div ng-show="item1.fromStoreDescription!=='Stock Adjustment'" class="col-xs-2 reduce-padding text-align-center">
								Decrease
							</div>
							<div class="col-xs-1 reduce-padding text-align-center">
								{{item.quantity}}
							</div>
							<div class="col-xs-1 reduce-padding text-align-center">
								{{item.netValue.toFixed(2)}}<span ng-show="item.netValue==0"> (Item deleted)</span>
							</div>
						</div>
					</div>
                    <hr class="hr-full">
					 <div class="col-xs-11 text-align-right">
                        <b>Total Value : {{decreaseTotal.toFixed(2)}}</b>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>