<section class="main-page" data-ng-controller="InvoicesReportController">
    
    <div class="panel">
        <!-- <div class="panel-heading">
            <h3>Home</h3>
        </div> -->
        <ul class="list-unstyled breadcrumb breadcrumb-btm-margin">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Invoices Report</a></li>
        </ul>
        <div class="panel-body">
            <form class="form-horizontal" novalidate>
                <div class="col-xs-12 reduce-padding">
                    <div class="col-xs-3">
                        <label class="form-control-label">Select Salesman<span class="optional-span">(Optional)</span></label>
                        <select class="form-control" ng-model="report.pharmacist" ng-disabled="processing">
                            <option ng-repeat="person in pharmacists" ng-value="person.displayName">{{person.username}}</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label class="form-control-label">From Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" name="dt" class="form-control" ng-model="report.fromDate"  ng-disabled="processing">
						<label class="form-control-label">From Time<span class="optional-span">(Optional)</span></label>
                        <select class="form-control" ng-model="report.fromTime" >
                            <option ng-repeat="time in times" ng-value="time">{{time}}</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label class="form-control-label">To Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" name="dt" class="form-control" ng-model="report.toDate" ng-disabled="processing">
						<label class="form-control-label">To Time<span class="optional-span">(Optional)</span></label>
                        <select class="form-control" ng-model="report.toTime" >
                            <option ng-repeat="time in times" ng-value="time">{{time}}</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
						 <button ng-json-export-excel data="invoices" report-fields="{'invoiceNumber': 'Invoice No', invoiceSalesman: 'Saleman', invoiceDate: 'Date', total: 'Total'}" filename =" 'Invoices-Report' " separator="," class="css-class btn btn-success export-csv-btn">Export CSV</button>
                    </div>
                </div>
				<!--Get Invoice in Receipt Range-->
                 <div class="col-xs-12 reduce-padding">
                    <div class="col-xs-3">
                        <label class="form-control-label">From Receipt No<span class="optional-span">(Optional)</span></label>
                        <input type="text"  class="form-control" ng-model="fromReceipt">
                    </div>
                    <div class="col-xs-3">
                        <label class="form-control-label">To Receipt No<span class="optional-span">(Optional)</span></label>
                        <input type="text"  class="form-control" ng-model="toReceipt">
                   </div>
                    <div class="col-xs-3">
						<button  class="css-class btn btn-success export-csv-btn ng-isolate-scope" ng-click="btn_Apply()">Apply</button>
						&nbsp
						<button type="reset" class="css-class btn btn-success export-csv-btn ng-isolate-scope"  ng-click="From_Reset()">Reset</button>
                    </div>
                </div>
                <!---->

                <div class="col-lg-9 grid-top-margin">
                    <h5>Invoice Report</h5>
                    <hr>
                    <br/>
                    <div class="col-xs-12 reduce-padding align-center" ng-show="none">
                    	No results found.
                    </div>
                    <div class="col-xs-12 reduce-padding" ng-show="!none">
	                    <div class="col-xs-12 invoice-background report-row increase-margin" ng-repeat="invoice in invoices">
		                    <div class="col-xs-12 reduce-padding report-header">
		                        <div class="col-xs-3 reduce-padding text-align-center">
		                            Invoice Number
		                        </div>
		                        <div class="col-xs-3 reduce-padding text-align-center">
		                            Invoice Date
		                        </div>
		                        <div class="col-xs-3 reduce-padding text-align-center">
		                            Invoice Time
		                        </div>
		                        <div class="col-xs-3 reduce-padding text-align-center">
		                            Salesman
		                        </div>
		                    </div>
		                    <div class="col-xs-12 reduce-padding report-row">
		                        <div class="col-xs-3 reduce-padding text-align-center">
		                            {{invoice.invoiceNumber}}<span ng-show="invoice.isReturn"><b>(Return)</b></span>
									<span ng-show="invoice.issalemrno"><b>(Credit)</b></span>
		                        </div>
		                        <div class="col-xs-3 reduce-padding text-align-center">
		                            {{invoice.invoiceDate | date: 'dd/MM/yyyy'}}
		                        </div>
								<div class="col-xs-3 reduce-padding text-align-center">
		                            {{invoice.invoiceTime}}
		                        </div>
		                        <div class="col-xs-3 reduce-padding text-align-center">
		                            {{invoice.invoiceSalesman}}
		                        </div>
		                    </div>
	                        <div class="col-xs-12 reduce-padding orderlist-background">
			                    <div class="col-xs-12 reduce-padding report-header">
			                        <div class="col-xs-1 reduce-padding text-align-center">
			                        </div>
			                        <div class="col-xs-3 reduce-padding text-align-center">
			                            Description
			                        </div>
			                        <div class="col-xs-3 reduce-padding text-align-center">
			                            Price
			                        </div>
			                        <div class="col-xs-2 reduce-padding text-align-center">
			                            Quantity
			                        </div>
			                        <div class="col-xs-3 reduce-padding text-align-center">
			                            Total Price
			                        </div>
			                    </div>
		                        <div class="col-xs-12 reduce-padding invoice-row" ng-repeat="item in invoice.orderList">
		                        	<div class="col-xs-1 reduce-padding text-align-center">
		                        		{{$index + 1}}
		                        	</div>
		                        	<div class="col-xs-3 reduce-padding text-align-center">
		                        		{{item.description}}
		                        	</div>
		                        	<div class="col-xs-3 reduce-padding text-align-center">
		                        		{{item.price.toFixed(2)}}
		                        	</div>
		                        	<div class="col-xs-2 reduce-padding text-align-center">
		                        		{{item.quantity}}
		                        	</div>
		                        	<div class="col-xs-3 reduce-padding text-align-center">
		                        		{{(item.quantity * item.price).toFixed(2)}}
		                        	</div>
		                        </div>
		                    </div>
		                    <div class="col-xs-12 reduce-padding report-header">
		                    	<div class="col-xs-offset-6 col-xs-3 reduce-padding text-align-right">
		                    		Total
		                    	</div>
		                    	<div class="col-xs-3 reduce-padding text-align-center">
		                    		{{invoice.total.toFixed(2)}}
		                    	</div>
		                    </div>
	                    </div>
	                </div>
	                <div class="col-xs-12 reduce-padding increase-margin">
	                	<div class="col-xs-6 reduce-padding">
	                		<button type="button" class="btn btn-info float-left" ng-click="getFilteredInvoicePagination('previous')" ng-disabled="disablePrevious || processing">
	                			Previous
	                		</button>
	                	</div>
	                	<div class="col-xs-6 reduce-padding">
	                		<button type="button" class="btn btn-info float-right" ng-click="getFilteredInvoicePagination('next')" ng-disabled="disableNext || processing">
	                			Next
	                		</button>
	                	</div>
	                </div>
                </div>
				<div class="col-lg-3" style="font-weight:bold">
					Total Sales: Rs. {{totalsale}}<br><br>
					Credit Sales: Rs. {{creditsale}}<br><br>
					Returns: Rs. {{returnsale}}
				</div>
            </form>
        </div>
    </div>
</section>