<section class="main-page" data-ng-controller="MainPageController">
    <div class="panel">
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/main-page">Home</a></li>
        </ul>
        <div class="panel-body">
            <form name="formHospital" class="form-horizontal" novalidate>
                <div class="col-lg-12 reduce-padding">
                    <div class="col-lg-12 reduce-padding">
                        <div class="col-lg-6">
                            <h5>MEDICINES NEAR EXPIRY</h5>
                            <hr>
                            <br/>
                            <div class="col-xs-12 reduce-padding" ng-show="!showExpiry">
                                <h6>
                                    No items are near expiry.
                                </h6>
                            </div>
                            <div class="col-xs-12 reduce-padding table-height" ng-show="showExpiry">
                                <table class="table table-striped align-center">
                                    <thead class="thead-default">
                                        <tr>
                                            <th class="align-center">ID</th>
                                            <th class="align-center">Name</th>
                                            <th class="align-center">Batch ID</th>
                                            <th class="align-center">Days before Expiry</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in expiryMedicines" class="light-red" ng-class="{red: (item.expiryIn === 'Expired')}">
                                            <td>{{item.id}}</td>
                                            <td>{{item.description}}</td>
                                            <td>{{item.batch}}</td>
                                            <td>{{item.expiryIn}}<td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
							<div class="col-xs-3 col-xs-offset-9" style="margin-top:15px">
								<button class="css-class btn btn-success" ng-click="printShortExpiry()" style="width:100%">&nbsp;Print&nbsp;</button>
							</div>
                        </div>
                        <div class="col-lg-6">
                            <h5>LOW MEDICINE COUNT</h5>
                            <hr>
                            <br/>
                            <div class="col-xs-12 reduce-padding" ng-show="!showQuantity">
                                <h6>
                                    No medicines found with low count.
                                </h6>
                            </div>
                    		<div class="col-xs-12 reduce-padding table-height" ng-show="showQuantity">
								<table class="table table-striped align-center">
									<thead class="thead-default">
										<tr>
											<th class="align-center">ID</th>
                                            <th class="align-center">Name</th>
                                            <th class="align-center">Quantity</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in quantityMedicines">
											<td>{{item.code}}</td>
											<td>{{item.description}}</td>
                                            <td>{{item.remaining}}</td>
										</tr>
									</tbody>
								</table>
							</div>
                        </div>
                    </div>
                </div> 
            </form>
        </div>
    </div>
</section>