<head>
<meta charset="utf-8"/>

<style>
	.mw-100 {
		min-width: 70px;
	}

	.table-width {
		width: 100%;
	}

	.table-head {
		background-color: lightgray;
		border-bottom: 2px solid darkgray;
		height: 35px;
		font-size: 12px;
	}

	.order-table-head-row {
		border-bottom: 1px solid lightgray;
		font-size: 12px;
		font-weight: bold;
	}

	.text-center {
		text-align: center;
	}

	.ng-hide {
		display: none;
	}

	.col-pad {
		padding: 0 10px;
		border-right: 1px solid #fff;
	}

	.order-table-row {
		border-bottom: 1px solid lightgray;
		height: 35px;
		font-size: 12px;
	}
</style>
</head>
<div style="height:100px;font-family:'helvetica'">
    <div style="float: left;">
        <img src="{{hospitallogo}}" height="100px" style="margin-right:20px;"/>
    </div>
    <div style="float: left;">
        <h1 style="text-align: left;margin-top:0;">Narcotics Sales Report</h1>
		<p>{{date}} {{time}}</p>
    </div>
</div>
<div style="margin-top:20px;font-family:'helvetica'">
	<table style="font-size:14px" class="table-width">
			<thead>
				<tr>
					<th>Salesman</th>
					<th class="text-center">From Date</th>
					<th class="text-center">To Date</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center">{{salesman}}</td>
					<td class="text-center">{{fromdate}}</td>
					<td class="text-center">{{todate}}</td>
				</tr>
			</tbody>
	</table>
</div>
<div style="margin-top:30px;font-size: 18px;width:700px;font-family:'helvetica'">
    <div>
        <table class="table-width">
			<thead class="table-head">
				<tr>
					<th class="order-table-row column-padding-1 col-pad mw-100">Date</th>
					<th class="text-center col-pad">Time</th>
					<th class="text-center col-pad">Doctor</th>
					<th class="text-center col-pad">Patient Name</th>
					<th class="text-center col-pad">Code</th>
					<th class="text-center col-pad">Description</th>
					<th class="text-center col-pad">Qty Sold</th>
					<th class="text-center col-pad">Value</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in sales" ng-show="item.quantity>0">
					<td class="text-center order-table-row mw-100">{{item.invoiceDate}}</td>
					<td class="text-center order-table-row">{{item.invoiceTime}}</td>
					<td class="text-center order-table-row">{{item.doctorName}}</td>
					<td class="text-center order-table-row">{{item.patient_name}}</td>
					<td class="text-center order-table-row">{{item.id}}</td>
					<td class="text-center order-table-row">{{item.description}}</td>
					<td class="text-center order-table-row">{{item.quantity}}</td>
					<td class="text-center order-table-row">{{item.totalvalue}}</td>

				</tr>
			</tbody>
        </table>
    </div>
</div>
