<section class="main-page" data-ng-controller="NarcoticsSalesReportController">
    
    <div class="panel">
        <!-- <div class="panel-heading">
            <h3>Home</h3>
        </div> -->
        <ul class="list-unstyled breadcrumb breadcrumb-btm-margin">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Narcotics Sales Report</a></li>
        </ul>
        <div class="panel-body">
            <form class="form-horizontal" novalidate>
                <div class="col-xs-12 reduce-padding">
                    <div class="col-xs-3">
                        <label class="form-control-label">Select Salesman<span class="optional-span">(Optional)</span></label>
                        <select class="form-control" ng-model="report.pharmacist" >
                            <option ng-repeat="person in pharmacists" ng-value="person.username">{{person.username}}</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label class="form-control-label">From Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" name="dt" class="form-control" ng-model="report.fromDate" >
						<label class="form-control-label">From Time<span class="optional-span">(Optional)</span></label>
                        <select class="form-control" ng-model="report.fromTime" >
                            <option ng-repeat="time in times" ng-value="time">{{time}}</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label class="form-control-label">To Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" name="dt" class="form-control" ng-model="report.toDate">				
						<label class="form-control-label">To Time<span class="optional-span">(Optional)</span></label>
                        <select class="form-control" ng-model="report.toTime" >
                            <option ng-repeat="time in times" ng-value="time">{{time}}</option>
                        </select>
                    </div>
                </div>

                
				<!--Get Invoice in Receipt Range-->
                 <div class="col-xs-12 reduce-padding">
                    <div class="col-xs-3">
                        <!--label class="form-control-label">From Receipt No<span class="optional-span">(Optional)</span></label>
                        <input type="text"  class="form-control" ng-model="fromReceipt"-->
                    </div>
                    <div class="col-xs-3">
                        <!--label class="form-control-label">To Receipt No<span class="optional-span">(Optional)</span></label>
                        <input type="text"  class="form-control" ng-model="toReceipt"-->
                   </div>
                    <div class="col-xs-3">
						<button  class="css-class btn btn-success export-csv-btn ng-isolate-scope" ng-click="btn_Apply()">Apply</button>
						&nbsp
						<button type="reset" class="css-class btn btn-success export-csv-btn ng-isolate-scope"  ng-click="From_Reset()">Reset</button>
						&nbsp
						<button  class="css-class btn btn-success export-csv-btn ng-isolate-scope" ng-click="printReport()">&nbsp;Print&nbsp;</button>
                    </div>
                </div>
                <!---->


                

                <div class="col-lg-12 grid-top-margin">
                    <h5>Narcotics Sales Report</h5>
                    <hr class="hr-full">
                    <br/>
                    <div class="col-xs-12 reduce-padding report-header">
						<div class="col-xs-2 reduce-padding text-align-center">
                            Date
                        </div>
						<div class="col-xs-1 reduce-padding text-align-center">
                            Time
                        </div>						
                        <div class="col-xs-2 reduce-padding text-align-center">
                            Doctor Name
                        </div>
                        <div class="col-xs-2 reduce-padding text-align-center">
                            Patient Name
                        </div>						
						<div class="col-xs-1 reduce-padding text-align-center">
                            Code
                        </div>
						<div class="col-xs-2 reduce-padding text-align-center">
                            Description
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            Total Sold
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            Value
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding search-row text-align-center">
                        <div class="col-xs-offset-8 col-xs-2 text-align-center reduce-padding">
                            <input class="input-field-border" type="text" ng-model="search.description"></input>
                        </div>
                    </div>
                    <div class="col-xs-12" ng-show="sales.length === 0">
                        No Items Found
                    </div>
                    <div class="col-xs-12 reduce-padding report-row" ng-repeat="item in sales | filter:search" ng-show="item.quantity>0">
						<div class="col-xs-2 reduce-padding text-align-center">
                            {{item.invoiceDate | date:'dd-MM-yyyy'}}
                        </div>
						<div class="col-xs-1 reduce-padding text-align-center">
                            {{item.invoiceTime}}
                        </div>
						<div class="col-xs-2 reduce-padding text-align-center">
                            {{item.doctorName}}
                        </div>
                        <div class="col-xs-2 reduce-padding text-align-center">
                            {{item.patient_name}}
                        </div>						
                        <div class="col-xs-1 reduce-padding text-align-center">
                            {{item.id}}
                        </div>
                        <div class="col-xs-2 reduce-padding text-align-center">
                            {{item.description}}
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            {{item.quantity}}
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            {{(item.quantity*item.price).toFixed(2)}}
                        </div>
                    </div>
                    
                    <!--div class="col-xs-6 reduce-padding text-align-left">
                        <br>
                        <button class="btn btn-sm btn-primary" ng-click="getReport('prev')" ng-disabled="currentPage===0">Prev</button>&nbsp;
                        <button class="btn btn-sm btn-primary" ng-click="getReport('next')" ng-disabled="sales.length<99">Next</button>
                        
                    </div>
                    <div class="col-xs-6 reduce-padding text-align-right">
                        <br>
                        Page {{currentPage+1}}
                        
                    </div-->
                    <hr class="hr-full">
                    <!--div class="col-xs-12 text-align-right">
                        <b>Total Sales : {{totalSalesAmount.toFixed(2)}}</b>
                    </div-->
                    <!--div class="col-xs-12 reduce-padding text-align-right">
                        <br>
                        <button type="button" ng-json-export-excel data="sales" report-fields="{doctorName: 'Doctor Name', patient_name: 'Patient Name', id: 'id', description: 'Description', quantity: 'Quantity', price: 'Price'}" filename =" 'Sales-Report' " separator="," class="css-class btn btn-success">Export CSV</button>
                    </div-->
                    
                    
                </div>
                
            </form>
        </div>
    </div>
</section>