<head>
<meta charset="utf-8"/>

<style>
	.mw-100 {
		min-width: 70px;
	}

	.table-width {
		width: 100%;
	}

	.ng-hide {display: none}

	.table-head {
		background-color: lightgray;
		border-bottom: 2px solid darkgray;
		height: 35px;
	}

	.order-table-head-row {
		border-bottom: 1px solid lightgray;
		font-size: 12px;
		font-weight: bold;
	}

	.text-center {
		text-align: center;
	}

	.col-pad {
		padding: 0 10px;
		border-right: 1px solid #fff;
	}

	.order-table-row {
		border-bottom: 1px solid lightgray;
		height: 35px;
		font-size: 12px;
	}
</style>
</head>
<div style="height:100px;">
    <div style="float: left;">
        <img src="{{hospitallogo}}" height="100px" style="margin-right:20px;"/>
    </div>
    <div style="float: left;">
        <h1 style="text-align: left;margin-top:0;">OTA Payable Report</h1>
		<p>{{date}} {{time}}</p>
    </div>
</div>
<div style="margin-top:100px;font-size: 18px;">
    <div ng-repeat="ota in bills">
		<div ng-show="ota.bills.length>0">
		<p><b>OTA Name : {{ota.name}}</b></p>
                        <table class="table-width">
                        <thead class="table-head">
                            <tr class="order-table-head-row">
                                <th class="order-table-row column-padding-1 col-pad mw-100">Date</th>
                                <th class="text-center col-pad mw-100">MR No</th>
                                <th class="text-center col-pad mw-100">Name</th>
								<th class="text-center col-pad mw-100">Bill Number</th>
                                <th class="text-center col-pad mw-100">Handler</th>
								<th class="text-center col-pad mw-100">Service</th>
								<th class="text-center col-pad mw-100">Amount</th>
								<th class="text-center col-pad mw-100">Refund</th>
								<th class="text-center col-pad mw-100">Discount</th>
								<th class="text-center col-pad mw-100">Total</th>
								<th class="text-center col-pad mw-100">Payable</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="report in ota.bills">
                                <td class="order-table-row column-padding-1 mw-100">{{report.created | date: 'MM/dd/yyyy'}}</td>
                                <td class="text-center order-table-row mw-100">{{report.patientInfo.mr_number}}</td>
                                <td class="text-center order-table-row mw-100">{{report.patientInfo.name}}</td>
                                <td class="text-center order-table-row mw-100">{{report.billNumber}}</td>
                                <td class="text-center order-table-row mw-100">{{report.handlerName}}</td>
								<!--td class="text-center order-table-row">{{report.grandTotal}}</td-->
								<td class="text-center order-table-row"><span ng-show="docName !== report.description">{{report.description}}</span><span ng-show="docName == report.description">Consultation</span></td>
								<td class="text-center order-table-row">{{report.fee}}</td>
								<td class="text-center order-table-row">{{report.refund}}</td>
								<td class="text-center order-table-row">{{report.discount}}</td>
								<td class="text-center order-table-row">{{report.total}}</td>
								<td class="text-center order-table-row">{{report.docshare}}</td>
								<!--td class="text-center order-table-row">{{report.balance}}</td-->

                            </tr>
                            <tr ng-show="doctor.bills.length>0">
                                <td class="order-table-row column-padding-1 mw-100"><b>Total Sum</b></td>
                                <td class="text-center order-table-row mw-100"></td>
                                <td class="text-center order-table-row mw-100"></td>
                                <td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"></td>
                                <td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"><b>{{doctor.consultTotal}}</b></td>
								<td class="text-center order-table-row mw-100"><b>{{doctor.totalamount}}</b></td>
                            </tr>
                        </tbody>
                    </table>
					</div>
    </div>
	<hr>
	<br>
	<table class="table-width">
		<tr>
			<td class="order-table-row column-padding-1 mw-100"><b>Grand Total</b></td>
			<td class="text-center order-table-row mw-100"></td>
			<td class="text-center order-table-row mw-100"></td>
			<td class="text-center order-table-row mw-100"></td>
			<td class="text-center order-table-row mw-100"></td>
			<td class="text-center order-table-row mw-100"></td>
			<td class="text-center order-table-row mw-100"></td>
			<td class="text-center order-table-row mw-100"></td>
			<td class="text-center order-table-row mw-100"></td>
			<td class="text-center order-table-row mw-100"><b>{{grandConsultTotal}}</b></td>
			<td class="text-center order-table-row mw-100"><b>{{grandTotal}}</b></td>
		</tr>
	</table>
</div>
