<section data-ng-controller="OtaBillsReportController">
	<div class="main-page panel">
        <ul class="list-unstyled breadcrumb breadcrumb-btm-margin">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">OTA Payable Report</a></li>
        </ul>
        <div class="panel-body">
            <form class="form-horizontal" novalidate>
                <div class="col-xs-12 reduce-padding">
                    <div class="col-xs-3">
                        <label class="form-control-label">Select Doctor</label>
                        <select class="form-control" ng-model="report.ota">
                        	<option ng-value="All">All</option>
                            <option ng-repeat="ota in otas" ng-value="ota.displayName">{{ota.displayName}}</option>
                        </select>
						<label class="form-control-label">From Date</label>
						<input type="date" name="dt" class="form-control" ng-model="report.fromDate">
						<label class="form-control-label">To Date</label>
                        <input type="date" name="dt" class="form-control" ng-model="report.toDate">
					</div>

					<div class="col-xs-3">
						<button  class="css-class btn btn-success" style="width: 120px;margin-top:32px;" ng-click="getReport()">Apply</button>
						<br>
						<button ng-click="exportfile()" class="css-class btn btn-success" style="margin-top:20px">Export to Excel</button>
						<br>
						<button ng-click="printreport()" class="css-class btn btn-success" style="width: 120px;margin-top:20px">Print</button>					
					</div>
                </div>
                <div class="col-lg-12 grid-top-margin">
                    <h5>OTA Payable Report</h5>
					<div ng-show="!showall">
                    <br/>
                        <table class="table-width">
                        <thead class="table-head">
                            <tr class="order-table-head-row">
                                <th class="order-table-row column-padding-1 col-pad mw-100">Date</th>
                                <th class="text-center col-pad mw-100">MR No</th>
                                <th class="text-center col-pad mw-100">Name</th>
								<th class="text-center col-pad mw-100">Bill Number</th>
                                <th class="text-center col-pad mw-100">Handler</th>
								<th class="text-center col-pad mw-100">Service</th>
								<th class="text-center col-pad mw-100">Amount</th>
								<th class="text-center col-pad mw-100">Refund</th>
								<th class="text-center col-pad mw-100">Discount</th>
								<th class="text-center col-pad mw-100">Total</th>
								<th class="text-center col-pad mw-100">Payable</th>
                            </tr>       
                        </thead>
                        <tbody>
                           <tr class="" ng-hide="bills.length>0">
                                <td class="order-table-row column-padding-1 col-pad"><b>Please select Date</b></td>
                                <td class="text-center col-pad"></td>
                                <td class="text-center col-pad"></td>
								<td class="text-center col-pad"></td>
                                <td class="text-center col-pad"></td>
                                <td class="text-center col-pad"></td>
								<td class="text-center col-pad"></td>
								<td class="text-center col-pad"></td>
								<td class="text-center col-pad"></td>
                            </tr>
                            <tr ng-repeat="report in bills">
                                <td class="order-table-row column-padding-1 mw-100">{{report.created | date: 'MM/dd/yyyy'}}</td>
                                <td class="text-center order-table-row mw-100">{{report.patientInfo.mr_number}}</td>
                                <td class="text-center order-table-row mw-100">{{report.patientInfo.name}}</td>
                                <td class="text-center order-table-row mw-100">{{report.billNumber}}</td>
                                <td class="text-center order-table-row mw-100">{{report.handlerName}}</td>
								<!--td class="text-center order-table-row">{{report.grandTotal}}</td-->
								<td class="text-center order-table-row"><span ng-show="docName !== report.description">{{report.description}}</span><span ng-show="docName == report.description">Consultation</span></td>
								<td class="text-center order-table-row">{{report.fee}}</td>
								<td class="text-center order-table-row">{{report.refund}}</td>
								<td class="text-center order-table-row">{{report.discount}}</td>
								<td class="text-center order-table-row">{{report.total}}</td>
								<td class="text-center order-table-row">{{report.docshare}}</td>
								<!--td class="text-center order-table-row">{{report.balance}}</td-->

                            </tr>
                            <tr ng-show="bills.length>0">
                                <td class="order-table-row column-padding-1 mw-100"><b>Total Sum</b></td>
                                <td class="text-center order-table-row mw-100"></td>
                                <td class="text-center order-table-row mw-100"></td>
                                <td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"></td>
                                <td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"><b>{{totalAmount}}</b></td>
                            </tr>
                        </tbody>
                    </table>
					</div>
					<div ng-show="showall">
					<div ng-repeat="otas in allData">
					<div ng-show="otas.bills.length>0">
                    <br/>
					 <h5 style="color:#000"><b>{{otas.name}}</b></h5>
                        <table class="table-width">
                        <thead class="table-head">
                            <tr class="order-table-head-row">
                                <th class="order-table-row column-padding-1 col-pad mw-100">Date</th>
                                <th class="text-center col-pad mw-100">MR No</th>
                                <th class="text-center col-pad mw-100">Name</th>
								<th class="text-center col-pad mw-100">Bill Number</th>
                                <th class="text-center col-pad mw-100">Handler</th>
								<th class="text-center col-pad mw-100">Service</th>
								<th class="text-center col-pad mw-100">Amount</th>
								<th class="text-center col-pad mw-100">Refund</th>
								<th class="text-center col-pad mw-100">Discount</th>
								<th class="text-center col-pad mw-100">Total</th>
								<th class="text-center col-pad mw-100">Payable</th>
                            </tr>       
                        </thead>
                        <tbody>
                           <tr class="" ng-hide="otas.bills.length>0">
                                <td class="order-table-row column-padding-1 col-pad"><b>Please select Date</b></td>
                                <td class="text-center col-pad"></td>
                                <td class="text-center col-pad"></td>
								<td class="text-center col-pad"></td>
                                <td class="text-center col-pad"></td>
                                <td class="text-center col-pad"></td>
								<td class="text-center col-pad"></td>
								<td class="text-center col-pad"></td>
								<td class="text-center col-pad"></td>
                            </tr>
                            <tr ng-repeat="report in otas.bills">
                                <td class="order-table-row column-padding-1 mw-100">{{report.created | date: 'MM/dd/yyyy'}}</td>
                                <td class="text-center order-table-row mw-100">{{report.patientInfo.mr_number}}</td>
                                <td class="text-center order-table-row mw-100">{{report.patientInfo.name}}</td>
                                <td class="text-center order-table-row mw-100">{{report.billNumber}}</td>
                                <td class="text-center order-table-row mw-100">{{report.handlerName}}</td>
								<!--td class="text-center order-table-row">{{report.grandTotal}}</td-->
								<td class="text-center order-table-row"><span ng-show="docName !== report.description">{{report.description}}</span><span ng-show="docName == report.description">Consultation</span></td>
								<td class="text-center order-table-row">{{report.fee}}</td>
								<td class="text-center order-table-row">{{report.refund}}</td>
								<td class="text-center order-table-row">{{report.discount}}</td>
								<td class="text-center order-table-row">{{report.total}}</td>
								<td class="text-center order-table-row">{{report.docshare}}</td>
								<!--td class="text-center order-table-row">{{report.balance}}</td-->

                            </tr>
                            <tr ng-show="otas.bills.length>0">
                                <td class="order-table-row column-padding-1 mw-100"><b>Total Sum</b></td>
                                <td class="text-center order-table-row mw-100"></td>
                                <td class="text-center order-table-row mw-100"></td>
                                <td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"></td>
                                <td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"><b>{{otas.consultTotal}}</b></td>
								<td class="text-center order-table-row mw-100"><b>{{otas.totalamount}}</b></td>
                            </tr>
                        </tbody>
                    </table>
					</div>
					</div>
					<br>
					<table class="table-width">
						<tr>
                                <td class="order-table-row column-padding-1 mw-100"><b>Grand Total</b></td>
                                <td class="text-center order-table-row mw-100"></td>
                                <td class="text-center order-table-row mw-100"></td>
                                <td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"></td>
                                <td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"><b>{{grandConsultTotal}}</b></td>
								<td class="text-center order-table-row mw-100"><b>{{grandTotal}}</b></td>
                           </tr>
					 </table>
					</div>
                </div>
            </form>
        </div>
    </div>
</section>