<section data-ng-controller="PanelReportController">
	<div class="main-page panel">
        <ul class="list-unstyled breadcrumb breadcrumb-btm-margin">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Panel Report</a></li>
        </ul>
        <div class="panel-body">
            <form class="form-horizontal" novalidate>

                <div class="col-xs-12 reduce-padding">
				    <div class="col-xs-3">
						<label class="form-control-label">Panel<span class="optional-span">(Optional)</span></label>
                        <select class="form-control" ng-model="selectedpanel" ng-change="calculateTotalPanel()" ng-disabled="processing">
                            <option value="All">All</option>
                            <option ng-repeat="panel in panels" ng-value="panel.description">{{panel.description}}</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label class="form-control-label">From Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" name="dt" class="form-control" ng-model="fromDate">
                    </div>
                    <div class="col-xs-3">
                        <label class="form-control-label">To Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" name="dt" class="form-control" ng-model="toDate">
                    </div>
					<div class="col-xs-3">
					<button  class="css-class btn btn-success" style="width: 120px;margin-top:30px;" ng-click="getPanelReport()">Apply</button>
						<br>
                        <button ng-click="printreport()" class="css-class btn btn-success" style="width: 120px;margin-top:5px">Print</button>
                        <br>
						<button ng-click="updateBills()" class="css-class btn btn-info" style="width: 120px;margin-top:5px">Update Bills</button>
                        <br>
                        <button style="width: 120px;margin-top:5px" type="button" ng-json-export-excel data="reports" report-fields="{'created': 'Date', billNumber: 'Bill Number', mr_number: 'MR Number', name: 'Name', panelCardNumber: 'Card Number', service: 'Service', total: 'Total', panelClaim: 'Panel Claim', panelPaymentReceived:'Payment Received' }" filename =" 'Panel-Report' " separator="," class="css-class btn btn-success">Export Excel</button>
                    </div>
                     </div>
                <div class="col-lg-12 grid-top-margin">
                    <h5>Panel Report</h5>
                    <br/>
                    <table class="table-width">
                        <thead class="table-head">
                            <tr class="order-table-head-row">
                                <th class="order-table-row column-padding-1 col-pad mw-100">Date</th>
								<th class="text-center col-pad mw-100">Bill No.</th>
                                <th class="text-center col-pad mw-100">MR No</th>
                                <th class="text-center col-pad mw-100">Name</th>
								<th class="text-center col-pad mw-100">Panel Card#</th>
                                <th class="text-center col-pad mw-100">Service Description</th>
								<!--th class="text-center col-pad mw-100">Grand Total</th-->
								<th class="text-center col-pad mw-100">Total</th>
                                <th class="text-center col-pad mw-100">Panel Claim</th>
                                <th class="text-center col-pad mw-100">Received</th>
								<!--th class="text-center col-pad mw-100">Balance</th-->
                            </tr>
                        </thead>
                        <tbody>
                           <tr class="" ng-hide="reports.length>0">
                                <td class="order-table-row column-padding-1 col-pad"><b>Please select Date</b></td>
                                <td class="text-center col-pad"></td>
                                <td class="text-center col-pad"></td>
                                <td class="text-center col-pad"></td>
								<td class="text-center col-pad"></td>
                                <td class="text-center col-pad"></td>
								<td class="text-center col-pad"></td>
                                <td class="text-center col-pad"></td>
                            </tr>
                            <tr ng-repeat="report in reports">
                                <td class="order-table-row column-padding-1 mw-100">{{report.created | date: 'dd-MM-yyyy'}}</td>
								<td class="text-center order-table-row mw-100">{{report.billNumber}}</td>
								<td class="text-center order-table-row mw-100">{{report.mr_number}}</td>
                                <td class="text-center order-table-row mw-100">{{report.name}}</td>
								<td class="text-center order-table-row mw-100">{{report.panelCardNumber}}</td>
                                <td class="text-center order-table-row mw-100">{{report.service}}</td>
								<td class="text-center order-table-row mw-100">{{report.total}}</td>
                                <td class="text-center order-table-row mw-100">{{report.panelClaim}}</td>
                                <td class="text-center order-table-row">
                                <input type="checkbox" ng-model="report.panelPaymentReceived" ng-change="addToChanged(report)">
                                </td>
                                <!--td class="text-center order-table-row">{{report.balance}}</td-->

                            </tr>
                            <tr ng-show="reports.length>0">
                                <td class="order-table-row column-padding-1 mw-100"><b>Total Sum</b></td>
                                <td class="text-center order-table-row mw-100"></td>
                                <td class="text-center order-table-row mw-100"></td>
                                <td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"></td>

								<!--td class="text-center order-table-row mw-100"><b>{{alltotal}}</b></td-->
                                <td class="text-center order-table-row mw-100"><b>{{total}}</b></td>
                                <td class="text-center order-table-row mw-100"><b>{{totalPanelClaim}}</b></td>
								<!--td class="text-center order-table-row mw-100"><b>{{allbalance}}</b></td-->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</section>
