<section data-ng-controller="PanelLabReportController">
  <div class="main-page panel">
    <ul class="list-unstyled breadcrumb breadcrumb-btm-margin">
      <li>
        <a href="/#!/main-page">Home</a>
      </li>
      <li class="active-page">
        <a href="#">Panel Lab Report</a>
      </li>
    </ul>
    <div class="panel-body">
      <form class="form-horizontal" novalidate>

        <div class="col-xs-12 reduce-padding">
          <div class="col-xs-3">
            <label class="form-control-label">Panel
              <span class="optional-span">(Optional)</span>
            </label>
            <select class="form-control" ng-model="selectedpanellab" ng-disabled="processing">
              <option value="All">All</option>
              <option ng-repeat="panelLab in panelLabs" ng-value="panel.description">{{panelLab.description}}</option>
            </select>
          </div>
          <div class="col-xs-3">
            <label class="form-control-label">From Date
              <span class="optional-span">(Optional)</span>
            </label>
            <input type="date" name="dt" class="form-control" ng-model="fromDate">
          </div>
          <div class="col-xs-3">
            <label class="form-control-label">To Date
              <span class="optional-span">(Optional)</span>
            </label>
            <input type="date" name="dt" class="form-control" ng-model="toDate">
          </div>
          <div class="col-xs-3">
            <button class="css-class btn btn-success" style="width: 120px;margin-top:30px;" ng-click="getPanelLabReport()">Apply</button>
            <br>
            <button ng-click="printreport()" class="css-class btn btn-success" style="width: 120px;margin-top:5px">Print</button>
            <br>
            <button style="width: 120px;margin-top:5px" type="button" ng-json-export-excel data="panelLabTests" report-fields="{'created_date': 'Date', patientMRN: 'Patient MRN', patientName: 'Patient Name', testDescription: 'Test Description', panelLab: 'Panel Lab', sampleNo: 'Sample No.', status: 'Status'}"
              filename=" 'Panel-Lab-Report' " separator="," class="css-class btn btn-success">Export Excel</button>
          </div>
        </div>
        <div class="col-lg-12 grid-top-margin">
          <h5>Panel Lab Report</h5>
          <br/>
          <table class="table-width">
            <thead class="table-head">
              <tr class="order-table-head-row">
                <th class="order-table-row column-padding-1 col-pad mw-100">Date</th>
                <th class="text-center col-pad mw-100">PatientMRN</th>
                <th class="text-center col-pad mw-100">Patient Name</th>
                <th class="text-center col-pad mw-100">Test Description</th>
                <th class="text-center col-pad mw-100">Panel Lab</th>
                <th class="text-center col-pad mw-100">Sample No.</th>
                <th class="text-center col-pad mw-100">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr class="" ng-hide="panelLabTests.length>0">
                <td class="order-table-row column-padding-1 col-pad">
                  <b>Please select Date</b>
                </td>
                <td class="text-center col-pad"></td>
                <td class="text-center col-pad"></td>
                <td class="text-center col-pad"></td>
                <td class="text-center col-pad"></td>
                <td class="text-center col-pad"></td>
                <td class="text-center col-pad"></td>
              </tr>
              <tr ng-repeat="panelLabTest in panelLabTests">
                <td class="order-table-row column-padding-1 mw-100">{{panelLabTest.created_date | date: 'dd-MM-yyyy'}}</td>
                <td class="text-center order-table-row mw-100">{{panelLabTest.patientMRN}}</td>
                <td class="text-center order-table-row mw-100">{{panelLabTest.patientName}}</td>
                <td class="text-center order-table-row mw-100">{{panelLabTest.testDescription}}</td>
                <td class="text-center order-table-row mw-100">{{panelLabTest.panelLab}}</td>
                <td class="text-center order-table-row mw-100">{{panelLabTest.sampleNo}}</td>
                <td class="text-center order-table-row mw-100">{{panelLabTest.status}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
</section>