<section data-ng-controller="PatientsReportController">
	<div class="main-page panel">
        <ul class="list-unstyled breadcrumb breadcrumb-btm-margin">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Patient Demographics</a></li>
        </ul>
        <div class="panel-body">
            <form class="form-horizontal" novalidate>

                <div class="col-xs-12 reduce-padding">
				    <div class="col-xs-3">          
						<label class="form-control-label">Areas<span class="optional-span">(Optional)</span></label>
                        <select class="form-control" ng-model="selectedarea" ng-disabled="processing">
                            <option ng-repeat="area in areas" ng-value="area.description">{{area.description}}</option>
                        </select>						
                    </div>
                    <div class="col-xs-3">
                        <label class="form-control-label">From Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" name="dt" class="form-control" ng-model="fromDate">
                    </div>
                    <div class="col-xs-3">
                        <label class="form-control-label">To Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" name="dt" class="form-control" ng-model="toDate">
                    </div>
					<div class="col-xs-3">
					<button  class="css-class btn btn-success" style="width: 120px;margin-top:30px;" ng-click="getPatientsReport()">Apply</button>
						<br>
						<button ng-click="exportfile()" class="css-class btn btn-success" style="margin-top:5px">Export to Excel</button>
						<br>
						<button ng-click="printreport()" class="css-class btn btn-success" style="width: 120px;margin-top:5px">Print</button>			
					</div>
                </div>
                <div class="col-lg-12 grid-top-margin">
                    <h5>Patient Demographics</h5>
                    <br/>
                    <table class="table-width">
                        <thead class="table-head">
                            <tr class="order-table-head-row">
                                <th class="order-table-row column-padding-1 col-pad mw-100">Date of Registration</th>
								<th class="text-center col-pad mw-100">MR No</th>
                                <th class="text-center col-pad mw-100">Name</th>
                                <th class="text-center col-pad mw-100">Gender</th>
								<th class="text-center col-pad mw-100">Age</th>
                                <th class="text-center col-pad mw-100">Phone</th>
								<th class="text-center col-pad mw-100">Panel</th>
                            </tr>       
                        </thead>
                        <tbody>
                           <tr class="" ng-hide="reports.length>0">
                                <td class="order-table-row column-padding-1 col-pad"><b>Please select Date</b></td>
                                <td class="text-center col-pad"></td>
                                <td class="text-center col-pad"></td>
                                <td class="text-center col-pad"></td>
								<td class="text-center col-pad"></td>
                                <td class="text-center col-pad"></td>
								<td class="text-center col-pad"></td>
                            </tr>
                            <tr ng-repeat="report in reports">
                                <td class="order-table-row column-padding-1 mw-100">{{report.created | date: 'dd-MM-yyyy'}}</td>
								<td class="text-center order-table-row mw-100">{{report.mr_number}}</td>
								<td class="text-center order-table-row mw-100">{{report.name}}</td>
                                <td class="text-center order-table-row mw-100">{{report.gender}}</td>
								<td class="text-center order-table-row mw-100">{{report.dob}} y</td>
                                <td class="text-center order-table-row mw-100">{{report.phone}}</td>
								<td class="text-center order-table-row mw-100">{{report.panel_id}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</section>