<section class="main-page" data-ng-controller="PurchaseReportController">  
    <div class="panel">
        <ul class="list-unstyled breadcrumb breadcrumb-btm-margin">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Purchase Report</a></li>
        </ul>
        <div class="panel-body">
            <form class="form-horizontal" novalidate>
                <div class="col-xs-12 reduce-padding">
                    <div class="col-xs-3">
                        <label class="form-control-label">From Date</label>
                        <input type="date" name="dt" class="form-control" ng-model="report.fromDate" >
                    </div>
                    <div class="col-xs-3">
                        <label class="form-control-label">To Date</label>
                        <input type="date" name="dt" class="form-control" ng-model="report.toDate">
                    </div>
                    <div class="col-xs-3">
                            <div class="checkbox" style="padding-top:10px">
                                <label class="form-control-label" style="font-weight:600">
                                    <input type="checkbox" name="departmentdetails" ng-change="hidedetailsChanged()" checked="" ng-model="hidedetails">
                                    Hide Details
                                </label>
                            </div>
                        </div>
                </div>
                <div class="col-xs-12 reduce-padding">
                    <div class="col-xs-3 col-xs-offset-6">
						<button  class="css-class btn btn-success export-csv-btn ng-isolate-scope" ng-click="btn_Apply()">Apply</button>
						&nbsp
						<button type="reset" class="css-class btn btn-success export-csv-btn ng-isolate-scope"  ng-click="From_Reset()">Reset</button>
						&nbsp
						<button ng-click="printreport()" class="css-class btn btn-success" style="margin-top:25px;">Print</button>			
					</div>
                </div>

                <div class="col-lg-12 grid-top-margin" ng-show="!hidedetails">
                    <h5>Purchase Report</h5>
                    <hr class="hr-full">
                    <br/>
					
                    <div class="col-xs-12 reduce-padding report-header">
						<div class="col-xs-2 text-align-center reduce-padding">
                            Date
                        </div>
						<div class="col-xs-2 text-align-center reduce-padding">
                            Item ID
                        </div>
						<div class="col-xs-2 text-align-center reduce-padding">
                            Description
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            Quantity
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            Purchase Rate
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            Discount
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            Bonus
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            Total
                        </div>
                    </div>
					 <div class="col-xs-12 reduce-padding search-row text-align-center">
                        
                    </div>
                    <div class="col-xs-12" ng-show="purchase.length === 0">
                        No Items Found
                    </div>
                    <div class="col-xs-12 reduce-padding" ng-repeat="item1 in purchase">
						<div class="col-xs-12 reduce-padding report-row">
							<div class="col-xs-2 text-align-center reduce-padding">
								{{item1.date | date : "dd-MM-yyyy"}}
							</div>
							<div class="col-xs-2 text-align-center reduce-padding">
								{{item1.code}}
							</div>
							<div class="col-xs-2 reduce-padding text-align-center">
								{{item1.description}}
							</div>
							<div class="col-xs-1 reduce-padding text-align-center">
								{{item1.quantity}}
							</div>
							<div class="col-xs-1 reduce-padding text-align-center">
								{{item1.rate}}
                            </div>
                            <div class="col-xs-1 reduce-padding text-align-center">
								{{item1.discount}} ({{item1.discountType}})
                            </div>
                            <div class="col-xs-1 reduce-padding text-align-center">
								{{item1.bonus}}
                            </div>
                            <div class="col-xs-1 reduce-padding text-align-center">
								{{item1.netValue}}
                            </div>
						</div>
					</div>
                    <hr class="hr-full">
                    <div class="col-xs-10 text-align-right">
                        <b>Total Purchase : {{totalPurchaseAmount.toFixed(2)}}</b>
                    </div>
                </div>		
				
				
				<!-- Hide Details Case -->
                <div class="col-lg-12 grid-top-margin" ng-show="hidedetails">
                    <h5>Purchase Report</h5>
                    <hr class="hr-full">
                    <br/>
					
                    <div class="col-xs-12 reduce-padding report-header">
						<div class="col-xs-3 text-align-center reduce-padding">
                            Date
                        </div>
                        <div class="col-xs-3 reduce-padding text-align-center">
                            Desription
                        </div>
                        <div class="col-xs-3 reduce-padding text-align-center">
                            Quantity
                        </div>
                        <div class="col-xs-3 reduce-padding text-align-center">
                            Total
                        </div>
                    </div>
					 <div class="col-xs-12 reduce-padding search-row text-align-center">
                        
                    </div>
                    <div class="col-xs-12" ng-show="sales.length === 0">
                        No Items Found
                    </div>
                    <div class="col-xs-12 reduce-padding" ng-repeat="item1 in purchase">
						<div class="col-xs-12 reduce-padding report-row">
							<div class="col-xs-3 text-align-center reduce-padding">
								{{item1.date | date : "dd-MM-yyyy"}}
							</div>
							<div class="col-xs-3 reduce-padding text-align-center">
								{{item1.description}}
                            </div>
                            <div class="col-xs-3 reduce-padding text-align-center">
								{{item1.quantity}}
							</div>
							<div class="col-xs-3 reduce-padding text-align-center">
								{{item1.netValue}}
							</div>
						</div>
					</div>
                    <hr class="hr-full">
                    <div class="col-xs-11 text-align-right">
                        <b>Total Purchase : {{totalPurchaseAmount.toFixed(2)}}</b>
                    </div>
                </div>				
            </form>
        </div>
    </div>
</section>