<head>
<meta charset="utf-8"/>

<style>
	.mw-100 {
		min-width: 70px;
	}

	.w-50 {
		width: 50px;
	}

	.table-width {
		width: 100%;
	}

	.table-head {
		background-color: lightgray;
		border-bottom: 2px solid darkgray;
		height: 35px;
		font-size: 12px;
	}

	.order-table-head-row {
		border-bottom: 1px solid lightgray;
		font-size: 12px;
		font-weight: bold;
	}

	.text-center {
		text-align: center;
	}

	.ng-hide {
		display: none;
	}

	.col-pad {
		padding: 0 10px;
		border-right: 1px solid #fff;
	}

	.order-table-row {
		border-bottom: 1px solid lightgray;
		height: 35px;
		font-size: 12px;
	}
</style>
</head>
<div style="height:100px;">
    <div style="float: left;">
        <img src="{{hospitallogo}}" height="100px" style="margin-right:20px;"/>
    </div>
    <div style="float: left;">
        <h1 style="text-align: left;margin-top:0;">Patient Revenue Report</h1>
		<p>{{date}} {{time}}</p>
    </div>
	<table style="margin-top:15px" class="table-width">
			<thead>
				<tr>
					<th>Salesman</th>
					<th class="text-center">From Date</th>
					<th class="text-center">To Date</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center">{{salesman}}</td>
					<td class="text-center">{{fromdate}}</td>
					<td class="text-center">{{todate}}</td>
				</tr>
			</tbody>
	</table>
</div>
<div style="margin-top:100px;font-size: 18px;width:600px;">
    <div>
        <table class="table-width">
			<thead class="table-head">
				<tr>
					<th class="text-center col-pad">#</th>
					<th class="order-table-row column-padding-1 col-pad mw-100">Date</th>
					<th class="text-center col-pad mw-100">Time</th>
					<th class="text-center col-pad mw-100">MR No</th>
					<th class="text-center col-pad mw-100">Name</th>
					<th class="text-center col-pad mw-100">Panel</th>
					<th class="text-center col-pad mw-100">Refering Doctor</th>
					<th class="text-center col-pad mw-100" ng-show="!departmentdetails" ng-repeat="department in revenueStreams">{{department}}</th>
					<th class="text-center col-pad mw-100">Total</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="report in reports">
					<td class="text-center order-table-row column-padding-1">{{$index+1}}</td>
					<td class="order-table-row column-padding-1 mw-100">{{report.Date | date: 'dd/MM/yyyy'}}</td>
					<td class="text-center order-table-row mw-100">{{report.actDate | date: 'shortTime'}}</td>
					<td class="text-center order-table-row mw-100">{{report.MRNo}}</td>
					<td class="text-center order-table-row mw-100">{{report.Name}}</td>
					<td class="text-center order-table-row mw-100">{{report.panel_id}}</td>
					<td class="text-center order-table-row mw-100">{{report.referingDoctor}}</td>
					<td class="text-center order-table-row mw-100" ng-show="!departmentdetails" ng-repeat="facility in report.facilities">
						{{facility.amount}}
					</td>
					<td class="text-center order-table-row">{{report.receivedCash}}</td>
				</tr>
				<tr ng-show="reports.length>0">
					<td class="order-table-row column-padding-1 mw-100"><b>Total Sum</b></td>
					<td class="text-center order-table-row mw-100"></td>
					<td class="text-center order-table-row mw-100"></td>
					<td class="text-center order-table-row mw-100"></td>
					<td class="text-center order-table-row mw-100"></td>
					<td class="text-center order-table-row mw-100"></td>
					<td class="text-center order-table-row mw-100"></td>
					<td class="text-center order-table-row mw-100" ng-show="!departmentdetails" ng-repeat="amounts in totalAmounts">
						<b>{{amounts.amount}}</b>
					</td>
					<!--td class="text-center order-table-row mw-100"><b>{{alltotal}}</b></td-->
					<td class="text-center order-table-row mw-100"><b>{{allreceived}}</b></td>
					<!--td class="text-center order-table-row mw-100"><b>{{allbalance}}</b></td-->
				</tr>
			</tbody>
        </table>
    </div>
</div>
