<section data-ng-controller="RevenueReportController">
	<div class="main-page panel">
        <ul class="list-unstyled breadcrumb breadcrumb-btm-margin">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">OPD Revenue</a></li>
        </ul>
        <div class="panel-body">
            <form class="form-horizontal" novalidate>

                <div class="col-xs-12 reduce-padding">
				    <div class="col-xs-3">
                        <label class="form-control-label">Select Receptionist<span class="optional-span">(Optional)</span></label>
                        <select ng-show="authentication.user.roles!='opd receptionist'" class="form-control" ng-model="receptionist" ng-disabled="processing">
                            <option ng-repeat="person in receptionists" ng-value="person.username">{{person.username}}</option>
                        </select>
						<div ng-show="authentication.user.roles=='opd receptionist'" class="form-control">{{authentication.user.username}}</div>
                        <label class="form-control-label">Refering Doctor<span class="optional-span">(Optional)</span></label>
                        <select class="form-control" ng-model="referingDoctor" ng-change="calculateTotalReferingDoctor()" ng-disabled="processing">
                            <option ng-repeat="doctor in doctors" ng-value="doctor.name">{{doctor.name}}</option>
                        </select>
						<label class="form-control-label">Panel<span class="optional-span">(Optional)</span></label>
                        <select class="form-control" ng-model="selectedpanel" ng-change="calculateTotalPanel()" ng-disabled="processing">
                            <option ng-repeat="panel in panels" ng-value="panel.description">{{panel.description}}</option>
                        </select>
						<div class="col-xs-12 reduce-padding">
							<div class="checkbox" style="padding-top:10px">
								<label class="form-control-label" style="font-weight:600">
									<input type="checkbox" name="departmentdetails" checked="" ng-model="departmentdetails">
									Hide Department Details
								</label>
							</div>
						</div>						
                    </div>
                    <div class="col-xs-3">
                        <label class="form-control-label">From Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" name="dt" class="form-control" ng-model="fromDate">
						<label class="form-control-label">From Time<span class="optional-span">(Optional)</span></label>
                        <select class="form-control" ng-model="fromTime" >
                            <option ng-repeat="time in times" ng-value="time">{{time}}</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label class="form-control-label">To Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" name="dt" class="form-control" ng-model="toDate">
						<label class="form-control-label">To Time<span class="optional-span">(Optional)</span></label>
                        <select class="form-control" ng-model="toTime" >
                            <option ng-repeat="time in times" ng-value="time">{{time}}</option>
                        </select>						
                    </div>
					<div class="col-xs-3">
					<button  class="css-class btn btn-success" style="width: 120px;margin-top:30px;" ng-click="getRevenue()">Apply</button>
						<br>
						<button ng-click="exportfile()" class="css-class btn btn-success" style="margin-top:5px">Export to Excel</button>
						<br>
						<button ng-click="printreport()" class="css-class btn btn-success" style="width: 120px;margin-top:5px">Print</button>			
					</div>
                </div>
                <div class="col-lg-12 grid-top-margin">
                    <h5>Revenue Report</h5>
                    <br/>
                    <table class="table-width">
                        <thead class="table-head">
                            <tr class="order-table-head-row">
                                <th class="order-table-row column-padding-1 col-pad mw-100">Date</th>
								<th class="text-center col-pad mw-100">Time</th>
                                <th class="text-center col-pad mw-100">MR No</th>
                                <th class="text-center col-pad mw-100">Name</th>
								<th class="text-center col-pad mw-100">Panel</th>
                                <th class="text-center col-pad mw-100">Refering Doctor</th>
                                <th class="text-center col-pad mw-100" ng-show="!departmentdetails" ng-repeat="department in revenueStreams">{{department}}</th>
								<!--th class="text-center col-pad mw-100">Grand Total</th-->
								<th class="text-center col-pad mw-100">Total</th>
								<!--th class="text-center col-pad mw-100">Balance</th-->
                            </tr>       
                        </thead>
                        <tbody>
                           <tr class="" ng-hide="reports.length>0">
                                <td class="order-table-row column-padding-1 col-pad"><b>Please select Date</b></td>
                                <td class="text-center col-pad"></td>
                                <td class="text-center col-pad"></td>
                                <td class="text-center col-pad"></td>
                                <td class="text-center col-pad" ng-show="!departmentdetails" ng-repeat="department in revenueStreams"></td>
                            </tr>
                            <tr ng-repeat="report in reports | filter:referingDoctor | filter:selectedpanel">
                                <td class="order-table-row column-padding-1 mw-100">{{report.actDate | date: 'dd-MM-yyyy'}}</td>
                                <td class="text-center order-table-row mw-100">{{report.actDate | date: 'shortTime'}}</td>
								<td class="text-center order-table-row mw-100">{{report.MRNo}}</td>
                                <td class="text-center order-table-row mw-100">{{report.Name}}</td>
								<td class="text-center order-table-row mw-100">{{report.panel_id}}</td>
                                <td class="text-center order-table-row mw-100">{{report.referingDoctor}}</td>
                                <td class="text-center order-table-row mw-100" ng-show="!departmentdetails" ng-repeat="facility in report.facilities">
                                    {{facility.amount}}
                                </td>
								<!--td class="text-center order-table-row">{{report.grandTotal}}</td-->
								<td class="text-center order-table-row">{{report.receivedCash}}</td>
								<!--td class="text-center order-table-row">{{report.balance}}</td-->

                            </tr>
                            <tr ng-show="reports.length>0">
                                <td class="order-table-row column-padding-1 mw-100"><b>Total Sum</b></td>
                                <td class="text-center order-table-row mw-100"></td>
                                <td class="text-center order-table-row mw-100"></td>
                                <td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"></td>
								<td class="text-center order-table-row mw-100"></td>

                                <td class="text-center order-table-row mw-100" ng-show="!departmentdetails" ng-repeat="amounts in totalAmounts">
                                    <b>{{amounts.amount}}</b>
                                </td>
								<!--td class="text-center order-table-row mw-100"><b>{{alltotal}}</b></td-->
								<td class="text-center order-table-row mw-100"><b>{{allreceived}}</b></td>
								<!--td class="text-center order-table-row mw-100"><b>{{allbalance}}</b></td-->
                            </tr>
                        </tbody>
                    </table>
                    <!--<h5>Details</h5>
                    <br/>
                    <table class="table-width">
                        <thead class="table-head">
                            <tr class="order-table-head-row">
                                <th class="order-table-row column-padding-1 col-pad">Date</th>
                                <th class="text-center col-pad">MR No</th>
                                <th class="text-center col-pad">Name</th>
                                <th class="text-center col-pad">Doctor Name</th>
                                <th class="text-center col-pad" ng-repeat="department in revenueStreams">{{department}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="report in reports">
                                <td class="order-table-row column-padding-1">{{report.Date | date: 'MM-dd-yyyy'}}</td>
                                <td class="text-center order-table-row">{{report.MRNo}}</td>
                                <td class="text-center order-table-row">{{report.Name}}</td>
                                <td class="text-center order-table-row">{{report.referedDoctor}}</td>
                                <td class="text-center order-table-row" ng-repeat="facility in report.facilities">
                                    {{facility.amount}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-xs-12 reduce-padding report-header">
                        <div class="col-xs-3 reduce-padding text-align-center">
                            Patient MR Number
                        </div>
                        <div class="col-xs-3 reduce-padding text-align-center">
                            Doctor
                        </div>
                        <div class="col-xs-3 reduce-padding text-align-center">
                            Date
                        </div>
                        <div class="col-xs-3 reduce-padding text-align-center">
                            Total
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding search-row text-align-center">
                        <div class="col-xs-offset-3 col-xs-3 reduce-padding">
                            <input class="input-field-border" type="text" ng-model="search.patientInfo.referedDoctor.name"></input>
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding report-row" ng-repeat="bill in bills | filter:search">
                        <div class="col-xs-3 reduce-padding text-align-center">
                            {{bill.patientInfo.mr_number}}
                        </div>
                        <div class="col-xs-3 reduce-padding text-align-center">
                            {{bill.referedDoctor.name}}
                        </div>
                        <div class="col-xs-3 reduce-padding text-align-center">
                            {{bill.created | date: 'MM/dd/yyyy'}}
                        </div>
                        <div class="col-xs-3 reduce-padding text-align-center">
                            {{bill.grandTotal}}
                        </div>
                    </div>-->

                </div>
                <!--<div class="col-lg-3 grid-top-margin">
                    <h5>Revenue</h5>
                    <hr>
                    <br/>
                    <div class="col-xs-12 reduce-padding">
                        Total Visits: {{report.total_visits}}
                        <br>
                        Total Revenue: {{report.total_amount}}
                    </div>
                    <div class="col-xs-12 reduce-padding">
                        <br>
                        <button ng-json-export-excel data="bills" report-fields="{'patientInfo.mr_number': 'Patient MR No', 'referedDoctor.name': 'Doctor Name', 'created' : 'Date', 'grandTotal': 'Total'}" filename =" 'Opd-revenue-Report' " separator="," class="css-class btn btn-success">Export CSV</button>
                    </div>
                </div>-->
            </form>
        </div>
    </div>
</section>