<head>
<meta charset="utf-8"/>

<style>
	.mw-100 {
		min-width: 70px;
	}

	.w-50 {
		width: 50px;
	}

	.table-width {
		width: 100%;
	}

	.table-head {
		background-color: lightgray;
		border-bottom: 2px solid darkgray;
		height: 35px;
		font-size: 12px;
	}

	.order-table-head-row {
		border-bottom: 1px solid lightgray;
		font-size: 12px;
		font-weight: bold;
	}

	.text-center {
		text-align: center;
	}

	.ng-hide {
		display: none;
	}

	.col-pad {
		padding: 0 10px;
		border-right: 1px solid #fff;
	}

	.order-table-row {
		border-bottom: 1px solid lightgray;
		height: 35px;
		font-size: 12px;
	}
</style>
</head>
<div style="height:100px;font-family:'helvetica'">
    <div style="float: left;">
        <img src="{{hospitallogo}}" height="100px" style="margin-right:20px;"/>
    </div>
    <div style="float: left;">
        <h1 style="text-align: left;margin-top:0;">Pharmacy Sales Report</h1>
		<p>{{date}} {{time}}</p>
    </div>
	<table style="margin-top:15px" class="table-width">
			<thead>
				<tr>
					<th>Salesman</th>
					<th class="text-center">From Date</th>
					<th class="text-center">To Date</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center">{{salesman}}</td>
					<td class="text-center">{{fromdate}}</td>
					<td class="text-center">{{todate}}</td>
				</tr>
			</tbody>
	</table>
</div>
<div style="margin-top:70px;font-size: 18px;width:700px;font-family:'helvetica'">
    <div>
        <table class="table-width">
			<thead class="table-head">
				<tr>
					<th class="text-center col-pad w-50">#</th>
					<th class="order-table-row column-padding-1 col-pad">Invoice ID</th>
					<th class="text-center col-pad mw-100">Date</th>
					<th class="text-center col-pad">Time</th>
					<th class="text-center col-pad">Code</th>
					<th class="text-center col-pad">Description</th>
					<th class="text-center col-pad">Quantity</th>
					<th class="text-center col-pad ">Discount</th>
					<th class="text-center col-pad">Total</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="invoice in invoices">
					<td class="text-center order-table-row">{{$index+1}}</td>
					<td class="text-center order-table-row">{{invoice.invoiceNumber}}</td>
					<td class="text-center order-table-row mw-100">{{invoice.invoiceDate | date: 'MM/dd/yyyy'}}</td>
					<td class="text-center order-table-row ">{{invoice.invoiceTime}}</td>
					<td class="text-center order-table-row">{{invoice.id}}</td>
					<td class="text-center order-table-row">{{invoice.description}}</td>
					<td class="text-center order-table-row"><span ng-show="invoice.isReturn">-</span>{{invoice.quantity}}</td>
					<td class="text-center order-table-row">{{invoice.disc}}</td>
					<td class="text-center order-table-row"><span ng-show="invoice.isReturn">-</span>{{(invoice.quantity*invoice.price-invoice.disc).toFixed(0)}}</td>
				</tr>
				<tr ng-show="invoices.length>0">
					<td class="order-table-row column-padding-1 mw-100"><b>Total Sum</b></td>
					<td class="text-center order-table-row mw-100"></td>
					<td class="text-center order-table-row mw-100"></td>
					<td class="text-center order-table-row mw-100"></td>
					<td class="text-center order-table-row mw-100"></td>
					<td class="text-center order-table-row mw-100"></td>
					<td class="text-center order-table-row mw-100"></td>
					<td class="text-center order-table-row mw-100"></td>
					<!--td class="text-center order-table-row mw-100"><b>{{alltotal}}</b></td-->
					<td class="text-center order-table-row mw-100"><b>{{totalAmounts.toFixed(2)}}</b></td>
					<!--td class="text-center order-table-row mw-100"><b>{{allbalance}}</b></td-->
				</tr>
			</tbody>
        </table>
    </div>
	<div style="margin-top:30px;font-size: 18px;width:700px;font-family:'helvetica'">
    <div>
		<h5>Credit Transfers</h5>
        <hr class="hr-full">
        <table class="table-width">
			<thead class="table-head">
				<tr>
					<th class="text-center col-pad">#</th>
					<th class="order-table-row column-padding-1 col-pad">Transfer No</th>
					<th class="text-center col-pad mw-100">Date</th>
					<th class="text-center col-pad">From Store</th>
					<th class="text-center col-pad">To Store</th>
					<th class="text-center col-pad">Transfered By</th>
					<th class="text-center col-pad">Code</th>
					<th class="text-center col-pad ">Description</th>
					<th class="text-center col-pad">Quantity</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in stocktransfer">
					<td class="text-center order-table-row">{{$index}}</td>
					<td class="text-center order-table-row">{{item.transferNumber}}</td>
					<td class="text-center order-table-row mw-100">{{item.date}}</td>
					<td class="text-center order-table-row ">{{item.fromStore}}</td>
					<td class="text-center order-table-row">{{item.toStore}}</td>
					<td class="text-center order-table-row">{{item.transferedBy}}</td>
					<td class="text-center order-table-row">{{item.id}}</td>
					<td class="text-center order-table-row">{{item.description}}</td>
					<td class="text-center order-table-row">{{item.quantity}}</td>
				</tr>

			</tbody>
        </table>
    </div>
</div>
