<section class="main-page" data-ng-controller="SalesReportController">  
    <div class="panel">
        <ul class="list-unstyled breadcrumb breadcrumb-btm-margin">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Sales Report</a></li>
        </ul>
        <div class="panel-body">
            <form class="form-horizontal" novalidate>
                <div class="col-xs-12 reduce-padding">
                    <div class="col-xs-3">
                        <label class="form-control-label">Select Salesman<span class="optional-span">(Optional)</span></label>
                        <select class="form-control" ng-show="authentication.user.roles!='pharmacy salesman'" ng-model="report.pharmacist" >
                            <option ng-repeat="person in pharmacists" ng-value="person.displayName">{{person.username}}</option>
                        </select>
						<div ng-show="authentication.user.roles=='pharmacy salesman'" ng-value="authentication.user.displayName" class="form-control">{{authentication.user.username}}</div>

                        <label class="form-control-label">Select Store<span class="optional-span">(Optional)</span></label>
                        <select class="form-control" ng-model="report.store" ng-show="authentication.user.roles!='pharmacy salesman'">
                            <option></option>
                            <option ng-repeat="store in stores" value="{{store.description}}">{{store.description}}</option>
                        </select>
                        <div ng-show="authentication.user.roles=='pharmacy salesman'" ng-model="report.store" value="{{authentication.user.store}}" class="form-control">{{authentication.user.store}}</div>

                    </div>
                    <div class="col-xs-3">
                        <label class="form-control-label">From Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" name="dt" class="form-control" ng-model="report.fromDate" >
						<label class="form-control-label">From Time<span class="optional-span">(Optional)</span></label>
                        <select class="form-control" ng-model="report.fromTime" >
                            <option ng-repeat="time in times" ng-value="time">{{time}}</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label class="form-control-label">To Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" name="dt" class="form-control" ng-model="report.toDate">				
						<label class="form-control-label">To Time<span class="optional-span">(Optional)</span></label>
                        <select class="form-control" ng-model="report.toTime" >
                            <option ng-repeat="time in times" ng-value="time">{{time}}</option>
                        </select>
                    </div>
                </div>

                
				<!--Get Invoice in Receipt Range-->
                 <div class="col-xs-12 reduce-padding">
                    <div class="col-xs-3">
                        <label class="form-control-label">From Receipt No<span class="optional-span">(Optional)</span></label>
                        <input type="text"  class="form-control" ng-model="fromReceipt">
                    </div>
                    <div class="col-xs-3">
                        <label class="form-control-label">To Receipt No<span class="optional-span">(Optional)</span></label>
                        <input type="text"  class="form-control" ng-model="toReceipt">
                   </div>
                    <div class="col-xs-3">
						<button  class="css-class btn btn-success export-csv-btn ng-isolate-scope" ng-click="btn_Apply()">Apply</button>
						&nbsp
						<button type="reset" class="css-class btn btn-success export-csv-btn ng-isolate-scope"  ng-click="From_Reset()">Reset</button>
                        &nbsp             
                        <button ng-click="exportfile()" style="margin-top:25px;" type="button" class="css-class btn btn-success">Export</button>
						&nbsp
						<button ng-click="printreport()" class="css-class btn btn-success" style="margin-top:25px;">Print</button>			
					</div>
                </div>

                <div class="col-lg-12 grid-top-margin">
                    <h5>Sales Report</h5>
                    <hr class="hr-full">
                    <br/>
                    <div class="col-xs-12 reduce-padding report-header">
						<div class="col-xs-1 text-align-center reduce-padding">
                            Invoice ID
                        </div>
						<div class="col-xs-2 text-align-center reduce-padding">
                            Date
                        </div>
						<div class="col-xs-1 text-align-center reduce-padding">
                            Time
                        </div>
                        <div class="col-xs-2 text-align-center reduce-padding">
                            Item ID
                        </div>
                        <div class="col-xs-3 text-align-center reduce-padding">
                            Description
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            Quantity
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            Discount
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            Total
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding search-row text-align-center">
                        <div class="col-xs-offset-6 col-xs-3 reduce-padding">
                            <input class="input-field-border" type="text" ng-model="search.description" ></input>
                        </div>
                    </div>
                    <div class="col-xs-12" ng-show="sales.length === 0">
                        No Items Found
                    </div>
                    <div class="col-xs-12 reduce-padding" ng-repeat="item1 in sales">
						<div class="col-xs-12 reduce-padding report-row" ng-repeat="item in item1.orderList | filter:search.description">
							<div class="col-xs-1 text-align-center reduce-padding">
								{{item1.invoiceNumber}}
							</div>
							<div class="col-xs-2 text-align-center reduce-padding">
								{{item1.invoiceDate | date : "dd-MM-yyyy"}}
							</div>
							<div class="col-xs-1 reduce-padding text-align-center">
								{{item1.invoiceTime}}
							</div>
							<div class="col-xs-2 reduce-padding text-align-center">
								{{item.id}}
							</div>
							<div class="col-xs-3 reduce-padding text-align-center">
								{{item.description}}
							</div>
							<div class="col-xs-1 reduce-padding text-align-center">
								<span ng-show="item1.isReturn">-</span>{{item.quantity}}
							</div>
							<div class="col-xs-1 reduce-padding text-align-center">
								{{item.disc}}
							</div>
							<div class="col-xs-1 reduce-padding text-align-center">
								<span ng-show="item1.isReturn">-</span>{{(item.quantity*item.price-item.disc).toFixed(0)}}
							</div>
						</div>
					</div>
                    <hr class="hr-full">
                    <div class="col-xs-12 text-align-right">
                        <b>Total Sales : {{totalSalesAmount.toFixed(2)}}</b>
                    </div>
                </div>
                
				<div class="col-lg-12 grid-top-margin" ng-show="creditsales.length>0">
                    <h5>Credit Sales</h5>
                    <hr class="hr-full">
                    <br/>
                    <div class="col-xs-12 reduce-padding report-header">
						<div class="col-xs-1 text-align-center reduce-padding">
                            Invoice ID
                        </div>
						<div class="col-xs-1 text-align-center reduce-padding">
                            Date
                        </div>
						<div class="col-xs-1 text-align-center reduce-padding">
                            Time
                        </div>
						<div class="col-xs-1 text-align-center reduce-padding">
                            Patient
                        </div>
						<div class="col-xs-1 text-align-center reduce-padding">
                            MR#/Receipt#
                        </div>							
                        <div class="col-xs-1 text-align-center reduce-padding">
                            Item ID
                        </div>
                        <div class="col-xs-3 text-align-center reduce-padding">
                            Description
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            Quantity
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            Discount
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            Total
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding search-row text-align-center">
                        <div class="col-xs-offset-6 col-xs-3 reduce-padding">
                            <input class="input-field-border" type="text" ng-model="search.description" ></input>
                        </div>
                    </div>
                    <div class="col-xs-12" ng-show="sales.length === 0">
                        No Items Found
                    </div>
                    <div class="col-xs-12 reduce-padding" ng-repeat="item1 in creditsales">
						<div class="col-xs-12 reduce-padding report-row" ng-repeat="item in item1.orderList | filter:search.description">
							<div class="col-xs-1 text-align-center reduce-padding">
								{{item1.invoiceNumber}}
							</div>
							<div class="col-xs-1 text-align-center reduce-padding">
								{{item1.invoiceDate | date : "dd-MM-yyyy"}}
							</div>
							<div class="col-xs-1 reduce-padding text-align-center">
								{{item1.invoiceTime}}
							</div>
							<div class="col-xs-1 reduce-padding text-align-center">
								{{item1.patient_name}}
							</div>
							<div class="col-xs-1 reduce-padding text-align-center">
								{{item1.mr_number}}{{item1.creditreceiptnumber}}
							</div>							
							<div class="col-xs-1 reduce-padding text-align-center">
								{{item.id}}
							</div>
							<div class="col-xs-3 reduce-padding text-align-center">
								{{item.description}}
							</div>
							<div class="col-xs-1 reduce-padding text-align-center">
								<span ng-show="item1.isReturn">-</span>{{item.quantity}}
							</div>
							<div class="col-xs-1 reduce-padding text-align-center">
								{{item.disc}}
							</div>
							<div class="col-xs-1 reduce-padding text-align-center">
								<span ng-show="item1.isReturn">-</span>{{(item.quantity*item.price-item.disc).toFixed(0)}}
							</div>
						</div>
					</div>
                    <hr class="hr-full">
                    <div class="col-xs-12 text-align-right">
                        <b>Total Sales : {{totalCreditSalesAmount}}</b>
                    </div>
                </div>				
				
				<div class="col-lg-12 grid-top-margin" ng-show="stocktransfers.length>0">
                    <h5>Credit Transfers</h5>
                    <hr class="hr-full">
                    <br/>
                    <div class="col-xs-12 reduce-padding report-header">
						<div class="col-xs-1 text-align-center reduce-padding">
                            Transfer No
                        </div>
						<div class="col-xs-1 text-align-center reduce-padding">
                            Date
                        </div>
						<div class="col-xs-2 text-align-center reduce-padding">
                            From Store
                        </div>
						<div class="col-xs-2 text-align-center reduce-padding">
                            To Store
                        </div>
						<div class="col-xs-2 text-align-center reduce-padding">
                            Transfered By
                        </div>
                        <div class="col-xs-1 text-align-center reduce-padding">
                            Item ID
                        </div>
                        <div class="col-xs-2 text-align-center reduce-padding">
                            Description
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            Quantity
                        </div>
                    </div>
                    <div class="col-xs-12" ng-show="stocktranfers.length === 0">
                        No Items Found
                    </div>
                    <div class="col-xs-12 reduce-padding" ng-repeat="item1 in stocktransfers">
						<div class="col-xs-12 reduce-padding report-row" ng-repeat="item in item1.itemsList">
							<div class="col-xs-1 text-align-center reduce-padding">
								{{item1.transferNumber}}
							</div>
							<div class="col-xs-1 text-align-center reduce-padding">
								{{item1.date | date : "dd-MM-yyyy"}}
							</div>
							<div class="col-xs-2 reduce-padding text-align-center">
								{{item1.fromStoreDescription}}
							</div>
							<div class="col-xs-2 reduce-padding text-align-center">
								{{item1.toStoreDescription}}
							</div>
							<div class="col-xs-2 reduce-padding text-align-center">
								{{item1.transferedBy}}
							</div>
							<div class="col-xs-1 reduce-padding text-align-center">
								{{item.code}}
							</div>
							<div class="col-xs-2 reduce-padding text-align-center">
								{{item.description}}
							</div>
							<div class="col-xs-1 reduce-padding text-align-center">
								{{item.quantity}}
							</div>
						</div>
					</div>
                    <hr class="hr-full">
                </div>
            </form>
        </div>
    </div>
</section>