<section class="main-page" data-ng-controller="SummaryAllReportsController">
    <div class="panel">
        <ul class="list-unstyled breadcrumb breadcrumb-btm-margin">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Departmentwise Summary Report</a></li>
        </ul>
        <div class="panel-body">
            <form class="form-horizontal" novalidate>
                <div class="col-xs-12 reduce-padding">

                    <div class="col-xs-3">
                        <label class="form-control-label">From Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" name="dt" class="form-control" ng-model="report.fromDate" >
						<label class="form-control-label">From Time<span class="optional-span">(Optional)</span></label>
                        <select class="form-control" ng-model="report.fromTime" >
                            <option ng-repeat="time in times" ng-value="time">{{time}}</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label class="form-control-label">To Date<span class="optional-span">(Optional)</span></label>
                        <input type="date" name="dt" class="form-control" ng-model="report.toDate">
						<label class="form-control-label">To Time<span class="optional-span">(Optional)</span></label>
                        <select class="form-control" ng-model="report.toTime" >
                            <option ng-repeat="time in times" ng-value="time">{{time}}</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                      <label class="form-control-label">Select Department<span class="optional-span">(Optional)</span></label>
                      <select class="form-control" ng-model="report.department" ng-change="getSpecificCategoriesReport()">
                          <option ng-repeat="department in departments" ng-value="department.category">{{department.name}}</option>
                      </select>
						<button  class="css-class btn btn-success export-csv-btn ng-isolate-scope" ng-click="btn_Apply()">Apply</button>
						&nbsp
						<button type="reset" class="css-class btn btn-success export-csv-btn ng-isolate-scope"  ng-click="From_Reset()">Reset</button>
                        &nbsp
                        <button ng-click="exportfile()" style="margin-top:25px;" type="button" class="css-class btn btn-success">Export</button>
						&nbsp
						<button ng-click="printreport()" class="css-class btn btn-success" style="margin-top:25px;">Print</button>
					</div>
                </div>


				<!--Get Invoice in Receipt Range-->
                 <div class="col-xs-12 reduce-padding">
                   <div class="col-sx-3">
                   </div>

                </div>

                <div class="col-lg-12 grid-top-margin">
                    <h5>Departmentwise Summary Report</h5>
                    <hr class="hr-full">
                    <br/>
                    <div class="col-xs-12 reduce-padding report-header">
						<div class="col-xs-2 text-align-center reduce-padding">
                          Date
                        </div>
                        <div class="col-xs-3 text-align-center reduce-padding">
                          Department
                        </div>
                        <div class="col-xs-2 reduce-padding text-align-center">
                          Qty
                        </div>
                        <div class="col-xs-2 reduce-padding text-align-center">
                          Total Revenue
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">

                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding search-row text-align-center">
                        <div class="col-xs-offset-6 col-xs-3 reduce-padding">
                            <!--<input class="input-field-border" type="text" ng-model="search.description" ></input>-->
                        </div>
                    </div>
                    <div class="col-xs-12" ng-show="sales.length === 0">
                        No Items Found
                    </div>
                    <div class="col-xs-12 reduce-padding" ng-repeat="item1 in sales">
						<div class="col-xs-12 reduce-padding report-row">

							<div class="col-xs-2 text-align-center reduce-padding">

							</div>
							<div class="col-xs-1 reduce-padding text-align-center">

							</div>
							<div class="col-xs-2 reduce-padding text-align-center">

							</div>
							<div class="col-xs-1 reduce-padding text-align-center">
								<span ng-show="item1.isReturn">-</span>{{item.quantity}}
							</div>
							<div class="col-xs-1 reduce-padding text-align-center">

							</div>
							<div class="col-xs-1 reduce-padding text-align-center">
								<span ng-show="item1.isReturn">-</span>
							</div>
						</div>
					</div>
                    <hr class="hr-full">

                </div>
                    <hr class="hr-full">

                </div>


                    <hr class="hr-full">
                </div>
            </form>
        </div>
    </div>
</section>
