<section class="doctor opd" data-ng-controller="DoctorAppointmentController">

    <div class="panel">
        <!-- <div class="panel-heading">
            <h3>Hospital</h3>
        </div> -->
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/doctor" class="active-page">Home</a></li>
        </ul>
        <div class="panel-body">
            <form name="appointment" class="form-horizontal" novalidate>
                <div class="col-xs-12" >
                    <h5>Appointments</h5>
                    <br>
                </div>
                <div class="col-xs-12">
                    <table class="table table-striped align-center grid-border-top">
                        <thead class="thead-default">
                            <tr>
                                <th></th>
                                <th class="align-center">Patient Name</th>
                                <th class="align-center">Phone No</th>
                                <th class="align-center">MR Number</th>
                                <th class="align-center click-cursor" ng-click="sortBy('date')">Date <i class="fa fa-sort"></i></th>
                                <th class="align-center click-cursor" ng-click="sortBy('time')">Appointment Slot <i class="fa fa-sort"></i></th>
								<th class="align-center click-cursor">Token#</th>
								<th class="align-center click-cursor">Status</th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            <tr class="search-row">
                                <td></td>
                                <td class="align-center"><input class="input-field-border" type="text" ng-model="search.patient_name"></input></td>
                                <td class="align-center"><input class="input-field-border" type="text" ng-model="search.phone"></input></td>
                                <td class="align-center"><input class="input-field-border" type="text" ng-model="search.mr_number"></input></td>
                                <td class="align-center"></td>
                                <td class="align-center"></td>
								<td class="align-center"></td>
								<td class="align-center"></td>
                            </tr>
                            <tr ng-repeat="appointment in appointmentData | filter:search | orderBy:propertyName:reverse" ng-click="selectAppointment(appointment)" class="clickable-row" ng-class="{ red: (appointment.appointment_status === 'Arrived'), green: (appointment.appointment_status === 'Confirmed')}"ng-hide="appointment.appointment_status==='Scheduled' || !appointment.mr_number">
                                <td></td>
                                <td>{{appointment.patient_name}}</td>
                                <td>{{appointment.phone}}</td>
                                <td>{{appointment.mr_number}}</td>
                                <td>{{appointment.appointment_date}}</td>
                                <td ng-show="appointment.time">{{appointment.time}}</td>
								<td ng-show="!appointment.time">Waiting-{{appointment.number_in_queue}}</td>
								<td>{{appointment.token_number}}</td>
								<td><span ng-show="appointment.appointment_status=='Arrived' && appointment.vitals_taken==true">Vitals Taken</span><span ng-show="appointment.appointment_status=='Arrived' && appointment.vitals_taken!=true">Arrived</span><span ng-show="appointment.appointment_status=='Confirmed'">Seen</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</section>