<section data-ng-controller="DoctorMainController" ng-init="managepatients = true;">
    <div class="panel opd">
        <div class="panel-heading">
            <div class="nav-tabs-horizontal">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" ng-class="{'nav-tab-selected': appointments}" ng-click="switchTabs('appointments')" ui-sref="doctor.appointments">Appointments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ng-class="{'nav-tab-selected': ipd}" ng-click="switchTabs('ipd')" ui-sref="doctor.ipd">IPD Patients</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div ui-view></div>
        </div>
    </div>
</section>