
<section class="nurse" data-ng-controller="MedicalOfficerController">
    <div class="panel">
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/nurse-home">Home</a></li>
            <li  class="active-page"><a href="#">Gynaecology History Form</a></li>
        </ul>
        <div class="panel-body">
            <form name="form" class="form-horizontal" novalidate>
                <div class="col-xs-12">
                    <div class="col-xs-12 reduce-padding">                      
                        <div class="col-xs-12">
                            <h5>Menstrual History</h5>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Age of menarche
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="age" ng-model="history.age" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Last menstrual Period
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="lastmens" ng-model="history.lastmenstrual" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Duration and Regularity
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="durationreg" ng-model="history.duration" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-4">                            
                                <label class="form-control-label">
                                    Flow
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <select class="form-control" ng-model="history.flow">
										  <option value="heavy">Heavy</option>
										  <option value="light">Light</option>
									</select>
                                </div>
                            </div>
                            <div class="col-xs-4">                            
                                <label class="form-control-label">
                                    Menopausal Symptoms<span class="optional-span">(Infrequent Periods / Menstrual Pain)</span>
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="menopause" ng-model="history.menopausal_symptoms" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Hormonal Contraceptives<span class="optional-span">(If postmenopausal)</span>
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="hormonal"  ng-model="history.hormonal" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12">
						<br>
                            <h5>Gynaecological History</h5>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Previous Cervical Smears <span class="optional-span">(When / Result / Treatment)</span>
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="precervical" ng-model="history.prev_smears" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Previous Gynecological Problems and Treatments
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <textarea name="pregyno" ng-model="history.prev_treatments" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Current Contraception
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="currentcontracep" ng-model="history.currentcontracep" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <h5>Obstetrics History</h5>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Current Pregnancy<span class="optional-span">(How many Weeks / Recent Scans)</span>
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <textarea type="text" name="curpregnancy" ng-model="history.curr_pregnancy" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                        <!-- Row 4 -->
                        <div class="col-xs-12">
						<br>
                            <h5>Gravidity</h5>
                            <div class="col-xs-12">                            	
                                <label class="form-control-label">
                                    Number of times a women has been pregnant, regardless of the outcome. 
                                </label>
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                   Parity - X =
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="parityx" ng-model="history.parityx" class="form-control">
                                   <span class="half-width-text">(Only live or still birth after 24 weeks)</span>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                   Parity - Y =
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="parityy" ng-model="history.parityy" class="form-control">
                                    <span class="half-width-text">(Number lost before 24 weeks)</span>
                                </div>
                            </div>
                        </div>

                        <!-- Row 5 -->
                        <div class="col-xs-12">
						<br>
                            <h5>Each Pregnancy</h5>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Complications <span class="optional-span">(Antinatal / Prenatal / Postnatal)</span>
                                </label>
                                <div class="col-xs-12 reduce-padding">
                                    <textarea type="text" name="complications" ng-model="history.complcations"class="form-control"></textarea>
                                    </div>                                   
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    No.of C-Sections
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="Number" name="csections" ng-model="history.csections" class="form-control">
                                    </div>
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Allergies
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="allergies" ng-model="history.allergies" class="form-control">
                                    </div>
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Current Age of Child
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="number" name="age" ng-model="history.currageofchild" class="form-control half-width-field">
                                    <span class="half-width-text">Years</span>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                   Birth Weight
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                <input type="number" name="weight" ng-model="history.birthweight" class="form-control half-width-field">
                                <span class="half-width-text">Kg</span>
                                <span class="col-xs-12 reduce-padding error">Please enter correct values</span>
                                    </div>
                            </div>
                        </div>


                    </div>

                    <!-- Bottom Navigation -->
                    <div class="col-xs-12">
                        <hr class="hr-inventory hr-full">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div ng-class="confirmationPopup">
                                    <div class="gray-container">
                                        <b>Are you sure?</b><br>
                                        This history will be deleted permanently.<br><br>
                                        <button class="btn btn-neutral" ng-click="hide_delete_popup()">Cancel</button>&nbsp;&nbsp;<button class="btn btn-danger" ng-click="confirm_delete_popup(formPurchaseRequisition)">Delete</button>
                                    </div>
                                    <div class="arrow-down-right"></div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-lg btn-success nav-btn" ng-click="update_purchase_requisition(purchaseRequisition, formPurchaseRequisition)" ng-disabled="itemsList.length == '0' || !formPurchaseRequisition.$valid" ng-show="UpdateItem">
                                    <span ng-hide="processing">Update</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                <button type="submit" class="btn btn-success btn-lg nav-btn" ng-click="submit(note, form)" ng-hide="UpdateItem">
                                    <span ng-hide="processing">Save</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                </button>
                                <button type="reset" class="btn btn-primary btn-lg nav-btn" ng-click="reset(form)">Clear</button>
                                <button type="submit" class="btn btn-lg btn-danger nav-btn" ng-click="delete_purchase_requisition()" ng-show="UpdateItem">Delete</button>
                            </div>
                        </div>
                    </div>
                </div> 
            </form>
        </div>
		
    </div>
</section>