<style>.ng-hide {display: none}</style>
<div style="font-family:Arial, Helvetica, sans-serif">
	<div style="height:70px;">
		<div style="float: left;">
			<img src="{{hospitallogo}}" height="70px" style="margin-right:20px;"/>
		</div>
		<div style="float: left;">
			<h1 style="text-align:left;margin-top:5px;font-size:16px;margin-bottom:0;color:#6f6d6d">{{hospitalname}}</h1>
			<p style="margin-top:5px;font-size:12px;color:#6f6d6d">{{hospitalAddress}}<br>
			Tel: {{hospitalPHNumber}}</p>
		</div>
		<div style="float:right;text-align:right;margin-top:5px;font-size:16px;color:#6f6d6d">
		<span style="font-size:18px;font-weight:bold">{{doctorDisplayName}}</span><br>
		{{qualification}}<br>
		{{speciality}}
		</div>
	</div>
	<table style="width:100%;font-size:12px;margin-top:15px;">
		<tr>
			<td style="width:50%">
				<label style="font-size: 12px;font-weight:bold;" ng-show="MRNo">
					MR Number
				</label> : {{MRNo}} <br>


				<label style="font-size: 12px;font-weight:bold;" ng-show="patientName">
					Patient Name
				</label> : {{patientName}} <br>
			</td>
			<td style="padding-left: 30px; text-align: right;">
				<label style="font-size: 12px;font-weight:bold;" ng-show="date">
					Date
				</label> : {{date | date:'dd-MM-yyyy'}} <br>
			</td>
		</tr>
	</table>

	<table ng-show="pref.printVitals" style="width:100%;font-size:12px;margin-top:15px;">
		<tr>
			<td style="width:30%">
				<span ng-show="notes.height">
				<label style="font-size: 12px;font-weight:bold;" >
					Height
				</label> : {{notes.height}} cm
				</span><br>

				<span ng-show="notes.weight">
				<label style="font-size: 12px;font-weight:bold;">
					Weight
				</label> : {{notes.weight}} Kg
				</span><br>

				<span ng-show="notes.temperature">
				<label style="font-size: 12px;font-weight:bold;">
					Temperature
				</label> : {{notes.temperature}} &#8457;
				</span><br>

				<span ng-show="notes.pulse">
				<label style="font-size: 12px;font-weight:bold;">
					Pulse
				</label> : {{notes.pulse}} per minute
				</span>
			</td>
			<td style="width:30%">
				<span ng-show="notes.systolicBP && notes.diastolicBP">
				<label style="font-size: 12px;font-weight:bold;">
					Blood Pressure
				</label> : {{notes.systolicBP}}/{{notes.diastolicBP}} mmHg
				</span><br>

				<span ng-show="notes.bloodSugar">
				<label style="font-size: 12px;font-weight:bold;">
					Blood Sugar
				</label> : {{notes.bloodSugar}} mg/dL
				</span><br>

				<span ng-show="notes.headcircumference">
				<label style="font-size: 12px;font-weight:bold;">
					Head Circumference
				</label> : {{notes.headcircumference}} cm
				</span><br>
			</td>
			<td></td>
		</tr>
	</table>

	<!-- Prescription Fields -->
	<div>

    <!-- Complaint, Diagnosis and Advice Fields -->
    <div style="font-size:12px;width: 100%;">
        <br>
        <label style="font-size: 12px;font-weight:bold;" ng-show="complaint">Presenting Complaint<br></label>
        {{complaint}}
        <label style="font-size: 12px;font-weight:bold;" ng-show="diagnosis">
            <br><br>Provisional Diagnosis<br>
        </label>
        {{diagnosis}}
        <label style="font-size: 12px;font-weight:bold;" ng-show="procedures">
            <br><br>Procedures Performed<br>
        </label>
        {{procedures}}

    </div>
    <!-- Lab Test Table -->
    <div style="width:100%;font-size:12px">
        <table style="width:100%;margin-bottom: 15px;margin-top:15px;" ng-hide="labTest[0].description===''">
            <thead>
                <tr>
                    <th style="text-align: left;border:1px solid #000;padding-left:10px;">Lab Test</th>
                    <th style="text-align: left;border:1px solid #000;padding-left:10px;">Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="test in labTest">
                    <td style="width:40%;padding-left:10px;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;">{{test.description}}</td>
                    <td style="padding-left:10px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{test.remarks}}</td>
                </tr>
            </tbody>
        </table>

        <table style="width:100%;margin-bottom: 15px;" ng-hide="radiology[0].description===''">
            <thead>
                <tr>
                    <th style="text-align: left;border:1px solid #000;padding-left:10px;">Diagnostics/Procedures</th>
                    <th style="text-align: left;border:1px solid #000;padding-left:10px;">Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="test in radiology">
                    <td style="width:40%;padding-left:10px;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;">{{test.description}}</td>
                    <td style="padding-left:10px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{test.remarks}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Medicine's Table-->
    <div>
        <table style="font-size:12px;width:100%;margin-top: 15px;text-align:center" ng-hide="medicines[0].name===''">
            <thead>
                <tr>
                    <th style="border: 1px solid #000;text-align: left;padding-left:10px;">Medicine</th>
                    <th style="border: 1px solid #000;width:50px;">Dosage</th>
                    <th style="border: 1px solid #000;width:200px;">Timing</th>
                    <th style="border: 1px solid #000;width:80px;" ng-show="medicines[0].meal">B/A Meal</th>
                    <th style="border: 1px solid #000;width:50px;">Days</th>
					<th style="border: 1px solid #000;">Instructions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="medicine in medicines">
                    <td>
						{{medicine.name}}
					</td>
					<td>
						{{medicine.dosage}}
					</td>
                    <td>
						<span ng-show="!pref.timingEnglish">
							<span ng-show="medicine.timing==='od'">
								صبح
							</span>
							<span ng-show="medicine.timing==='bd'">
								صبح  +  شام
							</span>
							<span ng-show="medicine.timing==='tds'">    صبح + دوپہر + شام
							</span>
							<span ng-show="medicine.timing==='qid'">    صبح + دوپہر + شام + رات
							</span>
							<span ng-show="medicine.timing==='sos'">    حسب ضرورت
							</span>
							<span ng-show="medicine.timing==='prn'">    حسب ضرورت
							</span>
							<span ng-show="medicine.timing==='q4hourly'">    ہر چار گھنٹے کے بعد
							</span>
							<span ng-show="medicine.timing==='hs'">
								سوتے وقت
							</span>
							 <span ng-show="medicine.timing==='stat'">  فوراً
							 </span>
						</span>
						<span ng-show="pref.timingEnglish">
							<span ng-show="medicine.timing==='od'">
								Morning
							</span>
							<span ng-show="medicine.timing==='bd'">
								Morning  +  Evening
							</span>
							<span ng-show="medicine.timing==='tds'">    Morning + Noon + Evening
							</span>
							<span ng-show="medicine.timing==='qid'">    Morning + Noon + Evening + Night
							</span>
							<span ng-show="medicine.timing==='sos'">    As Required
							</span>
							<span ng-show="medicine.timing==='prn'">    As Required
							</span>
							<span ng-show="medicine.timing==='q4hourly'">    After every 4 hours
							</span>
							<span ng-show="medicine.timing==='hs'">
								Before Sleeping
							</span>
							 <span ng-show="medicine.timing==='stat'">  Immediately
							 </span>
						</span>
                    </td>
					<td ng-show="pref.mealOptions">
						<span ng-show="!pref.timingEnglish">
							<span ng-show="medicine.meal ==='bm'">
								کھانے سے پہلے
							</span>
							<span ng-show="medicine.meal ==='am'">
								کھانے کے بعد
							</span>
						</span>
						<span ng-show="pref.timingEnglish">
							<span ng-show="medicine.meal ==='bm'">
								Before Meal
							</span>
							<span ng-show="medicine.meal ==='am'">
								After Meal
							</span>
						</span>

					</td>
					<td>
					   {{medicine.days}}
					</td>
					<td>
					   {{medicine.instructions}}
					</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Medicine Instructions and Personal Note-->
    <div style="font-size:12px">

        <label style="font-size: 12px;font-weight:bold;" ng-show="instructions"><br>Medicine Instructions<br></label>
        {{instructions}}
        <br>

    </div>
    <div style="font-size:12px;width: 100%;">
        <br>
        <label style="font-size: 12px;font-weight:bold;" ng-show="advice">
            <br><br>Advice/History<br>
        </label>
        {{advice}}
    </div>
	<div ng-show="followupDate">
		<label style="font-size: 12px;font-weight:bold;">Follow Up Date</label> : {{followupDate.substr(0,followupDate.length-12)}}
	</div>

</div>
</div>
