<section class="prescriptionPref" data-ng-controller="PrescriptionPrefrencesController">
    <div class="row">
        <!-- <div class="col-xs-12">
            <div class="panel inventories-pricing">
                
                
                <div class="panel-body">
                    <form name="appointment" class="form-horizontal" novalidate>
                        
                    </form>
                </div>
            </div>
        </div> -->
        <div class="col-xs-12">
            <ul class="list-unstyled breadcrumb">
                <li><a href="/#!/doctor">Home</a></li>
                <li><a href="/#!/prescriptionPref" class="active-page">Prescription Preferences</a></li>
            </ul>
        </div>

        <!-- Patient Info And History -->
        <div class="col-lg-4">
            
            <section class="panel">
                
                <div class="panel-heading">
                    <h3>Prescription Prefrences</h3>
                </div>
                <div class="panel-body">

                    <form name="form" class="form-horizontal" novalidate>
                        
                
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="logo" checked="" ng-model="pref.logo">
                                Display logo on prescription print.
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="advice" checked="" ng-model="pref.advice">
                                Display advice section.
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="complaint" checked="" ng-model="pref.complaint">
                                Display complaint section.
                            </label>
                        </div>
                       <div class="checkbox">
                            <label>
                                <input type="checkbox" name="diagnosis" checked="" ng-model="pref.diagnosis">
                                Display diagnosis section.
                            </label>
                        </div>
                       <div class="checkbox">
                            <label>
                                <input type="checkbox" name="procs" checked="" ng-model="pref.proceduresPerformed">
                                Display procedures performed section.
                            </label>
                        </div>								
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="med" checked="" ng-model="pref.medInstructions">
                                Display medicine instructions section.
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="personalnotes" checked="" ng-model="pref.personalNotes">
                                Display personal notes section.
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="meal" checked="" ng-model="pref.mealOptions">
                                Display before/after meal option
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="timing" checked="" ng-model="pref.timingEnglish">
                                Display medicine timing in english
                            </label>
                        </div>
                       <div class="checkbox">
                            <label>
                                <input type="checkbox" name="vitals" checked="" ng-model="pref.printVitals">
                                Display vitals on prescription print
                            </label>
                        </div>						
                        <div class="col-xs-9 reduce-padding">
                            <label class="form-control-label">Prescription margin from top in print</label>
                            <input class="form-control margin-top-input" type="number" min="0" ng-model="pref.precrPadTop" name="incText"><span class="margin-top-unit">Inches</span>
                        </div>

                        <!-- Navigation Buttons -->
                        <div class="col-xs-12 reduce-padding">
                    
                            <!-- Update Button -->
                            <div class="btn-align">
                                <button  type="submit" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="submit(pref)" ng-disabled="pref.precrPadTop<0 || pref.precrPadTop===undefined">
                                <span ng-hide="processing">Update</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                            </div>
                             
                        </div>
                    </form>
                </div>
                
                
                
            </section>
        </div>

        <!-- New Precription -->
        <div class="col-lg-8">
            <section class="panel">
                <form name="form" class="form-horizontal" novalidate>
                    <!-- Panel Heading -->
                    <div class="panel-heading">
                        <h3>Print Preview</h3>
                    </div>
                    <hr class="hr-full set-margin">
                    <!-- Prescription Fields -->
                    <div class="panel-body" style="margin-top: {{pref.precrPadTop*72}}px">
                        

                        <img class="hospital-logo" src="../modules/core/img/logo.png" alt="Hospital logo" width="130px" ng-show="pref.logo">
                        
                        <div class="col-xs-12 doc-patient-info">
                            <div class="col-xs-6 reduce-padding">
                                <div class="patient-info-headings">
                                    Patient Name
                                </div>
                                <div>
                                    Test Name
                                </div>
                                <div class="patient-info-headings">
                                    MR Number
                                </div>
                                <div>
                                    67578978
                                </div>
                                <div class="patient-info-headings">
                                    Phone Number
                                </div>
                                <div>
                                    0323-5675443
                                </div>
                                
                            </div>
                            <div class="col-xs-6 reduce-padding doctor-info">
                                <div class="patient-info-headings">
                                    Doctor Name
                                </div>
                                <div>
                                    Test Name
                                </div>
                                <div class="patient-info-headings">
                                    Specialist
                                </div>
                                <div>
                                    Orthopaedic Surgen
                                </div>
                                <div class="patient-info-headings">
                                    Visit Date
                                </div>
                                <div>
                                    12-7-2016
                                </div>
                            </div>
                        </div>
						<br>
						<div class="col-xs-12 " ng-show="pref.printVitals">
							<div class="col-xs-2 reduce-padding">
								<span  class="form-control-label">Height</span><br>150 cm
							</div>
							<div class="col-xs-2 reduce-padding">
								<span class="form-control-label">Weight</span><br>80 KG
							</div>
							
							<div class="col-xs-2 reduce-padding" >
								<span class="form-control-label">Temperature</span><br>97 &#8457; 
							</div>
							<div class="col-xs-2 reduce-padding">
								<span class="form-control-label">Pulse</span><br>72 per minute
							</div>
						</div>
						<br>
						<div class="col-xs-12 " ng-show="pref.printVitals">
							<div class="col-xs-2 reduce-padding">
								<span class="form-control-label">Blood Pressure</span><br>120/80 mmHg
							</div>
							<div class="col-xs-2 reduce-padding">
								<span class="form-control-label">Pulse Oximetry</span><br>11 spO2
							</div>
							<div class="col-xs-2 reduce-padding">
								<span class="form-control-label">Blood Sugar</span><br>121 mg/dL
							</div>
							<div class="col-xs-2 reduce-padding">
								<span class="form-control-label">Head Circumference</span><br>5.5 cm
							</div>
						</div>
					
                        <!-- Complaint, Diagnosis and Advice Fields -->
                        <div class="col-xs-12 reduce-padding">
                            <div class="col-xs-6" ng-show="pref.complaint">
                                <label class="form-control-label">Presenting Complaint</label>
                                <div class="text-area-border">
                                    Sore throat , breathing problem.  
                                </div>
                            </div>
                            <div class="col-xs-6" ng-show="pref.diagnosis">
                                <label class="form-control-label">Provisional Diagnosis</label>
                                <div class="text-area-border">
                                    This is becasue of weather and viral infection. 
                                </div>
                            </div>
                            <div class="col-xs-6" ng-show="pref.advice">
                                <div>
                                    <label class="form-control-label">Advice<span class="optional-span">(Optional)</span></label>
                                    <div class="text-area-border">
                                        Dont take rise,cold drinks etc. 
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6" ng-show="pref.proceduresPerformed">
                                <label class="form-control-label">Procedures Performed</label>
                                <div class="text-area-border">
                                    Minor surgery on hand. 
                                </div>
                            </div>							
                        </div>

                        <!-- Medicine's Table-->
                        <div class="col-xs-12 table-top-margin">
                            <table class="table table-striped align-center grid-border-top reduce-margin-btm">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>Medicine</th>
                                        <th>Dosage</th>
                                        <th>Timing</th>
                                        <th ng-show="pref.mealOptions">B/A Meal</th>
                                        <th>Days</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Brufen</td>
                                        <td>1</td>
                                        <td>OD</td>
                                        <td ng-show="pref.mealOptions">After</td>
                                        <td>5</td>                     
                                    </tr>
                                    <tr>
                                        <td>Entamizole</td>
                                        <td>1</td>
                                        <td>OD</td>
                                        <td ng-show="pref.mealOptions">After</td>
                                        <td>5</td>                        
                                    </tr>
                                    <tr>
                                        <td>Panadol</td>
                                        <td>1</td>
                                        <td>OD</td>
                                        <td ng-show="pref.mealOptions">After</td>
                                        <td>5</td>                          
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Medicine Instructions and Personal Note-->
                        <div class="col-xs-12 reduce-padding">
                            <div class="col-xs-6" ng-show="pref.medInstructions">
                                <label class="form-control-label">Medicine Instructions<span class="optional-span">(Optional)</span></label>
                                <div class="text-area-border">
                                    Complete the course of antibiotics 
                                </div>
                            </div>
                            <div class="col-xs-6" ng-show="pref.personalNotes">
                                <div>
                                    <label class="form-control-label">Personal Notes<span class="optional-span">(Optional)</span></label>
                                    <div class="text-area-border">
                                    Do regular exercise. 
                                    </div>
                                </div>
                            </div>    
                        </div>

                        <!-- Lab Test Table -->
                        <div class="col-xs-6 table-top-margin">
                            <table class="table table-striped align-center grid-border-top">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>Lab Test</th>
                                        <th>Remarks</th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Wheat Alergy
                                        </td>
                                        <td>
                                            Please get it done from a good laboratory
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Radiology Test Table -->
                        <div class="col-xs-6 table-top-margin">
                            <table class="table table-striped align-center grid-border-top">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>Radiology Test</th>
                                        <th>Remarks</th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr> 
                                        <td>
                                            magnetic resonance imaging (MRI)
                                        </td>
                                        <td>
                                            get done fast
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        
                    </div>
                </form>
            </section>
        </div>
    </div>
    
</section>