<section class="prescription" data-ng-controller="PrescriptionController">

    <!-- Popup -->

    <div class="purchase-requisition-list " ng-show="prescriptionPreview">
        
        <!-- Close button -->

        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="prescriptionPreview = false;" ng-hide="oldPrescriptionSelected"></button>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="reset()" ng-show="oldPrescriptionSelected || radiologySelected"></button>
        </div>

        <!-- Item List Popup -->

        <div class="popup-preview" style="width:850px" ng-show="prescriptionPreview">
            <form name="form" class="form-horizontal" novalidate>
                    <!-- Panel Heading -->
                    <div class="panel-heading">
                        <h3>Prescription Preview</h3>
                    </div>

                    <!-- Prescription Fields -->
                    <div class="panel-body">
                        
                        <!-- Complaint, Diagnosis and Advice Fields -->
                        <div class="col-xs-12 reduce-padding">
                            <div class="col-xs-6" ng-show="pref.diagnosis">
                                <div>
                                    <label class="form-control-label">Provisional Diagnosis</label>
                                    <div class="text-border">
                                        {{prescription.diagnosis}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6"  ng-show="prescription.procedures">
								<label class="form-control-label">Procedures Performed</label>
								<div class="text-border">
									{{prescription.procedures}}
								</div>
                            </div>							
                            <div class="col-xs-6" ng-show="prescription.complaint">
                                <label class="form-control-label">Complaint<span class="optional-span">(Optional)</span></label>
                                <div class="text-border">
                                    {{prescription.complaint}}
                                </div>
                            </div>														
                            <div class="col-xs-12" ng-show="prescription.advice">
                                <label class="form-control-label">Advice/History<span class="optional-span">(Optional)</span></label>
                                <div class="text-border">
                                    {{prescription.advice}}
                                </div>
                            </div> 
                        </div>

                        <!-- Medicine's Table-->
                        <div class="col-xs-12 table-top-margin">
                            <table class="table table-striped align-center grid-border-top reduce-margin-btm" ng-show="prescription.medicines[0].name!==''">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>Medicine</th>
                                        <th>Dosage</th>
                                        <th>Timing</th>
                                        <th ng-show="pref.mealOptions">B/A Meal</th>
                                        <th>Days</th>
										<th>Instructions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="medicine in prescription.medicines">
                                        <td>
                                            {{medicine.name}}
                                        </td>
                                        <td>
                                            {{medicine.dosage}}
                                        </td>
                                        <td>
											<span ng-show="!pref.timingEnglish">
												<span ng-show="medicine.timing==='od'">
													صبح
												</span>
												<span ng-show="medicine.timing==='bd'">
													صبح  +  شام
												</span>
												<span ng-show="medicine.timing==='tds'">    صبح + دوپہر + شام
												</span>
												<span ng-show="medicine.timing==='qid'">    صبح + دوپہر + شام + رات
												</span>
												<span ng-show="medicine.timing==='sos'">    حسب ضرورت
												</span>
												<span ng-show="medicine.timing==='prn'">    حسب ضرورت
												</span>
												<span ng-show="medicine.timing==='q4hourly'">    ہر چار گھنٹے کے بعد
												</span>
												<span ng-show="medicine.timing==='hs'">
													سوتے وقت
												</span>
												 <span ng-show="medicine.timing==='stat'">  فوراً
												 </span>
											</span>
											<span ng-show="pref.timingEnglish">
												<span ng-show="medicine.timing==='od'">
													Morning
												</span>
												<span ng-show="medicine.timing==='bd'">
													Morning  +  Evening
												</span>
												<span ng-show="medicine.timing==='tds'">    Morning + Noon + Evening
												</span>
												<span ng-show="medicine.timing==='qid'">    Morning + Noon + Evening + Night
												</span>
												<span ng-show="medicine.timing==='sos'">    As Required
												</span>
												<span ng-show="medicine.timing==='prn'">    As Required
												</span>
												<span ng-show="medicine.timing==='q4hourly'">    After every 4 hours
												</span>	
												<span ng-show="medicine.timing==='hs'">
													Before Sleeping
												</span>
												 <span ng-show="medicine.timing==='stat'">  Immediately
												 </span>
											</span>											
                                        </td>
                                        <td ng-show="pref.mealOptions">
											<span ng-show="!pref.timingEnglish">
												<span ng-show="medicine.meal ==='bm'">
													کھانے سے پہلے
												</span>
												<span ng-show="medicine.meal ==='am'">
													کھانے کے بعد
												</span>
											</span>
											<span ng-show="pref.timingEnglish">
												<span ng-show="medicine.meal ==='bm'">
													Before Meal
												</span>
												<span ng-show="medicine.meal ==='am'">
													After Meal
												</span>
											</span>											
                                        </td>
                                        <td>
                                            {{medicine.days}}
                                        </td>
                                        <td>
                                            {{medicine.instructions}}
                                        </td>										
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Medicine Instructions and Personal Note-->
                        <div class="col-xs-12 reduce-padding">
                            <div class="col-xs-6" ng-show="pref.medInstructions && prescription.instructions">
                                <label class="form-control-label">Medicine Instructions<span class="optional-span">(Optional)</span></label>
                                <div class="text-border">
                                    {{prescription.instructions}}
                                </div>
                            </div>
                            <div class="col-xs-6" ng-show="prescription.notes && pref.personalNotes">
                                <div>
                                    <label class="form-control-label">Personal Notes<span class="optional-span">(Optional)</span></label>
                                    <div class="text-border">
                                        {{prescription.notes}}
                                    </div>
                                </div>
                            </div>    
                        </div>

                        <!-- Lab Test Table -->
                        <div class="col-xs-6 table-top-margin" ng-show="prescription.labTest[0].description!==''">
                            <table class="table table-striped align-center grid-border-top">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>Lab Test</th>
                                        <th>Remarks</th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr ng-repeat="test in prescription.labTest">
                                        <td>
                                            <div class="text-border">
                                                {{test.description}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-border">
                                                {{test.remarks}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Radiology Test Table -->
                        <div class="col-xs-6 table-top-margin">
                            <table class="table table-striped align-center grid-border-top"  ng-show="prescription.radiology[0].description!==''">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>Diagnostics / Procedures</th>
                                        <th>Remarks</th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr ng-repeat="test in prescription.radiology">
                                        
                                        <td>
                                            <div class="text-border">
                                                {{test.description}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-border">
                                                {{test.remarks}}
                                            </div>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Navigation Buttons -->
                        <div class="col-xs-12">
                            <div class="sms-reminder">
                                <label class="form-control-label">Medicine Sms Reminder</label>
                                <select class="form-control" ng-options="o.value as o.label for o in options" ng-model="prescription.medicineReminder" ng-disabled="true">
                                </select>
                            </div>
                            <div class="followup-date">
                                <label class="form-control-label">Follow Up</label>
                                <div ng-hide="prescription.followupDate">Not needed</div>
                                <input class="form-control" type="date" ng-model="prescription.followupDate" ng-disabled="true" ng-show="prescription.followupDate">
                            </div>
                            
                            <!-- Save Button -->
                            <div class="btn-align">
                               
                                <button type="button" class="btn btn-lg nav-btn btn-primary btn-success" ng-click="submit(prescription,form)" ng-disabled="form.$invalid || !prescription.medicines.length>1" ng-hide="oldPrescriptionSelected">
                                    <span ng-hide="processing">Save & Print</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                            </div>

                            <!-- Print Button -->
                            <div class="btn-align">
                               
                                <button type="button" class="btn btn-lg nav-btn btn-primary btn-success" ng-click="print(prescription,form)" ng-show="oldPrescriptionSelected">
                                    <span ng-hide="processing">Print</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                            </div>
            
                        </div>
                    </div>
                </form>
        </div>
    </div>
	
   <div class="purchase-requisition-list " ng-show="radiologyPreview">
        
        <!-- Close button -->

        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="reset()" ng-show="radiologySelected"></button>
        </div>
	
	<div class="popup-preview" ng-show="radiologyPreview" style="width:815px;height600px;">

		<div style="margin : 20px 10px; bottom: 0; float: left; width: 774px;color:#ffffff;">
		<div style="float: left; width: 774px;color: #000000;">
			<table style="width : 100%;  border: 1px solid #c0c0c0; border-collapse: collapse; text-align: left;">
			<col width="130">
			<col width="40">
			<col width="30">
					<th style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Name:  {{patient_info.patient_name}}</strong></th>
					<th style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;" colspan="2"><strong>Date:  {{radiologytest.date | date:'dd-MM-yyyy'}}</strong></th>
				<tr style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>MR No:  {{patient_info.mr_number}}</strong></td>
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Age: {{patient_info.age}} Y</strong></td>
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Sex: {{patient_info.gender}}</strong></td>
				</tr>
				<tr style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;" colspan="3"><strong>Referred By:   </strong></td>
				</tr>			
			</table>
		</div>
			<div style="color: #000000; float: left; width: 774px;">
				<h3 style="text-decoration: underline; font-size: 28px; margin-bottom: 60px; text-align: center;text-decoration: underline;">{{radiologytest.title}} </h3>
				
				<div ng-repeat="section in radiologytest.testSections">
				<h4 style="text-align: left; margin-bottom: 0px;text-decoration: underline;">{{section.heading}}</h4>
				<div ng-model="txt" style="white-space:pre;margin-top:20px;font-family:Arial, Helvetica, sans-serif;background-color:#fff;border:none;color: #000000;" >{{section.sectionText}}</div>
				</div>
			</div> 
			<div style="white-space:pre;color: #000000; margin-top: 50px;font-weight:bold; float: right;">{{test.radiologistSignature}}</div> 
		</div>
	</div>
</div>

   <div class="purchase-requisition-list " ng-show="notesPreview">
        
        <!-- Close button -->

        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="reset()" ng-show="notesSelected"></button>
        </div>
	
	<div class="popup-preview" ng-show="notesPreview" style="width:450px;height420px;">

		<div style="margin : 20px 10px; bottom: 0; float: left; width: 380px;color:#ffffff;">
		<div style="float: left; width: 400px;color: #000000;">
			<table style="width : 100%;  border: 1px solid #c0c0c0; border-collapse: collapse; text-align: left;">
					<th style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Name:  {{patient_info.patient_name}}</strong></th>
					<th style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Date:  {{selectednotes.created | date:'dd-MM-yyyy'}}</strong></th>
					<tr style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
						<th style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>MR No:  {{patient_info.mr_number}}</strong></th>
						<th style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Time:  {{selectednotes.created | date:'hh:mm a'}}</strong></th>
					</tr>						
			</table>
		</div>
			<div style="color: #000000; float: left; width: 420px;">				
				<table style="width : 100%;  border: 1px solid #c0c0c0; border-collapse: collapse; text-align: left;">
                <tr ng-show="selectednotes.reason" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
                <td colspan="2" style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Reason for Coming</strong></td>
                </tr>
                <tr ng-show="selectednotes.reason" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
                    <td colspan="2" style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;">{{selectednotes.reason}}</td>
                </tr>
				<tr ng-show="selectednotes.height" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Height</strong></td>
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;">{{selectednotes.height}} cm</td>
				</tr>
				<tr ng-show="selectednotes.weight" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Weight</strong></td>
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;">{{selectednotes.weight}} KG</td>
				</tr>
				<tr ng-show="selectednotes.temperature" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Temperature</strong></td>
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;">{{selectednotes.temperature}} &#8457;</td>
				</tr>
				<tr ng-show="selectednotes.pulse" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Pulse</strong></td>
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;">{{selectednotes.pulse}} per minute</td>
				</tr>	
				<tr ng-show="selectednotes.systolicBP" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Blood Pressure</strong></td>
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;">{{selectednotes.systolicBP}}/{{notes.diastolicBP}} mmHg</td>
				</tr>
				<tr  ng-show="selectednotes.pulseOximetry" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Pulse Oximtery</strong></td>
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;">{{selectednotes.pulseOximetry}} spO2</td>
				</tr>
				<tr ng-show="selectednotes.respiratoryRate" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Respiratory Rate</strong></td>
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;">{{selectednotes.respiratoryRate}} per minute</td>
				</tr>
				<tr ng-show="selectednotes.bloodSugar" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Blood Sugar (Random)</strong></td>
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;">{{selectednotes.bloodSugar}} mg/dL</td>
				</tr>
				<tr ng-show="selectednotes.headcircumference" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Head Circumference</strong></td>
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;">{{selectednotes.headcircumference}} cm</td>
				</tr>
                <tr ng-show="selectednotes.smoking && isDentist" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
                    <td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Smoking</strong></td>
                    <td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;">{{selectednotes.smoking}}</td>
                </tr>
                <tr ng-show="selectednotes.hr" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
                    <td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>HR</strong></td>
                    <td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;">{{selectednotes.hr}} BPM</td>
                </tr>
				<tr ng-show="selectednotes.remarks" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
					<td colspan="2" style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Remarks</strong></td>
				</tr>
                <tr ng-show="selectednotes.remarks" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
                    <td colspan="2" style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;">{{selectednotes.remarks}}</td>
                </tr>
                <tr ng-show="selectednotes.extraorals || selectednotes.extraoral.other" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
                    <td colspan="2" style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Extraoral</strong></td>
                </tr>
                <tr ng-show="selectednotes.extraorals" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
                    <td colspan="2" style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;">{{selectednotes.extraorals}}</td>
                </tr>
                <tr ng-show="selectednotes.extraoral.other" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
                    <td colspan="2" style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;">{{selectednotes.extraoral.otherreason}}</td>
                </tr>
                <tr ng-show="selectednotes.intraorals || selectednotes.intraoral.other" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
                    <td colspan="2" style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Intraoral</strong></td>
                </tr>
                <tr ng-show="selectednotes.intraorals" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
                    <td colspan="2" style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;">{{selectednotes.intraorals}}</td>
                </tr>
                <tr ng-show="selectednotes.intraoral.other" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
                    <td colspan="2" style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;">{{selectednotes.intraoral.otherreason}}</td>
                </tr>
                <tr ng-show="selectednotes.patientHistory" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
                    <td colspan="2" style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Patient History</strong></td>
                </tr>
                <tr ng-show="selectednotes.patientHistory" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
                    <td colspan="2" style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;">{{selectednotes.patientHistory}}</td>
                </tr>
                <tr ng-show="selectednotes.medicalConditions" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
                    <td colspan="2" style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Medical Conditions</strong></td>
                </tr>
                <tr ng-show="selectednotes.medicalConditions" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
                    <td colspan="2" style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;">{{selectednotes.medicalConditions}}</td>
                </tr>
                <tr ng-show="selectednotes.medications" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
                    <td colspan="2" style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Medications</strong></td>
                </tr>
                <tr ng-show="selectednotes.medications" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
                    <td colspan="2" style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;">{{selectednotes.medications}}</td>
                </tr>
                <tr ng-show="selectednotes.allergies" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
                    <td colspan="2" style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Allergies</strong></td>
                </tr>
                <tr ng-show="selectednotes.allergies" style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
                    <td colspan="2" style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;">{{selectednotes.allergies}}</td>
                </tr>			
			</table>
			</div>
             
		</div>
	</div>
</div>

   <div class="purchase-requisition-list" ng-show="labtestPreview">
        
        <!-- Close button -->

        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="reset()" ng-show="labSelected"></button>
        </div>
	
	<div class="popup-preview" ng-show="labtestPreview" style="width:815px;height:700px;">

		<div style="margin : 20px 10px; bottom: 0; float: left; width: 774px;color:#ffffff;">
		<div style="float: left; width: 774px;color: #000000;">
			<table style="width : 100%;  border: 1px solid #c0c0c0; border-collapse: collapse; text-align: left;">
			<col width="130">
			<col width="40">
			<col width="30">
					<th style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>Name: <br> {{patient_info.patient_name}}</strong></th>
					<th style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;" colspan="2"><strong>Date:  {{selectedlabtest.date | date:'dd-MM-yyyy'}}</strong></th>
				<tr style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;"><strong>MR No:  {{patient_info.mr_number}}</strong></td>
		
				</tr>
				<tr style="font-size : 16px; border: 1px solid #c0c0c0; border-collapse: collapse;">
					<td style="padding: 10px; border: 1px solid #c0c0c0; border-collapse: collapse;" colspan="3"><strong>Referred By:   </strong></td>
				</tr>			
			</table>
		</div>
			<div style="color: #000000; float: left; width: 774px;">
				<h3 style="text-decoration: underline; font-size: 28px; margin-bottom: 60px; text-align: center;text-decoration: underline;">{{selectedlabtest.description}} </h3>
                <!-- <img ng-src="{{selectedlabtest.reportUrl}}"></img> -->
                <table style="margin-top: 20px;width: 100%;width: 100%;">
                    <tbody ng-repeat="test in selectedlabtest.tests[selectedlabtest.tests.length - 1].subTests" ng-if="test.resultValue || test.reference.isSubHeading">
                      <tr ng-show="test.reference.expectedValue.toLowerCase() === 'comment'">
                        <td style="background-color: #e0e0e0;text-align:justify;padding: 5px 10px" colspan="4">
                          <p><b><u>{{test.reference.valueDescription}}</u>: </b>
                          {{test.resultValue}}</p>
                        </td>
                      </tr>
                      <tr ng-show="test.reference.isSubHeading">
                        <td style="text-align:left;padding-left: 5px;padding-right: 5px;padding-top: 0px;padding-bottom: 0px;" ng-style="!test.reference.isSubHeading && {'display':'none'}" colspan="4">
                          <h3><span style="border-bottom: 1px solid #000;"><b>{{test.reference.valueDescription}}</b></span></h3>
                        </td>
                      </tr>
                      <tr ng-if="test.reference.expectedValue.toLowerCase() !== 'comment' && !test.reference.isSubHeading" ng-hide="!selectedlabtest.tests[selectedlabtest.tests.length - 1].subTests[$index-1].reference.isSubHeading && $index !== 0 && selectedlabtest.tests[selectedlabtest.tests.length - 1].subTests[$index-1].reference.expectedValue.toLowerCase() !== 'comment'">
                        <th style="text-align: left;padding-right: 5px;width:35%;">
                          <span style="border-bottom: 1px solid #000;">Test Name</span>
                        </th>
                        <th style="text-align:left;width:20%;">
                          <span style="border-bottom: 1px solid #000;">Result</span></th>
                        <th style="text-align:left;width:20%;">
                          <span style="border-bottom: 1px solid #000;">Unit</span></th>
                        <th style="text-align:left;width:25%;">
                          <span style="border-bottom: 1px solid #000;">Reference Range</span>
                        </th>
                      </tr>
                      <tr ng-show="test.reference.expectedValue.toLowerCase() !== 'comment' && !test.reference.isSubHeading">
                        <td style="text-align:left;padding-left: 5px;padding-right: 5px;" ng-hide="test.reference.isSubHeading" ng-style="test.reference.isSubHeading && {'display':'none'}">{{test.reference.valueDescription}}</td>
                        <td style="text-align:left;padding-left: 5px;padding-right: 5px;" ng-hide="test.reference.isSubHeading" ng-style="test.reference.isSubHeading && {'display':'none'}"><b>{{test.resultValue}}</b></td>
                        <td style="text-align:left;padding-left: 5px;padding-right: 5px;" ng-hide="test.reference.isSubHeading" ng-style="test.reference.isSubHeading && {'display':'none'}">{{test.reference.unit}}</td>
                        <td style="text-align:left;padding-left: 5px;padding-right: 5px;" ng-hide="test.reference.isSubHeading" ng-style="test.reference.isSubHeading && {'display':'none'}">
                          <span ng-show="!test.reference.valueDetails">
                            <span ng-show="test.reference.minValue && test.reference.maxValue">
                              {{test.reference.minValue + ' - ' + test.reference.maxValue}}
                            </span>
                            <span ng-show="test.reference.minValue && !test.reference.maxValue">
                              {{'> ' + test.reference.minValue}}
                            </span>
                            <span ng-show="!test.reference.minValue && test.reference.maxValue">
                              {{'< ' +test.reference.maxValue}}
                                      </span>
                                      <span ng-hide="test.reference.isRange">
                                          {{test.reference.expectedValue}}
                                      </span>
                                  </span>
                                  <span ng-show="test.reference.valueDetails">
                                      <pre>{{test.reference.valueDetails}}</pre>
                                  </span>
                                  <!-- {{test.reference.minValue + ' - ' + test.reference.maxValue}} -->
                        </td>
                      </tr>
                    </tbody>
                  </table>

			</div> 
		</div>
	</div>
</div>

    <!--Popup End -->
    <div class="row">
        
        <div class="col-xs-12">
            <ul class="list-unstyled breadcrumb">
                <li><a href="/#!/doctor">Home</a></li>
                <li><a href="/#!/prescription" class="active-page">Prescription</a></li>
            </ul>
        </div>

        <!-- Patient Info And History -->
        <div class="col-lg-4">
            
            <section class="panel">
                
                <div class="panel-heading">
                    <h3>Patient Info</h3>
                </div>
                <div class="panel-body">
                    <div class="col-xs-6 reduce-padding">
                        <div class="patient-info-headings">
                            Patient Name
                        </div>
                        <div>
                            {{patient_info.patient_name}}
                        </div>
                    </div>
                    <div class="col-xs-6 reduce-padding">
                        <div class="patient-info-headings">
                            MR Number
                        </div>
                        <div>
                            {{patient_info.mr_number}}
                        </div>
                    </div>
                    <div class="col-xs-6 reduce-padding">
                        <div class="patient-info-headings">
                            Phone Number
                        </div>
                        <div>
                            {{patient_info.phone}}
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding" ng-show="notes">
                        <form class="form-horizontal" novalidate>
                            <div class="col-xs-12 reduce-padding">
                                <h5>Patient Vitals</h5>
                            </div>
                        </form>
                        <div class="col-xs-12 reduce-padding" ng-show="notes.reason">
                            <span class="patient-info-headings">Reason for Coming</span><br>{{notes.reason}}
                        </div>
                        <div class="col-xs-6 reduce-padding" ng-show="notes.height">
                            <span  class="patient-info-headings">Height</span><br>{{notes.height}} cm
                        </div>
                        <div class="col-xs-6 reduce-padding" ng-show="notes.weight">
                            <span class="patient-info-headings">Weight</span><br>{{notes.weight}} KG
                        </div>
                        
                        <div class="col-xs-6 reduce-padding" ng-show="notes.temperature">
                            <span class="patient-info-headings">Temperature</span><br>{{notes.temperature}} &#8457;
                        </div>
                        <div class="col-xs-6 reduce-padding" ng-show="notes.pulse">
                            <span class="patient-info-headings">Pulse</span><br>{{notes.pulse}} per minute
                        </div>
                        <div class="col-xs-6 reduce-padding" ng-show="notes.systolicBP && notes.diastolicBP">
                            <span class="patient-info-headings">Blood Pressure</span><br>{{notes.systolicBP}}/{{notes.diastolicBP}} mmHg
                        </div>
                        <div class="col-xs-6 reduce-padding" ng-show="notes.pulseOximetry">
                            <span class="patient-info-headings">Pulse Oximetry</span><br>{{notes.pulseOximetry}} spO2
                        </div>
                        <div class="col-xs-6 reduce-padding" ng-show="notes.respiratoryRate">
                            <span class="patient-info-headings">Respiratory Rate</span><br>{{notes.respiratoryRate}} per minute
                        </div>
						<div class="col-xs-6 reduce-padding" ng-show="notes.bloodSugar">
                            <span class="patient-info-headings">Blood Sugar (Random)</span><br>{{notes.bloodSugar}} mg/dL
                        </div>
						<div class="col-xs-6 reduce-padding" ng-show="notes.headcircumference">
                            <span class="patient-info-headings">Head Circumference</span><br>{{notes.headcircumference}} cm
                        </div>
                        <div class="col-xs-6 reduce-padding" ng-show="notes.hr">
                            <span class="patient-info-headings">HR</span><br>{{notes.hr}} BPM
                        </div>
                        <div class="col-xs-12 reduce-padding" ng-show="notes.remarks">
                            <span class="patient-info-headings">Remarks</span><br>{{notes.remarks}}
                        </div>
                        <div class="col-xs-12 reduce-padding" ng-show="notes.extraorals || notes.extraoral.other">
                            <span class="patient-info-headings">Extraoral</span><br><p style="margin: 0px" ng-show="notes.extraorals">{{notes.extraorals}}</p>
                            <p style="margin: 0px" ng-show="notes.extraoral.other">{{notes.extraoral.otherreason}}</p>
                        </div>
                        <div class="col-xs-12 reduce-padding" ng-show="notes.intraorals || notes.intraoral.other">
                            <span class="patient-info-headings">Intraoral</span><p style="margin: 0px" ng-show="notes.intraorals">{{notes.intraorals}}</p>
                            <p style="margin: 0px" ng-show="notes.intraoral.other">{{notes.intraoral.otherreason}}</p>
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding" ng-hide="notes">
                        <form class="form-horizontal" novalidate>
                            <div class="col-xs-12 reduce-padding">
                                <h5>No Nurse Notes Added</h5>
                            </div>
                        </form>
                    </div>
                    <!--div class="col-xs-12 reduce-padding table-top-margin">
                        <table class="table table-striped align-center grid-border-top">
                            <thead class="thead-default">
                                <tr class="table-header-gray-bg">
                                    <th class="align-center click-cursor" ng-click="sortBy('doctorDisplayName')">Doctor Name <i class="fa fa-sort"></i></th>
                                    <th class="align-center click-cursor" ng-click="sortBy('date')">Visit Date <i class="fa fa-sort"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="prescription in prescriptions | orderBy:propertyName:reverse" ng-click="selectPescription(prescription)" class="click-cursor">
                                    <td>{{prescription.doctorDisplayName}}</td>
                                    <td>{{prescription.date  | date:'dd-MM-yyyy'}}</td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div-->
                    <div class="col-xs-12 reduce-padding table-top-margin">
                        <table class="table table-striped align-center grid-border-top">
                            <thead class="thead-default">
                                <tr class="table-header-gray-bg">
                                    <th class="align-center click-cursor" ng-click="sortBy('doctorDisplayName')">Activity <i class="fa fa-sort"></i></th>
                                    <th class="align-center click-cursor" ng-click="sortBy('date')">Date/Time <i class="fa fa-sort"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="emr in allemr | orderBy:date" ng-click="selectEMR(emr)" class="click-cursor" ng-class="{'fill-presc': (emr.type === 'prescription'), 'fill-lab': (emr.type === 'lab' || emr.type=='radiology'), 'fill-notes': (emr.type === 'notes')}">
                                    <td ng-show="emr.type=='prescription'">Doctor Visit</td>
									<td ng-show="emr.type=='radiology'">{{emr.description}}</td>
									<td ng-show="emr.type=='lab'">{{emr.description}}</td>
									<td ng-show="emr.type=='notes'">Vitals</td>
                                    <td ng-show="emr.type!='lab'" >{{emr.date  | date:'d/M/yy h:mm a'}}</td>
									<td ng-show="emr.type=='lab'" >{{emr.date  | date:'d/M/yy h:mm:a'}}</td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>					
                    
                </div>
            </section>
        </div>

        <!-- New Precription -->
        <div class="col-lg-8">
            <section class="panel">
                <form name="form" class="form-horizontal" novalidate>
                    <!-- Panel Heading -->
                    <div class="panel-heading">
                        <h3>Write Prescription</h3>
                    </div>

                    <!-- Prescription Fields -->
                    <div class="panel-body">
                        
                        <!-- Complaint, Diagnosis and Advice Fields -->
                        <div class="col-xs-12 reduce-padding">

                            <div class="col-xs-6" ng-show="pref.diagnosis">
                                <div>
                                    <label class="form-control-label">Provisional Diagnosis</label>
                                    <textarea name="diagnosis" 
                                        type="text" 
                                        class="form-control"
										dir="auto"										
                                        ng-model="prescription.diagnosis" 
                                        typeahead="item.val for item in getoldDiagnosis($viewValue)" 
                                        typeahead-loading="loadingLocations"
                                        typeahead-min-length="0"
                                        autocomplete="off"
                                        required=""
                                        typeahead-focus></textarea>
                                    <span class="error" ng-show="form.diagnosis.$touched && form.diagnosis.$error.required">Please fill this field</span>
                                </div>
                            </div>
                            <div class="col-xs-6" ng-show="pref.proceduresPerformed">
                                    <label class="form-control-label">Procedures Performed</label>
                                    <textarea name="complaint" 
                                        type="text"
										dir="auto"
                                        class="form-control" 
                                        ng-model="prescription.procedures" 
                                        typeahead="item.val for item in getoldProcedures($viewValue)"
                                        typeahead-min-length="0"
                                        typeahead-loading="loadingLocations" 
                                        autocomplete="off" 
                                        typeahead-focus></textarea>
                                    <span class="error" ng-show="form.complaint.$touched && form.complaint.$error.required">Please fill this field</span>
                            </div>							
                            <div class="col-xs-12" ng-show="pref.advice">
                                <label class="form-control-label">Advice/History<span class="optional-span">(Optional)</span></label>
                                <textarea name="advice" type="text" 
                                    class="form-control" 
                                    ng-model="prescription.advice"
									dir="auto"
									rows="4"
                                    typeahead="item.val for item in getoldAdvice($viewValue)" 
                                    typeahead-loading="loadingLocations" 
                                    typeahead-min-length="0"
                                    autocomplete="off"
                                    typeahead-focus></textarea>
                                
                            </div>
                            <div class="col-xs-6" ng-show="pref.complaint">
                                <label class="form-control-label">Complaint<span class="optional-span">(Optional)</span></label>
                                <textarea name="complaint" type="text" 
                                    class="form-control" 
                                    ng-model="prescription.complaint"
									dir="auto"
                                    typeahead="item.val for item in getoldComplaint($viewValue)" 
                                    typeahead-loading="loadingLocations" 
                                    typeahead-min-length="0"
                                    autocomplete="off"
                                    typeahead-focus></textarea>
                                
                            </div>  							
                        </div>

                        <!-- Medicine's Table-->
                        <div class="col-xs-12 table-top-margin">
                            <table class="table table-striped align-center grid-border-top reduce-margin-btm">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th style="min-width:200px">Medicine</th>
                                        <th style="width:100px">Dosage</th>
                                        <th>Timing</th>
                                        <th ng-show="pref.mealOptions">B/A Meal</th>
                                        <th>Days</th>
										<th>Instructions</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="medicine in prescription.medicines">
                                        <td>
                                            <input type="text" class="form-control" ng-model="medicine.name" autofocus="" 
                                            typeahead="item.description for item in getMedicines($viewValue)" 
                                            typeahead-loading="loadingLocations" 
                                            typeahead-on-select="setTradeName($item)">
                                        </td>
                                        <td>
                                            <input class="form-control" type="text" ng-model="medicine.dosage" style="width: 100%">
                                        </td>
                                        <td>
                                            <select  class="form-control" ng-model="medicine.timing">
                                              <option value="od">OD</option>
                                              <option value="bd">BD</option>
                                              <option value="tds">TDS</option>
                                              <option value="qid">QID</option>
                                              <option value="sos">SOS</option>
                                              <option value="hs">HS</option>
                                              <option value="stat">STAT</option>
											  <option value="prn">PRN</option>
											  <option value="q4hourly">Q 4hourly</option>
                                            </select>
                                        </td>
                                        <td ng-show="pref.mealOptions">
                                            <select  class="form-control" ng-model="medicine.meal">
                                              <option value="bm">Before</option>
                                              <option value="am">After</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input  class="form-control" type="Number" min="0" max="200" ng-model="medicine.days">
                                        </td>
										<td>
                                            <input class="form-control" type="text" ng-model="medicine.instructions">
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-info add-btn" ng-click="addMedicine()" ng-show="$last">&#10010;</button>
                                            <span ng-hide="$last" ng-click="removeCol(prescription.medicines,$index)">&#10006;</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Medicine Instructions and Personal Note-->
                        <div class="col-xs-12 reduce-padding">
                            <div class="col-xs-6" ng-show="pref.medInstructions">
                                <label class="form-control-label">Medicine Instructions<span class="optional-span">(Optional)</span></label>
                                <textarea name="instructions" type="text" class="form-control" ng-model="prescription.instructions" typeahead="item.tradeName for item in tradeNameSearchTypeahead($viewValue)" typeahead-loading="loadingLocations" typeahead-min-length='3' typeahead-on-select="setTradeName($item)" autocomplete="off" ng-change="descChange()"></textarea>
                            </div>
                            <div class="col-xs-6" ng-show="pref.personalNotes">
                                <div>
                                    <label class="form-control-label">Personal Notes<span class="optional-span">(Optional)</span></label>
                                    <textarea name="notes" type="text" class="form-control" ng-model="prescription.notes" typeahead="item.tradeName for item in tradeNameSearchTypeahead($viewValue)" typeahead-loading="loadingLocations" typeahead-min-length='3' typeahead-on-select="setTradeName($item)" autocomplete="off" ng-change="descChange()"></textarea>
                                </div>
                            </div>    
                        </div>

                        <!-- Lab Test Table -->
                        <div class="col-xs-6 table-top-margin">
                            <table class="table table-striped align-center grid-border-top">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>Lab Test</th>
                                        <th>Remarks</th>
                                        <th></th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr ng-repeat="test in prescription.labTest">
                                        <td>
											<!--select class="form-control" ng-model="test.description" ng-change="select_facility($parent.$index, $index, node.selected)" ng-options="item.description as item.description for item in labs">
                                            </select-->
											<input type="text" class="form-control" ng-model="test.description" autofocus="" 
                                            typeahead="item.description for item in getServices('Hospital-Lab', $viewValue)" 
                                            typeahead-loading="loadingLocations" 
                                            >
                                        </td>
                                        <td>
                                            <input  class="form-control" type="text" ng-model="test.remarks"></input>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-info add-btn" ng-click="addLabTest()" ng-show="$last">&#10010;</button>
                                            <span ng-hide="$last" ng-click="removeCol(prescription.labTest,$index)">&#10006;</span>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Radiology Test Table -->
                        <div class="col-xs-6 table-top-margin">
                            <table class="table table-striped align-center grid-border-top">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>Diagnostics/Procedures</th>
                                        <th>Remarks</th>
                                        <th></th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr ng-repeat="test in prescription.radiology">
                                        
                                        <td>
										<!--select class="form-control" ng-model="test.description" ng-change="select_facility($parent.$index, $index, node.selected)" 
										ng-options="item.description as item.description for item in others">
                                        </select-->
										<input type="text" class="form-control" ng-model="test.description" autofocus="" 
										typeahead="item.description for item in getServices('Hospital-', $viewValue)" 
										typeahead-loading="loadingLocations" 
										>										
                                        </td>
                                        <td>
                                            <input  class="form-control" type="text" ng-model="test.remarks"></input>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-info add-btn" ng-click="addRadiologyTest()" ng-show="$last">&#10010;</button>
                                            <span ng-hide="$last" ng-click="removeCol(prescription.radiology,$index)">&#10006;</span>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
						
                        <!-- Refered To Table -->
                        <div class="col-xs-6 table-top-margin">
                            <table class="table table-striped align-center grid-border-top">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>Refered to Doctor</th>
                                        <th>Remarks</th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr>
                                        
                                        <td>
										<select class="form-control" ng-model="prescription.referedto"
										ng-options="item.description as item.description for item in doctorfacilities">
                                        </select>
                                        </td>
                                        <td>
                                            <input  class="form-control" type="text" ng-model="refer.remarks"></input>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <!-- Navigation Buttons -->
                        <div class="col-xs-12">
                            <div class="sms-reminder">
                                <label class="form-control-label">Medicine Sms Reminder</label>
                                <select class="form-control" ng-options="o.value as o.label for o in options" ng-model="prescription.medicineReminder">
                                </select>
                            </div>
                            <div class="followup-date">
                                <label class="form-control-label">Follow Up Date</label>
                                <input class="form-control" type="date" ng-model="prescription.followupDate">
                            </div>
                            
                            <!-- Preview Button -->
                            <div class="btn-align">
                               <button type="button" class="btn btn-lg nav-btn btn-primary btn-success" ng-click="prescriptionPreview = true;" ng-disabled="form.$invalid">
                                    <span ng-hide="processing">Preview</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>

                            </div>
                            <!-- Update Button -->
                            <div class="btn-align">
                                <button  type="button" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="update_item(item,form)" ng-disabled="form.$invalid" ng-show="UpdateItem">
                                <span ng-hide="processing">Update</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                            </div>
                            <!-- Reset Button -->
                            <div class="btn-align">
                                <button type="button" class="btn btn-lg nav-btn btn-primary" ng-click="reset(form)">Clear</button>
                            </div>

                            <!-- Delete Button -->
                            <div class="btn-align">
                                <button type="submit" class="btn btn-lg btn-danger btn-primary nav-btn" ng-click="delete_item()" ng-disabled="form.description.$error.required || form.purchaseToStorage.$invalid || form.storageToSelling.$invalid || form.salesTax.$invalid" ng-show="UpdateItem">Delete</button>
                            </div>     
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
    
</section>