<section class="prescription" >

 <div class="purchase-requisition-list" ng-show="history">
        
        <!-- Close button -->

        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="history = false;" ng-hide="historyselected"></button>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="reset()" ng-show="historyselecte"></button>
        </div>
	
		<div class="popup-preview" ng-show="history" style="padding:40px">
                    <div class="col-xs-12 reduce-padding">                      
                        <div class="col-xs-12">
                            <h5>Menstrual History</h5>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Age of menarche
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="age" ng-model="history.age" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Last menstrual Period
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="lastmens" ng-model="history.lastmenstrual" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Duration and Regularity
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="durationreg" ng-model="history.duration" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-4">                            
                                <label class="form-control-label">
                                    Flow
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <select class="form-control" ng-model="history.flow">
										  <option value="heavy">Heavy</option>
										  <option value="light">Light</option>
									</select>
                                </div>
                            </div>
                            <div class="col-xs-4">                            
                                <label class="form-control-label">
                                    Menopausal Symptoms<span class="optional-span">(Infrequent Periods / Menstrual Pain)</span>
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="menopause" ng-model="history.menopausal_symptoms" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Hormonal Contraceptives<span class="optional-span">(If postmenopausal)</span>
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="hormonal"  ng-model="history.hormonal" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12">
						<br>
                            <h5>Gynaecological History</h5>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Previous Cervical Smears <span class="optional-span">(When / Result / Treatment)</span>
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="precervical" ng-model="history.prev_smears" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Previous Gynecological Problems and Treatments
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <textarea name="pregyno" ng-model="history.prev_treatments" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Current Contraception
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="currentcontracep" ng-model="history.currentcontracep" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <h5>Obstetrics History</h5>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Current Pregnancy<span class="optional-span">(How many Weeks / Recent Scans)</span>
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <textarea type="text" name="curpregnancy" ng-model="history.curr_pregnancy" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                        <!-- Row 4 -->
                        <div class="col-xs-12">
						<br>
                            <h5>Gravidity</h5>
                            <div class="col-xs-12">                            	
                                <label class="form-control-label">
                                    Number of times a women has been pregnant, regardless of the outcome. 
                                </label>
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                   Parity - X =
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="parityx" ng-model="history.parityx" class="form-control">
                                   <span class="half-width-text">(Only live or still birth after 24 weeks)</span>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                   Parity - Y =
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="parityy" ng-model="history.parityy" class="form-control">
                                    <span class="half-width-text">(Number lost before 24 weeks)</span>
                                </div>
                            </div>
                        </div>

                        <!-- Row 5 -->
                        <div class="col-xs-12">
						<br>
                            <h5>Each Pregnancy</h5>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Complications <span class="optional-span">(Antinatal / Prenatal / Postnatal)</span>
                                </label>
                                <div class="col-xs-12 reduce-padding">
                                    <textarea type="text" name="complications" ng-model="history.complcations"class="form-control"></textarea>
                                    </div>                                   
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    No.of C-Sections
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="Number" name="csections" ng-model="history.csections" class="form-control">
                                    </div>
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Allergies
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="allergies" ng-model="history.allergies" class="form-control">
                                    </div>
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Current Age of Child
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="number" name="age" ng-model="history.currageofchild" class="form-control half-width-field">
                                    <span class="half-width-text">Years</span>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                   Birth Weight
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                <input type="number" name="weight" ng-model="history.birthweight" class="form-control half-width-field">
                                <span class="half-width-text">Kg</span>
                                <span class="col-xs-12 reduce-padding error">Please enter correct values</span>
                                    </div>
                            </div>
                        </div>


                    </div>
</div>
	</div>
	
<!-- Central nervous system-->
 <div class="purchase-requisition-list" style="height:100vh;width:100%;" ng-show="cns">
        
        <!-- Close button -->

        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="cns = false;" ng-hide="cnsselected"></button>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="reset()" ng-show="cnsselected"></button>
        </div>
	
		<div class="popup-preview" ng-show="cns" style="height:800px;width:1000px;padding:10px;padding-left:17px;">
			<div class="col-xs-4 reduce-padding" style="margin-top:15px">
				<div class="row reduce-padding" style="padding-left:0;padding-right:0;border:1px solid #000">
					<div class="col-xs-4 align-center">
						EYE OPENING
					</div>
					<div class="col-xs-4 align-center" style="font-size:12px">
						C Eyes Closed by Swelling
					</div>
					<div class="col-xs-4 reduce-padding align-center">
						<div style="text-align:left;border-bottom:1px solid #000;font-size:11px">4 Spontaneous</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:11px">3 To Speech</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:11px">2 To Pain</div>
						<div style="text-align:left;font-size:11px;height:15px">1 Nil</div>
					</div>
				</div>
				<div class="row reduce-padding" style="padding-left:0;padding-right:0;border:1px solid #000;border-top:none">
					<div class="col-xs-4 align-center">
						BEST VERBAL RESPONSE
					</div>
					<div class="col-xs-4 align-center" style="font-size:12px">
						T Track or E T Tube
					</div>
					<div class="col-xs-4 reduce-padding align-center">
					<div style="text-align:left;border-bottom:1px solid #000;font-size:11px;">5 Oriented</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:11px">4 Confused Convers.</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:11px">3 Inappropriate W</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:11px">2 Incomprehensible S</div>
						<div style="text-align:left;font-size:11px;height:15px">1 Nil</div>
					</div>
				</div>
				<div class="row reduce-padding" style="padding-left:0;padding-right:0;border:1px solid #000;border-top:none">
					<div class="col-xs-4 align-center">
						BEST MOTOR RESPONSE
					</div>
					<div class="col-xs-4 reduce-padding align-center">
						
					</div>
					<div class="col-xs-4 reduce-padding align-center">
					<div style="text-align:left;border-bottom:1px solid #000;font-size:11px">6 Obeys</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:11px">5 Localizes</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:11px">4 Withdrawal</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:11px">3 Abnormal Flexion</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:11px">2 Extension</div>
						<div style="text-align:left;font-size:11px;height:15px">1 Nil</div>
					</div>
				</div>
				<div class="row reduce-padding" style="height:16px;font-size:11px;text-align:center;padding-left:0;padding-right:0;border:1px solid #000;border-top:none">
					GLASCOW COMA SCALE TOTAL
				</div>
				<div class="row reduce-padding" style="padding-left:0;padding-right:0;border:1px solid #000;border-top:none">
					<div class="col-xs-4 align-center">
						ABILITY TO MOVE
					</div>
					<div class="col-xs-4 reduce-padding align-center" style="font-size:12px">
						<div style="text-align:left;">S Strong</div>
						<div style="text-align:left">M Moderate</div>
						<div style="text-align:left">W Week</div>
						<div style="text-align:left">A Absent</div>
					</div>
					<div class="col-xs-4 reduce-padding align-center">
					<div style="text-align:left;border-bottom:1px solid #000;font-size:11px">R Arm</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:11px">L Arm</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:11px;height:16px"></div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:11px">R Leg</div>
						<div style="text-align:left;font-size:11px;height:15px">L Leg</div>
					</div>
				</div>
				<div class="row reduce-padding" style="padding-left:0;padding-right:0;border:1px solid #000;border-top:none">
					<div class="col-xs-4 align-center">
						PUPILS
					</div>
					<div class="col-xs-4 reduce-padding align-center" style="font-size:12px">
					<div style="text-align:left;"></div>
						<div style="text-align:left;">SIZE</div>
						<div style="text-align:left;border-bottom:1px solid #000"></div>
						<div style="text-align:left">REACTION</div>
					</div>
					<div class="col-xs-4 reduce-padding align-center">
						<div style="text-align:left;border-bottom:1px solid #000;font-size:11px">Right</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:11px">Left</div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:11px;height:16px"></div>
						<div style="text-align:left;border-bottom:1px solid #000;font-size:11px">Right</div>
						<div style="text-align:left;font-size:11px;height:15px">Left</div>
					</div>
				</div>
			</div>
			<div class="col-xs-8">
				<table style="font-size:9px;table-layout: fixed;width:900px">
					<tr height="15" style="border-bottom:1px solid #000;font-size:9px">
						<td style="width:30px;text-align:center" ng-repeat="rw in hours">{{rw}}</td>
					</tr>
					<tr height="15" ng-repeat="r in rowsgrid track by $index" style="border-bottom:1px solid #000">
						<td  width="30" style="border-right: 1px solid #000" ng-repeat="rw in hours track by $index">
						<input style="height:15px;width:100%;border:none" type="number"></input>
						</td>
					</tr>
				</table>
			</div>
			
		</div>
</div>
	
 <div class="purchase-requisition-list" style="height:100vh;width:100%;" ng-show="cardio">
        
        <!-- Close button -->

        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="cardio = false;" ng-hide="cardioselected"></button>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="reset()" ng-show="cardioselected"></button>
        </div>
	
	<div class="popup-preview" ng-show="cardio" style="height:800px;width:1000px;padding:20px">
	 <nvd3 options="options1" data="data"></nvd3>
	</div>
</div>
   
   <div class="purchase-requisition-list " ng-show="labPreview">
        
        <!-- Close button -->

        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="labPreview = false;" ng-hide="oldLabSelected"></button>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="reset()" ng-show="oldLabSelected"></button>
        </div>
	
<div class="popup-preview" ng-show="labPreview" style="padding:40px">
    <table style="width : 100%">
        <tr>
            <td>
                <div style="width: 300px;float:left;">
                    MR No :  {{patient_info.mr_number}}<br>
                    Patient Name : {{patient_info.name}} <br>
                </div>
               
                  
            </td>
            <td style="text-align: left;">
                <div style="width: 300px;float:right;">
                  Printing Date : {{labResult.date | date: "d/M/yy h:mm a"}}
                </div> 
               
                
            </td>
        </tr>
    </table>
    <hr>
    <div><h3><span style="border-bottom: 1px solid #000;">{{labResult.description}}
        </span></h3>
    </div>
    <div>
        <table style="margin-top: 20px;text-align: center;width: 100%;width: 100%;">
            <tr>
                <th style="text-align: left;padding-right: 5px;width:35%;">
                    <span style="border-bottom: 1px solid #000;">Test Name</span>
                </th>
                <th style="text-align:left;width:20%;">
                    <span style="border-bottom: 1px solid #000;">Result</span></th>
                <th style="text-align:left;width:20%;">
                    <span style="border-bottom: 1px solid #000;">Unit</span></th>
                <th style="text-align:left;width:25%;">
                    <span style="border-bottom: 1px solid #000;">Reference Range</span>
                </th>
            </tr>
            <tr ng-repeat="test in labResult.tests[labResult.tests.length - 1].subTests" ng-show="test.resultValue || test.reference.isSubHeading">
                <td style="text-align:left;padding-left: 5px;padding-right: 5px;padding-top: 10px;padding-bottom: 10px;" ng-show="test.reference.isSubHeading" ng-style="!test.reference.isSubHeading && {'display':'none'}"><h3><span style="border-bottom: 1px solid #000;"><b>{{test.reference.valueDescription}}</b></span></h3></td>
                <td style="text-align:left;padding-left: 5px;padding-right: 5px;" ng-hide="test.reference.isSubHeading" ng-style="test.reference.isSubHeading && {'display':'none'}">{{test.reference.valueDescription}}</td>
                <td style="text-align:left;padding-left: 5px;padding-right: 5px;" ng-hide="test.reference.isSubHeading" ng-style="test.reference.isSubHeading && {'display':'none'}">{{test.resultValue}}</td>
                <td style="text-align:left;padding-left: 5px;padding-right: 5px;" ng-hide="test.reference.isSubHeading" ng-style="test.reference.isSubHeading && {'display':'none'}">{{test.reference.unit}}</td>
                <td style="text-align:left;padding-left: 5px;padding-right: 5px;" ng-hide="test.reference.isSubHeading" ng-style="test.reference.isSubHeading && {'display':'none'}">
					<span ng-show="!test.reference.valueDetails">
						<span ng-show="test.reference.minValue && test.reference.maxValue">
							{{test.reference.minValue + ' - ' + test.reference.maxValue}}
						</span>
						<span ng-show="test.reference.minValue && !test.reference.maxValue">
							{{'> ' + test.reference.minValue}}
						</span>
						<span ng-show="!test.reference.minValue && test.reference.maxValue">
							{{'< ' +test.reference.maxValue}}
						</span>
						<span ng-hide="test.reference.isRange">
							{{test.reference.expectedValue}}
						</span>
					</span>
					<span ng-show="test.reference.valueDetails">
						<pre>{{test.reference.valueDetails}}</pre>
					</span>
                    <!-- {{test.reference.minValue + ' - ' + test.reference.maxValue}} -->
                </td>
                
                
            </tr>
        </table>
    </div>
    <div ng-show="labResult.tests[labResult.tests.length - 1].remarks"><h3><span style="border-bottom: 1px solid #000;">Remarks:
        </span></h3>{{labResult.tests[labResult.tests.length - 1].remarks}}
    </div>
</div>
	</div>
	



    <!-- Popup -->

    <div class="purchase-requisition-list " ng-show="prescriptionPreview">
        
        <!-- Close button -->

        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="prescriptionPreview = false;" ng-hide="oldPrescriptionSelected"></button>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="reset()" ng-show="oldPrescriptionSelected"></button>
        </div>

        <!-- Item List Popup -->

        <div class="popup-preview" ng-show="prescriptionPreview">
            <form name="form" class="form-horizontal" novalidate>
                    <!-- Panel Heading -->
                    <div class="panel-heading">
                        <h3>Prescription Preview</h3>
                    </div>

                    <!-- Prescription Fields -->
                    <div class="panel-body">
                        
                        <!-- Complaint, Diagnosis and Advice Fields -->
                        <div class="col-xs-12 reduce-padding">
                            <div class="col-xs-6">
                                    <label class="form-control-label">Instructions</label>
                                    <div class="text-border">
                                        {{prescription.instructions}}
                                    </div>
                            </div>
                            <div class="col-xs-6">
                                <div>
                                    <label class="form-control-label">Notes</label>
                                    <div class="text-border">
                                        {{prescription.notes}}
                                    </div>
                                </div>
                            </div>
                           
                        </div>

                        <!-- Medicine's Table-->
                        <div class="col-xs-12 table-top-margin">
                            <table class="table table-striped align-center grid-border-top reduce-margin-btm" ng-show="prescription.medicines[0].name!==''">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>Medicine</th>
                                        <th>Dosage</th>
                                        <th>Timing</th>
                                        <th ng-show="pref.mealOptions">B/A Meal</th>
                                        <th>Days</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="medicine in prescription.medicines">
                                        <td>
                                            <!-- <div class="text-border"> -->
                                                {{medicine.name}}
                                            <!-- </div> -->
                                        </td>
                                        <td>
                                            <!-- <div class="text-border"> -->
                                                {{medicine.dosage}}
                                            <!-- </div> -->
                                            <!-- <input class="form-control" type="Number" min="0" max="5" ng-model="medicine.dosage" style="width: 100%" ng-disabled="true"> -->
                                        </td>
                                        <td>
                                            <!-- <div class="text-border"> -->
                                                <!-- {{medicine.timing}} -->
                                                <span ng-show="medicine.timing==='od'">
                                                    صبح
                                                </span>
                                                <span ng-show="medicine.timing==='bd'">
                                                    صبح  +  شام
                                                </span>
                                                <span ng-show="medicine.timing==='tds'">    صبح + دوپہر + شام
                                                </span>
                                                <span ng-show="medicine.timing==='qid'">    صبح + دوپہر + شام + رات
                                                </span>
                                                <span ng-show="medicine.timing==='sos'">    حسب ضرورت
                                                </span>
                                                <span ng-show="medicine.timing==='hs'">
                                                    سوتے وقت
                                                </span>
                                                 <span ng-show="medicine.timing==='stat'">  فوراً
                                                 </span>
                                               <!--  دوپہر
                                                شام
                                                رات
                                                ضرورت حسب
                                                سوتے وقت
                                                فوراً -->


                                            <!-- </div> -->
                                            <!-- <select  class="form-control" ng-model="medicine.timing"  ng-disabled="true">
                                              <option value="od">OD</option>
                                              <option value="bd">BD</option>
                                              <option value="tds">TDS</option>
                                              <option value="qid">QID</option>
                                              <option value="sos">SOS</option>
                                              <option value="hs">HS</option>
                                              <option value="stat">STAT</option>
                                            </select> -->
                                        </td>
                                        <td ng-show="pref.mealOptions">
                                            <!-- <div class="text-border"> -->
                                                <!-- {{medicine.meal}} -->
                                                <span ng-show="medicine.meal ==='bm'">
                                                    کھانے سے پہلے
                                                </span>
                                                <span ng-show="medicine.meal ==='am'">
                                                    کھانے کے بعد
                                                </span>
                                                
                                                
                                            <!-- </div> -->
                                            <!-- <select  class="form-control" ng-model="medicine.meal" ng-disabled="true">
                                              <option value="bm">Before</option>
                                              <option value="am">After</option>
                                            </select> -->
                                        </td>
                                        <td>
                                            <!-- <div class="text-border"> -->
                                                {{medicine.days}}
                                            <!-- </div> -->
                                            <!-- <input  class="form-control" type="Number" min="0" max="200" ng-model="medicine.days" ng-disabled="true"> -->
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Medicine Instructions and Personal Note-->
                        <div class="col-xs-12 reduce-padding">
                            <div class="col-xs-6" ng-show="prescription.instructions">
                                <label class="form-control-label">Medicine Instructions<span class="optional-span">(Optional)</span></label>
                                <div class="text-border">
                                    {{prescription.instructions}}
                                </div>
                                <!-- <textarea name="instructions" type="text" class="form-control" ng-model="prescription.instructions" ng-disabled="true"></textarea> -->
                            </div>
                            <div class="col-xs-6" ng-show="prescription.notes">
                                <div>
                                    <label class="form-control-label">Personal Notes<span class="optional-span">(Optional)</span></label>
                                    <div class="text-border">
                                        {{prescription.notes}}
                                    </div>
                                    <!-- <textarea name="notes" type="text" class="form-control" ng-model="prescription.notes" ng-disabled="true"></textarea> -->
                                </div>
                            </div>    
                        </div>

                        <!-- Lab Test Table -->
                        <div class="col-xs-6 table-top-margin" ng-show="prescription.labTest[0].description!==''">
                            <table class="table table-striped align-center grid-border-top">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>Lab Test</th>
                                        <th>Remarks</th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr ng-repeat="test in prescription.labTest">
                                        <td>
                                            <div class="text-border">
                                                {{test.description}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-border">
                                                {{test.remarks}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Radiology Test Table -->
                        <div class="col-xs-6 table-top-margin">
                            <table class="table table-striped align-center grid-border-top"  ng-show="prescription.radiology[0].description!==''">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>Investigation</th>
                                        <th>Remarks</th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr ng-repeat="test in prescription.radiology">
                                        
                                        <td>
                                            <div class="text-border">
                                                {{test.description}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-border">
                                                {{test.remarks}}
                                            </div>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
						<div class="col-xs-6 table-top-margin">
                            <table class="table table-striped align-center grid-border-top">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>Patient State</th>
                                        <th>Remarks</th>
                                        <th></th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr>
                                        
                                        <td>
											<div class="text-border">
                                                {{prescription.patientstate.state}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-border">
                                                {{prescription.patientstate.remarks}}
                                            </div>
                                        </td>
                                      
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-xs-6 table-top-margin">
                            <table class="table table-striped align-center grid-border-top">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>Transfer To</th>
                                        <th>Remarks</th>
                                        <th></th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="text-border">
                                                {{prescription.transferto.ward}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-border">
                                                {{prescription.transferto.remarks}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>			
						<div class="col-xs-6 table-top-margin">
                            <table class="table table-striped align-center grid-border-top">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>MO Visit (hrs)</th>
                                        <th>Nurse Visit (hrs)</th>
                                        <th></th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
										<div class="text-border">
                                               Every {{prescription.movisit}} hrs
                                         </div>
                                        </td>
                                        <td>
                                            <div class="text-border">
                                              Every {{prescription.nursevisit}} hrs
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>						

                        <!-- Navigation Buttons -->
                        <div class="col-xs-12">
                            <div class="sms-reminder">
                                <label class="form-control-label">Medicine Sms Reminder</label>
                                <select class="form-control" ng-options="o.value as o.label for o in options" ng-model="prescription.medicineReminder" ng-disabled="true">
                                </select>
                            </div>
                            <!--div class="followup-date">
                                <label class="form-control-label">Follow Up</label>
                                <div ng-hide="prescription.followupDate">Not needed</div>
                                <input class="form-control" type="date" ng-model="prescription.followupDate" ng-disabled="true" ng-show="prescription.followupDate">
                            </div-->
                            
                            <!-- Save Button -->
                            <div class="btn-align">
                               
                                <button type="button" class="btn btn-lg nav-btn btn-primary btn-success" ng-click="submit(prescription,form)" ng-disabled="form.$invalid || !prescription.medicines.length>1" ng-hide="oldPrescriptionSelected">
                                    <span ng-hide="processing">Save & Print</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                            </div>

                            <!-- Print Button -->
                            <div class="btn-align">
                               
                                <button type="button" class="btn btn-lg nav-btn btn-primary btn-success" ng-click="print(prescription,form)" ng-disabled="form.$invalid || !prescription.medicines.length>1" ng-show="oldPrescriptionSelected">
                                    <span ng-hide="processing">Print</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                            </div>
            
                        </div>
                    </div>
                </form>
        </div>
        
     
    </div>

    <!--Popup End -->
    <div class="row">
        <!-- <div class="col-xs-12">
            <div class="panel inventories-pricing">
                
                
                <div class="panel-body">
                    <form name="appointment" class="form-horizontal" novalidate>
                        
                    </form>
                </div>
            </div>
        </div> -->
        <div class="col-xs-12">
            <ul class="list-unstyled breadcrumb">
                <li><a href="/#!/doctor">Home</a></li>
                <li><a href="/#!/prescription" class="active-page">Prescription</a></li>
            </ul>
        </div>

        <!-- Patient Info And History -->
        <div class="col-lg-4">
            <section class="panel">
                
                <div class="panel-heading">
                    <h3>Patient Info</h3>
					<span><button class="btn btn-sm btn-primary btn-success" style="float:right;margin-right:20px" ng-click="history=true">View History</button></span>
					<span><button class="btn btn-sm btn-primary btn-success" style="float:right;margin-right:20px" ng-click="cardio=true">Cardio Chart</button></span>
					<span><button class="btn btn-sm btn-primary btn-success" style="float:right;margin-right:20px" ng-click="cns=true">CNS</button></span>
                </div>
				
                <div class="panel-body">
                    <div class="col-xs-6 reduce-padding">
                        <div class="patient-info-headings">
                            Patient Name
                        </div>
                        <div>
                            {{patient_info.name}}
                        </div>
                        <div class="patient-info-headings">
                            Phone Number
                        </div>
                        <div>
                            {{patient_info.phone}}
                        </div>
                        <div class="patient-info-headings">
                            Admitted On
                        </div>
                        <div>
                            {{patient_info.created | date: "d/M/yy h:mm a"}}
                        </div>
                        <div class="patient-info-headings">
                            Next MO Visit
                        </div>
                        <div>
                            {{patient_info.created | date: "d/M/yy h:mm a"}}
                        </div>						
                    </div>
                    <div class="col-xs-6 reduce-padding">
                        <div class="patient-info-headings">
                            MR Number
                        </div>
                        <div>
                            {{patient_info.mr_number}}
                        </div>
                        <div class="patient-info-headings">
                            Bed
                        </div>
                        <div>
                            {{patient_info.bed_details.bed_description}}
                        </div>						
                        <div class="patient-info-headings">
                            Ward
                        </div>
                        <div>
                            {{patient_info.bed_details.ward}}
                        </div>
                        <div class="patient-info-headings">
                            Next Nurse Visit
                        </div>
                        <div>
                            {{patient_info.created | date: "d/M/yy h:mm a"}}
                        </div>						
                    </div>
                    
                    <div class="col-xs-12 reduce-padding" ng-show="notes">
                        <form class="form-horizontal" novalidate>
                            <div class="col-xs-12 reduce-padding">
                                <h5>Recent Vitals</h5>
                            </div>
                        </form>
                        <div class="col-xs-6 reduce-padding" ng-show="notes.height">
                            <span  class="patient-info-headings">Height</span><br>{{notes.height.feet}}' {{notes.height.inches}}"
                        </div>
                        <div class="col-xs-6 reduce-padding" ng-show="notes.weight">
                            <span class="patient-info-headings">Weight</span><br>{{notes.weight}} KG
                        </div>
                        
                        <div class="col-xs-6 reduce-padding" ng-show="notes.temperature">
                            <span class="patient-info-headings">temperature</span><br>{{notes.temperature}} 
                        </div>
                        <div class="col-xs-6 reduce-padding" ng-show="notes.pulse">
                            <span class="patient-info-headings">Pulse</span><br>{{notes.pulse}}
                        </div>
                        <div class="col-xs-6 reduce-padding" ng-show="notes.systolicBP && notes.diastolicBP">
                            <span class="patient-info-headings">Blood Pressure</span><br>{{notes.systolicBP}}/{{notes.diastolicBP}} mmHg
                        </div>
                        <div class="col-xs-6 reduce-padding" ng-show="notes.pulseOximetry">
                            <span class="patient-info-headings">Pulse Oximetry</span><br>{{notes.pulseOximetry}}
                        </div>
                        <div class="col-xs-6 reduce-padding" ng-show="notes.respiratoryRate">
                            <span class="patient-info-headings">Respiratory Rate</span><br>{{notes.respiratoryRate}}
                        </div>
                        <div class="col-xs-12 reduce-padding" ng-show="notes.remarks">
                            <span class="patient-info-headings">Remarks</span><br>{{notes.remarks}}
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding" ng-hide="notes">
                        <form class="form-horizontal" novalidate>
                            <div class="col-xs-12 reduce-padding">
                                <h5>No Vitals Taken Yet</h5>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 reduce-padding table-top-margin">
                        <table class="table table-striped align-center grid-border-top">
                            <thead class="thead-default">
                                <tr class="table-header-gray-bg">
                                    <th class="align-center click-cursor" ng-click="sortBy('doctorDisplayName')">Activity <i class="fa fa-sort"></i></th>
                                    <th class="align-center click-cursor" ng-click="sortBy('date')">Date/Time <i class="fa fa-sort"></i></th>
                                </tr>
                            </thead>
                            <tbody>
							<tr ng-repeat="emr in allemr | orderBy:date" ng-click="selectEMR(emr)" class="click-cursor" ng-class="{'fill-presc': (emr.type === 'prescription'), 'fill-lab': (emr.type === 'lab' || emr.type=='radiology'), 'fill-notes': (emr.type === 'notes')}">
								<td ng-show="emr.type=='prescription'">Doctor Visit</td>
								<td ng-show="emr.type=='radiology'">{{emr.description}}</td>
								<td ng-show="emr.type=='lab'">{{emr.testDescription}}</td>
								<td ng-show="emr.type=='notes'">Vitals</td>
								<td ng-show="emr.type!='lab'" >{{emr.date  | date:'d/M/yy h:mm a'}}</td>
								<td ng-show="emr.type=='lab'" >{{emr.date  | date:'d/M/yy'}} {{emr.time}}</td>
								
							</tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </section>
        </div>

        <!-- New Precription -->
        <div class="col-lg-8">
            <section class="panel">
                <form name="form" class="form-horizontal" novalidate>
                    <!-- Panel Heading -->
                    <div class="col-xs-8 panel-heading" ng-show="!discharge">
                        <h3>Doctor Notes</h3>
                    </div>
					<div class="col-xs-8 panel-heading" ng-show="discharge">
                        <h3>Discharge Patient</h3>
                    </div>
					<div class="col-xs-4" style="margin-top: 20px" ng-show="!discharge">
					   <button type="button" class="btn btn-lg nav-btn btn-primary btn-success" ng-click="discharge = true;">
						Discharge
						</button>
                    </div>

                    <!-- Prescription Fields -->
                    <div class="panel-body">
                        
                        <!-- Complaint, Diagnosis and Advice Fields -->
                        <div class="col-xs-12 reduce-padding" ng-show="!discharge">
                            <div class="col-xs-6">
                                    <label class="form-control-label">Instructions</label>
                                    <textarea name="complaint" 
                                        type="text"
										dir="auto"
                                        class="form-control" 
                                        ng-model="prescription.instructions" 
                                        typeahead="item.val for item in getoldComplains($viewValue)"
                                        typeahead-min-length="0"
                                        typeahead-loading="loadingLocations" 
                                        autocomplete="off" 
                                        required="" typeahead-focus></textarea>
                                    <span class="error" ng-show="form.complaint.$touched && form.complaint.$error.required">Please fill this field</span>
                            </div>
                            <div class="col-xs-6">
                                <div>
                                    <label class="form-control-label">Notes</label>
                                    <textarea name="diagnosis" 
                                        type="text" 
                                        class="form-control"
										dir="auto"										
                                        ng-model="prescription.notes" 
                                        typeahead="item.val for item in getoldDiagnosis($viewValue)" 
                                        typeahead-loading="loadingLocations"
                                        typeahead-min-length="0"
                                        autocomplete="off"
                                        required=""
                                        typeahead-focus></textarea>
                                    <span class="error" ng-show="form.diagnosis.$touched && form.diagnosis.$error.required">Please fill this field</span>
                                </div>
                            </div>
                            <div class="col-xs-6" ng-show="pref.advice">
                                <label class="form-control-label">Advice<span class="optional-span">(Optional)</span></label>
                                <textarea name="advice" type="text" 
                                    class="form-control" 
                                    ng-model="prescription.advice"
									dir="auto"
                                    typeahead="item.val for item in getoldAdvice($viewValue)" 
                                    typeahead-loading="loadingLocations" 
                                    typeahead-min-length="0"
                                    autocomplete="off"
                                    typeahead-focus></textarea>
                                
                            </div>  
                        </div>
						<div class="col-xs-12" ng-show="discharge">
							<label class="form-control-label">Discharge Notes</label>
							<textarea name="dischargenotes" 
								type="text"
								dir="auto"
								rows="6"
								class="form-control" 
								ng-model="prescription.instructions" 
								typeahead="item.val for item in getoldComplains($viewValue)"
								typeahead-min-length="0"
								typeahead-loading="loadingLocations" 
								autocomplete="off" 
								required="" typeahead-focus></textarea>
							<span class="error" ng-show="form.complaint.$touched && form.complaint.$error.required">Please fill this field</span>						
						</div>

                        <!-- Medicine's Table-->
                        <div class="col-xs-12 table-top-margin">
                            <table class="table table-striped align-center grid-border-top reduce-margin-btm">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>Medicine</th>
                                        <th>Dosage</th>
                                        <th>Timing</th>
                                        <th ng-show="pref.mealOptions">B/A Meal</th>
                                        <th>Days</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="medicine in prescription.medicines">
                                        <td>
                                            <input type="text" class="form-control" ng-model="medicine.name" autofocus="" 
                                            typeahead="item.tradeName for item in getMedicines($viewValue)" 
                                            typeahead-loading="loadingLocations" 
                                            typeahead-on-select="setTradeName($item)">
                                        </td>
                                        <td>
                                            <input class="form-control" type="Number" min="0" max="5" ng-model="medicine.dosage" style="width: 100%">
                                        </td>
                                        <td>
                                            <select  class="form-control" ng-model="medicine.timing">
                                              <option value="od">OD</option>
                                              <option value="bd">BD</option>
                                              <option value="tds">TDS</option>
                                              <option value="qid">QID</option>
                                              <option value="sos">SOS</option>
                                              <option value="hs">HS</option>
                                              <option value="stat">STAT</option>
                                            </select>
                                        </td>
                                        <td ng-show="pref.mealOptions">
                                            <select  class="form-control" ng-model="medicine.meal">
                                              <option value="bm">Before</option>
                                              <option value="am">After</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input  class="form-control" type="Number" min="0" max="200" ng-model="medicine.days">
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-info add-btn" ng-click="addMedicine()" ng-show="$last">&#10010;</button>
                                            <span ng-hide="$last" ng-click="removeCol(prescription.medicines,$index)">&#10006;</span>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Medicine Instructions and Personal Note-->
                        <div class="col-xs-12 reduce-padding" ng-show="!discharge">
                            <div class="col-xs-6" ng-show="pref.medInstructions">
                                <label class="form-control-label">Medicine Instructions<span class="optional-span">(Optional)</span></label>
                                <textarea name="instructions" type="text" class="form-control" ng-model="prescription.instructions" typeahead="item.tradeName for item in tradeNameSearchTypeahead($viewValue)" typeahead-loading="loadingLocations" typeahead-min-length='3' typeahead-on-select="setTradeName($item)" autocomplete="off" ng-change="descChange()"></textarea>
                            </div>
                            <div class="col-xs-6" ng-show="pref.personalNotes">
                                <div>
                                    <label class="form-control-label">Personal Notes<span class="optional-span">(Optional)</span></label>
                                    <textarea name="notes" type="text" class="form-control" ng-model="prescription.notes" typeahead="item.tradeName for item in tradeNameSearchTypeahead($viewValue)" typeahead-loading="loadingLocations" typeahead-min-length='3' typeahead-on-select="setTradeName($item)" autocomplete="off" ng-change="descChange()"></textarea>
                                </div>
                            </div>    
                        </div>

                        <!-- Lab Test Table -->
                        <div class="col-xs-6 table-top-margin" ng-show="!discharge">
                            <table class="table table-striped align-center grid-border-top">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>Lab Test</th>
                                        <th>Remarks</th>
                                        <th></th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr ng-repeat="test in prescription.labTest">
                                        <td>
                                            <!--select  class="form-control" ng-model="test.description">
                                              <option value="CP">Blood CP</option>
                                              <option value="ESR">ESR</option>
                                              <option value="Urine RE">Urine RE</option>
                                            </select-->
											<select class="form-control" ng-model="test.description" ng-change="select_facility($parent.$index, $index, node.selected)" ng-options="item.description as item.description for item in labs">
                                            </select>
                                        </td>
                                        <td>
                                            <input  class="form-control" type="text" ng-model="test.remarks"></input>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-info add-btn" ng-click="addLabTest()" ng-show="$last">&#10010;</button>
                                            <span ng-hide="$last" ng-click="removeCol(prescription.labTest,$index)">&#10006;</span>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Radiology Test Table -->
                        <div class="col-xs-6 table-top-margin" ng-show="!discharge">
                            <table class="table table-striped align-center grid-border-top">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>Investigation</th>
                                        <th>Remarks</th>
                                        <th></th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr ng-repeat="test in prescription.radiology">
                                        
                                        <td>
                                            <!--select  class="form-control" ng-model="test.description">
                                              <option value="X-Ray">X-Ray</option>
                                              <option value="Ultrasound">Ultrasound</option>
                                            </select-->
										<select class="form-control" ng-model="test.description" ng-change="select_facility($parent.$index, $index, node.selected)" ng-options="item.description as item.description for item in facilities">
                                        </select>
                                        </td>
                                        <td>
                                            <input  class="form-control" type="text" ng-model="test.remarks"></input>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-info add-btn" ng-click="addRadiologyTest()" ng-show="$last">&#10010;</button>
                                            <span ng-hide="$last" ng-click="removeCol(prescription.radiology,$index)">&#10006;</span>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Patient State Table -->
                        <div class="col-xs-6 table-top-margin" ng-show="!discharge">
                            <table class="table table-striped align-center grid-border-top">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>Patient State</th>
                                        <th>Remarks</th>
                                        <th></th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr>
                                        
                                        <td>
                                            <select  class="form-control" ng-model="prescription.patientstate.state">
                                              <option value="Critical">Critical</option>
                                              <option value="Under Observation">Under Observation</option>
											  <option value="Normal">Normal</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input  class="form-control" type="text" ng-model="presiction.patientstate.remarks"></input>
                                        </td>
                                      
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-xs-6 table-top-margin" ng-show="!discharge">
                            <table class="table table-striped align-center grid-border-top">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>Transfer To</th>
                                        <th>Remarks</th>
                                        <th></th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
										<select class="form-control" ng-model="prescription.transferto.ward">
											<option ng-repeat="department in departments" ng-value="department">{{department}}</option>
										</select>										
                                         
                                        </td>
                                        <td>
                                            <input  class="form-control" type="text" ng-model="prescription.transferto.remarks"></input>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>			
						<div class="col-xs-6 table-top-margin" ng-show="!discharge">
                            <table class="table table-striped align-center grid-border-top">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>MO Visit (hrs)</th>
                                        <th>Nurse Visit (hrs)</th>
                                        <th></th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
									<input  class="form-control" type="number" ng-model="prescription.movisit"></input>
                                        </td>
                                        <td>
                                            <input  class="form-control" type="number" ng-model="prescription.nursevisit"></input>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                       <!-- Patient State Table -->
                        <div class="col-xs-6 table-top-margin" ng-show="!discharge">
                            <table class="table table-striped align-center grid-border-top">
                                <thead class="thead-default">
                                    <tr class="table-header-gray-bg">
                                        <th>Recommended food</th>
                                        <th>Remarks</th>
                                        <th></th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <select class="form-control" ng-model="recommended_food">
                                              <option value="Low Carbs">Low Carbs</option>
                                              <option value="Cardio Diet">Cardio Diet</option>
											  <option value="Highe Fiber">High Fiber</option>
											  <option value="Low Salt">Low Salt</option>		
											  <option value="Other">Other</option>											  
                                            </select>
                                        </td>
                                        <td>
                                            <input class="form-control" type="text" ng-model="food_remarks"></input>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>						
						<div class="col-xs-12" ng-show="discharge">
                            <!-- Preview Button -->
                            <div class="btn-align">
                               <button type="button" class="btn btn-lg nav-btn btn-primary btn-success" ng-click="processdischarge()">
                                    <span ng-hide="processing">Save DO</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>

                            </div>
                            <!-- Reset Button -->
                            <div class="btn-align">
                                <button type="button" class="btn btn-lg nav-btn btn-primary" ng-click="discharge=false">Cancel</button>
                            </div>						
						</div>
                        <!-- Navigation Buttons -->
                        <div class="col-xs-12" ng-show="!discharge">
                            <div class="sms-reminder">
                                <label class="form-control-label">Medicine Sms Reminder</label>
                                <select class="form-control" ng-options="o.value as o.label for o in options" ng-model="prescription.medicineReminder">
                                </select>
                            </div>
                            
                            <!-- Preview Button -->
                            <div class="btn-align">
                               <button type="button" class="btn btn-lg nav-btn btn-primary btn-success" ng-click="prescriptionPreview = true;">
                                    <span ng-hide="processing">Preview</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                            </div>
                            <!-- Update Button -->
                            <div class="btn-align">
                                <button  type="button" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="update_item(item,form)" ng-disabled="form.$invalid" ng-show="UpdateItem">
                                <span ng-hide="processing">Update</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                            </div>
                            <!-- Reset Button -->
                            <div class="btn-align">
                                <button type="button" class="btn btn-lg nav-btn btn-primary" ng-click="reset(form)">Clear</button>
                            </div>

                            <!-- Delete Button -->
                            <div class="btn-align">
                                <button type="submit" class="btn btn-lg btn-danger btn-primary nav-btn" ng-click="delete_item()" ng-disabled="form.description.$error.required || form.purchaseToStorage.$invalid || form.storageToSelling.$invalid || form.salesTax.$invalid" ng-show="UpdateItem">Delete</button>
                            </div>     
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
    
</section>