.package{
  .text-border {
		border: 1px solid #827ca1;
	    padding: 3px;
	    border-radius: 4px;
	    min-height: 25px;
	}
  .add-btn {
		padding: 2px 7px;
	}

  .services-dropdown {
		background-color: #fff;
		border: 1px solid #efefef;
		list-style: none;
		padding-left: 0;
		position : absolute;
		width: 100%;
		max-height: 500px;
		z-index: 9999;
		overflow-y: scroll;

		li {
			cursor: pointer;
		}
	}

  .grid-rows {
		padding: 2px 0;
	}

  .dropdown-header {
		background-color: #ddd;
		height: 25px;
		text-align: left;
		padding-left: 0;
	}

  .facility-li {
		height: 20px;
		background-color: #fff;
	}

	.facility-li:hover {
		background-color: #efefef;
	}

  .text-center {
		text-align: center;
	}

}
