<style>
body {
  background: rgb(204,204,204); 
}
.ng-hide {
	display: none
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="card"] {  
  width: 3in;
  height: 2in; 
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}
</style>
<page ng-repeat="dt in pdata" size="card" style="font-family:Arial, Helvetica, sans-serif;">
	<div style="margin : 5px; bottom: 0; float: left; width: 278px;color:#000000;">	
		<table style="width : 100%; border-collapse: collapse; text-align: left; line-height: 1.5;">
		<col width="70">
  		<col width="30">
  		<col width="30">
  		<col width="30">
  		<col width="30">
  		<col width="30">
  		<col width="30">
  		<col width="30">
  		<col width="30">
  		<col width="30">
			<tr style="font-size : 11px; border-collapse: collapse;">
				<td style="border-collapse: collapse; padding-top: 30px; "><strong>DATE:</strong></td>
				<td style="font-size : 12px;border-collapse: collapse; padding-top: 30px; " colspan="2"><strong>{{dt.date}}</strong></td>
				<td style="border-collapse: collapse; text-align: right;" colspan="7">
					<img src="images/pharmacylogo.png" alt="Ali Pharmacy Logo"/>
				</td>
			</tr>
			<tr style="font-size : 11px; border-collapse: collapse;">
				<td style="border-collapse: collapse;"><strong>MEDICINE:</strong></td>
				<td style="font-size : 12px;border-collapse: collapse;" colspan="10"><strong>{{dt.description}}</strong></td>
			</tr>
			<tr style="font-size : 11px; border-collapse: collapse;">
				<td style="border-collapse: collapse;"><strong>GENERIC:</strong></td>
				<td style="font-size : 12px;border-collapse: collapse;" colspan="10"><strong>{{dt.formula}}</strong></td>
			</tr>
		</table>
		<table style="width : 100%; border-collapse: collapse; text-align: left; line-height: 1.5;">
			<tr style="font-size : 11px;border-collapse: collapse;">
				<td style="border-collapse: collapse;"><strong>DOSE:</strong></td>
				<td style="font-size : 16px;border-collapse: collapse;" colspan="3"><strong>{{dt.dose}}</strong></td>
			</tr>
			<tr style="font-size : 11px;border-collapse: collapse;">
				<td style="border-collapse: collapse;" colspan="13"><strong>INSTRUCTION:</strong></td>
			</tr>
			<tr style="font-size : 9px; border-collapse: collapse;">
				<td style="border-collapse: collapse;" colspan="13"><strong><u>{{dt.remarks}}</u></strong></td>
			</tr>
		</table>
		<div style="font-size : 10px;text-align: center; margin-top: 5px; font-weight: bolder;letter-spacing: -0.8px;"><span>FOR QUALITY MEDICINES ALWAYS TRUST ALI PHARMACY</span></div>
			
	</div>
</page>
