<section data-ng-controller="PosController" ng-click="hide_dropdown()" class="pos">
    <div class="purchase-requisition-list" ng-show="showPatients || showPrescriptions">
        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="showPatients = false;showPrescriptions=false;"></button>
        </div>
        <div class="col-xs-offset-1 col-xs-10" ng-show="showPatients">
            <picklist-simple headings-to-add="headingsPatient" height="350" rows-to-add="patients" prefix="prefixPatient" multiselect="'single'" callbackfn="callbackpatient(arg1)" title="'Select Patient'">
        </div>
        <div class="col-xs-offset-1 col-xs-10" ng-show="showPrescriptions">
            <picklist-simple headings-to-add="headingsPatient" height="350" rows-to-add="patients" prefix="prefixPatient" multiselect="'single'" callbackfn="callbackpres(arg1)" title="'Select Patient'">
        </div>
    </div>

     <div class="purchase-requisition-list " ng-show="changePass">

        <div>
            <button type="button" class="btn-xs popup-close-btn float-right" ng-click="changePass = false;"></button>
        </div>

        <!-- Item List Popup -->

        <div class="change-password-container">
            <form name="form">
                    <div class="form-group">
                        <input class="form-control"
                               placeholder="Current Password"
                               type="password"
                               ng-model="credentials.currentPassword">
                    </div>

                    <div class="form-group">
                        <input class="form-control password"
                               type="password"
                               ng-model="credentials.newPassword"
                               placeholder="New Password">
                    </div>
                    <div class="form-group">
                        <input class="form-control password"
                               type="password"
                               ng-model="credentials.verifyPassword"
                               placeholder="Verify Password">
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn-primary width-150" ng-click="changePassword()">Confirm</button>
                    </div>
                </form>
        </div>
    </div>

  <!-- Top search bar -->

  <div class="row reduce-padding reduce-margin">
    <div class="col-xs-12 header-bar">
      <div class="logoutFormat">
        <button class="btn btn-logout" ng-click="logoutUser()">Logout</button><br>
      </div>
	  <div class="logoutFormat">
        <button class="btn btn-logout" ng-click="changePass=true">Change Pwd</button><br>
      </div>
	   <div class="logoutFormat">
        <button class="btn btn-logout" ng-click="gotoSummaryReport()">Summary Report</button><br>
      </div>
	  <div class="logoutFormat">
        <button class="btn btn-logout" ng-click="gotoSalesReport()">Sales Report</button><br>
      </div>
      <div class="userFormat">
        <p>{{authentication.user.store}}</p>
      </div>
      <div class="userFormat">
        <p>{{invoiceDetails.invoiceSalesman}} : &nbsp; </p>
      </div>
      <div class="timeFormat">
        <p>{{ clock | date:'medium'}}</p>
      </div>
    </div>
  </div>

  <!-- Prescription popup -->
  <div class="col-xs-offset-9 col-xs-3 alert alert-danger" ng-show="showPrescriptionAlert" ng-click="showPrescriptionAlert = false">
    {{addedPrescriptions}}
  </div>

  <!-- left comlumn Freeze Orders -->
  <div class="left-column" ng-hide="showPrescription">
    <form class="holded-sale" ng-hide="savinginvoice" ng-repeat="order in freezed_orders" ng-enter="restore_order(order,$index)" ng-click="restore_order(order,$index)" ng-disabled="returnMedicine" tabindex="1">
      Time: {{order.invoiceTime}}<br>
      Salesman: {{order.invoiceSalesman}}<br>
    </form>
  </div>
  <!-- End -->

  <!-- Left column prescription details -->
  <div class="left-column prescription-table" ng-show="showPrescription">
    <section class="panel">
        <div class="panel-heading">
            <h3>OPD Prescription Details</h3>
        </div>
        <div class="panel-body">
            <div class="col-xs-6 reduce-padding">
                <div class="patient-info-headings">
                    Patient
                </div>
                <div>
                    {{displayPrescription.patientName}}
                </div>
            </div>
            <div class="col-xs-6 reduce-padding">
                <div class="patient-info-headings">
                    MR Number
                </div>
                <div>
                    {{displayPrescription.MRNo}}
                </div>
            </div>
            <div class="col-xs-6 reduce-padding">
                <div class="patient-info-headings">
                    Doctor
                </div>
                <div>
                    {{displayPrescription.doctorDisplayName}}
                </div>
            </div>
            <div class="col-xs-12 reduce-padding table-top-margin">
                <table class="table table-striped align-center grid-border-top">
                    <thead class="thead-default">
                        <tr class="table-header-gray-bg">
                            <th>Medicine</i></th>
                            <th class="align-center">Dosage</i></th>
                            <th class="align-center">Timing</i></th>
                            <th class="align-center">Days</i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="medicine in displayPrescription.medicines" ng-disabled="returnMedicine" ng-click="selectPescription(prescription)">
                            <td>{{medicine.name}}</td>
                            <td class="align-center">{{medicine.dosage}}</td>
                            <td class="align-center">{{medicine.timingToShow}}</td>
                            <td class="align-center">{{medicine.days}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 reduce-padding align-right">
              <button type="button" class="btn btn-cancel btn-small" ng-disabled="returnMedicine" ng-click="cancel_order()">
                Cancel
              </button>
            </div>
        </div>
    </section>
  </div>
  <!-- End -->

  <!-- Main Container -->
  <div class="main-area">
    <div class="fluid-container">
      <div class="col-xs-12 order-total-container-margin">
        <div class="col-xs-12 reduce-padding order-total-container">
          <div class="col-lg-8 col-xs-7 padding-around">
            <div class="col-xs-12 search-bar">
              <div class="search-container">
                <i class="fa fa-search search-icon"></i>
                <input class="search-input-name" id="namesearch" tabindex=1 type="text" ng-change="search_medicines_stock()" ng-model="name_search_keyword" placeholder="Name" ng-disabled="hideSale || restored" ng-keydown="onKeydown(searched_medicines[searched_medicines.length + 1], $event)">
                <input class="search-input-formula" tabindex=25 type="text" ng-change="formula_search_medicines()" ng-model="formula_search_keyword" placeholder="Formula" ng-disabled="hideSale">
				<input class="search-input-barcode" tabindex=26 type="text" ng-enter="add_barcode_medicine()" ng-model="barcode_search_keyword" placeholder="Barcode" ng-disabled="hideSale">
                <div class="search-result-container dropdown-height" ng-show="show_dropdown">
                  <div class="search-heading">
				  <div class="col-xs-8 reduce-padding">MEDICINES</div>
				  <div class="col-xs-4 reduce-padding">ON HAND</div>
				  <!--div class="col-xs-4 reduce-padding">FORMULA</div-->
				  </div>
                  <div class="results" ng-show="name_search_keyword!==''" tabindex="{{$index+4}}" ng-repeat="med in searched_medicines track by $index" ng-enter="add_search_medicine(med)" ng-click="add_search_medicine(med)" ng-keydown="onKeydown(med, $event)" ng-focus="onFocus(med)">
				  <div class="col-xs-8 reduce-padding">{{med.description}}</div>
				  <div class="col-xs-4 reduce-padding">{{med.totalstock}}</div>
				  <!--div class="col-xs-4 reduce-padding">{{med.formula | limitTo: 18}}{{med.formula.length > 18 ? '...' : ''}}</div-->
				  </div>
                </div>
                <div class="search-result-container dropdown-height" ng-show="show_formula_dropdown">
                  <div class="search-heading">
				  <div class="col-xs-6 reduce-padding">MEDICINES</div>
				  <div class="col-xs-6 reduce-padding">FORMULA</div>
				  </div>
                  <div class="results" tabindex="{{$index+4}}" ng-repeat="med in searched_medicines | filter:{inStock: true} track by $index" ng-click="add_formula_medicine(med)">
					<div class="col-xs-6 reduce-padding">{{med.description}}</div>
					<div class="col-xs-6 reduce-padding">{{med.formula | limitTo: 25}}{{med.formula.length > 25 ? '...' : ''}}</div>
				  </div>
                  <div class="search-heading">
				  <div class="col-xs-6 reduce-padding">OUT OF STOCK</div>
				  <div class="col-xs-6 reduce-padding">FORMULA</div>
				  </div>
                  <div class="results" tabindex="{{$index+4}}" ng-repeat="med in searched_medicines | filter:{inStock: false} track by $index">
				  <div class="col-xs-6 reduce-padding">{{med.description}}</div>
				  <div class="col-xs-6 reduce-padding">{{med.formula | limitTo: 25}}{{med.formula.length > 25 ? '...' : ''}}</div>
				  </div>
                </div>
              </div>
            </div>
            <div class="receipt-no">
				Receipt ID: {{invoiceDetails.invoiceNumber}} <span class="prescription-span" ng-show="showPrescription">For Prescription</span> <span class="prescription-span" ng-show="returnMedicine">For Return</span>
				<span class="prescription-span" ng-show="patient.name">(Credit Sale)</span>
				<div style="font-size:14px" ng-show="patient.name">
					Patient Name: {{patient.name}}<br>
					Patient MRN: {{patient.mr_number}}
				</div>
            </div>
            <div class="table-properties" ng-show="!showdaysintable">
              <table class="table-width" ng-hide="order_data.medicines_list.length == '0'">
                <thead class="tableHead">
                  <tr class="order-table-head-row">
                    <td class="order-table-row column-padding-1">Medicine Name</td>
                    <td class="text-center">Quantity</td>
                    <td class="text-center">Unit</td>
                    <td class="text-center">Price</td>
                    <td class="text-center remove-btn-column">Remove</td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="med in objectItems.orderList track by $index">
                    <td class="order-table-row column-padding-1">{{med.description}}<br><span ng-show="med.supplier">({{med.supplier}})</span></td>
                    <td class="text-center order-table-row">
                      <input class="qty-input" type="Number" focus="true" ng-model="med.quantity" ng-change="check_quantity(med)" ng-enter="focusNameSearch()" ng-disabled="hideSale || restored">
                    </td>
                    <td class="text-center order-table-row">{{med.unit}}</td>
                    <td class="text-center order-table-row">{{(med.price*med.quantity)  | number:0 }}</td>
                    <td class="text-center order-table-row">
                      <button class="close-btn" ng-click="remove_medicine($index)" ><i class="fa fa-trash"></i></button>
                      <!-- <img class="close-img" src="img/close_btn.png" width="20px" height="20px" tabindex="1"> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
			<div class="table-properties" ng-show="showdaysintable">
              <table class="table-width" ng-hide="order_data.medicines_list.length == '0'">
                <thead class="tableHead">
                  <tr class="order-table-head-row">
                    <td class="order-table-row column-padding-1">Medicine Name</td>
					<td class="text-center">Dose</td>
					<td class="text-center">Timing</td>
                    <td class="text-center">Quantity</td>
                    <td class="text-center">Unit</td>
                    <td class="text-center">Price</td>
                    <td class="text-center remove-btn-column">Remove</td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="med in objectItems.orderList track by $index">
                    <td class="order-table-row column-padding-1">{{med.description}}<br><span ng-show="med.supplier">({{med.supplier}})</span></td>
					<td class="text-center order-table-row">
                      <input class="qty-input" type="text" focus="true" ng-model="med.dosage" ng-change="getLabelString(med)" ng-disabled="hideSale">
                    </td>
					<td class="text-center order-table-row">
					<br>
						<select  class="form-control" ng-model="med.timing" ng-change="getLabelString(med)">
						  <option value="none">None</option>
						  <option value="od">OD</option>
						  <option value="bd">BD</option>
						  <option value="tds">TDS</option>
						  <option value="qid">QID</option>
						  <option value="sos">SOS</option>
						  <option value="hs">HS</option>
						  <option value="stat">STAT</option>
						  <option value="prn">PRN</option>
						  <option value="q4hourly">Q 4hourly</option>
						</select>
						<br><span ng-show="med.labelStr"><input type="text" class="form-control" ng-model="med.labelStr" ng-disabled="hideSale" style="max-width:125px;padding-left:0;padding-right:0"></span>
					</td>
					<td class="text-center order-table-row">
                      <input class="qty-input" type="Number" focus="true" ng-model="med.quantity" ng-change="check_quantity(med)" ng-enter="focusNameSearch()" ng-disabled="hideSale || (restored && !returnMedicine)">
                    </td>
                    <td class="text-center order-table-row">{{med.unit}}</td>
                    <td class="text-center order-table-row">{{(med.price*med.quantity)  | number:0 }}</td>
                    <td class="text-center order-table-row">
                      <button class="close-btn" ng-hide="restored && !returnMedicine" ng-click="remove_medicine($index)" ><i class="fa fa-trash"></i></button>
                      <!-- <img class="close-img" src="img/close_btn.png" width="20px" height="20px" tabindex="1"> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-4 col-xs-5 padding-around">
            <div class="col-xs-12 reduce-padding">
              <div class="total-section" style="padding-bottom:4px">
                <table class="table-width">
                  <tr class="total-table-row">
                    <td>Subtotal</td>
                    <td class="text-right">Rs. {{subtotal}}&nbsp;</td>
                  </tr>
                  <tr class="total-table-row">
                    <td>Discount</td>
                    <td class="text-right">
                      <input class="discount-input" type="Number" ng-model="objectItems.orderDiscount" ng-change="qty_change()" ng-disabled="hideSale">
                      <div class="discount-percentage" tabindex=0 ng-enter="changeDiscountType()" ng-show="!showDiscountType" ng-click="changeDiscountType()">%</div>
                      <div class="discount-percentage" tabindex=0 ng-enter="changeDiscountType()" ng-show="showDiscountType" ng-click="changeDiscountType()">Rs.</div>
                    </td>
                  </tr>
                  <tr class="total-amount-text total-table-total-row">
                    <td>Total</td>
                    <td class="text-right">Rs. {{total}}&nbsp;</td>
                  </tr>
                  <tr class="total-table-row">
                    <td>Amount Recieved</td>
                    <td class="text-right "><input class="recieve-amount" tabindex=2 min="0" type="Number" ng-model="objectItems.orderCash" ng-disabled="hideSale" ng-keydown="onKeydown(searched_medicines[searched_medicines.length + 1], $event)"></td>
                  </tr>
                  <tr class="total-table-row">
                    <td>Change</td>
                    <td class="text-right">Rs. {{(!showDiscountType && objectItems.orderCash-(subtotal-((objectItems.orderDiscount/100)*subtotal)) || objectItems.orderCash - (subtotal - objectItems.orderDiscount)) | number:0}}&nbsp;</td>
                  </tr>
                  <tr class="total-table-row">
                    <td>
                      <div class="discount-percentage" style="float:none;width:105px" tabindex=0 ng-enter="issalecredit=!issalecredit;objectItems.orderCash=total" ng-show="!issalecredit" ng-click="issalecredit=!issalecredit;objectItems.orderCash=total">Cash</div>
                      <div class="discount-percentage" style="float:none;width:105px" tabindex=0 ng-enter="issalecredit=!issalecredit;objectItems.orderCash=0" ng-show="issalecredit" ng-click="issalecredit=!issalecredit;objectItems.orderCash=0">Credit Card</div>
                    </td>
                    <td class="text-right">
                      <input class="discount-input" style="float:none;width:135px" placeholder="Receipt#" type="Number" ng-model="objectItems.creditreceiptnumber" ng-show="issalecredit" ng-disabled="hideSale">

                    </td>
                  </tr>
                </table>
				<table class="table-width">
                  <tr class="total-table-row" style="border-bottom:none">
                    <td><input style="width:100%;border:none" placeholder="Remarks" type="Text" ng-model="objectItems.remarks" ng-disabled="hideSale"></td>
				</table>
              </div>
            </div>
            <div class="col-xs-12 reduce-padding">
              <div class="col-xs-12 reduce-padding btn-section">
                <div class="col-xs-12 reduce-padding complete-margin-btn" ng-show="hideSale"><!---->
                  <!--button class="col-xs-12 btn btn-complete btn-info" ng-disabled="returnMedicine || !restored" ng-click="prin_order()">
                    Print Order
                  </button-->
                  <br>
                </div>
                <div class="col-xs-12 reduce-padding complete-margin-btn" ng-hide="(( returnMedBtn == false ? reqMedBtn : 1  ) && (hideSale))">
					<div class="col-xs-6 reduce-padding btn-right-margin">
					<button class="col-xs-12 btn btn-complete" style="max-height:60px" tabindex=3 accesskey="p" ng-click="complete_order()" ng-disabled="(( returnMedBtn == false ? reqMedBtn : 1 ) && (hideSale)) || (objectItems.prescribingDoctorRequired && !objectItems.doctorName && !returnMedicine) || (processType=='Order' && objectItems.orderCash<total) || (processType=='Order' && returnMedBtn) || savinginvoice">
						Complete {{processType}}
				  </button>

					</div>
					<div class="col-xs-6 reduce-padding btn-left-margin">
						<button class="col-xs-12 btn btn-cancel" style="max-height:60px" accesskey="c" ng-click="cancel_order()">
						Cancel Order
						</button>
						<br>
					</div>
                </div>
                <div class="col-xs-12 reduce-padding complete-margin-btn" ng-show="objectItems.prescribingDoctorRequired && !returnMedicine">
                  <input class="col-xs-12 search-receipt" type="text" ng-model="objectItems.doctorName" ng-enter="add_doctor()" placeholder=" Enter Prescribing Doctor">
                </div>
                <div class="col-xs-12 reduce-padding complete-margin-btn" ng-show="objectItems.prescribingDoctorRequired && !returnMedicine">
                  <input class="col-xs-12 search-receipt" type="text" ng-model="objectItems.patient_name" ng-enter="add_doctor()" placeholder=" Enter Patient Name">
                </div>
                <div class="col-xs-6 reduce-padding btn-right-margin">
                  <button class="col-xs-12 btn" style="max-height:60px" ng-show="!returnMedBtn" accesskey="f" ng-click="freeze_order()" ng-disabled="hideSale || returnMedicine">
                    Freeze Sale
                  </button>
				<button class="col-xs-12 btn" style="max-height:60px" ng-show="returnMedBtn" accesskey="p" ng-click="print_order()" ng-disabled="returnMedicine || !restored">
                   Print Order
                  </button>
                </div>
                <div  class="col-xs-6 reduce-padding btn-left-margin"><!--hideSale-->
                  <button class="col-xs-12 btn" style="max-height:60px" ng-class="{'btn': (returnMedicine === false), 'btn btn-cancel-small': (returnMedicine === true)}" ng-click="return_medicine()" ng-disabled="!returnMedBtn || ifsearchedreturn">
                    Return Medicine
                  </button>
                  <br>
                </div>
                <div class="col-xs-12 reduce-padding cancel-margin-btn">
                  <button class="col-xs-12 btn" style="background-color:cadetblue;height:40px" ng-click="printLabel()">
                    Print Label
                  </button>
                  <br>
                </div>
                <div class="col-xs-12 search-receipt-field">
                  <input class="col-xs-12 search-receipt" type="text" ng-model="searchPatientKeyword" ng-enter="getPatients('patients')" placeholder="Search Patients...">
				</div>
                <div class="col-xs-12 search-receipt-field">
                  <input class="col-xs-12 search-receipt" type="number" ng-model="receipt_keyword" ng-enter="search_receipt()" placeholder="Search by Receipt ID">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 reduce-padding order-total-container increase-margin-top prescription-container">
          <div class="col-xs-12">
            <div class="col-xs-6 reduce-padding prescription-title">
              OPD Prescriptions
            </div>
			<div class="col-xs-6">
				<div class="float-right search-block-field reduce-padding" style="margin-bottom:15px">
					<input class="col-xs-12 search-receipt" type="text" ng-model="searchPatientKeyword" ng-enter="getPatients('prescriptions')" placeholder="Search Prescriptions...">
				</div>
			</div>
            <div class="col-xs-12 prescription-header">
              <div class="col-xs-3 reduce-padding">
                Patient MR Number
              </div>
              <div class="col-xs-3 reduce-padding text-center">
                Patient Name
              </div>
              <div class="col-xs-3 reduce-padding text-center">
                Doctor Name
              </div>
              <div class="col-xs-3 reduce-padding text-center">
                Date/Time
              </div>
            </div>
            <div class="col-xs-12 reduce-padding prescription-scroll">
              <div class="col-xs-12 prescription-row" ng-click="callbackPrescriptions(prescription, $index)" ng-repeat="prescription in prescriptions" ng-class="{'selected-prescription': prescription.selected === 'yes'}">
                <div class="col-xs-3 reduce-padding">
                  {{prescription.MRNo}}
                </div>
                <div class="col-xs-3 reduce-padding text-center">
                  {{prescription.patientName}}
                </div>
                <div class="col-xs-3 reduce-padding text-center">
                  {{prescription.doctorDisplayName}}
                </div>
                <div class="col-xs-3 reduce-padding text-center">
                  {{prescription.date | date:'dd/MM/yyyy'}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End Main -->

  <!-- popUp container -->
  <div class="popup-container" ng-show="in_patient_popup" ng-click="toggle_popup()">
    <div class="popup">
      <div class="header-popup">Enter Patient ID</div><br>
      <input class="input-popup" id="patient_id" type="text" ng-model="patient_id"></input><br><br>
      <button class="btn-popup btn-popup-cancel" ng-click="toggle_popup()">Cancel</button>
      <button  class="btn-popup btn-popup-complete" ng-click="complete_in_patient_order()">Complete</button>
    </div>
  </div>

</section>
