<section data-ng-controller="LabReceptionController">
	<div class="panel opd">
		<div class="panel-body">
		    <form name="formViewLabOrders" class="form-horizontal" novalidate>
		        <div class="col-xs-12 reduce-padding">
		            <h5>VIEW LAB ORDERS</h5>
		            <hr>
		            <br />
		            <div class="col-xs-12">
		                <div class="col-lg-6">
		                    <label class="form-control-label">
		                        Date
		                    </label>
		                    <br>
		                    <div class="col-xs-6 reduce-padding float-left">
		                        <input type="date" ng-change="getLabOrders()" name="date" class="form-control disable-valid-dirty" ng-model="searchDate" required="required">
		                    </div>
		                </div>
		                <br>
		                <hr class="hr-padding hr-full">
		            </div>
		            <div class="col-xs-12">
		                <div class="col-xs-12 appointment-header">
											<div class="col-xs-10">
		                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('patientMRN')">
		                        Patient MR Number
		                    </div>
		                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('patientName')">
		                        Patient Name
		                    </div>
		                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('billNumber')">
		                        Bill Number
		                    </div>
		                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('created_date')">
		                        Created Date
		                    </div>
		                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('time')">
		                        Time
		                    </div>
		                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('status')">
		                        Status
		                    </div>
		                </div>
									</div>
		                <div class="col-xs-12 search-row text-align-center">
											<div class="col-xs-10">
		                    <div class="col-xs-2 reduce-padding">
		                        <input class="input-field-border" type="text" ng-model="search.patientMRN"></input>
		                    </div>
		                    <div class="col-xs-2 reduce-padding">
		                        <input class="input-field-border" type="text" ng-model="search.patientName"></input>
		                    </div>
		                    <div class="col-xs-2 reduce-padding">
		                        <input class="input-field-border" type="text" ng-model="search.billNumber"></input>
		                    </div>
		                </div>
									</div>
		                <div class="col-xs-12 reduce-padding scroll-arrival-appointments">
		                    <div class="col-xs-12 appointment-row click-cursor" ng-repeat="labOrder in labOrders | filter:search | orderBy:propertyName:reverse" ng-class="{blue: (labOrder.orderStatus === 'In Progress'), green: (labOrder.orderStatus === 'Completed'), red: (labOrder.orderStatus === 'Pending'),orange: (labOrder.orderStatus === 'Resample')}">
													<div class="col-xs-10" ng-click="viewLabOrderDetails(labOrder)">
														<div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
		                            {{labOrder.patientMRN}}
		                        </div>
		                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
		                            {{labOrder.patientName}}
		                        </div>
		                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
		                            {{labOrder.billNumber}}
		                        </div>
		                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
		                            {{labOrder.created_date | date:'dd/MM/yyyy'}}
		                        </div>
		                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
		                            {{labOrder.time}}
		                        </div>
		                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
		                            {{labOrder.orderStatus}}
		                        </div>
		                    </div>
												<button type="button" class="btn btn-lg nav-btn btn-success btn-primary" ng-show = '(labOrder.orderStatus === "Completed")' ng-click="printData(labOrder.patientMRN, labOrder.labTests)">
														<span ng-hide="processing">
																Print Report
														</span>
														<div class="centerForDemo" ng-show="processing">
																<div class="loadingSpinner"></div>
														</div>
												</button>
											</div>
		                </div>
		            </div>
		        </div>
		    </form>
		</div>
	</div>
</section>
