<section data-ng-controller="LabOrderController">
	<div class="panel opd">
		<ul class="list-unstyled breadcrumb">
            <li><a href="/#!/lab-reception">Home</a></li>
            <li class="active-page"><a href="#">Lab Order Details</a></li>
        </ul>
		<div class="panel-body">
		<div class="purchase-requisition-list" ng-show="refundPopUp">
		   <form name="refundForm" class="refund-popup row" >
			<div class="col-xs-6">
				<h5>Upload Result</h5>
			</div>
			<div class="col-xs-12 reduce-padding">
		            <div class="col-xs-4 reduce-padding">
		                <div class="col-xs-12">
		                    <label class="form-control-label">
		                        Patient Name
		                    </label>
		                    <br>
		                    {{labOrder.patientName}}
		                </div>
		                <div class="col-xs-12">
		                    <label class="form-control-label">
		                        Bill Number
		                    </label>
		                    <br>
		                    {{labOrder.billNumber}}
		                </div>
		                <br>
		            </div>
		            <div class="col-xs-4 reduce-padding">
		                <div class="col-xs-12">
		                    <label class="form-control-label">
		                        Patient MR Number
		                    </label>
		                    <br>
		                    {{labOrder.patientMRN}}
		                </div>
		                <div class="col-xs-12">
		                    <label class="form-control-label">
		                        Date
		                    </label>
		                    <br>
		                    {{labOrder.created_date | date:'dd/MM/yyyy ' + ' ' + labOrder.time}}
		                </div>

		                <br>
		            </div>
					<div class="col-xs-4 reduce-padding">
						<div class="col-xs-12">
		                    <label class="form-control-label">
		                        Test Description
		                    </label>
		                    <br>
		                    {{labforupload.testDescription}}
		                </div>
						<br>
						<div class="col-xs-12">
		                    <label class="form-control-label">
		                        Test Category
		                    </label>
		                    <br>
		                    {{labforupload.testCategory}}
		                </div>
					</div>
		            <div class="col-xs-12 reduce-padding">
		            	<br/>
                        <div class="btn-align">
                            <button type="button" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="completeUpload()" ng-disabled="processing">
                            <span ng-hide="processing">
                            	Upload
                            </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                        </div>
                        <div class="btn-align">
                            <button type="button" class="btn btn-lg nav-btn btn-primary" ng-click="closePopup()" ng-disabled="processing">
                            <span ng-hide="processing">
                            	Cancel
                            </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                        </div>
                        <div class="btn-align">
							<br>
                           <input type="file" onchange="angular.element(this).scope().uploadFile(this.files[0])" id="fileInput" accept="image/*">
                        </div>	 						
		            </div>
			</div>
            
        </form>
		</div>
			
			<form name="formViewLabOrder" class="form-horizontal" novalidate>
		        <div class="col-xs-12 reduce-padding">
		            <h5>LAB ORDER</h5>
		            <hr>
		            <br />
		            <div class="col-xs-4 reduce-padding">
		                <div class="col-xs-12">
		                    <label class="form-control-label">
		                        Patient Name
		                    </label>
		                    <br>
		                    {{labOrder.patientName}}
		                </div>
		                <div class="col-xs-12">
		                    <label class="form-control-label">
		                        Bill Number
		                    </label>
		                    <br>
		                    {{labOrder.billNumber}}
		                </div>
		                <br>
		            </div>
		            <div class="col-xs-4 reduce-padding">
		                <div class="col-xs-12">
		                    <label class="form-control-label">
		                        Patient MR Number
		                    </label>
		                    <br>
		                    {{labOrder.patientMRN}}
		                </div>
		                <div class="col-xs-12">
		                    <label class="form-control-label">
		                        Date
		                    </label>
		                    <br>
		                    {{labOrder.created_date | date:'dd/MM/yyyy ' + ' ' + labOrder.time}}
		                </div>
		                <br>
		            </div>
		            <div class="col-xs-12 reduce-padding">
		                <div class="col-xs-12 appointment-header">
		                    <div class="col-xs-2 reduce-padding click-cursor" ng-click="sortBy('testCategory')">
		                        Test Category
		                    </div>
		                    <div class="col-xs-2 reduce-padding click-cursor text-align-center" ng-click="sortBy('testDescription')">
		                        Test Description
		                    </div>
		                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('status')">
		                        Status
		                    </div>
							<div class="col-xs-2 reduce-padding text-align-center" ng-show="!labimgonly">
		                        Sample No (optional)
		                    </div>
		                    <div class="col-xs-2 reduce-padding text-align-center">
		                        Action
		                    </div>
		                    <div class="col-xs-2 reduce-padding text-align-center" ng-show="!labimgonly">
		                        Transfer
		                    </div>
		                </div>
		                <div class="col-xs-12 search-row">
		                    <div class="col-xs-offset-4 col-xs-2 reduce-padding text-align-center">
		                        <input class="input-field-border" type="text" ng-model="search.testDescription"></input>
		                    </div>
		                </div>
		                <div class="col-xs-12 reduce-padding scroll-arrival-appointments">

		                    <div class="col-xs-12 appointment-row click-cursor" ng-repeat="labTest in labOrder.labTests | filter:search | orderBy:propertyName:reverse" ng-class="{blue: (labTest.status === 'In Progress' || labTest.status === 'Alert'), green: (labTest.status === 'Completed'), gray: (labTest.status === 'Pending'),orange: (labTest.status === 'Resample')}">
		                        <div class="col-xs-2 reduce-padding vertical-txt-pos">
		                            {{labTest.testCategory}}
		                        </div>
		                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
		                            {{labTest.testDescription}}
		                        </div>
		                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center" ng-show="labTest.status !== 'Alert'">
		                            {{labTest.status}}
		                        </div>
		                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center" ng-show="labTest.status === 'Alert'">
		                            In Progress
		                        </div>
								 <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center"  ng-show="!labimgonly">
									<input class="form-control" type="text" ng-model="labTest.sampleNo" ng-disabled="labTest.status !== 'Pending' && labTest.status.toLowerCase() !== 'resample'"></input>
		                        </div>
		                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
                        			<div ng-show="!labimgonly">
										<button type="button" class="btn btn-success grid-receipt-btn" ng-click="printLabTestLabel(labTest, $index)" ng-hide="labTest.transferStatus === true" ng-disabled="processing || labTest.status === 'Completed' || labTest.status === 'In Progress' || labTest.status.toLowerCase() === 'retest'">
											Print Label
										</button>
									</div>
									<div ng-show="labimgonly">
										<button type="button"  ng-show="labimgonly" class="btn btn-success grid-receipt-btn" ng-click="uploadLabResult(labTest, $index)" ng-disabled="processing">
											Upload Result
										</button>
										<!--input type="file" onchange="angular.element(this).scope().uploadFile(this.files[0])" id="fileInput" accept="image/*"-->
									</div>
		                        </div>
		                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center"  ng-show="!labimgonly">
                                    <select class="form-control" ng-model="labTest.transferredTo" ng-change="selectPanel(labTest)" ng-disabled="processing || labTest.status === 'Completed' || !showPanels">
								    	<option ng-repeat="panelLab in panelLabs" value="{{panelLab.description}}">
								    		{{panelLab.description}}
								    	</option>
								    </select>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <div class="col-xs-12 reduce-padding">
		            	<br />
                        <div ng-show="!labimgonly" class="btn-align">
                            <button type="button" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="completeLabTestCollection()" ng-disabled="processing || labOrder.orderStatus === 'Completed' || labOrder.orderStatus === 'In Progress'">
                            <span ng-hide="processing">
                            	Collection Completed
                            </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                        </div>
                        <div class="btn-align">
                            <button type="button" class="btn btn-lg nav-btn btn-primary" ng-click="returnToReception()" ng-disabled="processing">
                            <span ng-hide="processing">
                            	Return to Reception
                            </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                        </div>	            	
		            </div>
		        </div>
		    </form>
		</div>
	</div>
</section>