<section data-ng-controller="LabResultsController">
    <div class="panel opd">
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/lab-orders-list">Home</a></li>
            <li class="active-page"><a href="#">Test Results</a></li>
        </ul>
        <div class="panel-body">

            <div class="tab-pane">
                <form name="formLabResult" class="form-horizontal" novalidate>
                    <div class="col-xs-12">
                        <div class="col-xs-12 reduce-padding">
                            <h5>SUBMIT TEST RESULT</h5>
                            <hr>
                            <br />
                        </div>
                        <div class="col-xs-12 reduce-padding">
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Patient Name
                                </label>
                                <br>
                                {{patientName}}
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Category
                                </label>
                                <br>
                                {{labResults.category}}
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Created
                                </label>
                                <br>
                                {{createdDate.substr(0,createdDate.length-12)}}
                            </div>
                            <br>
                        </div>
                        <div class="col-xs-12 reduce-padding">
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Patient MR Number
                                </label>
                                <br>
                                {{labResults.patientMRN}}
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Description
                                </label>
                                <br>
                                {{labResults.description}}
                            </div>
                            <div class="col-xs-4">
                                <label class="form-control-label">
                                    Last Modified
                                </label>
                                <br>
                                {{modifiedDate.substr(0,createdDate.length-12)}}
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-12 reduce-padding services-table">
                            <div class="col-xs-12 reduce-padding grid-header">
                            	<div class="col-xs-3 header-col">
                            		Test Name
                            	</div>
                            	<div class="col-xs-3 center-text header-col">
                            		Result
                            	</div>
                            	<div class="col-xs-3 center-text header-col">
                            		Units
                            	</div>
                            	<div class="col-xs-3 center-text header-col">
                            		Expected Values
                            	</div>
                            </div>
                            <div ng-repeat="test in labResults.tests[index].subTests" ng-init="rowIndex = $index" class="col-xs-12 reduce-padding grid-rows" ng-class="{green: (test.resultStatus === 'Normal'), red: (test.resultStatus === 'Alert'), gray: (test.resultStatus === '')}">
                                <div class="col-xs-3" ng-hide="test.reference.isSubHeading">
                                    {{test.reference.valueDescription}}
                                </div>
                                <div class="col-xs-3" ng-show="test.reference.isSubHeading">
                                    <b>{{test.reference.valueDescription}}</b>
                                </div>
                                <div class="col-xs-3 center-text" ng-if="!test.reference.isRange && !test.reference.isSubHeading && test.reference.expectedValue.toLowerCase() !== 'comment'">
                                    <select name="resultValue" class="form-control" ng-model="test.resultValue" ng-change="checkResultValue(test)" required="">
                                      <option ng-repeat="expValue in test.reference.expValue">{{expValue.addexpectedValue}}</option>
                                    </select>
                                </div>
                                <div class="col-xs-6 center-text" ng-if="!test.reference.isRange && !test.reference.isSubHeading && test.reference.expectedValue.toLowerCase() === 'comment'">
                                    <input name="resultValue" ng-change="checkResultValue(test)" type="text" class="form-control" ng-model="test.resultValue" required="">
                                    </input>
                                </div>
                                <div class="col-xs-3 center-text" ng-if="test.reference.isRange && !test.reference.isSubHeading">
                                    <input name="resultValue" type="number" class="form-control" ng-model="test.resultValue" ng-change="checkResultValue(test)" required="">
                                    </input>
                                </div>
                                <div class="col-xs-3 center-text">
                                    {{test.reference.unit}}
                                </div>
                                <div class="col-xs-3 center-text" ng-show="!test.reference.isRange && !test.reference.isSubHeading">
                                    <div ng-show="!test.reference.valueDetails">{{test.reference.expectedValue}}</div>
									<div ng-show="test.reference.valueDetails">
									<pre> {{test.reference.valueDetails}}</pre>
									</div>
                                </div>
                                <div class="col-xs-3 center-text" ng-show="test.reference.isRange && !test.reference.isSubHeading">
                                    <div ng-show="!test.reference.valueDetails">
										<span ng-show="test.reference.minValue && test.reference.maxValue">
											{{test.reference.minValue + ' - ' + test.reference.maxValue}}
										</span>
										<span ng-show="test.reference.minValue && !test.reference.maxValue">
											{{'> ' + test.reference.minValue}}
										</span>
										<span ng-show="!test.reference.minValue && test.reference.maxValue">
											{{'< ' +test.reference.maxValue}}
										</span>
									</div>
									<div ng-show="test.reference.valueDetails">
									<pre>{{test.reference.valueDetails}}</pre>
									</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 reduce-padding">
                            <label class="form-control-label">
                                Remarks
                            </label>
                            <textarea class="form-control" col="50" ng-model="labResults.tests[labResults.tests.length - 1].remarks">

                            </textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 grand-label">
                        <div class="btn-align">
                            <button type="button" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="printAndEmailResult(formLabResult)" ng-disabled="!formLabResult.$valid || processing">
                                <span ng-hide="processing">
                                    Print and Email
                                </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                            <button type="button" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="printResult(formLabResult)" ng-disabled="!formLabResult.$valid || processing">
                                <span ng-hide="processing">
                                    Print
                                </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                            <button type="button" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="saveLabResultPathologist(formLabResult)" ng-disabled="!formLabResult.$valid || processing" ng-show="isPathologist">
                                <span ng-hide="processing">
                                    Verify
                                </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                            <button type="button" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="showAllLabOrder()" ng-disabled="!formLabResult.$valid || processing" ng-show="isPathologist">
                                <span ng-hide="processing">
                                    Print All Test
                                </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                            <button type="button" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="resample()" ng-disabled="!formLabResult.$valid || processing" ng-show="isPathologist">
                                <span ng-hide="processing">
                                    Resample
                                </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                            <button type="button" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="retest()" ng-disabled="!formLabResult.$valid || processing" ng-show="isPathologist">
                                    <span ng-hide="processing">
                                        Retest
                                    </span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                            <button type="button" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="saveLabResultTechnician(formLabResult)" ng-disabled="!formLabResult.$valid || processing" ng-show="!isPathologist">
                                <span ng-hide="processing">
                                    Save
                                </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <hr class="hr-full">
                        <div class="col-xs-12 reduce-padding">
                            <h5>Patient Test History</h5>
                            <br/>
                        </div>
                        <!-- <div ng-repeat="test in testHistory.tests"  class="col-xs-12 reduce-padding lab-history-grid-rows">
                            <div class="col-xs-12 reduce-padding">
                                <div class="lab-history-header-sides">

                                </div>
                                <div class="lab-history-header">
                                    <div class="col-xs-6 center-text">
                                    <b>Last Updated</b> <br>{{test.updated[test.updated.length-1].by}}</div>
                                    <div class="col-xs-6 center-text"><b>Created on</b> <br>{{test.Created.substr(0,test.Created.length-13)}}
                                    </div>
                                </div>
                                <div class="lab-history-header-sides">

                                </div>
                            </div>
                            <div class="col-xs-12 reduce-padding lab-history-sub-test-header">
                                <div class="col-xs-4">
                                    <b>Test Name</b>
                                </div>
                                <div class="col-xs-2 center-text">
                                    <b>Unit</b>
                                </div>
                            </div>
                            <div class="col-xs-12 reduce-padding" >
                                <div class="col-xs-4">
                                    {{subtest.reference.valueDescription}}<br>
                                </div>
                                <div class="col-xs-2 center-text" ng-repeat="subtest in test.subTests" ng-class="{red: (subtest.resultStatus === 'Alert')}">
                                    {{subtest.resultValue}}<br>
                                </div>

                            </div>
                        </div> -->
                        <style>th,td{min-width: 150px;max-width: 250px;text-align: justify;}th{text-align: center;}</style>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                <th>Test Name</th>
                                <th ng-repeat="subtest in testHistory.tests[0].subTests">
                                    <span ng-hide="subtest.reference.isSubHeading">
                                        {{subtest.reference.valueDescription}}
                                    </span>
                                    <span ng-show="subtest.reference.isSubHeading" style="padding-top: 10px;margin-bottom: 10px;border-bottom:1px solid #000;">
                                        <b>{{subtest.reference.valueDescription}}</b>
                                    </span>
                                </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="test in testHistory.tests">
                                    <th>
                                        <b>{{test.Created.substr(0,test.Created.length-12)}}</b>
                                        <span ng-show="test.testStatus">({{test.testStatus}})</span>
                                    </th>
                                    <td ng-repeat="subtest in test.subTests">
                                        <span ng-show="subtest.resultValue">{{subtest.resultValue}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <div class="col-xs-2 reduce-padding">
                            <b>Test Name</b>
                            <br><br>

                            <div ng-repeat="subtest in testHistory.tests[0].subTests" ng-class="{'test-name-header' : !subtest.reference.isSubHeading}" >
                                <span ng-hide="subtest.reference.isSubHeading">{{subtest.reference.valueDescription}}</span>
                                <span ng-show="subtest.reference.isSubHeading" style="padding-top: 10px;margin-bottom: 10px;border-bottom:1px solid #000;"><b>{{subtest.reference.valueDescription}}</b></span><br>
                            </div>
                        </div>
                        <div ng-repeat="test in testHistory.tests"  class="col-xs-1 reduce-padding lab-history-grid-rows text-center">
                            <b>{{test.Created.substr(0,test.Created.length-12)}}</b>
                            <br><br>

                            <div class="text-center" ng-repeat="subtest in test.subTests" ng-class="{'red': (subtest.resultStatus === 'Alert'),'test-name-result' : !subtest.reference.isSubHeading}" >

                                <span ng-show="subtest.resultValue">{{subtest.resultValue}}<br></span>
                                <span ng-hide="subtest.resultValue"><br></span>
                            </div>
                        </div> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
