<style>h1 {text-align: center;}.purchase-order-print {margin-top: 100px;}.heading {font-size: 14px;font-weight: bold;}.margin-left {padding-left: 20px;: }.grid-table {margin-top: 20px;text-align: center;tr:nth-child(odd) {background-color: #F9F9F9};width: 100%}.ng-hide {display: none}.td-padding {padding-left: 5px;padding-right: 5px}.tr-border {border: 1px solid #ccc}.total-container {border-top: 1px solid #ccc;font-size: 16px;padding: 15px;text-align: right}.signature {border-top: 1px solid #000;width: 138px;padding: 5px 10px;float: right}.signature-container {margin-top: 40px;height: 40px}.pr-no-width {width: 100px}.remarks-container {margin-top: 5px;margin-bottom: 10px;}.remarks-text {margin-left: 80px;}.remarks {float: left;}.footer {bottom: 0;position: absolute;text-align: center;margin-left: -102px;left: 50%;}</style>

<!--img src="./images/watermark1.png" style="margin-top: 300px;width:100%;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;"></img-->
<div style="height:100px;" ng-show="enableHeader" ng-style="!enableHeader && {'display':'none'}">
  <div style="float: left;" ng-show="headerImage" ng-style="!headerImage && {'display':'none'}">
    <img ng-src={{headerImage}} width="100%" height="100px" />
  </div>
  <img src="{{hospitallogo}}" width="220px" style="float: left;" ng-hide="headerImage" ng-style="headerImage && {'display':'none'}">
  <div style="float: left;margin-left: 10px;" ng-hide="headerImage" ng-style="headerImage && {'display':'none'}">
    <h1 style="text-align: left;padding-top:5px;margin-top:10px;">{{hospitalname}}</h1>
    <p>{{hospitalAddress}}<br> Tel: {{hospitalPHNumber}}</p>
  </div>
</div>
<div ng-style="{'margin-top': marginTop*72+'px'}">
  <table style="width : 100%">
    <tr>
      <td>
        <div style="width: 440px;float:left;">
          MR No : {{patientInfo.mr_number}}<br> Patient Name : {{patientInfo.name}} <br> Reg. Date : {{patientInfo.created.substr(0,date.length-13)}}
          <br>
        </div>
      </td>
      <td style="text-align: left;">
        <div style="width: 350px;float:right;">
          Age / Gender : {{patientInfo.age}} Years / {{patientInfo.gender}}<br>
          <span ng-show="patientInfo.panel.name">: {{patientInfo.panel.name}}<br></span>
          Printing Date : {{date.substr(0,date.length-13)}}
        </div>
      </td>
    </tr>
  </table>
  <hr>
  <div>
    <h3>
      <span style="border-bottom: 1px solid #000;">
      {{labResult.description}}
      </span>
    </h3>
  </div>
  <div>
    <table style="margin-top: 20px;width: 100%;width: 100%;">
      <tbody ng-repeat="test in labResult.tests[index].subTests" ng-if="test.resultValue || test.reference.isSubHeading">
        <tr ng-show="test.reference.expectedValue.toLowerCase() === 'comment'">
          <td style="text-align:justify;padding-top: 10px;padding-bottom: 10px;" colspan="4">
            <p><b><u>{{test.reference.valueDescription}}</u>: </b>
            {{test.resultValue}}</p>
          </td>
        </tr>
        <tr ng-show="test.reference.isSubHeading">
          <td style="text-align:left;padding-left: 5px;padding-right: 5px;padding-top: 0px;padding-bottom: 0px;" ng-style="!test.reference.isSubHeading && {'display':'none'}" colspan="4">
            <h3 style="padding: 0;margin: 0"><span style="border-bottom: 1px solid #000;"><b>{{test.reference.valueDescription}}</b></span></h3>
          </td>
        </tr>
        <tr ng-if="test.reference.expectedValue.toLowerCase() !== 'comment' && !test.reference.isSubHeading" ng-hide="!labResult.tests[labResult.tests.length - 1].subTests[$index-1].reference.isSubHeading && $index !== 0 && labResult.tests[labResult.tests.length - 1].subTests[$index-1].reference.expectedValue.toLowerCase() !== 'comment'">
          <th style="text-align: left;padding-right: 5px;width:35%;">
            <span style="border-bottom: 1px solid #000;">Test Name</span>
          </th>
          <th style="text-align:left;width:20%;">
            <span style="border-bottom: 1px solid #000;">Result</span></th>
          <th style="text-align:left;width:20%;">
            <span style="border-bottom: 1px solid #000;">Unit</span></th>
          <th style="text-align:left;width:25%;">
            <span style="border-bottom: 1px solid #000;">Reference Range</span>
          </th>
        </tr>
        <tr ng-show="test.reference.expectedValue.toLowerCase() !== 'comment' && !test.reference.isSubHeading">
          <td style="text-align:left;padding-left: 5px;padding-right: 5px;" ng-hide="test.reference.isSubHeading" ng-style="test.reference.isSubHeading && {'display':'none'}">{{test.reference.valueDescription}}</td>
          <td style="text-align:left;padding-left: 5px;padding-right: 5px;" ng-hide="test.reference.isSubHeading" ng-style="test.reference.isSubHeading && {'display':'none'}"><b>{{test.resultValue}}</b></td>
          <td style="text-align:left;padding-left: 5px;padding-right: 5px;" ng-hide="test.reference.isSubHeading" ng-style="test.reference.isSubHeading && {'display':'none'}">{{test.reference.unit}}</td>
          <td style="text-align:left;padding-left: 5px;padding-right: 5px;" ng-hide="test.reference.isSubHeading" ng-style="test.reference.isSubHeading && {'display':'none'}">
            <span ng-show="!test.reference.valueDetails">
              <span ng-show="test.reference.minValue && test.reference.maxValue">
                {{test.reference.minValue + ' - ' + test.reference.maxValue}}
              </span>
              <span ng-show="test.reference.minValue && !test.reference.maxValue">
                {{'> ' + test.reference.minValue}}
              </span>
              <span ng-show="!test.reference.minValue && test.reference.maxValue">
                {{'< ' +test.reference.maxValue}}
						</span>
						<span ng-hide="test.reference.isRange">
							{{test.reference.expectedValue}}
						</span>
					</span>
					<span ng-show="test.reference.valueDetails">
						<pre>{{test.reference.valueDetails}}</pre>
					</span>
                    <!-- {{test.reference.minValue + ' - ' + test.reference.maxValue}} -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-show="labResult.tests[labResult.tests.length - 1].remarks">
    <h3><span style="border-bottom: 1px solid #000;">Remarks:
      </span></h3>{{labResult.tests[labResult.tests.length - 1].remarks}}
  </div>
  </div>

  <div style="bottom: 0;position: absolute;" ng-show="enableFooter" ng-style="!enableFooter && {'display ':'none
                    '}">
    <img src="{{hospitallogo}}" width="220px" style="float: left;" ng-hide="footerImage"></img>
    <div style="float: left;margin-left: 10px;" ng-hide="footerImage">
      <h1 style="text-align: left;padding-top:5px;margin-top:10px;">{{hospitalname}}</h1>
      <p>{{hospitalAddress}}<br> Tel: {{hospitalPHNumber}}</p>
    </div>
    <img ng-show="footerImage" ng-src={{footerImage}} width="100%" height="100px" />
  </div>
  <div style="bottom: 200px;position: absolute;text-align: right;width:90%;" ng-show="enableSignatue" ng-style="!enableSignatue && {'display ':'none '}">
    <!--<div ng-repeat="value in pathologistSignature">{{value}}</div>-->
    <div style="white-space:pre;color: #000000; margin-top: 50px;font-weight:bold; float: right;">{{pathologistSignature}}
    </div>

  </div>
