<section data-ng-controller="LabSettingController">
	<div class="panel opd">
		<ul class="list-unstyled breadcrumb">
            <li><a href="/#!/lab-reception">Home</a></li>
            <li class="active-page"><a href="#">Lab print Setting</a></li>
        </ul>
		<div class="panel-body">
		    <form name="formViewLabOrder" class="form-horizontal" novalidate>
		        <div class="col-xs-12 reduce-padding">
		            <h5>LAB PRINT SETTING</h5>
		            <hr>
		            <br/>
		            <div class="col-xs-12 reduce-padding">
		                <div class="col-xs-3">
		                    <label class="form-control-label">
		                        Enable Header
		                    </label>
		                    <br>
		                    <select class="form-control" ng-options="o.value as o.label for o in options" ng-model="enableHeader" ng-disabled="UpdateItem && item.grn_created"></select>
		                 
                            <div class="col-xs-12 reduce-padding" ng-show="enableHeader && headerImage">
                                <label class="form-control-label">
                                    Header URL
                                </label>
                                <br>
			                    <input class="form-control" type="text" ng-model="headerImage">
                                <br>
                            </div>
                            <br>
		                    <div class="col-xs-12 reduce-padding" ng-show="enableHeader">
			                    <input type="file" onchange="angular.element(this).scope().uploadHeaderFile(this.files[0])" id="fileInput" accept="image/*">
	                            <img class="img-container" ng-src="{{headerImage}}" width="100px"/>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <label class="form-control-label">
		                        Enable Footer
		                    </label>
		                    <br>
		                    <select class="form-control" ng-options="o.value as o.label for o in options" ng-model="enableFooter" ng-disabled="UpdateItem && item.grn_created"></select>
		                    <div class="col-xs-12 reduce-padding" ng-show="enableFooter && footerImage">
                                <label class="form-control-label">
                                    Header URL
                                </label>
                                <br>
			                    <input class="form-control" type="text" ng-model="footerImage">
                                <br>
                            </div>
                            <br>
		                    <div class="col-xs-12 reduce-padding" ng-show="enableFooter">
			                    <input type="file" onchange="angular.element(this).scope().uploadFooterFile(this.files[0])" id="fileInput" accept="image/*">
	                            <img class="img-container" ng-src="{{footerImage}}" width="100px"/>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <label class="form-control-label">
		                        Pathologist Signature
		                    </label>
		                    <br>
		                    <select class="form-control" ng-options="o.value as o.label for o in options" ng-model="enableSignatue"></select>
		    
                        </div>
                        <div class="col-xs-3">
                            <label class="form-control-label">
		                        Top Margin (Pixels)
		                    </label>
		                    <br>
		                    <input class="form-control" type="number" ng-model="marginTop"></input>
		                </div>
		                <div class="col-xs-12">
                            
                            <div class="btn-align">
                               <!--  <button type="submit" class="btn btn-primary" ng-click="submit_item(item,form)" ng-disabled="form.barcode.$error.required || form.description.$error.required || !form.purchaseToStorage.$valid || !form.storageToSelling.$valid || !form.salesTax.$valid" ng-hide="UpdateItem">Save</button> -->
                               <button type="button" class="btn btn-lg btn-primary btn-success" ng-click="submit(form)" ng-disabled="form.$invalid || processing" ng-hide="UpdateItem">
                                    <span ng-hide="processing">Save</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                            </div>
                            <div class="btn-align">
                                <button  type="button" class="btn btn-lg btn-success btn-primary" ng-click="update_item(item,form)" ng-disabled="form.$invalid || processing" ng-show="UpdateItem">
                                <span ng-hide="processing">Update</span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                                </button>
                            </div>
                            <div class="btn-align">
                                <button type="button" ng-disabled="processing" class="btn btn-lg btn-primary" ng-click="reset(form)">
                                <span ng-hide="processing">Clear</span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                                </button>
                            </div>
                            <div class="btn-align">
                                <button type="button" class="btn btn-lg btn-danger btn-primary" ng-click="delete_item()" ng-disabled="form.description.$error.required || form.purchaseToStorage.$invalid || form.storageToSelling.$invalid || form.salesTax.$invalid || processing" ng-show="UpdateItem">
                                    <span ng-hide="processing">Delete</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                            </div>
                            
                            
                        </div>
		                
		            </div>
		        </div>
		    </form>
		</div>
	</div>
</section>