<section data-ng-controller="LabTestsController">
    <div class="panel opd">
        <div class="panel-body">
            <div class="tab-pane">
                <form name="formLabTest" class="form-horizontal" novalidate ng-click="hideFacilities()" autocomplete="off">
                    <div class="col-xs-12 reduce-padding">
                        <div class="col-xs-12 reduce-padding">
                            <div class="col-xs-12">
                                <h5>CREATE TEST</h5>
                            </div>
                            <hr>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-10 reduce-padding">
		                        <label class="form-control-label">
		                            Lab Test
		                        </label>
		                        <br>
                                <input class="form-control" ng-model="categoryDescription" name="description" ng-click="showFacilities()"  ng-change="facilitySelected = false; test.description = ''; test.category = '';">
                                <ul ng-show="dropdownFlag" class="services-dropdown">
                                    <li class="dropdown-header">
                                        <div class="col-xs-9">Test Name</div>
                                        <div class="col-xs-3">Category</div>
                                    </li>
                                    <li class="facility-li" ng-repeat="facility in facilities | filter : categoryDescription" ng-click="selectFacility(facility)">
                                        <div class="col-xs-9">
                                        	{{facility.description}}
                                        </div>
                                        <div class="col-xs-3">
                                        	{{facility.category.substr(9)}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-12 reduce-padding services-table">
                            <div class="col-xs-12 reduce-padding grid-header">
                                <div class="col-xs-2 center-text header-col">
                                    Description
                                </div>
                            	<div class="col-xs-1 center-text header-col">
                            		Min Age
                            	</div>
                            	<div class="col-xs-1 center-text header-col">
                            		Max Age
                                </div>
                                <div class="col-xs-1 center-text header-col">
                            		Age Units
                            	</div>
                            	<div class="col-xs-1 center-text header-col">
                            		Gender
                            	</div>
                            	<div class="col-xs-1 center-text header-col">
                            		Min Value
                            	</div>
                            	<div class="col-xs-1 center-text header-col">
                            		Max Value
                            	</div>
                            	<div class="col-xs-1 center-text header-col">
                            		Expected Value
                            	</div>
                                <div class="col-xs-1 center-text header-col">
                                    Units
                                </div>
                                <div class="col-xs-1 center-text header-col">
                                    Is Range
                                </div>
                                <div class="col-xs-1 center-text header-col">
                                    Is Heading
                                </div>

                            </div>
                            <div ng-repeat="referenceValue in test.referenceValue" ng-init="rowIndex = $index" class="col-xs-12 reduce-padding grid-rows" style="padding: 15px 0">

                  <div class="col-xs-2 center-text">
                      <input type="text" class="form-control" ng-model="referenceValue.valueDescription" required="">
                      </input>
                  </div>
                <div class="col-xs-1 center-text">
                  <input type="number" min="0" max="150" ng-hide="referenceValue.isSubHeading" class="form-control" ng-model="referenceValue.minAge">
                  </input>
                </div>
                <div class="col-xs-1 center-text">
                  <input type="number" min="0" max="150" ng-hide="referenceValue.isSubHeading" class="form-control" ng-model="referenceValue.maxAge">
                  </input>
                </div>
                <div class="col-xs-1 center-text">
                    <select ng-hide="referenceValue.isSubHeading" class="form-control" ng-model="referenceValue.ageUnits">
                        <option value="Years">Years</option>
                        <option value="Months">Months</option>
                        <option value="Days">Days</option>
                    </select>
                </div>
                  <div class="col-xs-1 center-text">
                      <select class="form-control" ng-hide="referenceValue.isSubHeading" ng-model="referenceValue.gender" required="">
                          <option ng-value="both">Both</option>
                          <option ng-value="male">Male</option>
                          <option ng-value="female">Female</option>
                      </select>
                  </div>
									<div class="col-xs-1">
										<input type="number" class="form-control" ng-hide="referenceValue.isSubHeading" ng-model="referenceValue.minValue" ng-if="referenceValue.isRange">
										</input>
									</div>
									<div class="col-xs-1">
										<input type="number" class="form-control" ng-hide="referenceValue.isSubHeading" ng-model="referenceValue.maxValue" ng-if="referenceValue.isRange">
										</input>
									</div>
									<div class="col-xs-1">
										<select class="form-control" ng-hide="referenceValue.isSubHeading" ng-model="referenceValue.expectedValue" required="" ng-if="!referenceValue.isRange">
                      <option ng-repeat="expValue in test.referenceValue[rowIndex].expValue">{{expValue.addexpectedValue}}</option>
                    </select>
									</div>
                  <div class="col-xs-1 center-text">
                      <input type="text" class="form-control" ng-hide="referenceValue.isSubHeading" ng-model="referenceValue.unit" ng-if="referenceValue.expectedValue.toLowerCase() !== 'comment'">
                      </input>
                  </div>
                  <div class="col-xs-1 reduce-padding center-text">
                      <div ng-hide="referenceValue.isSubHeading">
                          <input type="radio" id="{{'radio_range' + rowIndex}}" ng-model="referenceValue.isRange" ng-value="true" ng-checked="referenceValue.isRange === true" class="click-cursor">
                          <label for="{{'radio_range' + rowIndex}}" class="click-cursor">
                              Yes
                          </label>
                          <input type="radio" id="{{'radio_no_range' + rowIndex}}" ng-model="referenceValue.isRange" ng-value="false" ng-checked="referenceValue.isRange === false" class="click-cursor">
                          <label for="{{'radio_no_range' + rowIndex}}" class="click-cursor">
                              No
                          </label>
                      </div>
                  </div>

                                <div class="col-xs-1 center-text">
                                    <input type="radio" id="{{'radio_range' + rowIndex}}" ng-model="referenceValue.isSubHeading" ng-value="true" ng-checked="referenceValue.isSubHeading === true" class="click-cursor">
                                    <label for="{{'radio_range' + rowIndex}}" class="click-cursor">
                                        Yes
                                    </label>
                                    <input type="radio" id="{{'radio_no_range' + rowIndex}}" ng-model="referenceValue.isSubHeading" ng-value="false" ng-checked="referenceValue.isSubHeading === false" class="click-cursor">
                                    <label for="{{'radio_no_range' + rowIndex}}" class="click-cursor">
                                        No
                                    </label>
                                    &nbsp;&nbsp;
                                    <button type="button" class="btn btn-xs btn-primary" ng-show="$last" ng-click="addResult()"><i class="fa fa-plus"></i></button>
                                	<button type="button" class="btn btn-xs btn-danger" ng-click="removeResult(rowIndex)" ng-hide="test.referenceValue.length === 1 || $last"><i class="fa fa-trash"></i></button>
                                </div>
                                <div class="col-xs-10" style="margin-top:15px">
                                    <div class="col-lg-4" ng-repeat="expValue in test.referenceValue[rowIndex].expValue">
                                    <div class="col-xs-10" style="margin-top:5px; margin-left:-30px">
                                      <input type="text" class="form-control" ng-hide="referenceValue.isSubHeading" ng-model="expValue.addexpectedValue" required="" ng-if="!referenceValue.isRange">
                                      </input>
                                    </div>
                                    &nbsp;&nbsp;
                                    <button style="margin-top:5px; margin-left: -20px" type="button" class="btn btn-xs btn-primary" ng-show="$last" ng-click="addValue(rowIndex)" ng-if="!referenceValue.isRange"><i class="fa fa-plus"></i></button>
                                    <button style="margin-top:5px; margin-left: -20px" type="button" class="btn btn-xs btn-danger" ng-click="removeValue(rowIndex, $index)" ng-hide="test.referenceValue[rowIndex].expValue.length === 1 || $last" ng-if="!referenceValue.isRange"><i class="fa fa-trash"></i></button>
                									</div>
                                </div>
                                <div class="col-xs-2" style="margin-top:15px">
                                  <textarea class="form-control" ng-model="referenceValue.valueDetails" placeholder="Expected value details (optional)">
                                  </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <br><br>
                        <div class="btn-align">
                            <button type="button" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="submitLabTest(formLabTest)" ng-disabled="!formLabTest.$valid || !facilitySelected || processing" ng-hide="updateItem">
                            <span ng-hide="processing">
                            	Save
                            </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                        </div>
                        <div class="btn-align">
                            <button type="button" class="btn btn-lg nav-btn btn-primary" ng-click="reset(formLabTest)" ng-disabled="processing">
                            <span ng-hide="processing">
                            	Reset
                            </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                        </div>
                        <div class="btn-align">
                            <button type="button" class="btn btn-lg nav-btn btn-secondary btn-primary" ng-click="PreviewLabTest(formLabTest)" ng-disabled="!formLabTest.$valid || !facilitySelected || processing">
                            <span ng-hide="processing">
                            	Preview
                            </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                        </div>
                        <div class="btn-align">
                            <button type="button" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="updateLabTest(formLabTest)" ng-disabled="!formLabTest.$valid || !facilitySelected || processing" ng-show="updateItem">
                            <span ng-hide="processing">
                                Update
                            </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                        </div>
                        <div class="btn-align">
                            <button type="button" class="btn btn-lg nav-btn btn-danger btn-primary" ng-click="deleteLabTest(formLabTest)" ng-disabled="!formLabTest.$valid || !facilitySelected || processing" ng-show="updateItem">
                            <span ng-hide="processing">
                                Delete
                            </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
