<section data-ng-controller="PanelLabsController">
    <div class="panel opd">
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Manage Panel Labs</a></li>
        </ul>
        <div class="panel-body">
            <form name="formPanelLab" class="form-horizontal" novalidate ng-click="hide_facilities()">
                <div class="col-xs-12 reduce-padding">
                    <div class="col-lg-4">
                        <h5>PANEL LAB DETAILS</h5>
                        <hr>
                        <br />
                        <div class="col-xs-12 reduce-padding">
                            <label class="form-control-label">
                                Description
                            </label>
                            <br>
                            <div class="col-xs-9 reduce-padding">
                                <input type="text" name="description" class="form-control" ng-model="panelLab.description" required="">
                                <span class="error" ng-show="formPanelLab.description.$touched && formPanelLab.description.$error.required">Please fill this field</span>
                            </div>
                        </div>
                        <div class="col-xs-12 reduce-padding">
                            <label class="form-control-label">
                                Address
                            </label>
                            <br>
                            <div class="col-xs-9 reduce-padding">
                                <input type="text" name="address" class="form-control" ng-model="panelLab.address" required="">
                                <span class="error" ng-show="formPanelLab.address.$touched && formPanelLab.address.$error.required">Please fill this field</span>
                            </div>
                        </div>
                        <div class="col-xs-12 reduce-padding">
                            <label class="form-control-label">
                                Contact
                            </label>
                            <br>
                            <div class="col-xs-9 reduce-padding">
                                <input type="text" name="contact" class="form-control" ng-model="panelLab.contact" required="" ng-pattern="/^[0-9]*$/">
                                <span class="error" ng-show="formPanelLab.contact.$touched && formPanelLab.contact.$error.required">Please fill this field</span>
                            </div>
                            <hr class="hr-padding hr-full">
                        </div>
                        <div class="col-xs-12 reduce-padding">
                            <button type="button" class="btn btn-lg btn-danger" ng-click="delete_panel_lab(formPanelLab)" ng-disabled="processing" ng-show="updateItem">
	                            <span ng-hide="processing">
	                            	Delete
	                            </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                            <button type="button" class="btn btn-lg btn-primary" ng-click="reset(formPanelLab)" ng-disabled="processing">
	                            <span ng-hide="processing">
	                            	Clear
	                            </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                            <button type="button" class="btn btn-lg btn-success" ng-click="update_panel_lab(formPanelLab)" ng-disabled="!formPanelLab.$valid || processing" ng-show="updateItem">
	                            <span ng-hide="processing">
	                            	Update
	                            </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                            <button type="button" class="btn btn-lg btn-success" ng-click="submit_panel_lab(formPanelLab)" ng-disabled="!formPanelLab.$valid || processing || panelLab.tests.length === 0" ng-hide="updateItem">
	                            <span ng-hide="processing">
	                            	Save
	                            </span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h5>PANEL TESTS</h5>
                        <hr>
                        <br />
                        <div class="col-xs-12 reduce-padding">
	                        <label class="form-control-label">
	                            Add Lab Test
	                        </label>
	                        <br>
	                        <div class="col-xs-9 reduce-padding">
	                            <input class="form-control" ng-model="categoryDescription" name="categoryDescription" ng-focus="show_facilities()" ng-click="show_facilities()" ng-change="categoryDescription = '';" placeholder="Click to add lab tests...">
	                        	</input>
	                            <ul ng-show="dropdownFlag" class="panel-services-dropdown">
	                                <li class="dropdown-header">
	                                    <div class="col-xs-6">Test Name</div>
	                                    <div class="col-xs-6">Category</div>
	                                </li>
	                                <li class="facility-li" ng-repeat="facility in facilities" ng-click="select_facility(facility)">
	                                    <div class="col-xs-6">
	                                    	{{facility.description}}
	                                    </div>  
	                                    <div class="col-xs-6">
	                                    	{{facility.category}}
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
                        </div>
                        <div class="col-xs-12 reduce-padding">
                            <label class="form-control-label">
                                Lab Tests
                            </label>
                            <br>
                            <div class="col-xs-12 reduce-padding" ng-repeat="test in panelLab.tests">
                            	<div class="col-xs-9 reduce-padding">
                            		{{test.category + '-' + test.description}}
                            	</div>
                            	<div class="col-xs-3 reduce-padding">
                                    <button type="button" class="btn btn-xs btn-danger" ng-click="remove_lab_test(test, $index)"><i class="fa fa-trash"></i></button>
                            	</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h5>UPDATE EXISTING PANEL LABS</h5>
                        <hr>
                        <div class="col-xs-12" ng-show="!showTable">
                            <label class="form-control-label">No Panel Labs Found.</label>
                        </div>
                        <div class="col-xs-12 background-dynamic-grid-np reduce-padding" ng-show="showTable">
                            <picklist-simple headings-to-add="headings" height="250" rows-to-add="panelLabsToShow" prefix="prefix" multiselect="'single'" callbackfn="callbackfn(arg1)" title="'Select Panel Lab'">
                        </div>
                    </div>
                    <div class="col-xs-12 form-group">
                        <div ng-class="confirmationPopup">
                            <div class="arrow-up"></div>
                            <div class="gray-container">
                                <b>Are you sure?</b><br>
                                This panel lab will be deleted permanently.<br><br>
                                <button class="btn btn-neutral" ng-click="hide_delete_popup()">Cancel</button>&nbsp;&nbsp;<button class="btn btn-danger" ng-click="confirm_delete_popup(formPanelLab)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div> 
            </form>
        </div>
    </div>
</section>