<section data-ng-controller="PathologistSignatureController">
	<div class="panel opd">
		<ul class="list-unstyled breadcrumb">
            <li><a href="/#!/lab-reception">Home</a></li>
            <li class="active-page"><a href="#">Lab print Setting</a></li>
        </ul>
		<div class="panel-body">
		    <form name="formViewLabOrder" class="form-horizontal" novalidate>
		        <div class="col-xs-12 reduce-padding">
		            <h5>Pathologist Signature</h5>
		            <hr>
		            <br/>
		            <div class="col-xs-12 reduce-padding">
		                <div class="col-xs-3">
                            <br>
		                    <textarea class="form-control" rows="5" placeholder="Name ,Degrees and Field" ng-model="authentication.user.signature"></textarea>
                        </div>
		                <div class="col-xs-12">
                            
                            <div class="btn-align">
                               <!--  <button type="submit" class="btn btn-primary" ng-click="submit_item(item,form)" ng-disabled="form.barcode.$error.required || form.description.$error.required || !form.purchaseToStorage.$valid || !form.storageToSelling.$valid || !form.salesTax.$valid" ng-hide="UpdateItem">Save</button> -->
                               <button type="button" class="btn btn-lg btn-primary btn-success" ng-click="submit(form)" ng-disabled="form.$invalid || processing" ng-hide="UpdateItem">
                                    <span ng-hide="processing">Save</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                            </div>
                            <div class="btn-align">
                                <button  type="button" class="btn btn-lg btn-success btn-primary" ng-click="update_item(item,form)" ng-disabled="form.$invalid || processing" ng-show="UpdateItem">
                                <span ng-hide="processing">Update</span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                                </button>
                            </div>
                            <div class="btn-align">
                                <button type="button" ng-disabled="processing" class="btn btn-lg btn-primary" ng-click="reset(form)">
                                <span ng-hide="processing">Clear</span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                                </button>
                            </div>
                            <div class="btn-align">
                                <button type="button" class="btn btn-lg btn-danger btn-primary" ng-click="delete_item()" ng-disabled="form.description.$error.required || form.purchaseToStorage.$invalid || form.storageToSelling.$invalid || form.salesTax.$invalid || processing" ng-show="UpdateItem">
                                    <span ng-hide="processing">Delete</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                            </div>
                            
                            
                        </div>
		                
		            </div>
		        </div>
		    </form>
		</div>
	</div>
</section>