.create-facility {
	li {
		list-style: none;
	}

	.tree-text-field {
		border: 1px solid #000;
	    height: 25px;
	    margin-bottom: 5px;
	    margin-top: 5px;
		padding: 10px;
	}

	.add-del-btn {
		margin-top: -3px;
	}

	.child-container {
		background-color: rgba(0,0,0,0.1);
		padding: 10px 10px 10px 15px;
		margin-left: 40px;
	}

	.arrow-up {
		width: 0; 
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid rgba(0,0,0,0.1);
		position: relative;
		top: -15px;
		margin-bottom: -5px;
	}

	.head-container {
		padding-left: 0;
	}
}