.facility-pricing {
	li {
		list-style: none;
	}

	.tree-text-field {
		border: 1px solid #000;
	    height: 25px;
	    margin-bottom: 5px;
	    margin-top: 5px;
	}

	.add-del-btn {
		margin-top: -3px;
	}

	.child-container {
		background-color: rgba(0,0,0,0.1);
		padding: 10px 10px 10px 15px;
		margin-left: 40px;
	}

	.arrow-up {
		width: 0; 
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid rgba(0,0,0,0.1);
		position: relative;
		top: -15px;
		margin-bottom: -5px;
	}

	.head-container {
		padding-left: 0;
	}

	.grid-col-2 {
		padding-left:20px;
	}

	.grid-header {
		font-weight: bold;
	}

	.pricing-table {
		margin-top: 30px;
	}

	.save-btn {
		margin-top: 20px;
	}

	.add-service {
		margin-bottom: 5px;
	}

	.add-service-row{
		margin-top:5px;
		border-bottom:1px solid #ddd;
	}


}