.hospital-admin {
	.add-another-timing {
		text-align: center;
		padding: 5px;
	}

	.timeslot {
	    margin-right: 5px;
	    margin-bottom: 5px;
	    min-width: 95%;
	}

	.schedule-height {
		height: 360px;
		overflow-y: scroll;
	}
	

	.discount-percentage {
		background-color: #FAFAFA;
		border: 1px solid lightgray;
		border-radius: 13px;
		float: right;
		font-weight: bold;
		height: 24px;
		line-height: 1.5;
		margin-right: 5px;
		padding: 0 5px;
		text-align: center;
		width: 56px;
		cursor: pointer;
	}

	.cursor-hover {
		cursor: pointer;
	}

	.text-align-center {
		text-align: center;
	}

	.text-align-right {
		text-align: right;
	}

	.table-height {
		height: 400px;
		overflow-y: scroll;
	}

	.meridian-toggle {
	    border: 1px solid #827ca1;
	    border-radius: 5px;
	    text-align: center;
	    cursor: pointer;
	    margin-top: 2px;
    }

    .meridian-toggle:hover {
    	background-color: #e6eaf0;
    }

	.float-right {
		float: right;
	}

	.float-left {
		float: left;
	}

	.coverage-header-facility {
		width: 40%;
	}

	.coverage-header {
		width: 20%;
	}

	.coverage-amount-input {
	    width: 50%;
    	margin: auto;
	}

	.search-block-field {
        @include transition-slow();
        float: right;
        margin-right: 20px;
 		margin-top: 20px;
        width: 200px;
        .form-control {
            min-width: 200px;
        }
        &:hover {
            width: 300px;
            @include transition-slow();
            .form-control {
                width: 100%;
            }
        }
    }

	.search-container-field-height {
	   	height: 34px;
	}

    .search-block-submit {
        position: absolute;
        top: -1px;
        right: 0px;
        height: 38px;
        width: 38px;
        background:  none;
        border: none;
        z-index: 4;
        cursor: pointer;
        &:focus, &:active {
            outline: none !important;
        }
    }

	.hide-popup {
		display: none;
	}

	.arrow-up {
		width: 0;
		height: 0;
		margin-left: 50px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #efefef;
	}

	.arrow-down {
		width: 0;
		height: 0;
		margin-left: 50px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #efefef;
	}

	.confirmation-popup-doctor {
		animation-name: flip;
	    animation-duration: .5s;
	    margin-top: -210px;
		margin-bottom: 10px;
		width: 270px;
		margin-top: -190px !important;
		margin-bottom: -10px !important;
	}

	.confirmation-popup-panel {
		animation-name: flip;
	    animation-duration: .5s;
	    margin-top: -210px;
		margin-bottom: 10px;
		width: 270px;
		margin-top: -190px !important;
		margin-bottom: -10px !important;
	}

	.gray-container {
		background-color: #efefef;
		padding: 10px;
	}

	.timing-panel {
		padding: 10px;
	    margin-top: 5px;
	}

	.margin-auto {
		margin: auto;
	}
	
	.timepicker-div {
		margin-top: 20px;
	}
	
	.meridian-box {
		background-color: #fff;
		border: 1px solid #000;
		text-align: center;
		border-radius: 3px;
	}
	
	.meridian-box:hover {
		background-color: #ccc;
	}

	.facilities-height {
		height: 100px;
		overflow-y: scroll;
	}

	.coverages-height {
		height: 350px;
		overflow-y: scroll;
		padding: 10px;
	}

	.coverage-panel {
		padding: 10px;
	}

	.margin-top-button {
		margin-top: 10px;
	}

	.coverage-heading {
		font-size: 15px;
	    font-weight: 600;
	    padding-top: 10px;
	}

	.row-padding-top {
		padding-top: 5px;
	}
}