.manage-expense {
	li {
		list-style: none;
	}

	.tag {
		background-color: gray;
		border-radius: 3px;
		margin-right:5px;
		margin-top: 3px;
	}

	.tag-text {
		color: #fff;
		padding: 0 3px;
	}
	
	.results {
		cursor: pointer;
		font-size: 14px;
		padding: 2px 15px;
	}

	.results:nth-child(odd) {
		background-color: #F9F9F9
	}

	.results:hover {
		background-color: #EAF2F9;
	}
	
	.search-result-container {
		background-color: #fff;
		border: 1px solid #EBEBEB;
	    box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
	    border-radius: 3px;
		margin-top: 30px;
		position: absolute;
		text-align: left;
		width: 300px;
	    z-index: 1;
	}

    .dropdown-height {
		height: 300px;
		overflow-y: scroll;
	}

	.tag-remove {
		cursor: pointer;
		color: lightgray;
		background-image: url('../../images/close2.png');
		background-size: 15px 15px;
		margin: 3px;
		height: 15px;
		padding: 0 2px;
		width: 15px;
	}

	.tree-text-field {
		border: 1px solid #000;
	    height: 25px;
	    margin-bottom: 5px;
	    margin-top: 5px;
	}

	.add-del-btn {
		margin-top: -3px;
	}

	.child-container {
		background-color: rgba(0,0,0,0.1);
		padding: 10px 10px 10px 15px;
		margin-left: 40px;
	}

	.arrow-up {
		width: 0; 
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid rgba(0,0,0,0.1);
		position: relative;
		top: -15px;
		margin-bottom: -5px;
	}

	.head-container {
		padding-left: 0;
	}

	.report-header {
		height: 35px;
		padding-top: 7px;
		font-weight: 600;
	}

	.search-row {
		background-color: lightgray !important;
		border-bottom: 2px solid darkgray;
		padding: 5px 0;
	}

	.report-row {
		border-bottom: 1px solid #fff;
		cursor: pointer;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	
}