.register-patient-popup {
		background-color: #fff;
		border-radius: 10px;
    	padding: 10px 10px 20px 10px;
	}

.emergency {
	.btn-group {
	    display: inline-block;
	    position: relative;
	    vertical-align: middle;
	}

	.disable-valid-dirty {
		border-color: #827ca1 !important;
	}

	.btn-default-outline {
	    border-color: #acb7bf;
	    color: #acb7bf;
	}

	.nav-tab-selected {
	    border-color: #eeeeee #eeeeee #ddd;
	    text-decoration: none;
    	background-color: #eeeeee;
	}

	.timeslot {
	    margin-right: 5px;
	    margin-bottom: 5px;
	    min-width: 95%;
	}

	.scroll-slots {
		max-height: 210px;
		overflow-y: scroll;
	}

	.scroll-arrival-appointments {
		max-height: 300px;
		overflow-y: scroll;
	}

	.text-align-center {
		text-align: center;
	}

	.search-result-container {
		background-color: #fff;
		border: 1px solid #EBEBEB;
	    box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
	    border-radius: 3px;
		margin-top: 30px;
		position: absolute;
		text-align: left;
		width: 300px;
	    z-index: 1;
	}

    .dropdown-height {
		height: 300px;
		overflow-y: scroll;
	}

	.results {
		cursor: pointer;
		font-size: 14px;
		padding: 2px 15px;
	}

	.results:nth-child(odd) {
		background-color: #F9F9F9
	}

	.results:hover {
		background-color: #EAF2F9;
	}

	.background-dynamic-grid-np {
		background: #f3f3f3;
		border-radius: 3px;
		border: 1px solid;
		border-color: #827ca1;
	}

	.hide-popup {
		display: none;
	}

	.arrow-up {
		width: 0;
		height: 0;
		margin-left: 50px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #efefef;
	}

	.arrow-down {
		width: 0;
		height: 0;
		margin-left: 50px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #efefef;
	}

	.arrow-down-right {
		width: 0; 
		height: 0; 
		margin-left: 160px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #efefef;
	}

	.confirmation-popup {
		animation-name: flip;
	    animation-duration: .5s;
	    margin-top: -210px;
		margin-bottom: 10px;
		width: 270px;
	}

	.popup {
		margin-top: -45px !important;
		margin-bottom: -10px !important;
	}

	.confirmation-popup-right {
		animation-name: flip;
	    animation-duration: .5s;
	    margin-top: -120px;
		margin-bottom: 10px;
		width: 270px;
		margin-right: 215px;
		float: right;
	}

	.gray-container {
		background-color: #efefef;
		padding: 10px;
	}

	.bottom-padding {
		padding-bottom: 5px;
	}

	.scroll-array {
		height: 325px;
		overflow-y: scroll;
	}

	.search-block {
        @include transition-slow();
        float: right;
        margin-right: 20px;
 		margin-top: 20px;
        width: 200px;
        .form-control {
            min-width: 200px;
        }
        &:hover {
            width: 300px;
            @include transition-slow();
            .form-control {
                width: 100%;
            }
        }
    }

    .search-block-submit {
        position: absolute;
        top: -1px;
        right: 0px;
        height: 38px;
        width: 38px;
        background:  none;
        border: none;
        z-index: 4;
        cursor: pointer;
        &:focus, &:active {
            outline: none !important;
        }
    }

	.search-heading {
		background-color: #F5F5F5;
		border: 1px solid #EBEBEB;
		color: gray;
		font-size: 14px;
		font-weight: 500;
		padding-left: 5px;
		padding: 2px 5px;
	}

    .search-container-height {
	   	height: 34px;	
    }

	.btn-default-outline.active {
	    background: #9ba8b2;
	    border-color: #9ba8b2;
	    color: #ffffff;
	}

	.float-right {
		float: right;
	}

	.float-left {
		float: left;
	}

	.reduce-overall-padding {
		padding: 8px;
	}

	.nav-item:hover {
		cursor: pointer;
	}

	.search-block-field {
        @include transition-slow();
        float: right;
        margin-right: 20px;
 		margin-top: 20px;
        width: 200px;
        .form-control {
            min-width: 200px;
        }
        &:hover {
            width: 300px;
            @include transition-slow();
            .form-control {
                width: 100%;
            }
        }
    }

	.appointment-header {
		border-top: 2px solid #ccc;
		margin-top: 20px;
	    height: 35px;
	    padding-top: 7px;
	    font-weight: 600;
	}

	.appointment-row {
	    border-bottom: 1px solid #fff;
		padding-top: 5px;
		padding-bottom: 5px;

	}

	.gray {
		background-color: #ededed !important;
	}

	.green {
		background-color: #cee1cb !important;
	}

	.red {
		background-color: #f2dede !important;
	}

	.blue {
		background-color: #78c7e1 !important;
	}

	.orange {
		background-color: #f7c4a2 !important;
	}

	.click-cursor {
		cursor: pointer;
	}

	.search-row {
	    background-color: lightgray !important;
	    border-bottom: 2px solid darkgray;
	    padding: 5px 14px;
	}

	.find-doctor-input {
		background-image: url(/modules/core/img/60995.png);
	    background-size: 20px;
	    background-repeat: no-repeat;
	    background-position: 99% 1px;
		padding-right: 28px;
	}

	.find-doctor-label {
		float: right;
    	padding-top: 2px;
    	padding-right: 10px;
	}

	.appoin-walkin {
		margin-bottom: 20px;
	}

	.text-center {
		text-align: center;
	}

	.search-block-field {
		margin: 5px 0 0;
	}

	.icmn-search {
		margin-top: 9px !important;
	}

	.center-align-text {
		text-align: center;
	}

	.token-btn {
		margin-top: 10px;
		margin-left: 10px;
		float: right;
	}

	.register-btn-pos {
		margin-top: 35px;
	}

	.vertical-txt-pos {
		line-height: 2.25;
	}

	.grid-regis-btn {
		width: 60%;
	}

	.grid-receipt-btn {
		width: 60%;
		padding: 5px 7px;
	}

	.appointment-schedule-height {
		min-height: 350px
	}

	.grid-header {
		background-color: lightgray;
		border-bottom: 2px solid darkgray;
		border-top: 1px solid #ddd;
		font-weight: bold;
		
	}

	.header-col {
		border-right: 1px solid #fff;
		padding-bottom: 5px;
		padding-top: 5px;
	}

	.header-last-col {
		border-right: none;
	}

	.grid-rows {
		padding: 2px 0;
	}

	.grid-rows:nth-of-type(odd){
	    background-color: #efefef;
	}

	.center-text {
		text-align: center;
	}

	.grand-total {
		font-weight: bold;
		font-size: 14px;
		padding: 5px 0; 
	}

	.grand-label {
		padding-top: 4px;
	}

	.payment-container {
		border : 1px dotted #ccc;
		padding: 10px 20px 20px;
		margin-top: 30px;
		margin-bottom: -38px;
		z-index: 1;
	}

	.checkbox-label {
		float: left;
		width: 180px;
	}

	.services-table {
		border: 1px solid #ccc;
		margin-top: 20px;
		padding-bottom: 15px;
	}

	.payment-textfields {
		float: left;
		margin-left: 10px;
		width: 160px;
	}

	.total-section {
		margin-bottom: 10px;
	}

	.no-patient {
		font-weight: bold;
	}

	.bill-history {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.services-dropdown {
		background-color: #fff;
		border: 1px solid #efefef;
		list-style: none;
		padding-left: 0;
		position : absolute;
		width: 100%;
		max-height: 500px;
		z-index: 9999;
		overflow-y: scroll;

		li {
			cursor: pointer;
		}
	}

	.panel-services-dropdown {
		background-color: #fff;
		border: 1px solid #efefef;
		list-style: none;
		padding-left: 0;
		position : absolute;
		width: 185%;
		z-index: 9999;

		li {
			cursor: pointer;
		}
	}

	.dropdown-header {
		background-color: #ddd;
		height: 25px;
		text-align: left;
		padding-left: 0;
	}

	.facility-li {
		height: 20px;
		background-color: #fff;
	}

	.facility-li:hover {
		background-color: #efefef;
	}

	.discount {
		width: 75px;
		margin-left: auto;
		margin-right: auto;
	}

	.disbaled-field {
		background-color: #f2f4f8;
		padding: 2px 10px;
    	height: 24px;
    	border: 1px solid #827ca1;
    	border-radius: 4px;
	}

	.refund-popup {
		background: #ffffff;
	    border: 1px solid #dfe4ed;
	    padding: 0px;
	    border-radius: 5px;
	    margin-bottom: 25px;
	    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	    padding: 20px;
	    margin: 30px auto;
	    width: 400px;
	}

	.lab-history-grid-rows {
		background-color: #efefef;
		
		.lab-history-header-sides {
			width: 33.33%;
			float:left;
			height:50px;
			border-bottom: 1px solid #ddd;
			margin-bottom: 5px;
			background-color: #fff;
		}
	}

	.lab-history-grid-rows:nth-of-type(odd){
	    background-color: #fff;

	    .lab-history-header-sides {
			width: 33.33%;
			float:left;
			height:50px;
			border-bottom: 1px solid #ddd;
			margin-bottom: 5px;
			background-color: #efefef;
		}
	}

	.lab-history-sub-test-header {
		padding-bottom: 5px;
	}

	.test-name-header {
		border-bottom: 1px solid #ddd;
		padding: 2px;
	}

	.test-name-result {
		border-bottom: 1px solid #ddd;
		padding: 2px;
	}
	

	.lab-history-header {
		width: 33.33%;
		float:left;
		height:50px;
		border-right: 1px solid #ddd;
		border-left: 1px solid #ddd;
		border-top: 1px solid #ddd;
		padding-top: 5px;
	}

	.age-slash {
		font-size : 18px;
		margin-bottom: 0;
		margin-top: 3px;	
	}
}