.pos {	
	.hideBlock {
		display: none !important;
	}

	
	.timeFormat {
	    color: white;
	    padding-top: 15px;
	    float: left;
	}

	.userFormat {
	    color: white;
	    padding-top: 15px;
	    float: right;
	}

	.logoutFormat {
		color: white;
		padding-top: 10px;
		padding-left: 15px;
		float: right;
	}

	.patient-info-headings {
		font-weight: 600;
	}

	.selected-prescription {
		background-color: #cee1cb !important;
	}

	.alert {
		margin-bottom: 0px !important;
		text-align: center;
		position: absolute;
		z-index: 999;
	}

	.alert-danger {
    	background-color: #6aff91 !important;
	    border-color: #3bff6f !important;
	    color: #135d26 !important;
	    font-size: 18px !important;
	    margin-top: 5px;
	}

	.prescription-container {
	    padding-bottom: 5px;
    	margin-bottom: 10px;
	}

	.prescription-scroll {
		max-height: 200px;
		overflow-y: scroll;
	}

	.prescription-span {
		font-size: 20px;
	}

	.align-right {
		text-align: right;
	}

	.btn-small {
		height: 30px !important;
		font-size: 14px !important;
	}

    .dropdown-height {
		height: 300px;
		overflow-y: scroll;
	}

	.tableHead {
		background-color: lightgray;
		border-bottom: 2px solid darkgray;
		height: 35px;
		border-radius: 3px;
	}

	.barcodeform {
	    width: 231px !important;
	    margin-right: 0px !important;
	    padding: 0px !important;
	}

	.text-align-center {
		text-align: center;
	}

	input[type="number"],input[type="text"] {
		border: 1px solid lightgray;
	}

	input[type="number"]:focus {
		outline: none;
		box-shadow: 0 0 5px #008AE8;
		border: 1px solid #008AE8;
	}

	input[type="text"]:focus {
		outline: none;
		box-shadow: 0 0 5px #008AE8;
		border: 1px solid #008AE8;
	}
	.column-padding-1 {
		padding-left: 15px;
		padding-right: 15px;
	}

	.order-table-head-row {
		border-bottom: 1px solid lightgray;
		
	}

	.order-table-row {
		border-bottom: 1px solid lightgray;
		height: 35px;
	}


	.total-table-total-row {
		border-top: 3px solid darkgray; 
	}


	.total-table-row {
		border-bottom: 1px solid lightgray;
		height: 35px;
		padding-left: 0;
		padding-right: 0;
	}

	.remove-btn-column {
		width: 65px;
	}

	.reduce-margin {
		margin-left: 0;
		margin-right: 0;
	}

	.reduce-padding {
		padding-left: 0;
		padding-right: 0;
	}

	.increase-margin-bottom {
		margin-bottom: 10px;
	}

	.increase-margin-top {
		margin-top: 10px;
	}

	.reduce-padding-left {
		padding-left: 0;
	}

	.reduce-padding-right {
		padding-right: 0;	
	}

	.pointer-hover {
		cursor: pointer;
	}

	.main-area {
		background-color: #eceff4;
		float : right;
		height: 100%;
		width: 73%;
	}

	.order-total-container {
		background-color: #fff;
		border-radius: 6px;
	    border: 1px solid #EBEBEB;
		margin-right: auto;
	    margin-right: auto;
	    max-width: 1050px;
	    max-height: 700px;
	}

	.order-total-container-margin {
		padding: 20px 30px 0 0; 
	}

	.left-column {
		float:left;
		width: 25%;
		overflow-y: auto;
		max-height: 650px;
		padding-top: 12px;
	}

	.holded-sale {
		background-color: #FAFAFA;
		border: 1px solid lightgray;
		border-radius: 2px;
		cursor: pointer;
		margin: 10px;
		padding: 10px;
	}

	.holded-sale:hover {
		background-color: #EAEAEA;
		border: 1px solid lightgray;
		margin: 10px;
		padding: 10px;
	}

	.holded-sale:focus {
		background-color: #EEE;
	}

	.table-width {
		width: 100%;
	}

	.table-properties {
		max-height: 400px;
		overflow-y: auto;
		padding-top: 10px;
	}

	.table-width tr th{ 
		background: lightgray;
	}

	.hoverTable tr:hover {
		background-color: #b8d1f3;
	}

	.selected {
		background-color: #b8d1f3;
	}
	.qty-input {
	    padding-left: 12px;
	    text-align: center;
		width: 50px;
	}

	.text-center {
		text-align: center;
	}

	.text-right {
		text-align: right;
	}

	.header-bar {
		background-color: #3A4953;
		border-bottom: 1px solid lightgray;
		height: 56px;
	}

	.search-bar {
		background-color: #F5F5F5;
		border-radius: 3px;
		height: 56px;
		padding-left: 0;
		padding-right: 0;
	}

	body {
		background-color: #f5f5f5 !important;
	}

	.search-container {
	    font-size: 22px;
	    text-align: left;
	    margin-top: 9px;
	    padding: 0 8px;
	}

	.order-section {
		padding: 20px;
	}
	.total-section {
		box-shadow: 6px 6px 18px rgba(0,0,0,.2);
		padding: 10px 10px 48px;
	}
	.total-section::after {
		content: '';
	    display: block;
	    position: absolute;
	    width: 100%;
	    bottom: -5px;
	    left: 0;
	    height: 10px;
	    background: linear-gradient(45deg,rgba(255,255,255,0) 50%,#fff 50%),linear-gradient(-45deg,rgba(255,255,255,0) 50%,#fff 50%);
	    background-position: bottom center,bottom center;
	    background-size: .75rem .75rem,.75rem .75rem;
	    background-repeat: repeat-x;
	}

	.discount-input {
		border: 1px solid lightgray;
		border-radius: 13px;
		float: right;
		padding-left: 10px;
		text-align: center;
		width: 50px;
	}

	.discount-input:focus {
		outline: none;
		box-shadow: 0 0 5px #008AE8;
		border: 1px solid #008AE8;
		border-radius: 13px !important; 
	}

	.total-amount-text {
		font-size: 25px;
	}

	.btn {
		background-color: #41AF4B;
	    color: #FFF;
	    height: 80px;
	}

	.btn-dynamic {
		margin-top: 5px;
		height: 50px !important;
		width: 30%;
		float: right;
	}

	.btn:hover {
		background-color: #50be5a;
	    color: #FFF;
	}

	.btn:focus {
		background-color: #50be5a;
	    color: #FFF;
	}

	.btn-complete {
		font-size: 14px;
		font-weight: bold;
		padding-left: 10px;
	}

	.btn-logout {
		border-color: #6a7a84 !important;
	    color: #6a7a84 !important;
	    background-color: #ffffff !important;
	    border-radius: 100px !important;
	    height: auto;
	}

	.btn-logout:hover {
	    color: #ffffff !important;
	    background-color: #6a7a84 !important;
	}

	.btn-cancel {
		background-color: #f39834 !important;
		font-size: 14px;
		font-weight: bold;
	}

	.btn-cancel-small {
		background-color: #f39834 !important;
	}

	.btn-cancel:hover {
		background-color: #f5a751 !important;
	}

	.btn-cancel:focus {
		background-color: #f5a751 !important;
	}

	.btn-section {
		margin-top: 20px;
	}

	.cancel-margin-btn {
		margin-top: 10px;
	}

	.complete-margin-btn {
		margin-bottom: 10px;
	}

	.padding-around {
		padding: 20px;
	}

	.discount-percentage {
		background-color: #FAFAFA;
		border: 1px solid lightgray;
		border-radius: 13px;
		float: right;
		font-weight: bold;
		height: 24px;
		line-height: 1.5;
		margin-right: 5px;
		padding: 0 5px;
		text-align: center;
		width: 56px;
		cursor: pointer;
	}

	.recieve-amount {
		border: 1px solid lightgray; 
		border-radius: 13px;
		padding-left: 10px;
		text-align: center;
		width: 100px;
	}

	.btn-left-margin {
		padding-left: 5px !important;
	}

	.btn-right-margin {
		padding-right: 5px !important;
	}

	.search-text {
		float: left;
		width: 78px;
	    font-size: 20px;
	}
	.search-by-id {
		float: left;
		margin-left: 10px;
	}

	.search-by-name {
		float: left;
		margin-left: 10px;
	}

	.search-by-formula {
		float: left;
		margin-left: 10px;
	}

	.receipt-no {
		font-size: 35px;
		font-weight: 300;
	}

	.close-btn {
		background: none;
		border: none; 
	}

	.close-btn:hover {
		background-color: rgb(230,100,60);
		border-radius: 3px;
	}

	.close-img:hover {
		box-shadow: 0 0 5px #008AE8;
		border: 1px solid #008AE8;
		border-radius: 10px;
	}

	.popup-container {
		background: rgba(0,0,0,.5);
		position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	}

	.popup {
		-webkit-animation-name: slidein; /* Chrome, Safari, Opera */
	    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
	    animation-name: slidein;
	    animation-duration: 1s;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 150px;
	    background-color: #fff;
	    border: 1px solid lightgray;
	    border-radius: 5px;
	    padding: 15px;
	    text-align: center;
	    width: 400px;
	}

	@-webkit-keyframes slidein {
	    from {margin-top: -100px;}
	    to {margin-top: 150px;}
	}

	/* Standard syntax */
	@keyframes slidein {
	    from {margin-top: -100px;}
	    to {margin-top: 150px;}
	}

	.header-popup {
		font-size: 20px;
	}

	.input-popup {
		width: 300px;
		height: 35px;
	}

	.btn-popup {
		border: none;
		border-radius: 5px;
		height: 45px;
		width: 100px;
	}

	.btn-popup-cancel {
		background-color: #F8F8F8;
	    color: gray;
	    margin-right: 15px;
	}

	.btn-popup-complete {
		background-color: #41AF4B;
		color: #FFF;
	}

	.search-input-barcode {
		border-top-left-radius : 3px;
		border-bottom-left-radius : 3px;
		font-size: 18px;
		height: 38px;
		padding-left: 5px;
		max-width: 165px;
	}

	.search-input-name {
		font-size: 18px;
		height: 38px;
		padding-left: 5px;
		max-width: 165px;
	}

	.search-input-formula {
		border-top-right-radius : 3px;
		border-bottom-right-radius : 3px;
		font-size: 18px;
		height: 38px;
		padding-left: 5px;
		max-width: 165px;
	}

	.search-receipt {
		font-size: 18px;
		height: 38px;
	}

	.search-receipt-field {
		padding: 10px 0;
	}


	.search-icon {
		color: gray;
		margin-left: 5px;
		margin-right: 5px;
		position: relative;
		z-index: 999;
	}

	.search-result-container {

		background-color: #fff;
		border: 1px solid #EBEBEB;
	    box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
	    border-radius: 3px;
		margin-top: 5px;
		position: absolute;
		text-align: left;
		width: 98%;
	    z-index: 1;
	}

	.search-heading {
		background-color: #F5F5F5;
		border: 1px solid #EBEBEB;
		color: gray;
		font-size: 14px;
		font-weight: 600;
		height: 23px;
		padding-left: 5px;
		padding: 2px 5px;
	}

	.no-results {
		color: gray;
		font-size: 14px;
		padding: 2px 15px;
	}

	.results {
		cursor: pointer;
		height: 19px;
		font-size: 14px;
		padding: 2px 15px;
	}

	.results:nth-child(odd) {background-color: #F9F9F9}

	.results:hover {
		background-color: #EAF2F9;
	}

	.prescription-table {
		margin: 8px;
	}

	.prescription-title {
		height: 20px;
		font-weight: 700;
		height: 35px;
		padding-top: 10px;
		padding-left: 10px;
	}

	.prescription-header {
	    background-color: lightgray;
	    border-bottom: 2px solid darkgray;
	    border-radius: 3px;
	    height: 35px;
	    padding-top: 10px;
	    font-weight: 600;
	}

	.prescription-row {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.prescription-row:hover {
		background-color: #EAF2F9;
		border-radius: 3px;
		cursor: pointer;
	}

	.prescription-disabled {
		cursor: not-allowed;
	}
}