.arrival {
	.register-patient-popup {
		background-color: #fff;
		border-radius: 10px;
		width: 600px;
    	margin: 20px auto;
    	padding: 10px 10px 20px 10px;
	}

	.find-doctor-input {
		background-image: url(/modules/core/img/60995.png);
	    background-size: 20px;
	    background-repeat: no-repeat;
	    background-position: 99% 1px;
		padding-right: 28px;
	}

	.find-doctor-label {
		float: right;
    	padding-top: 2px;
    	padding-right: 10px;
	}

	.appoin-walkin {
		margin-bottom: 20px;
	}

	.text-center {
		text-align: center;
	}

	.search-block-field {
		margin: 5px 0 0;
	}

	.icmn-search {
		margin-top: 9px !important;
	}

	.center-align-text {
		text-align: center;
	}

	.token-btn {
		margin-top: 10px;
		float: right;
	}

	.register-btn-pos {
		margin-top: 35px;
	}


}