.nurse {
	.half-width-field {
		float: left;
		width: 65px;
		
	}

	.half-width-text {
		float: left;
	    padding: 2px 10px 2px 5px;
	}

	.sys-blood-press-field {
		float: left;
		width: 71px;
	}

	.dia-blood-press-field {
		float: left;
		width: 77px;
	}
	
	.popup-preview {
		background-color: #fff;
		overflow-y : scroll;
		height: 500px;
		margin : auto;
		width: 750px;
	}


}

