<section data-ng-controller="HospitalsController">

    <div class="panel inventories-pricing">
        <!-- <div class="panel-heading">
            <h3>Hospital</h3>
        </div> -->
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/main-page">Home</a></li>
            <li ng-hide="UpdateItem"  class="active-page"><a href="#">Hospital</a></li>
        </ul>
        <div class="panel-body">
            <form name="formHospital" class="form-horizontal" novalidate>

                <div class="col-lg-12 reduce-padding">
                    <div class="col-lg-6">
                        <h5>ADDRESS DETAILS</h5>
                        <hr>
                        <br />
                        <div class="col-xs-9">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Name
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="id" class="form-control" ng-model="hospital.name" required="" maxlength="40">
                                    <span class="error" ng-show="formHospital.id.$touched && formHospital.id.$error.required">Please fill this field</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Address Line One
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="addressLineOne" class="form-control" ng-model="hospital.addressLineOne" required="" maxlength="40">
                                    <span class="error" ng-show="formHospital.addressLineOne.$touched && formHospital.addressLineOne.$error.required">Please fill this field</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Address Line Two
                                </label>
                                <br>
                                <div class="col-xs-12 reduce-padding">
                                    <input type="text" name="addressLineTwo" class="form-control" ng-model="hospital.addressLineTwo" required="" maxlength="40">
                                    <span class="error" ng-show="formHospital.addressLineTwo.$touched && formHospital.addressLineTwo.$error.required">Please fill this field</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h5>CONTACT DETAILS</h5>
                        <hr>
                        <br />
                        <div class="col-xs-9">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Phone
                                </label>
                                <br>
                                <div class="col-xs-10 reduce-padding">
                                    <div data-ng-repeat="phoneNumber in phone">
                                        <div class="col-xs-10 reduce-padding bottom-padding">
                                            <div class="col-xs-12 reduce-padding bottom-padding">
                                                <input type="number" class="form-control" ng-model="phoneNumber.number" name="number" placeholder="Number" required="">
                                                <span class="error" ng-show="formHospital.phone.$touched && formHospital.phoneNumber.$error.required">Please fill this field</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-2" ng-show="phone.length > 1 && $index !== 0">
                                            <button type="button" class="btn btn-default" ng-click="removePhone($index)" ><i class="fa fa-trash"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 reduce-padding">
                                    <button type="button" class="btn btn-default" ng-click="addPhone()">Add</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Fax
                                </label>
                                <br>
                                <div class="col-xs-10 reduce-padding">
                                    <div data-ng-repeat="faxNumber in fax">
                                        <div class="col-xs-10 reduce-padding">
                                            <div class="col-xs-12 reduce-padding bottom-padding">
                                                <input type="number" class="form-control" ng-model="faxNumber.number" name="number" placeholder="Number" required="">
                                                <span class="error" ng-show="formHospital.faxNumber.$touched && formHospital.faxNumber.$error.required">Please fill this field</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-2" ng-show="fax.length > 1 && $index !== 0">
                                            <button type="button" class="btn btn-default" ng-click="removeFax($index)" ><i class="fa fa-trash"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 reduce-padding">
                                    <button type="button" class="btn btn-default" ng-click="addFax()">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr class="hr-padding hr-full">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <span class="error right-align" ng-show="!formHospital.$valid">Please fill remaining fields</span>
                        </div>
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-lg btn-success nav-btn" ng-click="submit_hospital(hospital, formHospital)" ng-disabled="!formHospital.$valid">Save</button>
                            <button class="btn btn-lg btn-primary nav-btn" ng-click="reset_hospital(formHospital)">Clear</button>
                            <span class="error" ng-show="batch.length == 0">Please enter batch details</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>