.generate-bill {
	.grid-header {
		background-color: lightgray;
		border-bottom: 2px solid darkgray;
		border-top: 1px solid #ddd;
		font-weight: bold;

	}

	.header-col {
		border-right: 1px solid #fff;
		padding-bottom: 5px;
		padding-top: 5px;
	}

	.header-last-col {
		border-right: none;
	}

	.grid-rows {
		padding: 2px 0;
	}

	.grid-rows:nth-of-type(odd){
	    background-color: #efefef;
	}

	.center-text {
		text-align: center;
	}

	.grand-total {
		font-weight: bold;
		font-size: 14px;
		padding: 5px 0;
	}

	.grand-label {
		padding-top: 4px;
	}

	.payment-container {
		border : 1px dotted #ccc;
		padding: 10px 20px 20px;
		margin-top: 30px;
		margin-bottom: -38px;
		z-index: 1;
	}

	.checkbox-label {
		float: left;
		width: 180px;
	}

	.services-table {
		border: 1px solid #ccc;
		margin-top: 20px;
		padding-bottom: 15px;
	}

	.payment-textfields {
		float: left;
		margin-left: 10px;
		width: 160px;
	}

	.total-section {
		margin-bottom: 10px;
	}

	.no-patient {
		font-weight: bold;
	}

	.bill-history {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.services-dropdown {
		background-color: #fff;
		border: 1px solid #efefef;
		height: 120px;
    	overflow-y: scroll;
		list-style: none;
		padding-left: 0;
		position : absolute;
		width: 94%;
		z-index: 2;

		li {
			cursor: pointer;
		}
	}

	.dropdown-header {
		background-color: #ddd;
		height: 25px;
		text-align: left;
		padding-left: 0;
	}

	.facility-li {
		height: 20px;
		background-color: #fff;
	}

	.facility-li:hover {
		background-color: #efefef;
	}

	.discount {
		width: 75px;
		margin-left: auto;
		margin-right: auto;
	}

	.disbaled-field {
		background-color: #f2f4f8;
		padding: 2px 10px;
    	height: 24px;
    	border: 1px solid #827ca1;
    	border-radius: 4px;
	}

	.refund-popup {
		background: #ffffff;
	    border: 1px solid #dfe4ed;
	    padding: 0px;
	    border-radius: 5px;
	    margin-bottom: 25px;
	    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	    padding: 20px;
	    margin: 30px auto;
	    width: 80%;

	}
	.width40{
		width:40%;
	}
	.top20{
		margin-top: 20px;
	}

	.dropdown-input {

		background : url('../../images/dropdown.png');
		background-color: #fff;
		background-size: 4%;
	    background-position-x: 99%;
	    background-position-y: 50%;
	    background-repeat: no-repeat;
	    position : relative;
	    z-index : 1;
	}

	.err {
		color: red;
		text-align: right;
	}

}
