.GRN {

	.search-input {
		float : left;
		width: 228px;
	}
	.selected-picklist {
		margin-bottom: 10px;
	}

	.search-btn {
		float : left;
	}

	.search-result-container {

		background-color: #fff;
		border: 1px solid #EBEBEB;
	    box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
	    border-radius: 3px;
		text-align: left;
	}

	.search-heading {
		background-color: #F5F5F5;
		border: 1px solid #EBEBEB;
		color: gray;
		font-size: 14px;
		font-weight: 500;
		padding-left: 5px;
		padding: 2px 5px;
	}

	.results {
		cursor: pointer;
		font-size: 14px;
		padding: 2px 15px;
	}

	.results:nth-child(odd) {background-color: #F9F9F9}

	.results:hover {
		background-color: #EAF2F9;
	}

	.search-container {
	    font-size: 22px;
	    text-align: left;
	    margin-top: 9px;
	}

	

	

	

	

	.column-padding {
		padding-left: 10px;
		padding-right: 10px;
	}

	.remove-btn-column {
		width: 65px;
	}

	.number-input-width {
	    text-align: center;
		width: 50px;
	}

	.grid-input-height {
		height: 25px;
    	padding: 2px 0;
	}

	.btn-default-outline {
		border-color: #acb7bf;
	}

	.right-radius {
		border-bottom-right-radius: 4px !important;
    	border-top-right-radius: 4px !important;
	}

	.date-input-width {
		width: 132px;
	}

	

	

	.item-search-icon {
		margin : 5px !important;
	}

	.items-search-container {
		margin-bottom: 20px;
	}

	.grand-total {
		text-align : right;
	}
	
	.table-text-box {
		background-color: #f5f5f5;
		border: 1px solid #827ca1;
	    border-radius: 4px;
	    margin: auto;
	    height: 25px;
	    padding: 2px 5px;
	    width: 70px;
	}

	.discount-container{
		width: 140px;
		margin: auto;
		.total-disc {
			display: none;
		} 
		.disc {
			display: block;
		}
	}

	.discount-container:hover {
		.total-disc {
			display: none;
		} 
		.disc {
			display: block;
		}
	}

	.select-type {
		width: 90px;
	}

	.date-select {
		width: 140px;
	}

	.items-search-btn {
		margin-top: -29px;
	    margin-right: 1px;
	    border-radius: 4px;
	    border: 1px solid #ccc;
	    float: right;
	    padding: 0 8px 2px 8px;
	    height: 28px;
	}

	.items-search-btn:hover {
		background-color: #ddd;
	}

	.search-container-height {
		height: 30px;
	}

	.hide-popup{
		display: none;
	}

	.arrow-down-right {
		width: 0; 
		height: 0; 
		margin-left: 160px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #efefef;
	}

	.confirmation-popup-right {
		animation-name: flip;
	    animation-duration: .5s;
	    margin-top: -120px;
		margin-bottom: 10px;
		width: 270px;
		margin-right: 215px;
		float: right;
	}

	.gray-container {
		background-color: #efefef;
		padding: 10px;
		
	}

	.unit-input {
		padding: 5px 0 0;
	}
}

