.inventories-pricing {
	.btn-group {
	    display: inline-block;
	    position: relative;
	    vertical-align: middle;
	}

	.btn-default-outline {
	    border-color: #acb7bf;
	    color: #acb7bf;
	}

	.background-dynamic-grid-np {
		background: #f3f3f3;
		border-radius: 3px;
		border: 1px solid;
		border-color: #827ca1;
	}

	.hide-popup{
		display: none;
	}

	.arrow-up {
		width: 0;
		height: 0;
		margin-left: 50px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #efefef;
	}

	.arrow-down {
		width: 0;
		height: 0;
		margin-left: 50px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #efefef;
	}

	.arrow-down-right {
		width: 0; 
		height: 0; 
		margin-left: 160px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #efefef;
	}

	.confirmation-popup {
		animation-name: flip;
	    animation-duration: .5s;
	    margin-top: -280px;
		margin-bottom: 10px;
		width: 270px;
	}

	.speciality-popup {
		margin-top: -340px !important;
	}

	.document-transaction-popup {
		margin-top: -105px !important;
		margin-bottom: -10px !important;
	}

	.customer-supplier-popup {
		margin-top: -105px !important;
		margin-bottom: -10px !important;
	}

	.confirmation-popup-right {
		animation-name: flip;
	    animation-duration: .5s;
	    margin-top: -120px;
		margin-bottom: 10px;
		width: 270px;
		margin-right: 215px;
		float: right;
	}

	.gray-container {
		background-color: #efefef;
		padding: 10px;
	}

	.bottom-padding {
		padding-bottom: 5px;
	}

	.scroll-array {
		height: 325px;
		overflow-y: scroll;
	}

	.search-block {
        @include transition-slow();
        float: right;
        margin-right: 20px;
 		margin-top: 20px;
        width: 200px;
        .form-control {
            min-width: 200px;
        }
        &:hover {
            width: 300px;
            @include transition-slow();
            .form-control {
                width: 100%;
            }
        }
    }

    .search-container-height {
	   	height: 34px;	
    }

	.btn-default-outline.active {
	    background: #9ba8b2;
	    border-color: #9ba8b2;
	    color: #ffffff;
	}

	.float-right {
		float: right;
	}

	.float-left {
		float: left;
	}

	.reduce-overall-padding {
		padding: 8px;
	}

	.text-align-center {
		text-align: center;
	}
}