.inventory-curd {

	textarea {
		max-width: 100%;
		resize:vertical;
	}

	.search-container {
		margin-top: 9px;
		text-align: center;
		width: 203px;
	}

	.search-input-barcode {
		border: 1px solid lightgray;
		border-radius : 3px;
		height: 30px;
		padding: 0 5px;
	}

	.background-dynamic-grid-np {
		background: #d4d4d4;
		border-radius: 3px;
	}

	

	.brand-popup {
		.grid-background {
			background: white;
			width: 305px;
			border-radius: 3px;
		    margin-left: 300px;
	    	margin-top: 100px;
		}
		.grid { 
			border: none;
			height: 350px;
			font-size: 13px;
			width: 300px;
			padding: 0 2px 2px 2px;
		}
	}

	

	.popup-heading {
		padding-top: 2px;
		text-align: center;
	}

	.search-result-container {

		background-color: #fff;
		border: 1px solid #EBEBEB;
	    box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
	    border-radius: 3px;
		margin-top: 5px;
		position: absolute;
		text-align: left;
		width: 203px;
	    z-index: 1;
	}

	.no-results {
		color: gray;
		font-size: 14px;
		padding: 2px 15px;
	}



	.results {
		cursor: pointer;
		font-size: 14px;
		padding: 2px 15px;
	}

	.results:nth-child(odd) {background-color: #F9F9F9}

	.results:hover {
		background-color: #EAF2F9;
	}

	.results:focus {
		background-color: lightblue;
		box-shadow: none;
	}


	.img-container {
		border: 1px solid #ddd;
		height: 200px;
		width: 200px;
	}

	.btn-align {
		float: right;
		margin-right: 5px;
	}

	.hide-popup{
		display: none;
	}

	.confirmation-popup {
		animation-name: flip;
	    animation-duration: .5s;
	    margin-top: -120px;
		margin-bottom: 10px;
		width: 270px;
		margin-right: 215px;
		float: right;
	}



	.gray-container {
		background-color: #efefef;
		padding: 10px;
		
	}

	.arrow-down {
		width: 0; 
		height: 0; 
		margin-left: 160px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #efefef;
	}
	.search-block {
        @include transition-slow();
        float: right;
        margin-right: 20px;
 		margin-top: 20px;
        width: 200px;
        .form-control {
            min-width: 200px;
        }
        &:hover {
            width: 300px;
            @include transition-slow();
            .form-control {
                width: 100%;
            }
        }
    }

    .search-container-height {
    	height: 34px;
 		
    }

    .file-btn-width {
    	width: 78px;
    }
}







