.purchase-return {

	

	.search-input {
		float : left;
		width: 228px;
	}
	.search-btn {
		float : left;
	}

	.search-result-container {

		background-color: #fff;
		border: 1px solid #EBEBEB;
	    box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
	    border-radius: 3px;
		text-align: left;
	}

	.search-heading {
		background-color: #F5F5F5;
		border: 1px solid #EBEBEB;
		color: gray;
		font-size: 14px;
		font-weight: 500;
		padding-left: 5px;
		padding: 2px 5px;
	}

	.results {
		cursor: pointer;
		font-size: 14px;
		padding: 2px 15px;
	}

	.results:nth-child(odd) {background-color: #F9F9F9}

	.results:hover {
		background-color: #EAF2F9;
	}

	.search-container {
	    font-size: 22px;
	    text-align: left;
	    margin-top: 9px;
	}

	.table-width {
		width: 100%;
	}

	.tableHead {
		background-color: lightgray;
		border-bottom: 2px solid darkgray;
		height: 35px;
	}

	.order-table-head-row {
		border-bottom: 1px solid lightgray;
	}

	.order-table-row {
		border-bottom: 1px solid lightgray;
		height: 35px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.column-padding {
		padding-left: 10px;
		padding-right: 10px;
	}

	.remove-btn-column {
		width: 65px;
	}

	.number-input-width {
	    text-align: center;
		width: 50px;
	}

	.grid-input-height {
		height: 25px;
    	padding: 2px 0;
	}

	.active {
		background: #9ba8b2;
	    border-color: #9ba8b2;
	    color: #fff;
	}

	.btn-default-outline {
		border-color: #acb7bf;
	}

	.right-radius {
		border-bottom-right-radius: 4px !important;
    	border-top-right-radius: 4px !important;
	}

	.date-input-width {
		width: 140px;;
	}

	.col-pad {
		padding: 0 10px;
	}

	.items-search-btn {
		margin-top: -29px;
	    margin-right: 1px;
	    border-radius: 4px;
	    border: 1px solid #ccc;
	    float: right;
	    padding: 0 8px 2px 8px;
	    height: 28px;
	}

	.items-search-btn:hover {
		background-color: #ddd;
	}

	.search-container-height {
		height: 30px;
	}

	.items-search-container {
		margin-bottom: 20px;
	}

	.input-n-dropdown {
		width: 100px;
	}

	.grand-total {
		text-align : right;
	}

}