.purchase-requisition {
	textarea {
		max-width: 100%;
	}

	.search-input {
		float : left;
		width: 228px;
	}
	.search-btn {
		float : left;
	}

	.search-result-container {
		background-color: #fff;
		border: 1px solid #EBEBEB;
	    box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
	    border-radius: 3px;
		text-align: left;
	}

	.search-block-field {
        @include transition-slow();
        float: right;
        margin-right: 20px;
 		margin-top: 20px;
        width: 200px;
        .form-control {
            min-width: 200px;
        }
        &:hover {
            width: 300px;
            @include transition-slow();
            .form-control {
                width: 100%;
            }
        }
    }

    .search-block-submit {
        position: absolute;
        top: -1px;
        right: 0px;
        height: 38px;
        width: 38px;
        background:  none;
        border: none;
        z-index: 4;
        cursor: pointer;
        &:focus, &:active {
            outline: none !important;
        }
    }

	.search-heading {
		background-color: #F5F5F5;
		border: 1px solid #EBEBEB;
		color: gray;
		font-size: 14px;
		font-weight: 500;
		padding-left: 5px;
		padding: 2px 5px;
	}

	.results {
		cursor: pointer;
		font-size: 14px;
		padding: 2px 15px;
	}

	.results:nth-child(odd) {background-color: #F9F9F9}

	.results:hover {
		background-color: #EAF2F9;
	}

	.search-container {
	    font-size: 22px;
	    text-align: left;
	    margin-top: 9px;
	}

	.table-width {
		width: 100%;
	}

	.hide-popup{
		display: none;
	}

	.arrow-down-right {
		width: 0; 
		height: 0; 
		margin-left: 160px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #efefef;
	}

	.confirmation-popup-right {
		animation-name: flip;
	    animation-duration: .5s;
	    margin-top: -120px;
		margin-bottom: 10px;
		width: 270px;
		margin-right: 215px;
		float: right;
	}

	.gray-container {
		background-color: #efefef;
		padding: 10px;
		
	}

	.tableHead {
		background-color: lightgray;
		border-bottom: 2px solid darkgray;
		height: 35px;
	}

	.order-table-head-row {
		border-bottom: 1px solid lightgray;
	}

	.order-table-row {
		border-bottom: 1px solid lightgray;
		height: 35px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.column-padding {
		padding-left: 10px;
		padding-right: 10px;
	}

	.remove-btn-column {
		width: 65px;
	}

	.number-input-width {
	    text-align: center;
		width: 50px;
	}

	.text-align-center {
		text-align: center;
	}

	.grid-input-height {
		height: 25px;
    	padding: 2px 0;
	}

	.active {
		background: #9ba8b2;
	    border-color: #9ba8b2;
	    color: #fff;
	}

	.btn-default-outline {
		border-color: #acb7bf;
	}

	.right-radius {
		border-bottom-right-radius: 4px !important;
    	border-top-right-radius: 4px !important;
	}

	.date-input-width {
		width: 140px;
	}

	.items-search-btn {
		margin-top: -29px;
	    margin-right: 1px;
	    border-radius: 4px;
	    border: 1px solid #ccc;
	    float: right;
	    padding: 0 8px 2px 8px;
	    height: 28px;
	}

	.items-search-btn:hover {
		background-color: #ddd;
	}

	.search-container-height {
		height: 30px;
	}

	.search-container-field-height {
	   	height: 34px;
	}

	.items-search-container {
		margin-bottom: 20px;
	}

	.input-n-dropdown {
		width: 100px;
	}

	.req-by {
		width: 120px;
	}

	.qty-col {
		width: 120px;
	}

	.qty-input {
		float: left;
	}

	.purchase-unit {
		float: right;
    	padding-top: 4px;
	}

	.exp-date {
		width: 180px;
	}

	.est-rate {
		width: 100px;
	}

	
}