.main-page {

	.btn-group {
	    display: inline-block;
	    position: relative;
	    vertical-align: middle;
	}
	
	.search-block {
        @include transition-slow();
        float: right;
        margin-right: 20px;
 		margin-top: 20px;
        width: 200px;
        .form-control {
            min-width: 200px;
        }
        &:hover {
            width: 300px;
            @include transition-slow();
            .form-control {
                width: 100%;
            }
        }
    }

    .decrease-margin {
    	margin-top: -5px;
    }
	
	.mw-100 {
		min-width: 100px;
	}

    .increase-margin {
    	margin-top: 10px;
    }

    .table-height {
		height: 400px;
		overflow-y: scroll;
		width: 100% !important;
	}

    .search-container-height {
	   	height: 34px;
    }

	.float-right {
		float: right;
	}

	.float-left {
		float: left;
	}

	.reduce-overall-padding {
		padding: 8px;
	}

	.light-red {
		background-color: #f2dede !important;
	}
	
	.red {
		background-color: #efa5a5 !important;
	}
	
	.align-center {
		text-align: center;
	}

	.purchase-requisition-popup {
		background-color: rgba(0,0,0,0.5);
		height: 100%;
		left: 0;
		padding: 20px;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 99999;
	}
	.purchase-requisition-popup-container {
		background-color: #fff;
		margin: 7% auto;
		padding: 20px;
		height: 600px;
	}
	.bold {
		font-weight: bold;
	}

	.popup-grid-height {
		overflow-y: scroll;
	    height: 330px;
	    margin-top: 15px;
	}

	.btn-pad-top {
		padding-top: 15px;
	}

	.confirmation-popup {
		animation-name: flip;
	    animation-duration: .5s;
	    margin-top: -150px;
	    position: absolute;
		width: 270px;
	}

	.gray-container {
		background-color: #efefef;
		padding: 10px;
		
	}

	.arrow-down {
		width: 0; 
		height: 0; 
		margin-left: 50px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #efefef;
	}

	.Rejected {
		background-color: #f77272;
	}

	.Accepted {
		background-color: #a4e6a4;
	}

	.Pending {
		background-color: #ffd68c;
	}

	.admin-grid-height {
		height: 400px;
		overflow-y: scroll;
	}

	.clickable-row {
		cursor : pointer;
	}

	.grid-border {
		border-top: 2px solid #ccc;
	}

	.grid-top-margin {
		margin-top: 20px;
		overflow-x: scroll;
	}

	.breadcrumb-btm-margin {
		margin-bottom: 0;
	}

	.report-header {
	    height: 35px;
	    padding-top: 7px;
	    font-weight: 600;
	}

	.invoice-row {
		border-bottom: 1px solid #fff;
	    padding-bottom: 5px;
	    margin-bottom: 3px
	}

	.invoice-background {
		background-color: #efefef;
		border-radius: 5px;
	}

	.orderlist-background {
		background-color: white;
	}

	.click-cursor {
		cursor: pointer;
	}

	.text-align-center {
		text-align: center;
	}

	.text-align-right {
		text-align: right;
	}

	.search-row {
	    background-color: lightgray !important;
	    border-bottom: 2px solid darkgray;
	    padding: 5px 14px;
	}

	.scroll-report {
		max-height: 600px;
		overflow-y: scroll;
	}

	.report-row {
	    border-bottom: 1px solid #fff;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.document-heading {
		font-weight: 900;
	}

	.document-height {
		max-height: 400px;
		overflow-y: scroll;
	}

	.export-csv-btn {
		margin-top: 25px;
	}
}
