<section class="inventory-curd" id="headerid" data-ng-controller="StoreInventoriesController">
    
    <!-- Popup -->

    <div class="purchase-requisition-list " ng-show="showGrid || showSupplierList || showFormulaTradeName">
        
        <!-- Close button -->

        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="showGrid = false;showSupplierList = false;showFormulaTradeName = false;"></button>
        </div>

        <!-- Item List Suppliers -->

        <div class="col-xs-offset-3 col-xs-6" ng-show="showSupplierList">
            <picklist-simple headings-to-add="headingsSuppliers" height="350" rows-to-add="suppliersToShow" prefix="prefixSupplier" multiselect="'single'" callbackfn="selectSupplier(arg1)" title="'Select Supplier'">
        </div>

        <!-- Trade Name based on Formula -->
        <div class="col-xs-offset-3 col-xs-6" ng-show="showFormulaTradeName">
            <picklist-simple headings-to-add="headingsBrandName" height="350" rows-to-add="brandNamesToShow" prefix="prefixBrand" multiselect="'single'" callbackfn="callbackFormula(arg1)" title="'Select Brand'">
        </div>

    </div>

    <!--Popup End -->

    <!-- Form Section -->

    <div class="panel" ng-class="{'blur': showGrid}">
        
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Inventory</a></li>
        </ul>
        
        <!-- Search And Mode -->

        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default-outline" ng-click="mode = 'Basic'" ng-class="{ 'active' : mode == 'Basic'}">
                Basic  
            </label>
            <label class="btn btn-default-outline" ng-click="mode = 'Advanced'" ng-class="{ 'active' : mode == 'Advanced'}">
                Advanced
            </label>
        </div>

        <div class="search-block">
            <div class="form-input-icon form-input-icon-right">
                <i ng-hide="processing" class="icmn-search"></i>
                <input type="text" class="form-control form-control-sm form-control-rounded search-container-height" ng-model="searchKeyword" placeholder="Search..." typeahead="item.description for item in itemsSearchTypeahead($viewValue)" typeahead-loading="loadingLocations" typeahead-on-select="callbackfn($item)" ng-change="descChange()">
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                <button type="button" ng-disabled="processing" class="search-block-submit">
                    <div class="centerForDemo" ng-show="processing">
                        <div class="loadingSpinnerSearch">
                        </div>
                    </div>
                </button>
            </div>
        </div>

        <!-- Search And Mode End -->

        <div class="panel-body">
            <form name="form" class="form-horizontal" novalidate>

                <div class="col-lg-12 reduce-padding">
                    
                    <!-- item Details and Tax Details -->

                    <div class="col-lg-4">
                        
                        <!-- Item Details -->

                        <div class="col-xs-12">
                            <h5>ITEM DETAILS</h5>
                            <hr>
                        </div>

                        <div class="col-xs-7">
                            <div>
                                <label class="form-control-label">Description</label>
                                <input name="description" type="text" class="form-control" ng-model="item.description" autofocus="" required="" autocomplete="off" ng-change="descChange()" ng-disabled="UpdateItem && item.grn_created">
                                <span class="error" ng-show="form.description.$touched && form.description.$error.required">Please fill this field</span>
                            </div>
                        </div>
                        
                        <div class="col-xs-7">
                            <div>
                                <label class="form-control-label">Bar Code<span class="optional-span">(Optional)</span></label>
                                <input name="barcode" type="text" class="form-control" ng-model="item.barcode" ng-pattern="/^(0|[1-9][0-9]*)$/" ng-disabled="UpdateItem && item.grn_created">
                                <span class="error" ng-show="form.barcode.$touched && form.barcode.$invalid">Please enter a number</span>
                            </div>
                        </div>

                        <div class="col-xs-7">
                            <div>                        
                                <label class="form-control-label">Expiry Date Enabled</label>
                                <select class="form-control" ng-options="o.value as o.label for o in options"  ng-model="item.expiry_date_enabled"  ng-disabled="UpdateItem && item.grn_created">
                                    
                                </select>
                            </div>
                        </div> 
                        
                        <div class="col-xs-7">
                            <div>
                                <label class="form-control-label">Manufacturer/Company</label>
                                <select class="form-control" ng-model="item.manufacturer" ng-disabled="processing">
									<option ng-repeat="manu in manufacturers" ng-value="manu.description">{{manu.description}}</option>
								</select>
                            </div>
                        </div>
						
                        <div class="col-xs-7">
                            <div>
                                <label class="form-control-label">Maximum Level<span class="optional-span">{{item.purchase_unit}}</span></label>
                                <input name="parlevel" type="number" class="form-control" ng-model="item.par_level">
                                <span class="error" ng-show="form.parlevel.$touched && form.level.$invalid">Please enter a number</span>
                            </div>
                        </div>
						
                        <div class="col-xs-7">
                            <div>
                                <label class="form-control-label">Minimum Level<span class="optional-span">{{item.purchase_unit}}</span></label>
                                <input name="reorder" type="number" class="form-control" ng-model="item.reorder_level">
                                <span class="error" ng-show="form.reorder.$touched && form.reorder.$invalid">Please enter a number</span>
                            </div>
                        </div>
                        
                        <div ng-show="mode === 'Advanced'">
                            <div class="col-xs-12"><hr class="hr-padding"></div>
                        
                            <div class="col-xs-7">
                                <div>
                                    <label class="form-control-label">Label<span class="optional-span">(Optional)</span></label>
                                    <select class="form-control" ng-model="item.label">
                                        <option ng-repeat="label in labels" ng-value="label.description">{{label.description}}</option>
                                    </select>
                                </div>
                            </div>
                                
                            <div class="col-xs-7">
                                <div>
                                    <label class="form-control-label">Type<span class="optional-span">(Optional)</span></label>
                                    <select class="form-control" ng-model="item.type" ng-disabled="UpdateItem && item.grn_created">
                                        <option value="Inventory Item">Inventory Item</option>
                                        <option value="Service">Service</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-xs-7">
                                <div>
                                    <label class="form-control-label">Item Consumption<span class="optional-span">(Optional)</span></label>
                                    <select class="form-control" ng-model="item.consumption" ng-disabled="UpdateItem && item.grn_created">
                                        <option value="Trading">Trading</option>
                                        <option value="Purchase">Purchase</option>
                                        <option value="Sale">Sale</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Sales Tax -->

                        <div ng-show="mode === 'Advanced'">
                            <div class="col-xs-12">
                                <br>
                                <h5>SALES TAX</h5>
                                <hr>
                            </div>
                            <div class="col-xs-7">
                                <div>                        
                                    <label class="form-control-label">Sales Tax Applicale<span class="optional-span">(Optional)</span></label>
                                    <select class="form-control" ng-options="o.value as o.label for o in options" ng-model="item.sales_tax_applicale" ng-disabled="UpdateItem && item.grn_created">
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div>
                                    <label class="form-control-label">Sales Tax (%)<span class="optional-span">(Optional)</span></label>
                                    <input name="salesTax" type="Number" class="form-control" placeholder="5%" ng-model="item.tax_sales" min="0" ng-pattern="/^[0-9]+(\.{0})?$/">
                                    <span class="error" ng-show="form.salesTax.$touched && !form.salesTax.$valid">Invalid Value</span>
                                </div>
                            </div>
                            
                            <div class="col-xs-7">
                                <div>
                                    <label class="form-control-label">Applicable on<span class="optional-span">(Optional)</span></label>
                                    <select class="form-control" ng-model="item.tax_applicale_on" ng-disabled="UpdateItem && item.grn_created">
                                        <option value="Selling">Selling</option>
                                    </select>
                                </div>
                            </div>
                               
                            <div class="col-xs-7">
                                <div>
                                    <label class="form-control-label">Tax Inclusive in {{item.tax_applicale_on}}<span class="optional-span">(Optional)</span></label>
                                    <select class="form-control" ng-options="o.value as o.label for o in options"  ng-model="item.tax_inclusive_in_retail" ng-disabled="UpdateItem && item.grn_created">
                                        
                                    </select>
                                </div>
                            </div>
                        </div>                    
                    </div>
                    
                    <!-- Unit Conversions and Oprional Details-->

                    <div class="col-lg-4">
                        <div class="col-xs-12">
                            <h5>UNITS AND CONVERSION</h5>
                            <hr>
                        </div>
                        <div class="col-xs-7">
                            <div>
                                <label class="form-control-label">Purchasing Unit</label>
                                <select class="form-control" ng-model="item.purchase_unit" ng-change="changeStorageUnit()" required="" ng-disabled="UpdateItem && item.grn_created">
                                    <option ng-repeat="unit in units" ng-value="unit.description">{{unit.description}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-7">
                            <div>
                                <label class="form-control-label">Storage Unit</label>
                                <select class="form-control" ng-model="item.storage_unit" required="" ng-disabled="UpdateItem && item.grn_created">
                                    <option ng-repeat="unit in units" ng-value="unit.description">{{unit.description}}</option>
                                </select>
                            </div>
                        </div>                    
                        <div class="col-xs-7">
                            <div>
                                <label class="form-control-label">Selling/Issuing Unit</label>
                                <select class="form-control" ng-model="item.selling_unit" required="" ng-disabled="UpdateItem && item.grn_created">
                                    <option ng-repeat="unit in units" ng-value="unit.description">{{unit.description}}</option>
                                </select >
                            </div>
                        </div>
                        <div class="col-xs-12"><hr class="hr-padding"></div>
                        <div class="col-xs-7">

                            <div>
                                <label class="form-control-label">Purchase to Storage</label>    
                                <input name="purchaseToStorage" type="Number" class="form-control" placeholder="Conversion Unit" ng-model="item.purchase_to_storage" min="1" required="" ng-disabled="UpdateItem && item.grn_created" ng-pattern="/^[0-9]+(\.{0})?$/">
                                <span class="error" ng-show="form.purchaseToStorage.$touched && !form.purchaseToStorage.$valid">Invalid Value</span>
                            </div>
                        </div>
                            
                        <div class="col-xs-7">
                            <div>
                                <label class="form-control-label">Storage to Selling/Issuing</label>
                                <input name="storageToSelling" type="Number" class="form-control" placeholder="Conversion Unit" ng-model="item.storage_to_selling"  min="1" required="" ng-disabled="UpdateItem && item.grn_created" ng-pattern="/^[0-9]+(\.{0})?$/">
                                <span class="error" ng-show="form.storageToSelling.$touched && !form.storageToSelling.$valid">Invalid Value</span>
                            </div>
                        </div>

                        <div ng-show="mode === 'Advanced'">
                            <div class="col-xs-12">
                                <br>
                                <h5>OPTIONAL DETAILS</h5>
                                <hr>
                            </div>
                            
                            <div class="col-xs-7">    
                                <div>
                                    <label class="form-control-label" for="l38" >Remarks<span class="optional-span">(Optional)</span></label>
                                    <textarea class="form-control" ng-model="item.remarks" rows="3" id="l38"></textarea>
                                </div>
                            </div>
                            <div class="col-xs-7">    
                                <div>
                                    <label class="form-control-label" for="l39">Item Image<span class="optional-span">(Optional)</span></label>
                                    <br />
                                    <input type="file" onchange="angular.element(this).scope().uploadFile(this.files[0])" id="fileInput" accept="image/*">
                                    <small>Please upload a (200x200) image</small>
                                    <!--div class="img-container" ng-show="item.image_url===''"></div-->
                                    <img class="img-container" ng-hide="item.itemImage===''" ng-src="{{item.itemImage}}"/>
                                    <img class="img-container" ng-show="item.image_url!=='' && item.itemImage===''" ng-src="{{item.image_url}}" width="200px" height="200px">
                                </div>
                            </div>
                        </div>
                    </div> 

                    <!-- Price Details -->

                    <div class="col-lg-4">
                        <div class="col-xs-12">
                            <h5>PRICE DETAILS</h5>
                            <hr>
                        </div>
                        <div class="col-xs-12">
                            <div>
                                <div class="col-xs-12 reduce-padding">
                                    <label class="form-control-label">Selling Price</label>
                                </div>
                                <div class="col-xs-2 reduce-padding">
                                    <input name="sellingPrice" type="number" class="form-control" ng-model="item.pricing.sellingPricePurchaseUnit" required="" min="0" ng-blur="purcPriceFrmPurcUnit()" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                                    
                                </div>
                                <div class="col-xs-4">
                                    <div>
                                        Per {{item.purchase_unit}}
                                    </div>
                                </div>
                                <div class="col-xs-2 reduce-padding">
                                    <input name="sellingPrice" type="number" class="form-control" ng-model="item.pricing.sellingPrice" required="" min="0" ng-blur="purcPriceFrmSellUnit()" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                                </div>
                                <div class="col-xs-4">
                                    <div>
                                        Per {{item.selling_unit}}
                                    </div>
                                </div>
                            </div>
                            <span class="error" ng-show="form.sellingPrice.$touched && form.sellingPrice.$invalid">Please fill this field</span>
                        </div>						
                        <div ng-show="mode === 'Advanced'">
                            <div class="col-xs-7">
                                <div>
                                    <label class="form-control-label">
                                        Pricing Category<span class="optional-span">(Optional)</span>
                                    </label>
                                    <select class="form-control" ng-model="item.pricing.pricingType" ng-disabled="UpdateItem && item.grn_created">
                                        <option value="Sale">Sale</option>
                                        <option value="Purchase">Purchase</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div>
                                    <label class="form-control-label">Date of Transaction<span class="optional-span">(Optional)</span></label>
                                    <input type="date" name="dt" class="form-control" ng-model="item.pricing.dateTransaction">
                                    <span class="error" ng-show="form.dt.$touched && form.dt.$error.required">Please fill this field</span>
                                </div>
                            </div>
                        
                            <div class="col-xs-7">
                                <div ng-show="!showSupplierButton">
                                    <label class="form-control-label">
                                        Supplier<span class="optional-span">(Optional)</span>
                                    </label>
                                    <div class="selected-picklist">
                                        <span class="optional-span">No Suppliers Found</span>
                                        <button type="button" class="btn btn-lg" ng-click="createSupplierButton()">Add Supplier</button>
                                    </div>
                                </div>
                                <div ng-show="showSupplierButton">
                                    <label class="form-control-label">
                                        Supplier<span class="optional-span">(Optional)</span>
                                    </label>
                                    <div class="selected-picklist" ng-show="item.pricing.supplier!==undefined">
                                        Selected Supplier : {{item.pricing.supplier.description}}
                                    </div>
                                    <button type="button" ng-disabled="processing" name="suplliers" class="btn btn-sm" ng-click="openSupplierList()">Open Supplier List</button>
                                </div>
                            </div>
                            <div class="col-xs-10">
                                <div>
                                    <div class="col-xs-12 reduce-padding">
                                        <label class="form-control-label">
                                            Discount<span class="optional-span">(Optional)</span>
                                        </label>
                                    </div>
                                    <div class="col-xs-8 reduce-padding">
                                        <input type="number" min="0" name="discountAmount" class="form-control" ng-model="item.pricing.discountAmount" ng-show="item.pricing.discountType == 'amount'" ng-pattern="/^[0-9]+(\.{0})?$/">
                                        <input type="number" name="discountAmount" class="form-control" ng-model="item.pricing.discountAmount" min="0" max="100" ng-show="item.pricing.discountType == 'percent'" ng-pattern="/^[0-9]+(\.{0})?$/">
                                    </div>
                                    <div class="col-xs-4">
                                        <select class="form-control" ng-model="item.pricing.discountType">
                                            <option value="percent">%</option>
                                            <option value="amount">Rs</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12"><hr class="hr-padding"></div>
                        </div>

                        <div class="col-xs-11">
                            <div>
                                <div class="col-xs-12 reduce-padding">
                                    <label class="form-control-label">Purchase Price</label>
                                </div>
                                <div class="col-xs-7 reduce-padding">
                                    <input name="purchasingPrice" type="number" class="form-control" ng-model="item.pricing.purchasingPrice" required="" min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                                    <span class="error" ng-show="form.purchasingPrice.$touched && form.purchasingPrice.$invalid">Please fill this field</span>
                                </div>
                                <div class="col-xs-5">
                                    <div>
                                        Per {{item.purchase_unit}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-xs-11">
                            <div>
                                <div class="col-xs-12 reduce-padding">
                                    <label class="form-control-label">Retail Price</label>
                                </div>
                                <div class="col-xs-7 reduce-padding">
                                    <input name="retailPrice" type="number" class="form-control" ng-model="item.pricing.retailPrice" required="" min="1">
                                    <span class="error" ng-show="form.retailPrice.$touched && form.retailPrice.$invalid">Please fill this field</span>
                                </div>
                                <div class="col-xs-5">
                                    <div>
                                        Per {{item.selling_unit}}
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-xs-7">
                            <div>
                                <label class="form-control-label">Effective Date</label>
                                <input type="date" name="ed" class="form-control" ng-model="item.pricing.effectiveDate">
                                <span class="error" ng-show="form.ed.$touched && form.ed.$error.required">Please fill this field</span>
                            </div>
                        </div>						
                    </div>
                </div>

                <!-- CURD Buttons -->

                <div class="col-lg-12">

                    
                    
                    <div class="form-group">

                        <!-- Delete Confirmation Popup -->
                        <!-- <hr class="hr-inventory"> -->

                        <div class="col-xs-12">
                            <div ng-class="confirmationPopup">
                                <div class="gray-container">
                                    <b>Are you sure?</b><br>
                                    This item will be deleted permanently.<br><br>
                                    <button class="btn btn-neutral" ng-click="hide_delete_popup()">Cancel</button>&nbsp;&nbsp;<button class="btn btn-danger" ng-click="confirm_delete_popup(item,form)">Delete</button>
                                </div>
                                <div class="arrow-down"></div>
                            </div>
                        </div>

                        <!-- Buttons -->
                        <!-- <div class="col-xs-12">
                            <div class="error right-align" ng-show="form.description.$touched && form.description.$error.required || form.purchaseToStorage.$invalid || form.storageToSelling.$invalid || form.salesTax.$invalid || form.sellingPrice.$invalid && form.sellingPrice.$touched || form.purchasingPrice.$invalid && form.purchasingPrice.$touched || form.retailPrice.$invalid && form.retailPrice.$touched || form.ed.$invalid && form.ed.$touched">Please fill remaining fields</div>
                        </div> -->
                        <div class="col-xs-12">
                            
                            <div class="btn-align">
                               <!--  <button type="submit" class="btn btn-primary" ng-click="submit_item(item,form)" ng-disabled="form.barcode.$error.required || form.description.$error.required || !form.purchaseToStorage.$valid || !form.storageToSelling.$valid || !form.salesTax.$valid" ng-hide="UpdateItem">Save</button> -->
                               <button type="button" class="btn btn-lg btn-primary btn-success" ng-click="submit_item(item,form)" ng-disabled="form.$invalid || processing" ng-hide="UpdateItem">
                                    <span ng-hide="processing">Save</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                            </div>
                            <div class="btn-align">
                                <button  type="button" class="btn btn-lg btn-success btn-primary" ng-click="update_item(item,form)" ng-disabled="form.$invalid || processing" ng-show="UpdateItem">
                                <span ng-hide="processing">Update</span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                                </button>
                            </div>
                            <div class="btn-align">
                                <button type="button" ng-disabled="processing" class="btn btn-lg btn-primary" ng-click="reset(form)">
                                <span ng-hide="processing">Clear</span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                                </button>
                            </div>
                            <div class="btn-align">
                                <button type="button" class="btn btn-lg btn-danger btn-primary" ng-click="delete_item()" ng-disabled="form.description.$error.required || form.purchaseToStorage.$invalid || form.storageToSelling.$invalid || form.salesTax.$invalid || processing" ng-show="UpdateItem">
                                    <span ng-hide="processing">Delete</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                            </div>
                            
                            
                        </div>
                        
                        
                    </div>
                </div>  
            </form>
        </div>
    </div>

    <!-- Form Section End -->

</section>



