<style>
body {
  background: rgb(204,204,204);
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}
</style>
<page size="A4" style="padding: 1.5cm; font-family:Arial, Helvetica, sans-serif;">
	<div style="margin : 20px 10px; bottom: 0; float: left; width: 774px;color:#ffffff;">
	<div style="float: left;">
		<img src="{{hospitallogo}}" style="width: 150px; margin-left: -18px;" alt="Ali Medical Logo"/>
	</div>
	<div style="width: 482px; float: left;text-align: center;color: #000000;">

			<h3 style="margin-bottom: 0px;">{{hospitalname}}</h3>
			<p style="font-weight: bold; font-size: 14px; margin-top: 30px; margin-bottom: 5px;">{{hospitalAddress}}</p>
			<h3 style="font-size: 24px; margin-top: 5px; margin-bottom: 20px;">Purchase Order</h3>
	</div>
	<div style="width: 160px; float: right;color:#000">
		<table style="width : 100%;font-size : 12px;  border-collapse: collapse; text-align: right;">
  		<col width="80">
			<tr style="border-collapse: collapse; font-weight: bold;">
				<td style="padding: 5px; border-collapse: collapse;">&nbsp;</td>
			</tr>
			<tr style="border-collapse: collapse; font-weight: bold;">
				<td style="padding: 5px; border-collapse: collapse;">Printing Date & Time</td>
			</tr>
			<tr style=" border-collapse: collapse; font-weight: bold;">
				<td style="padding: 5px; border-collapse: collapse;">{{printingDate}}</td>
			</tr>
		</table>
	</div>
	<div>
		<table style="width : 100%;font-size : 13px; border-collapse: collapse; margin-bottom:20px; text-align: left;line-height: 0.7;color:#000 ">
  		<col width="20">
  		<col width="240">
		<col width="20">
		<col width="68">
			<tr style="border-collapse: collapse;">
				<td style="padding: 5px; border-collapse: collapse;"><strong>PO. No:</strong></td>
				<td style="padding: 5px; border-collapse: collapse;" colspan="2">PO-{{printData.purchaseOrderNumber}}</td>
				<td style="padding: 5px; border-collapse: collapse; text-align: right;"><strong>Date: {{createdDate}}</strong></td>
			</tr>
			<tr style="border-collapse: collapse;">
				<td style="padding: 5px; border-collapse: collapse;"><strong>Payment Mode:</strong></td>
				<td style="padding: 5px; border-collapse: collapse;" colspan="2">{{printData.paymentMode}}</td>
			</tr>
			<tr style="border-collapse: collapse;">
				<td style="padding: 5px; border-collapse: collapse;"><strong>Supplier Name:</strong></td>
				<td style="padding: 5px; border-collapse: collapse;" colspan="2"><strong>{{printData.supplierDescription}}</strong></td>
				<td style="padding: 5px; border-collapse: collapse;">&nbsp;</td>
			</tr>
			<tr style="border-collapse: collapse;">
				<td style="padding: 5px; border-collapse: collapse;"><strong>Address:</strong></td>
				<td style="padding: 5px; border-collapse: collapse;" colspan="2">{{selectedSupplier.postalAddress[0].address}}</td>
				<td style="padding: 5px; border-collapse: collapse;">&nbsp;</td>
			</tr>
			<tr style="border-collapse: collapse;">
				<td style="padding: 5px; border-collapse: collapse;"><strong>Ph No:</strong></td>
				<td style="padding: 5px; border-collapse: collapse;" colspan="2">{{selectedSupplier.contactNumber[0].number}}</td>

				<td style="padding: 5px; border-collapse: collapse;">&nbsp;</td>
			</tr>
			<tr style="border-collapse: collapse;">
				<td style="padding: 5px; border-collapse: collapse;"><strong>E-Mail:</strong></td>
				<td style="padding: 5px; border-collapse: collapse;" colspan="2">{{selectedSupplier.emailAddress}}</td>
				<td style="padding: 5px; border-collapse: collapse;">&nbsp;</td>
			</tr>
			<tr style="border-collapse: collapse;">
				<td style="padding: 5px;border-collapse: collapse;"><strong>Demand ID:</strong></td>
				<td style="padding: 5px;border-collapse: collapse;">&nbsp;</td>
			</tr>
		</table>
	</div>
	<div style="color: #000000;">
			<p style="font-size: 12px;"><b>Subject:</b></p>
			<p style="font-size: 12px; line-height: 1.5;"><b>Ref. your Quotation {{printData.supplierQuotationNo}} </b><br/>We are pleased to confirm our orders as per following: </p>
	</div>
	<div style="color: #000000;">
		<table style="width : 100%;font-size : 11px;  border: 1px solid #000000; border-collapse: collapse; text-align: center;">
			<tr style="border: 1px solid #000000; border-collapse: collapse; font-weight: bold;">
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">Sr.No</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">Code</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">Description</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">Req Qty</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">Unit Price</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">Disc Type</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">Discount</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">Tax </td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse; text-align: right;">Total Amount</td>
			</tr>
			<tr ng-repeat="item in printData.itemsList" style="border: 1px solid #000000; border-collapse: collapse;">
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;"><strong>{{$index+1}}</strong></td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">{{item.code}}</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">{{item.description}}</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">{{item.quantity}}</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">{{item.rate}}</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">{{item.discountType}}</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">{{item.discount}}</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">{{item.saleTax}}</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse; text-align: right;">{{item.netValue}}</td>
			</tr>
		</table>
		<table style="width : 100%;font-size : 11px; border-collapse: collapse; text-align: center;">
			<tr style=" border-collapse: collapse;">
				<td style="padding: 5px; border-collapse: collapse;" colspan="10">&nbsp;</td>
				<td style="padding: 5px; border-collapse: collapse; text-align: right;"><b>Total Rs.</b></td>
				<td style="padding: 5px; border-collapse: collapse; text-align: right;">{{printData.total}}</td>
			</tr>
		</table>
	</div>
		<div style="margin-top: 30px;">
		<div style="color: #000000;">
			<h4 style="text-align: left;  font-size: 14px;margin-bottom: 0px;">TERMS AND CONDITIONS: </h4>
			<ol style="line-height: 1.5; font-size: 12px;">
				<li>The supply should be made within one week.</li>
				<li>Above supply should have at least one year shelf life.</li>
				<li>Above supply should be in original & standard Packing.</li>
				<li>Any item found if defective shall be replaced within one week.</li>
				<li>Please mention your NTN or CNIC No. on your bills/invoices.</li>
				<li>Purchase order number should be mentioned on delivery challans & respective invoices.</li>
				<li>Kindly arrange to supply the above items against Delivery Challans at our Hospital Store & submitt the original invoice to finance.</li>
			</ol>
		</div>
		<br/>
		</div>
		<div style="color: #000000;border-top: 2px solid #000000; width: 258px; margin-right:258px; float: left;margin-top: 40px;">
			<h4 style="text-align: center; margin-bottom: 0px; margin-top: 5px;">Purchase Officer</h4>
		</div>
		<div style="color: #000000;border-top: 2px solid #000000; width: 258px; float: right;margin-top: 40px;">
			<h4 style="text-align: center; margin-bottom: 0px; margin-top: 5px;">Chairman / CEO</h4>
		</div>
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		<div style="color: #000000; bottom: 20px; border-top: 2px solid #000000;  padding: 1rem; ">
			<p style="font-size: 12px;text-align: center; margin-top: 10px; line-height: 1.5;">
			<b>{{hospitalAddress}} PH: {{hospitalPHNumber}}</b><br/>
			<b>Fax: {{hospitalPHNumber}} Email: {{hospitalEmail}}</b><br/>
			Powered by: TALKHEALTH (HMIS)
			</p>
		</div>
	</div>
</page>
