<section class="main-page" data-ng-controller="StoreStockReportController">
    <div class="purchase-requisition-list " ng-show="processing">
        <button type="button" ng-disabled="true" class="col-xs-offset-5 col-xs-3 btn btn-default">
            Loading...
        </button>
    </div>
    
    <div class="panel">
        <!-- <div class="panel-heading">
            <h3>Home</h3>
        </div> -->
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Stock Report</a></li>
        </ul>
        <div class="panel-body">
            <form name="formHospital" class="form-horizontal" novalidate>
                <div class="col-xs-12">
                    <div class="col-xs-3 reduce-padding">
                        <label class="form-control-label">Select Supplier</label>
                        <select class="form-control" ng-model="selectedSupplier" ng-change="updateReport()">
                            <option ng-value="'all'">All</option>
                            <option ng-repeat="supplier in suppliers" ng-value="supplier._id">{{supplier.description}}</option>
                        </select>
                    </div>
					<div class="col-xs-3 reduce-padding text-align-center" style="margin-top:5px">
                        <br>
                        <button ng-json-export-excel data="inventoryStock" report-fields="{'id': 'Item Id', description: 'Description', totalInStock: 'In stock', stockprice: 'Stock Value'}" filename =" 'Stock-Report' " separator="," class="css-class btn btn-success">Export CSV</button>
						&nbsp;
						<button class="css-class btn btn-success" ng-click="printreport()">Print Report</button>
                    </div>
					<!--div class="col-xs-3 reduce-padding text-align-center">
                        <br>
                        <button class="css-class btn btn-success">Print Report</button>
                    </div-->
                </div>
                <div class="col-md-9 grid-top-margin">
                    
                    <div class="col-xs-12 reduce-padding">
                        <h5>Stock Report</h5>
                        <hr>
                        <br/>
                    </div>
                    <div class="col-xs-12 reduce-padding report-header">
                        <div class="col-xs-3">
                            Item ID
                        </div>
                        <div class="col-xs-3">
                            Description
                        </div>
                        <div class="col-xs-2 reduce-padding text-align-center">
                            Total in Stock
                        </div>
                        <div class="col-xs-2 reduce-padding text-align-center">
                            Stock Value
                        </div>
                       <div class="col-xs-2 reduce-padding text-align-center" ng-show="purchaseprices">
                            Purchase Price(Avg)
                        </div>						
                    </div>
                    <div class="col-xs-12 reduce-padding search-row">
                        <div class="col-xs-offset-3 col-xs-3">
                            <input class="input-field-border" type="text" ng-model="search.description"></input>
                        </div>
                        <div class="col-xs-2 reduce-padding text-align-center">
                            <input class="input-field-border" placeholder="Filter less than.." type="text" ng-model="totalInStock"></input>
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding report-row" ng-repeat="item in inventoryStock | filter:search | filter:quantityFilter">
                        <div class="col-xs-3">
                            {{item.id}}
                        </div>
                        <div class="col-xs-3">
                            {{item.description}}
                        </div>
                        <div class="col-xs-2 reduce-padding text-align-center">
                            {{item.totalInStock}}
                        </div>
						<div class="col-xs-2 reduce-padding text-align-center">
                            {{item.stockprice}}
                        </div>
						<div class="col-xs-2 reduce-padding text-align-center">
                            {{item.averagePrice}}
                        </div>
                    </div>
					 <div class="col-xs-11 text-align-right" style="padding-right: 40px;padding-top: 20px;">
						<b>{{totalstockprice}}</b>
					</div>
                </div>

            </form>
        </div>
    </div>
</section>