<section data-ng-controller="StoreInventoryDetailsController">
    <div class="purchase-requisition-list " ng-show="processing">
    	<button type="button" ng-disabled="true" class="col-xs-offset-5 col-xs-3 btn btn-default">
    		Loading...
    	</button>
    </div>

    <div class="panel main-page">
        <!-- <div class="panel-heading">
            <h3>Add/Edit Labels</h3>
        </div> -->
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Inventory Details</a></li>
        </ul>
        <div class="panel-body">
            <form name="formLabel" class="form-horizontal" novalidate>
                <div class="col-xs-12 reduce-padding">
                    <div class="col-lg-8">
                        <h5>INVENTORY DETAILS</h5>
                        <hr>
                        <div class="col-xs-12 reduce-padding text-align-center" ng-hide="showGrid">
                        	Please select inventory.
                        </div>
                        <div class="col-xs-12 reduce-padding" ng-show="showGrid">
		                    <div class="col-xs-12 reduce-padding reduce-padding report-header">
		                        <div class="col-xs-4 reduce-padding text-align-center document-heading">
		                            Code: {{item.code}}
		                        </div>
		                        <div class="col-xs-4 reduce-padding text-align-center document-heading">
		                            Description: {{item.description}}
		                        </div>
		                        <div class="col-xs-4 reduce-padding text-align-center document-heading">
		                            In Stock: {{item.inStock}}
		                        </div>
		                    </div>
		                    <div class="col-xs-12 reduce-padding report-header">
		                        <div class="col-xs-2 reduce-padding text-align-center">
		                            Document Type
		                        </div>
		                        <div class="col-xs-2 reduce-padding text-align-center">
		                            Code
		                        </div>
		                        <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('created')">
		                            Date
		                        </div>
		                        <div class="col-xs-2 reduce-padding text-align-center">
		                            Quantity
		                        </div>
		                        <div class="col-xs-2 reduce-padding text-align-center">
		                            Rate
		                        </div>
		                        <div class="col-xs-2 reduce-padding text-align-center">
		                            Net Value
		                        </div>
		                    </div>
		                    <div class="col-xs-12 reduce-padding document-height">
			                    <div class="col-xs-12 reduce-padding search-row text-align-center">
			                        <div class="col-xs-2 reduce-padding">
			                            <input class="input-field-border" type="text" ng-model="search.documentType"></input>
			                        </div>
			                    </div>
			                    <div class="col-xs-12 reduce-padding report-row" ng-repeat="document in item.documents | filter:search | orderBy:propertyName:reverse">
			                        <div class="col-xs-2 reduce-padding text-align-center">
			                            {{document.documentType}}
			                        </div>
			                        <div class="col-xs-2 reduce-padding text-align-center">
			                            {{document.code}}
			                        </div>
			                        <div class="col-xs-2 reduce-padding text-align-center">
			                            {{document.created | date: 'MM/dd/yyyy'}}
			                        </div>
			                        <div class="col-xs-2 reduce-padding text-align-center">
			                            {{document.quantity}}
			                        </div>
			                        <div class="col-xs-2 reduce-padding text-align-center">
			                            {{document.rate}}
			                        </div>
			                        <div class="col-xs-2 reduce-padding text-align-center">
			                            {{document.netValue}}
			                        </div>
			                    </div>
		                    </div>
		                </div>
                    </div>
                    <div class="col-lg-4">
                        <h5>SELECT INVENTORY</h5>
                        <hr>
                        <div class="col-xs-12" ng-show="!showTable">
                            <label class="form-control-label">No inventory found.</label>
                        </div>
                        <div class="col-xs-12 background-dynamic-grid-np reduce-padding" ng-show="showTable">
                            <picklist-simple-pagination headings-to-add="headingsInventory" height="250" rows-to-add="inventoryToShow" prefix="'prefix'" multiselect="'single'" callbackfn="callbackfn(arg1)" searchdata="searchMedicines(keyword)" loadmore="loadMoreItems()">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>