<section data-ng-controller="StoreInventoriesCustomerSupplierController">
    <div class="panel inventories-pricing">

        <!-- <div class="panel-heading">
            <h3>Add Customer/Supplier</h3>
        </div> -->
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Add Customer/Supplier</a></li>
        </ul>
        <div class="panel-body">
            <form name="formCustomerSupplier" class="form-horizontal" novalidate>
                <div class="col-xs-12 reduce-padding">
                    <div class="col-lg-4">
                        <h5>CUSTOMER/SUPPLIER DETAILS</h5>
                        <hr>
                        <br />
                        <div class="col-xs-12 reduce-padding">
                            <label class="form-control-label">
                                Description
                            </label>
                            <br>
                            <div class="col-xs-9 reduce-padding">
                                <input type="text" name="description" class="form-control" ng-model="customerSupplier.description" required="">
                                <span class="error" ng-show="formCustomerSupplier.description.$touched && formCustomerSupplier.description.$error.required">Please fill this field</span>
                            </div>
                        </div>
                        <div class="col-xs-12 reduce-padding">
                            <label class="form-control-label">
                                Type
                            </label>
                            <br>
                            <div>
                                <input id="radio_customer" type="radio" ng-model="customerSupplier.customerSupplierType" ng-value="'customer'" ng-checked="(customerSupplier.customerSupplierType === 'customer')">
                                <label for="radio_customer">
                                    Customer
                                </label>
                                <input id="radio_supplier" type="radio" ng-model="customerSupplier.customerSupplierType" ng-value="'supplier'" ng-checked="(customerSupplier.customerSupplierType === 'supplier')">
                                <label for="radio_supplier">
                                    Supplier
                                </label>
                                <input id="radio_manufacturer" type="radio" ng-model="customerSupplier.customerSupplierType" ng-value="'manufacturer'" ng-checked="(customerSupplier.customerSupplierType === 'manufacturer')">
                                <label for="radio_manufacturer">
                                    Manufacturer
                                </label>								
                            </div>
                        </div>
                        <div class="col-xs-12 reduce-padding" ng-show="customerSupplier.customerSupplierType === 'supplier'">
                            <label class="form-control-label">
                                Payment Mode
                            </label>
                            <br>
                            <div class="col-xs-9 reduce-padding">
                                <input id="radio_cash" type="radio" ng-init="customerSupplier.paymentMode='Cash'" ng-model="customerSupplier.paymentMode" ng-value="'Cash'" ng-checked="(customerSupplier.paymentMode === 'Cash')">
                                <label for="radio_cash">
                                    Cash
                                </label>
								<input id="radio_credit" type="radio" ng-model="customerSupplier.paymentMode" ng-value="'Credit'" ng-checked="(customerSupplier.paymentMode === 'Credit')">
                                <label for="radio_credit">
                                    Credit
                                </label>
                            </div>
                        </div>						
                        <div class="col-xs-12 reduce-padding">
                            <label class="form-control-label">
                                Sales Tax Registration Number<span class="optional-span">(Optional)</span>
                            </label>
                            <br>
                            <div class="col-xs-9 reduce-padding">
                                <input type="text" name="salesTaxRegistrationNumber" class="form-control" ng-model="customerSupplier.salesTaxRegistrationNumber" ui-mask="9999999999999" ui-mask-placeholder>
                                <span class="error" ng-show="formCustomerSupplier.salesTaxRegistrationNumber.$touched && formCustomerSupplier.salesTaxRegistrationNumber.$error.required">Please fill this field</span>
                            </div>
                        </div>
                        <div class="col-xs-12 reduce-padding">
                            <label class="form-control-label">
                                NTN<span class="optional-span">(Optional)</span>
                            </label>
                            <br>
                            <div class="col-xs-9 reduce-padding">
                                <input type="text" name="NTN" class="form-control" ng-model="customerSupplier.NTN" ui-mask="9999999-9" ui-mask-placeholder>
                                <span class="error" ng-show="formCustomerSupplier.NTN.$touched && formCustomerSupplier.NTN.$error.required">Please fill this field</span>
                            </div>
                        </div>
                        <div class="col-xs-12 reduce-padding">
                            <label class="form-control-label">
                                CNIC<span class="optional-span">(Optional)</span>
                            </label>
                            <br>
                            <div class="col-xs-9 reduce-padding">
                                <input type="text" name="CNIC" class="form-control" ng-model="customerSupplier.CNIC" ui-mask="99999-9999999-9" ui-mask-placeholder>
                            </div>
                            <hr class="hr-padding hr-full">
                        </div>
                        <div class="col-xs-12 reduce-padding error" ng-show="formCustomerSupplier.name.$touched && formCustomerSupplier.name.$error.required || formCustomerSupplier.NTN.$touched && formCustomerSupplier.NTN.$error.required || formCustomerSupplier.salesTaxRegistrationNumber.$touched && formCustomerSupplier.salesTaxRegistrationNumber.$error.required">
                            Please fill remaining fields
                        </div>
                        <div class="col-xs-12 reduce-padding">
                            <button type="button" class="btn btn-lg btn-danger" ng-click="delete_customer_supplier()" ng-show="UpdateItem">Delete</button>
                            <button type="button" class="btn btn-lg btn-primary" ng-click="reset_customer_supplier(formCustomerSupplier)">Clear</button>
                            <button type="button" class="btn btn-lg btn-success" ng-click="update_customer_supplier(customerSupplier, formCustomerSupplier)" ng-disabled="formCustomerSupplier.NTN.$error.required || formCustomerSupplier.salesTaxRegistrationNumber.$error.required" ng-show="UpdateItem">Update</button>
                            <button type="button" class="btn btn-lg btn-success" ng-click="submit_customer_supplier(customerSupplier, formCustomerSupplier)" ng-disabled="formCustomerSupplier.NTN.$error.required || formCustomerSupplier.salesTaxRegistrationNumber.$error.required" ng-hide="UpdateItem">Save</button>
                        </div>
                    </div>
                    <div class="col-lg-4 scroll-array">
                        <h5>CONTACT DETAILS</h5>
                        <hr>
                        <br />
                        <div class="col-xs-12 reduce-padding">
                            <div>
                                <label class="form-control-label">
                                    Postal Address<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <div class="col-xs-9 reduce-padding">
                                    <div data-ng-repeat="address in postalAddress">
                                        <div class="col-xs-10 reduce-padding bottom-padding">
                                            <input type="text" class="form-control" ng-model="address.address" name="address">
                                        </div>
                                        <div class="col-xs-2" ng-show="postalAddress.length > 1 && $index !== 0">
                                            <button type="button" class="btn btn-default" ng-click="removePostalAddress($index)" ><i class="fa fa-trash"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 reduce-padding">
                                    <button type="button" class="btn btn-default" ng-click="addPostalAddress()">Add</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 reduce-padding">
                            <div>
                                <label class="form-control-label">
                                    Contact Number<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <div class="col-xs-9 reduce-padding">
                                    <div data-ng-repeat="number in contactNumber">
                                        <div class="col-xs-10 reduce-padding bottom-padding">
                                            <input type="number" class="form-control" ng-model="number.number" name="number">
                                        </div>
                                        <div class="col-xs-2" ng-show="contactNumber.length > 1 && $index !== 0">
                                            <button type="button" class="btn btn-default" ng-click="removeContactNumber($index)" ><i class="fa fa-trash"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 reduce-padding">
                                    <button type="button" class="btn btn-default" ng-click="addContactNumber()">Add</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 reduce-padding">
                            <div>
                                <label class="form-control-label">
                                    Email Address<span class="optional-span">(Optional)</span>
                                </label>
                                <br>
                                <div class="col-xs-9 reduce-padding">
                                    <input type="email" name="emailAddress" class="form-control" ng-model="customerSupplier.emailAddress" required="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h5>UPDATE EXISTING CUSTOMERS/SUPPLIERS</h5>
                        <hr>
                        <div class="col-xs-12" ng-show="!showTable">
                            <label class="form-control-label">No customers/suppliers found.</label>
                        </div>
                        <div class="col-xs-12 background-dynamic-grid-np reduce-padding" ng-show="showTable">
                            <picklist-simple headings-to-add="headings" height="250" rows-to-add="listToShow" prefix="prefix" multiselect="'single'" callbackfn="callbackfn(arg1)" title="'Select'">
                        </div>
                    </div>
                    <div class="col-xs-12 form-group">
                        <div ng-class="confirmationPopup">
                            <div class="arrow-up"></div>
                            <div class="gray-container">
                                <b>Are you sure?</b><br>
                                This customer/supplier will be deleted permanently.<br><br>
                                <button class="btn btn-neutral" ng-click="hide_delete_popup()">Cancel</button>&nbsp;&nbsp;<button class="btn btn-danger" ng-click="confirm_delete_popup(formCustomerSupplier)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div> 
            </form>
        </div>
    </div>
</section>