<section id="headerid" data-ng-controller="StorepurchaseRequisitionController">
    <div class="purchase-requisition-list" ng-show="showGrid">
        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="showGrid=false;"></button>
        </div>
        <!-- <dynamic-grid columns-to-add="supplierColumns" datafortable="samplejson" callbackfn="callbackfn(arg1)"  columnsizefortable="200"></dynamic-grid> -->
        <div class="col-xs-12 background-dynamic-grid-np reduce-padding" ng-show="showGrid">
            <picklist-simple headings-to-add="headingsRequisitions" height="350" rows-to-add="samplejson" prefix="prefixRequisitions" multiselect="'single'" callbackfn="callbackfn(arg1)" title="'Select Purchase Requisition'">
        </div>
    </div>

    <div class="purchase-requisition-list" ng-show="showAllItems">
        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="showAllItems=false;"></button>
        </div>
        <div class="col-xs-12 background-dynamic-grid-np reduce-padding">
            <picklist-simple-pagination headings-to-add="headingsMedicines" height="350" rows-to-add="allItems" prefix="prefix" multiselect="'multiple'" callbackfn="add_medicine(arg1)" title="'Select Medicines'" searchdata="searchMedicines(keyword)" loadmore="loadMoreItems()">
        </div>
    </div>
    <div class="panel purchase-requisition" ng-class="{'blur': showGrid}" ng-click="hide_directive()">
        <div class="col-lg-6 reduce-padding">
            <!-- <div class="panel-heading">
                <h3>Purchase Requisition</h3>
            </div> -->
            <ul class="list-unstyled breadcrumb">
                <li><a href="/#!/main-page">Home</a></li>
                <li class="active-page"><a href="#">Purchase Requisition</a></li>
            </ul>
        </div>
        <div class="col-lg-6 float-right search-block-field reduce-padding">
            <div class="form-input-icon form-input-icon-right">
                <i class="icmn-search"></i>
                <input type="text" class="form-control form-control-sm form-control-rounded search-container-field-height" ng-model="searchRequisitionKeyword" placeholder="Search by Purchase Requisition Code..." ng-enter="getPendingPurchaseRequisitions()">
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                <button type="button" class="search-block-submit" ng-click="getPendingPurchaseRequisitions()"></button>
            </div>
        </div>
        <div class="panel-body">
            <form name="formPurchaseRequisition" class="form-horizontal" novalidate>
                <div class="col-xs-12">
                    <div class="col-xs-12 reduce-padding">
                        <div ng-show="UpdateItem">
                            <h5>Update Purchase Requisition</h5>
                            <hr>
                        </div>                        
                        <div ng-hide="UpdateItem">
                            <h5>New Purchase Requisition</h5>
                            <hr>
                        </div>
                        <div class="col-xs-4">

                            <div class="col-xs-9" ng-hide="purchaseRequisition.code === ''">
                                <div>
                                    <label class="form-control-label">
                                        Document Number
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="text" name="purchaseRequisitionNumber" class="form-control" ng-model="purchaseRequisition.code" disabled="true">
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Document Category
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <select name="transcationCategories" class="form-control" ng-model="purchaseRequisition.transcationCategory" required="">
                                            <option ng-repeat="category in transcationCategories" ng-value="category.purchaseType">{{category.purchaseType}}</option>
                                        </select>
                                        <span class="error" ng-show="formPurchaseOrder.$submitted && formPurchaseOrder.transcationCategories.$error.required">Please select this field</span>
                                    </div>
                                </div>
 
                            </div>

                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Remarks<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <textarea type="text" name="remarks" class="form-control" ng-model="purchaseRequisition.remarks"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Date
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="date" name="date" class="form-control" ng-model="purchaseRequisition.date" required="">
                                        <span class="error" ng-show="formPurchaseRequisition.date.$touched && formPurchaseRequisition.date.$error.required">Please fill this field</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <hr class="hr-inventory">
                            <div class="col-xs-12">
                                <label class="col-xs-12 form-control-label">
                                    Add Items to Purchase Requisition
                                </label>
                                <div class="col-xs-3 reduce-padding search-block">
                                    <div class="form-input-icon form-input-icon-right">
                                        
                                        <input type="text" class="form-control form-control-sm search-container-height" ng-model="searchKeyword" placeholder="Search items..." typeahead="item.description for item in itemsSearchTypeahead($viewValue)" typeahead-loading="loadingLocations" typeahead-on-select="selectedSearchItem($item)" class="form-control">
                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                        <button type="button" class="items-search-btn" ng-click="openItemsList()" ng-disabled="processing"><i ng-hide="processing" class="fa fa-search"></i>
                                            <div class="centerForDemo" ng-show="processing">
                                                <div class="loadingSpinner">
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <span class="error" ng-show="formPurchaseOrder.$submitted && itemsList.length == '0'">Please select some items</span>
                                </div>
                            </div>  
                            <div class="col-xs-12">
                                <label class="form-control-label" ng-hide="itemsList.length == '0'">
                                Items for Purchase Requisition
                                </label>
                            </div>
                            <div class="col-xs-12 table-properties" ng-hide="itemsList.length == '0'">
                              <table class="table-width" >
                                <thead class="table-head">
                                  <tr class="order-table-head-row">
                                    <td class="order-table-row column-padding-1 col-pad">Medicine Name</td>
                                    <td class="text-center col-pad">Qty</td>
                                    <td class="text-center col-pad">Remarks</td>
                                    <td class="text-center col-pad">Expected Delivery Date</td>
                                    <td class="text-center col-pad">Requested By</td>
                                    <td class="text-center col-pad">Est Rate(Rs)</td>
                                    <td class="text-center remove-btn-column"></td>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr tabindex="{{$index}}" ng-repeat="med in itemsList">
                                    <td class="order-table-row column-padding-1">{{med.description}}</td>
                                    <td class="text-center order-table-row qty-col">
                                      <input name="itemqty" class="form-control grid-input-height number-input-width qty-input" type="Number" ng-model="med.quantity" min="1" required="" ng-pattern="/^[0-9]+(\.{0})?$/">
                                      <span class="purchase-unit">{{med.purchase_unit}}</span>
                                    </td>
                                    <td class="text-center order-table-row">
                                      <textarea class="form-control grid-input-height text-center" ng-model="med.remarks" rows="1" cols="10"></textarea>
                                    </td>
                                    <td class="text-center order-table-row exp-date">
                                      <input class="form-control grid-input-height date-input-width auto-margin" type="date" ng-model="med.estDeliveryDate">
                                    </td>
                                    <td class="text-center order-table-row req-by">
                                      <input class="form-control grid-input-height text-center" type="text" ng-model="med.requestedBy">
                                    </td>
                                    <td class="text-center order-table-row est-rate">
                                      <input class="form-control grid-input-height number-input-width auto-margin" type="number" ng-model="med.estRate" min="0">
                                    </td>
                                    
                                    <td class="text-center order-table-row">
                                      <button type="button" class="close-btn btn-danger" ng-click="remove_medicine($index)" ><i class="fa fa-trash"></i></button>
                                      <!-- <img class="close-img" src="img/close_btn.png" width="20px" height="20px" tabindex="1"> -->
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <span class="error" ng-show="itemsQty">Please Enter Quantity for Items</span>
                            </div>
                            <div class="col-xs-12">
                                <span class="error" ng-show="formPurchaseRequisition.$submitted && itemsList.length == '0'">Please select some items</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <hr class="hr-inventory hr-full">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div ng-class="confirmationPopup">
                                    <div class="gray-container">
                                        <b>Are you sure?</b><br>
                                        This Purchase Requisition will be deleted permanently.<br><br>
                                        <button class="btn btn-neutral" ng-click="hide_delete_popup()">Cancel</button>&nbsp;&nbsp;<button class="btn btn-danger" ng-click="confirm_delete_popup(formPurchaseRequisition)">Delete</button>
                                    </div>
                                    <div class="arrow-down-right"></div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <button type="button" ng-disabled="processing" class="btn btn-lg btn-success nav-btn" ng-click="update_purchase_requisition(purchaseRequisition, formPurchaseRequisition)" ng-disabled="itemsList.length == '0' || !formPurchaseRequisition.$valid" ng-show="UpdateItem">
                                    <span ng-hide="processing">Update</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                <button type="button" ng-disabled="processing" class="btn btn-success btn-lg nav-btn" ng-click="submit_purchase_requisition(purchaseRequisition, formPurchaseRequisition)" ng-disabled="itemsList.length == '0' || !formPurchaseRequisition.$valid" ng-hide="UpdateItem">
                                    <span ng-hide="processing">Save</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                <button type="button" class="btn btn-primary btn-lg nav-btn" ng-click="reset(formPurchaseRequisition)" ng-disabled="processing">
                                    <span ng-hide="processing">Clear</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                <button type="button" class="btn btn-lg btn-danger nav-btn" ng-click="delete_purchase_requisition()" ng-disabled="processing" ng-show="UpdateItem">
                                    <span ng-hide="processing">Delete</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div> 
            </form>
        </div>
    </div>
</section>