<section class="purchase-return"  id="headerid" data-ng-controller="StorepurchaseReturnController">
    <div class="purchase-requisition-list" ng-show="showGRNs || showAllItems || showAllPurchaseReturns">
        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="showGRNs = false; showAllItems=false; showAllPurchaseReturns=false; "></button>
        </div>
         

       <!--Purchase Returns PickList
        
        <div class="col-xs-offset-1 col-xs-10 reduce-padding" ng-show="showAllPurchaseReturns">
            <picklist-expandable headings-to-add="headingsPurchaseReturns" rows-to-add="allPurchaseReturns" prefix="prefix" expandable-headings-to-add="expandableHeadingsPurchaseReturns" height="350" expandable-heading="expandableHeadingPurchaseReturns" callbackfn="Purchase_Return_CallBack(arg1)" title="'Select Purchase Return'">
        </div> 
        -->

        <div class="col-xs-offset-1 col-xs-10 reduce-padding" ng-show="showGRNs">
            <picklist-expandable headings-to-add="headingsGRN" rows-to-add="GRNs" prefix="prefixGRN" expandable-headings-to-add="expandableHeadingsGRN" height="350" expandable-heading="expandableHeadingGRN" callbackfn="selectedItems(arg1)" title="'Select Medicines from GRNs'">
        </div>

         <!--Purchase Returns PickList-->
        <div class="col-xs-offset-1 col-xs-10" ng-show="showAllPurchaseReturns">
            <picklist-simple headings-to-add="headingsPurchaseReturns" height="350" rows-to-add="allPurchaseReturns" prefix="prefix" multiselect="'single'" callbackfn="Purchase_Return_CallBack(arg1)" title="'Select Purchase Return'">
        </div>
        <!---->
        


<!--         <expandable-picklist
            columns-to-add="pr_heading"
            datafortable="GRNData"
            callbackfn="selectedItems(arg1)"
            columnsizefortable="200"
            columntoexpand="'itemsList'"
            expandedcolumns="item_heading">
        </expandable-picklist> -->
          

        <div class="col-xs-offset-1 col-xs-10 background-dynamic-grid-np reduce-padding" ng-show="showAllItems">
            <picklist-simple-pagination headings-to-add="headingsMedicines" height="350" rows-to-add="allItems" prefix="prefix" multiselect="'multiple'" callbackfn="populateList(arg1)" title="'Select Medicines'" searchdata="searchMedicines(keyword)" loadmore="loadMoreItems()">
        </div>
    </div>
    <div class="panel purchase-requisition">
        <!-- <div class="panel-heading">
            <h3>Purchase Return</h3>
        </div> -->
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Purchase Return</a></li>
        </ul>
        <div class="panel-body">
            <!--Search by Purchase Return-->
            <div class="col-lg-6 float-right search-block-field reduce-padding">
                <div class="form-input-icon form-input-icon-right">
                    <i class="icmn-search"></i>
                    <input type="text" class="form-control form-control-sm form-control-rounded search-container-field-height" ng-model="searchPurchaseReturnKeyword" placeholder="Search by Purchase Return Number..." ng-enter="get_purchase_return()">
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                    <button type="button" class="search-block-submit" ng-click="get_purchase_return()"></button>
                </div>
            </div>
            <!---->
            <form name="formPurchaseOrder" class="form-horizontal" novalidate>
                <div class="col-xs-12">
                    <div class="col-xs-12 reduce-padding">
                        <div>
                            <h5>New Purchase Return</h5>
                            <hr>
                        </div>
                        <div class="col-xs-4"> 
                            
                            
                            <div class="col-xs-9" ng-hide="purchaseOrder.purchaseReturnNumber===''">
                                <div>
                                    <label class="form-control-label">
                                        Document Number
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="text" name="purchaseReturnNumber" class="form-control" ng-model="purchaseOrder.purchaseReturnNumber" disabled="true">
                                    </div>
                                </div>
                            </div> 
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Document Mode
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <select name="request" class="form-control" ng-model="purchaseOrder.request" ng-change="itemsList = [];itemsQty = false;" required="">
                                            <option value="Direct">Direct</option>
                                            <option value="GRN">GRN</option>
                                        </select>
                                        <span class="error" ng-show="formPurchaseOrder.$submitted && formPurchaseOrder.request.$error.required">Please select this field</span>
                                    </div>
                                </div>
                            </div> 
                            <!-- <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Document Category
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <select name="transcationCategories" class="form-control" ng-model="purchaseOrder.transcationCategory" required="">
                                            <option ng-repeat="category in transcationCategories" ng-value="category.purchaseType">{{category.purchaseType}}</option>
                                        </select>
                                        <span class="error" ng-show="formPurchaseOrder.$submitted && formPurchaseOrder.transcationCategories.$error.required">Please select this field</span>
                                    </div>
                                </div>
                            </div>   -->                        
                        </div>

                        <div class="col-xs-4">
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Date
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="date" name="date" class="form-control" ng-model="purchaseOrder.date" required="">
                                        <span class="error" ng-show="formPurchaseOrder.$submitted  && formPurchaseOrder.date.$error.required">Please select this field</span>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="col-xs-9" ng-show="mode=='Advanced'">
                                <div>
                                    <label class="form-control-label">
                                        Remarks<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <textarea type="text" name="remarks" class="form-control" ng-model="purchaseOrder.remarks"></textarea>
                                
                                    </div>
                                </div>
                            </div> 
                        </div>

                        <div class="col-xs-4" ng-show="mode=='Advanced'">
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Supplier Quotation No<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="text" name="supplierQuotationNo" class="form-control" ng-model="purchaseOrder.supplierQuotationNo">
                                        
                                    </div>
                                </div>
                            </div> 
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Supplier Quotation Date<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="date" name="supplierQuotationDate" class="form-control" ng-model="purchaseOrder.supplierQuotationDate">
                            
                                    </div>
                                </div>
                            </div> 
                        </div>

                        <div>
                            <hr>
                            <div class="col-xs-9" ng-show="purchaseOrder.request==='Direct'">
                                <div class="col-xs-4 items-search-container">
                                    <label class="form-control-label">
                                        Add Items to Purchase Return
                                    </label>
                                    <div class="search-block">
                                        <div class="form-input-icon form-input-icon-right">
                                            
                                            <input type="text" class="form-control form-control-sm search-container-height" ng-model="searchKeyword" placeholder="Search items..." typeahead="item.description for item in itemsSearchTypeahead($viewValue)" typeahead-loading="loadingLocations" typeahead-on-select="selectedSearchItem($item)" class="form-control">
                                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                            <button type="button" ng-disabled="processing" class="items-search-btn" ng-disabled="processing"><i ng-hide="processing" class="fa fa-search">
                                            </i>
                                            <div class="centerForDemo" ng-show="processing">
                                                <div class="loadingSpinner">
                                                </div>
                                            </div>
                                            </button>                                        </div>
                                        <span class="error" ng-show="formPurchaseOrder.$submitted && itemsList.length == '0'">Please select some items</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-9" ng-show="purchaseOrder.request==='GRN'">
                                <div class="col-xs-4">
                                    <label class="form-control-label">
                                        Show GRN
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <button type="button" name="date" class="btn" ng-click="openGRNs()" >Open List</button>
                                        <span class="error" ng-show="formPurchaseOrder.$submitted && itemsList.length == '0'">Please select some items</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12" ng-hide="itemsList.length == '0'">
                            <label class="form-control-label">
                                Items for Return
                            </label>
                            <div class="table-properties" >
                              <table class="table-width" >
                                <thead class="tableHead">
                                  <tr class="order-table-head-row">
                                    <td class="order-table-row column-padding-1">Medicine Name</td>
                                    <td class="text-center col-pad">Quantity</td>
                                    <td class="text-center col-pad">Rate</td>
                                    <td class="text-center col-pad">Expiry Date</td>
                                    <td class="text-center col-pad">Net value</td>
                                    <td class="text-center col-pad"></td>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr tabindex="{{$index}}" ng-repeat="med in itemsList">
                                    <td class="order-table-row column-padding-1">{{med.description}}</td>
                                    <td class="text-center order-table-row">
                                      <input class="form-control grid-input-height number-input-width auto-margin" type="Number" ng-model="med.quantity" min="0" ng-change="calculate_total_net_amount()">
                                    </td>
                                    <td class="text-center order-table-row">
                                      <input class="form-control grid-input-height number-input-width auto-margin" type="Number" ng-model="med.rate" min="0" ng-change="calculate_total_net_amount()">
                                    </td>
                                    <td class="text-center order-table-row">
                                      <input class="form-control grid-input-height date-input-width auto-margin" type="date" ng-model="med.expiryDate" ng-show="med.expiry_date_enabled===true">
                                      <span ng-show="med.expiry_date_enabled===false">Disabled</span>
                                    </td>
                                    <td class="text-center order-table-row">
                                      <span ng-hide="med.netValue==='NaN'">{{med.netValue}}</span>
                                    </td>
                                    
                                    <td class="text-center order-table-row">
                                      <button  type="button" class="close-btn btn-danger" ng-click="remove_medicine($index)" ><i class="fa fa-trash"></i></button>
                                      <!-- <img class="close-img" src="img/close_btn.png" width="20px" height="20px" tabindex="1"> -->
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <span class="error" ng-show="itemsQty">Please Enter Quantity and Rate for Items</span>
                            </div> 
                        </div>
                        <div class="col-xs-12" ng-hide="itemsList.length == '0'">
                            <div class="grand-total">
                                <br>
                                <span><b>Grand Total </b></span>  Rs. {{totalAmount}} 
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12">

                        <hr class="hr-inventory hr-full">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <button type="button" class="btn  btn-lg btn-success nav-btn" ng-click="handle_Submit_Request(purchaseOrder, formPurchaseOrder)" ng-disabled="itemsList.length == '0'">
                                    <span ng-hide="processing">{{btnType}}</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                <button ng-show="btnDelshow" type="button" style="background-color: #e74c3c; border-color: #c0392b" class="btn btn-lg btn-primary nav-btn" ng-click="del_purchase_return(itemsList)">
                                    <span ng-hide="processing">Delete</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                <button type="button" class="btn btn-lg btn-primary nav-btn" ng-click="reset(formPurchaseOrder)">
                                    <span ng-hide="processing">Clear</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>

                                
                            </div>
                        </div>
                    </div>
                </div> 

            </form>
        </div>
    </div>
</section>