<section class="create-facility">
    <!-- <div class="purchase-requisition-list" ng-show="showGrid">
        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="showGrid=false;"></button>
        </div>
        <div ng-show="showGrid">
			<picklist-simple class="col-xs-offset-3 col-xs-6" height="500" headings-to-add="headings" rows-to-add="panelsToShow" prefix="prefix" multiselect="'single'" callbackfn="callbackfn(arg1)">
        </div>
    </div> -->
	<div class="panel">

        <ul class="list-unstyled breadcrumb">
                <li><a href="/#!/main-page">Home</a></li>
                <li class="active-page"><a href="#">Hospital Wards Hierarchy</a></li>
        </ul>
        <div class="panel-body">
            <form name="formPanel" class="form-horizontal" novalidate>
                <div class="col-xs-12">
                    <h5>Add/Update Hierarchy</h5>
                    <hr>
                </div>
                <script type="text/ng-template"  id="tree_item_renderer.html">
                    
                    <input type="text" class="tree-text-field" ng-model="data.name"></input>
                    <button type="button" class="btn btn-xs btn-success add-del-btn" ng-click="saveNode(data)" ng-hide="data.saved">Save</button>
                    <button type="button" class="btn btn-xs btn-success add-del-btn" ng-click="add(data)" ng-show="data.saved" ng-disabled="saving">Add Level</button>

                    <button type="button" class="btn btn-xs btn-danger add-del-btn" ng-click="delete(data)" ng-show="data.nodes.length > 0">Remove Sub Levels</button>
                    <ul class="child-container" ng-show="data.nodes.length>0">
                        <div class="arrow-up"></div>
                        <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
                    </ul>
                    
                </script>
                
                <ul class="head-container">
                    <li ng-repeat="data in tree">
                        <input type="text" class="tree-text-field" ng-model="data.name" ng-disabled="true"></input>
                        <!-- <button class="btn btn-xs btn-success add-del-btn" ng-click="add(data)" ng-disabled="saving">Add Child</button> -->
                        <button type="button" class="btn btn-xs btn-success add-del-btn" ng-click="saveNode(data)" ng-hide="data.saved">Save</button>
                        <button type="button" class="btn btn-xs btn-success add-del-btn" ng-click="add(data)" ng-show="data.saved" ng-disabled="saving">Add Level</button>
                        <button type="button" class="btn btn-xs btn-danger add-del-btn" ng-click="delete(data)" ng-show="data.nodes.length > 0">Remove Sub Levels</button>

                        <ul class="child-container" ng-show="data.nodes.length>0">
                            <div class="arrow-up"></div>
                            <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
                        </ul>
                        
                        
                    </li>
                </ul>
            </form>
        </div>
    </div>
</section>