<section class="facility-pricing" data-ng-controller="CreateBedsController">

	<div class="panel">
        <ul class="list-unstyled breadcrumb">
                <li><a href="/#!/main-page">Home</a></li>
                <li class="active-page"><a href="#">Bed Creation</a></li>
        </ul>
        <div class="panel-body">

            <form name="formPanel" class="form-horizontal" novalidate>
                <!--div class="col-xs-12">

                </div-->
                <div class="col-xs-6">
                    <h5>Manage Beds</h5>
                    <hr>
                    <div class="col-xs-12">
                        <div class="col-xs-6" ng-repeat="node in nodes">
                            <label class="form-control-label">Select Level {{$index+1}}</label>
                            <select class="form-control" ng-model="node.selected" ng-change="selectFacility($index)">
                                <option ng-repeat="child in node.children" ng-value="child">{{child}}</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="col-xs-12 pricing-table" ng-show="showGrid">
                        <h5>Add Beds and Cost</h5>
                        <hr>
                        <div class="col-xs-12">
                            <table class="table-width">
                                <tbody>
                                    <thead>
                                        <tr class="table-head order-table-head-row">
                                            <td class="col-pad">Bed Id</td>
                                            <td class="col-pad">Cost/Day</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="service in services" class="order-table-row">
                                        <td class="col-pad">
                                            <input class="form-control" type="text" ng-model="service.description" required=""></input>
                                        </td>
                                        <td class="col-pad">
                                            <input class="form-control" type="number" ng-model="service.price" min="0" required=""></input>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            <table class="table-width add-service-row">
                                <tbody>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-sm btn-primary add-service" ng-click="addService()">Add Another Bed</button>
                                    </td>
                                </tbody>
                            </table>

                            <!--<div class="save-btn">
                                <div class="btn-align">
                                    <button class="btn btn-success full-width" type="button" ng-click="submit()">Save Beds</button>
                                </div>
                            </div>-->
                        </div>

                    </div>
                </div>
                <div class="col-xs-6" ng-show="showGrid && showGen">
                    <div class="col-xs-12" >

                        <h5>Generate Beds</h5>
						<hr>
                         <div class="col-xs-4">
                            <label class="form-control-label">Prefix</label>
                            <input class="form-control" type="text" ng-model="prefix" required=""></input>
                        </div>
						<div class="col-xs-4">
                            <label class="form-control-label">Cost/day</label>
                            <input class="form-control" type="number" ng-model="cost" required=""></input>
                        </div>
						<div class="col-xs-4">
                            <label class="form-control-label">No. of Beds</label>
                            <input class="form-control" type="number" ng-disabled ="update" ng-model="numofbeds" required=""></input>
                        </div>
						<div class="col-xs-3 btn-align" style="margin-top: 20px">
							<button class="btn btn-success" type="button" ng-hide=update ng-click="generatebeds()">Generate Beds</button>
              <button class="btn btn-success" type="button" ng-show=update ng-click="updatebeds()">Update Beds</button>
						</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
