<section class="package" ng-click="closeDropdown()">
  <div class="purchase-requisition-list" ng-show="showPackages">
			<div>
				<button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="showPackages = false;"></button>
			</div>
			<div class="col-xs-offset-1 col-xs-10" ng-show="showPackages">
				<picklist-simple headings-to-add="headingsPackage" height="350" rows-to-add="packages" prefix="prefixPackages" multiselect="'single'" callbackfn="callbackpatient(arg1)" title="'Select Package'">
			</div>
		</div>

  <div class="panel hospital-admin">
    <div class="panel-body">
		<form name="formPatientRegistration" class="form-horizontal" novalidate>

			<div class= "col-xs-12 reduce-padding">
				<div class="col-md-6">
					<h5 ng-hide="updateItem">CREATE PACKAGE</h5>
					<h5 ng-show="updateItem">UPDATE PACKAGE</h5>
					<hr>
					<br/>
					<div class="col-xs-9 reduce-padding">
						<label class="form-control-label">
							Name
						</label>
						<br>
						<div class="col-xs-9 reduce-padding">
							<input type="text"
								name="name"
								class="form-control"
								ng-model="pkg.name"
								ng-pattern="/^[a-zA-Z\s]*$/"
								required="">
							<span class="error" ng-show="pkg.name.$touched && pkg.name.$error.required">Please enter valid value</span>
						</div>
					</div>
					<div class="col-xs-9 reduce-padding">
						<label class="form-control-label">
							Bed Included
						</label>
						<br>
						<div class="col-xs-6 reduce-padding">
							<label class="form-control-label">
								Ward/Area
							</label>
							<br>
							<select class="form-control" ng-model="pkg.bed_info.category" ng-change="calculateTotal()">
								<option ng-repeat="department in departments" ng-value="department">{{department}}</option>
							</select>
						</div>
						<div class="col-xs-6 reduce-padding">
							<label class="form-control-label">
								Days
							</label>
							<br>
							<input type="Number" class="form-control" ng-model="pkg.bed_info.days" ng-change="calculateTotal()">
						</div>
					</div>

          <div class="col-xs-11 reduce-padding ipd">
						<label class="form-control-label">
							Services Included
						</label>
						<br>

            <div class="col-xs-12 reduce-padding grid-header">
                <div class="col-xs-6 header-col reduce-padding">Service Description</div>
                <div class="col-xs-2 center-text header-col">Qty</div>
                <div class="col-xs-2 center-text header-col">Charges</div>
                <div class="col-xs-1 center-text header-col">Total</div>
                <div class="col-xs-1 center-text header-col header-last-col"></div>
            </div>
          <div ng-repeat="service in pkg.servicesData"  class="col-xs-12 reduce-padding grid-rows">
              <div class="col-xs-6 reduce-padding">
                  <div ng-show="service.category==='OPD-Consultation'">{{service.description + ' with '+ doctorName}}</div>
                  <div ng-show="service.description==='Registration'">{{service.description}}</div>

                  <input class="form-control dropdown-input" id="{{'servicesInput'+$index}}" ng-model="service.description" ng-change="openDropdown($index)" ng-focus="openDropdown($index)"  ng-click="openDropdown($index)" ng-keydown="onKeydown(facilities[facilities.length-1], $event)" tabindex="1"  ng-disabled="disableEditing" ng-hide="service.description==='Consultation'  || service.description==='Registration'" autocomplete="off"></input>
                  <ul ng-show="dropdownFlag === $index" class="services-dropdown">
                      <li class="dropdown-header">
                          <div class="col-xs-6">Facility Name</div>
                          <div class="col-xs-6">Category</div>
                      </li>
                      <li class="facility-li" ng-hide="serviceFacilities.length>0">
                      <div class="col-xs-12">Nothing found</div>
                      </li>
                      <li class="facility-li" ng-repeat="facility in serviceFacilities = (facilities | filter : service.description)" ng-click="selectFacility(facility,service,$parent.$index)" ng-enter="selectFacility(facility,service,$parent.$index)" tabindex="{{$index+2}}" ng-keydown="onKeydown(facility, $event)" ng-focus="onFocus(facility)">
                          <div class="col-xs-12">
                              <div class="col-xs-6">{{facility.description}}</div>
                              <div class="col-xs-6">{{facility.category.substr(9)}}</div>
                          </div>
                      </li>
                  </ul>

              </div>
              <div class="col-xs-2 center-text">
              <input type="number" class="form-control" ng-model="service.quantity" ng-change="discountChange($index)" ng-disabled="disableEditing" tabindex="1" ng-focus="closeDropdown()"></input>
            </div>
              <div class="col-xs-2 center-text">
                  <span>{{service.fee}}</span>
              </div>
              <div class="col-xs-1 center-text">
                  <span>{{service.total}}</span>
              </div>
              <div class="col-xs-1 center-text">
                  <button type="button" class="btn btn-xs btn-primary" ng-show="$last" ng-click="addService($index+1)"  ng-disabled="disableEditing" tabindex="1"><i class="fa fa-plus"></i></button>
                  <button type="button" class="btn btn-xs btn-danger" ng-hide="$last || service.description==='Registration' || service.description==='Consultation'" ng-click="removeService($index)"  ng-disabled="disableEditing" tabindex="1"><i class="fa fa-trash"></i></button>
              </div>
        </div>
      </div>

        <div class="col-xs-9 reduce-padding">
          <label class="form-control-label">
            OTA Charges
          </label>
          <br>
          <div class="col-xs-6 reduce-padding">
            <label class="form-control-label">
              OTA Name
            </label>
          </div>
          <div class="col-xs-4 reduce-padding">
            <label class="form-control-label">
              Charges
            </label>
          </div>
            <br>

          <div ng-repeat="OTA_charge in pkg.OTA_charges"  class="col-xs-12 reduce-padding grid-rows">
          <div class="col-xs-6 reduce-padding">
            <select class="form-control" ng-model="OTA_charge.name" id="{{'OTAInput'+$index}}"  ng-change="OTA_changed($index)">
              <option ng-repeat="OTA in OTAs | orderBy: 'displayName'" ng-value="OTA.displayName">{{OTA.displayName}}</option>
            </select>
          </div>
          <div class="col-xs-4 reduce-padding">
            <input type="Number" class="form-control" ng-model="OTA_charge.fee">
          </div>
          <div class="col-xs-1 center-text">
              <button type="button" class="btn btn-xs btn-primary" ng-show="$last" ng-click="addOTA($index+1)"  ng-disabled="disableEditing" tabindex="1"><i class="fa fa-plus"></i></button>
              <button type="button" class="btn btn-xs btn-danger" ng-hide="$last " ng-click="removeOTA($index)"  ng-disabled="disableEditing" tabindex="1"><i class="fa fa-trash"></i></button>
          </div>
        </div>
        </div>

				</div>
				<div class="col-md-6">
					<div class="col-xs-9 float-right search-block-field reduce-padding">
						<div class="form-input-icon form-input-icon-right">
							<i ng-hide="processing" class="icmn-search"></i>
							<input type="text"
								class="form-control form-control-sm form-control-rounded search-container-height"
								ng-model="searchPackageKeyword"
								placeholder="Search by Package name..."
								ng-enter="getPackages('packages')"/>
							<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
							<button type="button" class="search-block-submit" ng-disabled="processing" ng-click="getPackages('packages')">
								<div class="centerForDemo" ng-show="processing">
									<div class="loadingSpinnerSearch">
									</div>
								</div>
							</button>
						</div>
					</div>

					<div class="col-xs-9 reduce-padding">
						<label class="form-control-label">
							Equipment Charges
						</label>
						<br>
						<input class="form-control" ng-model="pkg.equipment_limit" ng-change="calculateTotal()" id="equipmentlimit" type="number">
					</div>
					<div class="col-xs-9 reduce-padding">
						<label class="form-control-label">
							Pharmacy Charges
						</label>
						<br>
						<input class="form-control" ng-model="pkg.medicine_limit" ng-change="calculateTotal()" id="medicinelimit" type="number">
					</div>
					<div class="col-xs-9 reduce-padding">
						<label class="form-control-label">
							Anesthetist Charges
						</label>
						<br>
            <div class="col-xs-6 reduce-padding">
              <label class="form-control-label">
                Anesthetist Name
              </label>
            </div>
            <div class="col-xs-4 reduce-padding">
              <label class="form-control-label">
                Charges
              </label>
            </div>
              <br>

            <div ng-repeat="anesthetist_charges in pkg.anesthetist_charges"  class="col-xs-12 reduce-padding grid-rows">
            <div class="col-xs-6 reduce-padding">
              <select class="form-control" ng-model="anesthetist_charges.name" id="{{'AnesthetistInput'+$index}}" ng-change="anesthetist_changed($index)" >
               <option ng-repeat="doctor in doctors | orderBy: 'name' " ng-value="doctor.name">{{doctor.name}}</option>
            </select>
            </div>
            <div class="col-xs-4 reduce-padding">
              <input type="Number" class="form-control" ng-model="anesthetist_charges.fee">
            </div>
            <div class="col-xs-1 center-text">
                <button type="button" class="btn btn-xs btn-primary" ng-show="$last" ng-click="addAnesthetist($index+1)"  ng-disabled="disableEditing" tabindex="1"><i class="fa fa-plus"></i></button>
                <button type="button" class="btn btn-xs btn-danger" ng-hide="$last " ng-click="removeAnsthetist($index)"  ng-disabled="disableEditing" tabindex="1"><i class="fa fa-trash"></i></button>
            </div>
          </div>
        </div>

          <div class="col-xs-9 reduce-padding">
						<label class="form-control-label">
							Sugeon Charges
						</label>
						<br>

            <div class="col-xs-6 reduce-padding">
							<label class="form-control-label">
								Surgeon Name
							</label>
            </div>
            <div class="col-xs-4 reduce-padding">
							<label class="form-control-label">
								Charges
							</label>
            </div>
							<br>

            <div ng-repeat="surgeon_charges in pkg.surgeon_charges"  class="col-xs-12 reduce-padding grid-rows">
						<div class="col-xs-6 reduce-padding">
							<select class="form-control" ng-model="surgeon_charges.name" id="{{'SurgeonInput'+$index}}" ng-change="surgeon_changed($index)">
								<option ng-repeat="doctor in doctors | orderBy: 'name' " ng-value="doctor.name">{{doctor.name}}</option>
							</select>
						</div>
						<div class="col-xs-4 reduce-padding">
							<input type="Number" class="form-control" ng-model="surgeon_charges.fee">
						</div>
            <div class="col-xs-1 center-text">
                <button type="button" class="btn btn-xs btn-primary" ng-show="$last" ng-click="addSurgeon($index+1)"  ng-disabled="disableEditing" tabindex="1"><i class="fa fa-plus"></i></button>
                <button type="button" class="btn btn-xs btn-danger" ng-hide="$last " ng-click="removeSurgeon($index)"  ng-disabled="disableEditing" tabindex="1"><i class="fa fa-trash"></i></button>
            </div>
					</div>
          </div>



          <div class="col-xs-9 reduce-padding">
						<label class="form-control-label">
							Opertation Theater Charges
						</label>
						<br>
						<input class="form-control" ng-model="pkg.OT_charges" ng-change="calculateTotal()" id="surgeonlimit" type="number">
					</div>

          <div class="col-xs-9 reduce-padding">
						<label class="form-control-label">
							Total Cost
						</label>
						<br>
						<p>{{pkg.total_charges}}</p>
					</div>

				</div>
				<div class="col-md-12">
					<hr class="hr-padding hr-full">
					<button class="btn btn-lg btn-primary" ng-click="reset_package(formPatientRegistration)" ng-disabled="processing">
						Clear
					</button>
					<button type="submit" class="btn btn-lg btn-success" ng-click="update_package(package, formPatientRegistration)" ng-disabled="!formPatientRegistration.$valid || processing" ng-show="updateItem">
						Update
					</button>
					<button type="submit" class="btn btn-lg btn-success" ng-click="submit_package(package, formPatientRegistration)" ng-disabled="!formPatientRegistration.$valid || processing" ng-hide="updateItem">
						Save
					</button>
				</div>
			</div>
		</form>
  </div>
</div>
</section>
