<section data-ng-controller="IPDReceptionController" ng-init="managepatients = true;">
    <div class="panel opd">
        <div class="panel-heading">
            <div class="nav-tabs-horizontal">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" ng-class="{'nav-tab-selected': managepatients}" ng-click="switchTabs('registerPatient')" ui-sref="ipdreception.registerPatient">Register Patient</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ng-class="{'nav-tab-selected': patientadmission}" ng-click="switchTabs('patientAdmission')" ui-sref="ipdreception.patientAdmission">Patient Admission</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ng-class="{'nav-tab-selected': generatebill}" ng-click="switchTabs('generateBill')" ui-sref="ipdreception.generateBill">Generate Bill</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div ui-view></div>
        </div>
    </div>
</section>
