<section >
    <div class="purchase-requisition-list" ng-show="showPatients">
        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="showPatients = false;"></button>
        </div>
        <div class="col-xs-offset-1 col-xs-10" ng-show="showPatients" >
            <picklist-simple headings-to-add="headingsPatient" height="350" rows-to-add="patients" prefix="prefixPatient" multiselect="'single'" callbackfn="callbackpatient(arg1)" title="'Select Patient'">
        </div>
    </div>
    <form name="formPatient" class="form-horizontal" novalidate ng-click="showDoctorsDropDown = false">
		<div class="col-xs-12 reduce-padding">
			<div class="col-xs-6" ng-show="!alreadyadmitted">
				<h5>PATIENT ADMISSION</h5>
			</div>
			<div class="col-xs-6" ng-show="alreadyadmitted">
				<h5>PATIENT DISCHARGE/TRANSFER</h5>
			</div>
			<div class="col-xs-6">
				<div class="float-right search-block-field reduce-padding">
					<div class="form-input-icon form-input-icon-right">
						<i class="icmn-search"></i>
						<input type="text" class="form-control form-control-sm form-control-rounded search-container-height" ng-model="searchPatientKeyword" placeholder="Search Patient..." ng-enter="getPatients('patients')">
						<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
						<button type="button" class="search-block-submit" ng-click="getPatients('patients')"></button>
					</div>
				</div>
			</div>
			<hr>
		</div>
		<div class="col-lg-12 reduce-padding" ng-show="patient.name">
		<div class="col-xs-12">
			<div class="col-xs-3">
				<label class="form-control-label">
					Name
				</label>
				<br>
				{{patient.name}}
			</div>
			<div class="col-xs-3">
				<label class="form-control-label">
					Phone Number
				</label>
				<br>
				{{patient.phone}}

			</div>
			<div class="col-xs-3">
					<label class="form-control-label">
						Refering Doctor
					</label>
					<input class="form-control" type="text" ng-change="search_refering_doctor()" ng-model="referingDoctor_search_keyword" placeholder="Doctor Name" ng-disabled="alreadyadmitted">
					<div style="height: 200px; width: 250px; top:27px" class="search-result-container dropdown-height" ng-show="show_refering_dropdown">
						<div class="results"  ng-repeat="doctor in searched_doctor" ng-enter="add_search_referingDoctor(doctor)" ng-click="add_search_referingDoctor(doctor)" >
						<div class="col-xs-12 reduce-padding">{{doctor.name}}</div><br>
						</div>
					</div>
			</div>
			<div class="col-xs-3">
				<label class="form-control-label" ng-show="selectedbed.description">
					Selected Bed
				</label>
				<br>
				{{selectedbed.description}}
			</div>
			</div>
			<div class="col-xs-12">
			<div class="col-xs-3">
				<label class="form-control-label">
					MR Number
				</label>
				<br>
				{{patient.mr_number}}
				<br>
				<label class="form-control-label">
					Status
				</label>
				<br>
				{{currstatus}}
				<br>
				<label class="form-control-label" style="color:red" ng-show="transfertoward">
					Transfer Pending To
				</label>
				<br>
				{{transfertoward}}
			</div>
			<div class="col-xs-3">
				<label class="form-control-label">
					Date
				</label><br>
				{{todayDate.substr(0,todayDate.length-13)}}
				<br>
				<label class="form-control-label">
					Ward/Bed
				</label>
				<br>
				{{currward}}/{{currbed}}
			</div>
			<div class="col-xs-3">
		<!--	<div ng-show="showAdvance()">
				<label class="form-control-label">
					Advance Payment
				</label><br>
				<input class="form-control" type="number" ng-model="advance"/>
      </div>-->
        <label class="form-control-label">
					Total_Charges
				</label><br>
				{{totalcost}}
				<br>
			</div>
			</div>

		<div class="col-xs-12 no-patient" ng-hide="patient.name">
			No Patient Selected
		</div>
		<div class="col-xs-12" style="margin-top:15px">
			<div class="btn-align">
				<button ng-show="!alreadyadmitted" type="submit" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="submit()">
				<span ng-hide="processing">Confirm Admission</span>
					<div class="centerForDemo" ng-show="processing">
						<div class="loadingSpinner"></div>
					</div>
				</button>
			</div>
			<div class="btn-align" ng-show="alreadyadmitted">
				<button ng-show="alreadyadmitted" type="submit" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="discharge()">
					<span ng-hide="processing">Process Discharge</span>
					<div class="centerForDemo" ng-show="processing">
						<div class="loadingSpinner"></div>
					</div>
				</button>
				--<button ng-show="alreadyadmitted" type="submit" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="reset()">
					<span ng-hide="processing">Reset</span>
					<div class="centerForDemo" ng-show="processing">
						<div class="loadingSpinner"></div>
					</div>
				</button>
			</div>
		</div>
	</div>
	<div class="col-xs-12 reduce-padding" ng-show="patient.name">
		<div class="col-xs-4 appoin-walkin">
			<label class="form-control-label">
				Admission Mode
			</label>
			<br>
			<input class="click-cursor" id="radio_normal"   type="radio" ng-checked="!package" ng-click= "NewValue()" ng-disabled="alreadyadmitted">
			<label for="radio_normal">
				Normal Admission
			</label>
			<input class="click-cursor" id="radio_package"  type="radio" ng-checked="package" ng-click="NewValue()" ng-disabled="alreadyadmitted">
			<label for="radio_package">
				Package Admission
			</label>
		</div>

    <div class="col-xs-12" ng-show="package">
    <div class="col-xs-3">
      <h5>Select Package</h5>

        <select class="form-control" ng-model="selectedPackageName" ng-change="getPackageDetails()" ng-disabled="alreadyadmitted">
          <option ng-repeat="package in packages | orderBy: 'name'" ng-value="{{package.id}}">{{package.name}}</option>
        </select>
      </div>
      <div class="col-xs-3" ng-show=IsSurgeon >
      <h5>Select Surgeon</h5>
        <select class="form-control" ng-model="selectedSurgeon" ng-change="calculateTotalCost()" ng-disabled="alreadyadmitted">
          <option ng-repeat="surgeon_charge in selectedPackage.surgeon_charges | orderBy: 'name'" ng-value="surgeon">{{surgeon_charge.name}}</option>
        </select>
      </div>
      <div class="col-xs-3" ng-show=IsAnesthetist>
      <h5>Select Anesthetist</h5>
        <select class="form-control" ng-model="selectedAnesthetist" ng-change="calculateTotalCost()" ng-disabled="alreadyadmitted">
          <option ng-repeat="anesthetist_charge in selectedPackage.anesthetist_charges | orderBy: 'name'" ng-value="anestheist">{{anesthetist_charge.name}}</option>
        </select>
      </div>
      <div class="col-xs-3" ng-show=IsOTA>
      <h5>Select OTA</h5>
        <select class="form-control" ng-model="selectedOTA" ng-change="calculateTotalCost()" ng-disabled="alreadyadmitted">
          <option ng-repeat="OTA_charge in selectedPackage.OTA_charges | orderBy: 'name'" ng-value="OTA">{{OTA_charge.name}}</option>
        </select>
      </div>
    </div>

		<div class="col-xs-12" ng-show="!package">
			<h5>Select Bed</h5>
			<div class="col-xs-3">
				<label class="form-control-label">Select Ward/Area<span class="optional-span">(Optional)</span></label>
				<select class="form-control" ng-model="selecteddepartment" ng-change="getBeds()" ng-disabled="alreadyadmitted">
					<option ng-repeat="department in departments | orderBy: department " ng-value="department">{{department}}</option>
				</select>
			</div>

      <div class="col-xs-3" ng-show="!package">
					<label class="form-control-label">
						Assigned Doctor
					</label>
					<input class="form-control" type="text" ng-change="search_assigned_doctor()" ng-model="assignedDoctor_search_keyword" placeholder="Doctor Name" ng-disabled="alreadyadmitted">
					<div style="height: 200px; width: 250px; top:27px" class="search-result-container dropdown-height" ng-show="show_assigned_dropdown">
						<div class="results"  ng-repeat="doctor in searched_doctor | orderBy: doctor " ng-enter="add_search_assignedDoctor(doctor)" ng-click="add_search_assignedDoctor(doctor)" >
						<div class="col-xs-12 reduce-padding">{{doctor.name}}</div><br>
						</div>
					</div>
			</div>


    </div>
    	<div class="col-xs-12" >
				<div class="col-xs-12" style="margin-top: 30px">
					<div class="col-xs-2" ng-repeat="bed in beds" ng-click="selectbed($index)" style="cursor:pointer;margin-top:30px;min-height:100px;text-align:center;padding:0 40px">
						<i class="fa fa-3x fa-bed"></i>
						<div style="height:30px;color:#fff;padding-top:5px;" ng-class="{'fill-green': bed.current_status=='Free', 'fill-red': bed.current_status=='Occupied', 'fill-orange': bed.current_status=='Free_Soo'}">
						{{bed.current_status}}
						</div>
						<div>
							{{bed.description}}
						</div>
					</div>
				</div>
		</div>


	</div>
    </form>
        <div class="col-xs-12 reduce-padding">
            <h5>PENDING ACTION</h5>

            <div class="col-xs-12" style="min-width:1280px; overflow-x: scroll">
                <div class="col-xs-12 appointment-header">
                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('name')">
                        Name
                    </div>
                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('mr_number')">
                        MR Number
					</div>
                    <div class="col-xs-1 reduce-padding text-align-center">
                        Phone
                    </div>
                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('created')">
                        Admitted On
                    </div>
                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('created')">
                        Refering Dr
                    </div>
                    <div class="col-xs-1 reduce-padding text-align-center click-cursor" ng-click="sortBy('created')">
                        Bed
                    </div>
                    <div class="col-xs-1 reduce-padding text-align-center click-cursor" ng-click="sortBy('created')">
                        Ward
                    </div>
                    <div class="col-xs-1 reduce-padding text-align-center">
                        Status
                    </div>
                </div>
                <div class="col-xs-12 search-row text-align-center">
                    <div class="col-xs-2 reduce-padding">
                        <input class="input-field-border" type="text" ng-model="search.name"></input>
                    </div>
                    <div class="col-xs-2 reduce-padding">
                        <input class="input-field-border" type="text" ng-model="search.mr_number"></input>
                    </div>
                </div>
                <div class="col-xs-12 reduce-padding scroll-arrival-appointments">
                    <div class="col-xs-12 appointment-row" ng-click="selectedpatient(patient)" ng-repeat="patient in ipdpatients | filter:search | orderBy:propertyName:reverse" ng-class="{blue: (patient.status === 'Admitted'), red: (patient.status === 'Discharge Order' || patient.status === 'Transfer Order'), gray: (patient.status === 'Discharged')}" >
                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
                            {{patient.name}}
                        </div>
                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
                            {{patient.mr_number}}
                        </div>
                        <div class="col-xs-1 reduce-padding vertical-txt-pos text-align-center">
                            {{patient.phone}}
                        </div>
                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
                            {{patient.created | date: "d/M/yy h:mm a"}}
                        </div>
                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
                           {{patient.refering_doctor.name}}
                        </div>
                        <div class="col-xs-1 reduce-padding vertical-txt-pos text-align-center">
                            {{patient.bed_details.bed_description}}
                        </div>
                        <div class="col-xs-1 reduce-padding vertical-txt-pos text-align-center">
                            {{patient.bed_details.ward}}
                        </div>
                        <div class="col-xs-1 reduce-padding vertical-txt-pos text-align-center">
                            {{patient.status}}
                        </div>
                    </div>
                </div>
				<br>
				<!--div class="col-xs-12" style="margin-top:15px">
					<div class="btn-align">
						<button  type="submit" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="submit()">
						<span ng-hide="processing">Print List</span>
							<div class="centerForDemo" ng-show="processing">
								<div class="loadingSpinner"></div>
							</div>
						</button>
					</div>
				</div-->
            </div>
        </div>
</section>
