<section class="arrival" data-ng-controller="ArrivalController">
    <div class="purchase-requisition-list" ng-show="showPatients">
        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="showPatients = false;"></button>
        </div>
        <div class="col-xs-offset-1 col-xs-10" ng-show="showPatients">
            <picklist-simple headings-to-add="headingsPatient" height="350" rows-to-add="patients" prefix="prefixPatient" multiselect="'single'" callbackfn="callbackpatient(arg1)" title="'Select Patient'">
        </div>
    </div>
    <div class="purchase-requisition-list" ng-show="register===true">
        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="register=false"></button>
        </div>
        <div class="register-patient-popup">
            <div class="row">
                <form name="formPatient" class="form-horizontal" novalidate>
                    <div class="col-xs-12">
                    <div class="col-lg-12">
                        <h5 ng-hide="showMRNumber">CREATE PATIENT</h5>
                        <h5 ng-show="showMRNumber">VIEW PATIENT</h5>
                        <hr>
                        <br />
                        <div class="col-xs-9 reduce-padding">
                            <label class="form-control-label">
                                Name
                            </label>
                            <br>
                            <div class="col-xs-9 reduce-padding">
                                <input type="text" name="name" class="form-control" ng-disabled="showMRNumber" ng-model="patient.name" required="">
                            </div>
                        </div>
                        <div class="col-xs-9 reduce-padding">
                            <label class="form-control-label">
                                Phone Number
                            </label>
                            <br>
                            <div class="col-xs-9 reduce-padding">
                                <input type="text" name="phone" class="form-control" ng-disabled="showMRNumber" ng-model="patient.phone" ui-mask="99999999999" ui-mask-placeholder required="">
                            </div>
                        </div>
                        <div class="col-xs-9 reduce-padding">
                            <label class="form-control-label">
                                CNIC<span class="optional-span">(Optional)</span>
                            </label>
                            <br>
                            <div class="col-xs-9 reduce-padding">
                                <input type="text" name="cnic" class="form-control" ng-disabled="showMRNumber" ng-model="patient.cnic" ui-mask="99999-9999999-9" ui-mask-placeholder>
                            </div>
                        </div>
                        <div class="col-xs-9 reduce-padding">
                            <label class="form-control-label">
                                Address<span class="optional-span">(Optional)</span>
                            </label>
                            <br>
                            <div class="col-xs-9 reduce-padding">
                                <input type="text" name="address" class="form-control" ng-disabled="showMRNumber" ng-model="patient.address">
                            </div>
                        </div>
                        <div class="col-xs-9 reduce-padding">
                            <label class="form-control-label">
                                Panel
                            </label>
                            <br>
                            <div class="col-xs-9 reduce-padding">
                                <select ng-model="patient.panel_id" class="form-control" ng-disabled="showMRNumber" required="">
                                    <option ng-repeat="panel in panels" value="{{panel.panel_id}}">{{panel.panel_name}}</option>
                                </select>
                            </div>
                            </div>
                            <hr class="hr-padding hr-full">
                        </div>
                        <div class="col-xs-12 reduce-padding">
                            <button class="btn btn-lg btn-primary" ng-click="reset_patient(formPatient)" ng-hide="showMRNumber">Reset</button>
                            <button type="submit" class="btn btn-lg btn-success" ng-click="submit_patient(patient, formPatient)" ng-disabled="!formPatient.$valid" ng-hide="showMRNumber">Save</button>
                        </div>
                    </div>
                        <div class="col-lg-6">
                            <div class="col-xs-9" ng-show="showMRNumber">
                                <label class="form-control-label">
                                    MR Number
                                </label>
                                <br>
                                <div class="col-xs-9 reduce-padding">
                                    <input type="text" name="MRNumber" class="form-control" ng-model="patient.mr_number" disabled="true">
                                </div>
                            </div> 
                        </div> 
                    </div> 
                </form>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="row">
            <div class="panel-heading">
                    <h3>Patient Arrival</h3>
                </div>
            <div class="panel-body">
                
                <form name="formPatient" class="form-horizontal" novalidate>
                    <div class="col-xs-12">
                        
                        <h5>MANAGE PATIENTS</h5>
                        <hr>
                        <br/>
                        <div class="col-xs-4 appoin-walkin">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checked="" ng-model="appointment" ng-change="walkin=!appointment">
                                    Appointment
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checked="" ng-model="walkin" ng-change="appointment=!walkin">
                                    Walk in
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="col-xs-12 center-align-text register-btn-pos" ng-show="walkin===true">
                                <button class="btn btn-primary" ng-click="registerClick()" ng-show="showMRNumber">View</button>                                
                                <button class="btn btn-primary" ng-click="registerClick()" ng-hide="showMRNumber">Register</button>
                            </div>
                            <div class="col-xs-12 center-align-text" ng-show="walkin===true">
                               OR 
                            </div>
                            <div class="col-xs-12" ng-show="walkin===true">
                                <div class="form-input-icon form-input-icon-right">
                                    <i class="icmn-search"></i>
                                    <input type="text" class="form-control form-control-sm form-control-rounded search-container-height" ng-model="searchPatientKeyword" placeholder="Search Patient..." ng-enter="getPatients('patients')">
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <button type="button" class="search-block-submit" ng-click="getPatients('patients')"></button>
                                    
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="col-xs-2"></div>
                        <div class="col-xs-3">
                            <div >
                                <label>
                                    Doctor
                                </label>
                                <input type="text" class="form-control find-doctor-input" ng-model="doctorSearchKeyword" placeholder="Search..." typeahead="item.displayName for item in doctorSearchTypeahead($viewValue)" ng-enter="getItems()" typeahead-loading="loadingLocations" typeahead-on-select="callbackfn($item)">
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>  
                            </div>
                            <div  ng-show="walkin===true">
                                <label>
                                    Patient Name
                                </label>
                                <input type="text" class="form-control" ng-model="walkinpatient.name" disabled="true">                                   
                            </div>
                            <div  ng-show="walkin===true">
                                <label>
                                    MR Number
                                </label>
                                <input type="text" class="form-control" ng-model="walkinpatient.mr_number" disabled="true">                                   
                            </div>
                            <div  ng-show="walkin===true">
                                <label>
                                    Phone Number
                                </label> 
                                <input type="text" class="form-control" ng-model="walkinpatient.phone_number" ui-mask="99999999999" ui-mask-placeholder ng-disabled="showMRNumber" disabled="true">
                            </div>
                            <div  ng-show="walkin===true">
                                <button class="btn btn-success token-btn">Print Receipt</button>  
                            </div>
                        </div>
                        <div class="col-xs-12 reduce-padding" ng-show="walkin===false">
                            <table class="table table-striped align-center grid-border-top">
                                <thead class="thead-default">
                                    <tr>
                                        <th class="align-center">Name</th>
                                        <th class="align-center">Phone Number</th>
                                        <th class="align-center">MR Number</th>
                                        <th class="align-center">Date</th>
                                        <th class="align-center">Time</th>
                                        <th class="align-center click-cursor text-center" ng-click="sortBy('arrived')">Arrived <i class="fa fa-sort" ></i></th>
                                        <th class="align-center click-cursor text-center" ng-click="sortBy('registered')">Registered <i class="fa fa-sort"></i></th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr class="search-row">
                                        <td class="align-center"><input class="input-field-border" type="text" ng-model="search.patientName"></input></td>
                                        <td class="align-center"><input class="input-field-border" type="text" ng-model="search.phoneNumber"></input></td>
                                        <td class="align-center"><input class="input-field-border" type="text" ng-model="search.MRNo"></input></td>
                                        <td class="align-center"></td>
                                        <td class="align-center"></td>
                                        <td class="align-center"></td>
                                        <td class="align-center"></td>
                                    </tr>
                                    <tr ng-repeat="appointment in doctorAppointments | filter:search | orderBy:propertyName:reverse">
                                        <td>{{appointment.patient_name}}</td>
                                        <td>{{appointment.phone}}</td>
                                        <td>{{appointment.MRNo}}</td>
                                        <td>{{appointment.appointment_date}}</td>
                                        <td>{{appointment.time}}</td>
                                        <td class="text-center">
                                            <span ng-show="appointment.arrived">YES</span>
                                            <span ng-hide="appointment.arrived">NO</span>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" 
                                            class="btn btn-sm btn-primary" 
                                            ng-show="appointment.registered===false" 
                                            ng-click="registerClick(appointment)">Register</button>
                                            <button type="button" 
                                            class="btn btn-sm btn-success" 
                                            ng-show="appointment.registered===true" 
                                            ng-click="registerClick(appointment)">Print Receipt</button>
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    
                    </div> 
                </form>
            </div>
        </div>
    </div>
</section>