<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>

<style>

body {
  background: rgb(204,204,204); 
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="card"] {  
  width: 3.35in;
  height: 2.2in;
   -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}
</style>
</head>
<page size="card" style="font-family:Arial, Helvetica, sans-serif;padding-right: 20px;margin-top:65px;margin-left:-15px">
	<div style="margin: 10px; margin-top:0;bottom: 0; float: left; width: 302px; color:#000000;font-size : 22px; font-weight: bold;">	
		<table style="width : 100%; border-collapse: collapse; text-align: left; line-height: 1.3;">
			<tr style="border-collapse: collapse;">
				<td style="border-collapse: collapse;">Name:</td>
				<td style="border-collapse: collapse;" colspan="10">{{name}}</td>
			</tr>
			<tr style="border-collapse: collapse;">
				<td style="border-collapse: collapse;">MR Number:</td>
				<td style="border-collapse: collapse;" colspan="10">{{mr_number}}</td>
			</tr>
			<tr style="border-collapse: collapse;">
				<td style="border-collapse: collapse;">Date Issued:</td>
				<td style="border-collapse: collapse;" colspan="10">{{date}}</td>
			</tr>
			<tr style="border-collapse: collapse;">
				<td style="border-collapse: collapse;">Panel:</td>
				<td style="border-collapse: collapse;" colspan="10">{{panel}}</td>
			</tr>
		</table>
		<table style="width : 100%; border-collapse: collapse; margin-top: 40px; text-align: left;">
			<tr style="border-collapse: collapse;">
				<td style="border-collapse: collapse;" colspan="11">					
					<div id="externalbox">
					<io-barcode code="{{ mr_number }}" type="CODE128B" options="options"></io-barcode>
					</div>	
				</td>
			</tr>
		</table>	
	</div>					
</page> 
</html>
