<section data-ng-controller="CreateAppointmentController">
    <div class="purchase-requisition-list" ng-show="showPatientAppointments">
        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="showPatientAppointments = false;"></button>
        </div>
        <div class="col-xs-offset-1 col-xs-10" ng-show="showPatientAppointments">
            <picklist-simple headings-to-add="headingsPatient" height="350" rows-to-add="patients" prefix="prefixPatient" multiselect="'single'" callbackfn="callbackappointment(arg1)" title="'Select Patient'">
        </div>
    </div>
    <form name="formAppointment" class="form-horizontal" novalidate ng-click="showDoctorsDropDown = false">
        <div class="col-xs-12 reduce-padding">
            <div class="col-md-12 appointment-schedule-height">
                <div class="col-md-4 reduce-padding">
                    <h5>CREATE APPOINTMENT</h5>
                    <hr>
                    <br />
                    <div class="col-xs-12 reduce-padding">
                        <label class="form-control-label">
                            Name
                        </label>
                        <br>
                        <div class="col-xs-9 reduce-padding">
                            <input type="text" name="patientName" class="form-control" ng-disabled="showMRNumber || showAppointmentDelete" ng-model="appointment.patientName" required="">
                            <span class="error" ng-show="formAppointment.patientName.$touched && formAppointment.patientName.$error.required">Please fill this field</span>
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding">
                        <label class="form-control-label">
                            Phone Number
                        </label>
                        <br>
                        <div class="col-xs-9 reduce-padding">
                            <input type="text" name="patientPhoneNumber" class="form-control" ng-disabled="showMRNumber || showAppointmentDelete" ui-mask="99999999999" ui-mask-placeholder ng-model="appointment.patientPhoneNumber" required="">
                            <span class="error" ng-show="formAppointment.patientPhoneNumber.$touched && formAppointment.patientPhoneNumber.$error.required">Please fill this field</span>
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding">
                        <label class="form-control-label">
                            MR Number
                        </label>
                        <br>
                        <div class="col-xs-9 reduce-padding">
							<div class="form-control">
                            <span ng-show="appointment.patientMRPrefix">{{appointment.patientMRPrefix}}-</span>{{appointment.patientMRNumber}}
							</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 reduce-padding">
                    <div class="col-xs-6 float-right search-block-field reduce-padding">
                        <div class="form-input-icon form-input-icon-right">
                            <i ng-hide="processing" class="icmn-search"></i>
                            <input type="text" class="form-control form-control-sm form-control-rounded search-container-height" ng-model="searchPatientKeyword" placeholder="Search by Patient Number..." ng-enter="getPatients('appointments')">
                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                            <button type="button" ng-disabled="processing" class="search-block-submit" ng-click="getPatients('appointments')">
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinnerSearch">
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-6 float-left reduce-padding">
                        <h5>
                            DOCTOR'S SCHEDULE
                        </h5>
                        <hr>
                        <br />
                    </div>
                    <div class="col-xs-12 reduce-padding">
                        <div class="col-lg-3 col-md-6 reduce-padding">
                            <label class="form-control-label">
                                Speciality
                            </label>
                            <br>
                            <div class="col-xs-10 reduce-padding">
                                <select class="form-control" ng-model="speciality" required="" ng-change="changeSpeciality()">
                                    <option ng-repeat="speciality in specialities" value="{{speciality.description}}">
                                        {{speciality.description}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 reduce-padding">
                            <label class="col-xs-12 form-control-label">
                                Doctor
                            </label>
                            <br>
                            <div class="col-xs-10 reduce-padding">
                                <input type="text" class="form-control" ng-model="searchDoctor" ng-disabled="showAppointmentDelete" ng-focus="searchDoctors()" ng-change="searchDoctors('change', 'appointment')" placeholder="Select Doctor">
                            </div>
                            <div class="search-result-container dropdown-height" ng-show="showDoctorsDropDown">
                                <div class="results" tabindex="0" ng-enter="showDoctorAppointments(doctor)" ng-repeat="doctor in searched_doctors | filter: filterSpeciality(speciality)" ng-click="showDoctorAppointments(doctor)">
                                    {{doctor.name}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 reduce-padding">
                            <label class="col-xs-10 form-control-label">
                                Appointment Slot
                            </label>
                            <br>
                            <div class="col-xs-9 reduce-padding" ng-show="!walkinappointment">
                                <input type="text" name="timeslot" class="form-control" ng-disabled="true" ng-model="timeSlot">
                            </div>
                            <div class="col-xs-9 reduce-padding" ng-show="walkinappointment">
                                <input type="text" name="waitingslot" class="form-control" ng-disabled="true" ng-model="waitingslot">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 reduce-padding" ng-show="showAppointments">
                            <label class="col-xs-10 form-control-label">
                                Appointment Date
                            </label>
                            <div class="col-xs-9 reduce-padding">
                                <input type="date" name="date" class="form-control" ng-change="showDoctorAppointmentsByDate()" ng-model="appointmentDate" required="required">
                            </div>
                        </div>
                        <br>
                        <div class="col-xs-12 reduce-padding" ng-show="showAppointments">
                            <label class="form-control-label">
                                Slots
                            </label>
                            <div class="col-xs-12 reduce-padding" ng-show="noAppointments">
                                Doctor unavailable on this day.
                            </div>
                            <div class="scroll-slots" ng-hide="noAppointments">
                                <div ng-repeat="slot in selectedDoctorSlots track by $index" ng-if="$index % 4 == 0">
                                    <div class="col-xs-3 reduce-padding">
                                        <button class="btn btn-lg btn-default timeslot" ng-class="{'btn-success': selectedDoctorSlots[$index].status === 'Available', 'btn-warning': selectedDoctorSlots[$index].status === 'Booked', 'ng-click-active': selectedDoctorSlots[$index].selected === 'selected'}" ng-click="get_appointment(selectedDoctorSlots[$index])" ng-hide="selectedDoctorSlots[$index] === undefined">
                                            {{selectedDoctorSlots[$index].slot}}
                                        </button>
                                    </div>
                                    <div class="col-xs-3 reduce-padding">
                                        <button class="btn btn-lg btn-default timeslot" ng-class="{'btn-success': selectedDoctorSlots[$index + 1].status === 'Available', 'btn-warning': selectedDoctorSlots[$index + 1].status === 'Booked', 'ng-click-active': selectedDoctorSlots[$index + 1].selected === 'selected'}" ng-click="get_appointment(selectedDoctorSlots[$index + 1])" ng-hide="selectedDoctorSlots[$index + 1] === undefined">
                                            {{selectedDoctorSlots[$index + 1].slot}}
                                        </button>
                                    </div>
                                    <div class="col-xs-3 reduce-padding">
                                        <button class="btn btn-lg btn-default timeslot" ng-class="{'btn-success': selectedDoctorSlots[$index + 2].status === 'Available', 'btn-warning': selectedDoctorSlots[$index + 2].status === 'Booked', 'ng-click-active': selectedDoctorSlots[$index + 2].selected === 'selected'}" ng-click="get_appointment(selectedDoctorSlots[$index + 2])" ng-hide="selectedDoctorSlots[$index + 2] === undefined">
                                            {{selectedDoctorSlots[$index + 2].slot}}
                                        </button>
                                    </div>
                                    <div class="col-xs-3 reduce-padding">
                                        <button class="btn btn-lg btn-default timeslot" ng-class="{'btn-success': selectedDoctorSlots[$index + 3].status === 'Available', 'btn-warning': selectedDoctorSlots[$index + 3].status === 'Booked', 'ng-click-active': selectedDoctorSlots[$index + 3].selected === 'selected'}" ng-click="get_appointment(selectedDoctorSlots[$index + 3])" ng-hide="selectedDoctorSlots[$index + 3] === undefined">
                                            {{selectedDoctorSlots[$index + 3].slot}}
                                        </button>
                                    </div>
                                </div>
                                    <div class="col-xs-3 reduce-padding">
                                        <button class="btn btn-lg btn-default timeslot btn-info" ng-click="get_appointment_walkin()">
                                            Waiting
                                        </button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="hr-padding hr-full">
                <button class="btn btn-lg btn-primary" ng-click="reset_appointment(formAppointment)" ng-disabled="processing">
                    Clear
                </button>
                <button class="btn btn-lg btn-success" ng-click="save_appointment(formAppointment)" ng-show="showAppointmentSave" ng-disabled="formAppointment.patientName.$error.required || formAppointment.patientPhoneNumber.$error.required || (timeSlot.length === 0 && !walkinappointment) || processing">
                    Save Appointment
                </button>
                <button class="btn btn-lg btn-danger" ng-click="delete_appointment(formAppointment)" ng-show="showAppointmentDelete" ng-disabled="formAppointment.patientName.$error.required || formAppointment.patientPhoneNumber.$error.required || processing">
                    Delete
                </button>
            </div>
        </div>
    </form>
</section>