<section class="generate-bill" data-ng-controller="GenerateBillController">
    <div class="purchase-requisition-list" ng-show="showPatients || refundPopUp">

        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="showPatients = false;refundPopUp = false;"></button>
        </div>
        <div class="col-xs-offset-1 col-xs-10" ng-show="showPatients">
            <picklist-simple headings-to-add="headingsPatient" height="350" rows-to-add="patients" prefix="prefixPatient" multiselect="'single'" callbackfn="callbackpatient(arg1)" title="'Select Patient'">
        </div>
        <form name="refundForm" class="refund-popup" ng-show="refundPopUp">
			<div class="col-xs-6">
				<h5>REFUND</h5>
			</div>
			<div class="col-xs-12 reduce-padding grid-header">
				<div class="col-xs-4 header-col">Services</div>
				<div class="col-xs-2 center-text header-col">Qty</div>
				<div class="col-xs-2 center-text header-col">Discount (Rs)</div>
				<div class="col-xs-2 center-text header-col">Total</div>
				<div class="col-xs-2 center-text header-col">Refund</div>
			</div>
			<div ng-repeat="service in refundDetails.servicesInfo"  class="col-xs-12 reduce-padding grid-rows">
				<div class="col-xs-4">
				{{service.description}}
				</div>
				<div class="col-xs-2 center-text">
				{{service.quantity}}
				</div>
				<div class="col-xs-2 center-text">
				{{service.discount}}
				</div>
				<div class="col-xs-2 center-text">
				{{service.fee*service.quantity-service.discount}}
				</div>
				<div class="col-xs-2 center-text">
				<input type="number" class="form-control" ng-change="updateRefund()" ng-model="service.refund" tabindex="1"></input>
				</div>
			</div>
			<div class="col-xs-4 col-xs-offset-8 reduce-padding">
				<label class="form-control-label">
					Total Refund Amount
				</label>
				<input class="form-control" disabled type="number" min='1' ng-model="refundAmount" required=""></input>
				<label class="form-control-label">
					Refund Reason
				</label>
				<textarea class="form-control" ng-model="refundRemarks" required=""></textarea><br>
			</div>
            <button  type="button" class="col-xs-offset-10 btn btn-danger" ng-click="confirmRefund()" ng-disabled="processing || refundForm.$invalid">
            <span ng-hide="processing">Confirm Refund</span>
                <div class="centerForDemo" ng-show="processing">
                    <div class="loadingSpinner"></div>
                </div>
            </button>

        </form>
    </div>

    <div class="panel opd">
        <div class="panel-heading">

        </div>
        <div class="panel-body">
            <div class="tab-pane">
                <form name="form" class="form-horizontal" novalidate>
                    <div class="col-xs-12 reduce-padding">
                        <div class="col-xs-12 reduce-padding">
                            <div class="col-xs-6">
                                <h5>PATIENT BILL</h5>
                            </div>
                            <div class="col-xs-6">
                                <div class="float-right search-block-field reduce-padding">
                                    <div class="form-input-icon form-input-icon-right">
                                        <i class="icmn-search"></i>
                                        <input type="text" class="form-control form-control-sm form-control-rounded search-container-height" ng-model="searchPatientKeyword" placeholder="Search Patient..." ng-enter="getPatients('patients')">
                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                        <button type="button" class="search-block-submit" ng-click="getPatients('patients')"></button>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-lg-12 reduce-padding" ng-show="patient.name">
                            <div class="col-xs-3">
                                <label class="form-control-label">
                                    Name
                                </label>
                                <br>
                                {{patient.name}}
                            </div>
                            <div class="col-xs-3">
                                <label class="form-control-label">
                                    Phone Number
                                </label>
                                <br>
                                {{patient.phone}}

                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-6">
                                    <label class="form-control-label">
                                        Refering Doctor
                                    </label>
                                        <input class="form-control" type="text" ng-change="search_refering_doctor()" ng-model="referingDoctor_search_keyword" placeholder="Doctor Name" ng-disabled="hideSale" >
                                         <div style="height: 200px; width: 250px; top:27px" class="search-result-container dropdown-height" ng-show="show_refering_dropdown">
                                            <div class="results"  ng-repeat="doctor in searched_doctor" ng-enter="add_search_referingDoctor(doctor)" ng-click="add_search_referingDoctor(doctor)" >
                                            <div class="col-xs-12 reduce-padding">{{doctor.name}}</div><br>
                                        </div>
                                    </div>
                                </div>
								<div class="col-xs-offset-2 col-xs-3">
                                <label class="form-control-label">
                                    Date
                                </label><br>
                                {{todayDate.substr(0,todayDate.length-13)}}
                            </div>
                            </div>
                            <div class="col-xs-3">
                                <label class="form-control-label">
                                    MR Number
                                </label>
                                <br>
                                <span ng-show="patient.mr_prefix">{{patient.mr_prefix}}-</span>{{patient.mr_number}}
                            </div>
                            <div class="col-xs-3">
                                <label class="form-control-label">
                                    Panel
                                </label><br>
                                {{patient.panel_id}}
                            </div>

                            <div class="col-xs-6">
                                <div class="col-xs-6">
                                    <label class="form-control-label">
                                        Refered Doctor
                                    </label>
                                       <input class="form-control" type="text" ng-change="search_refered_doctor()" ng-model="referedDoctor_search_keyword" placeholder="Doctor Name" ng-disabled="hideSale" >
                                         <div style="height: 200px; width: 250px; top:27px" class="search-result-container dropdown-height" ng-show="show_refered_dropdown">
                                            <div class="results"  ng-repeat="doctor in searched_doctor" ng-enter="add_search_referedDoctor(doctor)" ng-click="add_search_referedDoctor(doctor)" >
                                            <div class="col-xs-12 reduce-padding">{{doctor.name}}</div><br>
                                        </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 no-patient" ng-hide="patient.name">
                            No Patient Selected
                        </div>
                    </div>
                    <div class="col-xs-12" ng-click="closeDropdown($event)" id="mainDiv">
                        <div class="col-xs-12 reduce-padding services-table">

                            <div class="col-xs-12 reduce-padding grid-header">
                                <div class="col-xs-6 header-col">Facility Description</div>
                                <div class="col-xs-1 center-text header-col">Charges</div>
                                <div class="col-xs-1 center-text header-col">Qty</div>
                                <div class="col-xs-2 center-text header-col">Discount (Rs)</div>
                                <div class="col-xs-1 center-text header-col">Total</div>
                                <div class="col-xs-1 center-text header-col header-last-col"></div>
                            </div>
                            <div ng-repeat="service in servicesData"  class="col-xs-12 reduce-padding grid-rows">
                                <div class="col-xs-6">
									<div ng-show="service.description==='Consultation'">{{service.description + ' with '+ doctorName}}</div>
                                    <!--div ng-show="service.category==='OPD-Consultation'">{{service.description + ' with '+ doctorName}}</div-->
                                    <div ng-show="service.description==='Registration'">{{service.description}}</div>

                                    <input class="form-control dropdown-input" id="{{'servicesInput'+$index}}" ng-model="service.description" ng-change="openDropdown($index)" ng-focus="openDropdown($index)" ng-click="openDropdown($index)" ng-keydown="onKeydown(facilities[facilities.length-1], $event)" tabindex="1"  ng-disabled="disableEditing" ng-hide="service.description==='Consultation'  || service.description==='Registration'" autocomplete="off"></input>
                                    <ul ng-show="dropdownFlag === $index" class="services-dropdown">
                                        <li class="dropdown-header">
                                            <div class="col-xs-6">Facility Name</div>
                                            <div class="col-xs-6">Category</div>
                                        </li>
                                        <li class="facility-li" ng-hide="serviceFacilities.length>0">
                                        <div class="col-xs-12">Nothing found</div>
                                        </li>
                                        <li class="facility-li" ng-repeat="facility in serviceFacilities = (facilities | filter : service.description)" ng-click="selectFacility(facility,service,$parent.$index)" ng-enter="selectFacility(facility,service,$parent.$index)" tabindex="{{$index+2}}" ng-keydown="onKeydown(facility, $event)" ng-focus="onFocus(facility)">
                                            <div class="col-xs-12 reduce-padding">
                                                <div class="col-xs-6">{{facility.description}}</div>
                                                <div class="col-xs-6">{{facility.category.substr(9)}}</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-1 center-text">
                                    <span ng-hide="service.description==='Pharmacy' ">{{service.fee}}</span>
                                    <input type="number"
                                        class="form-control"
                                        ng-model="service.fee"
                                        tabindex="1"
                                        ng-focus="closeDropdown()"
                                        ng-show="service.description==='Pharmacy'" ng-change="discountChange()"></input>
                                </div>
                                <div class="col-xs-1 center-text">
                                <input type="number" class="form-control" ng-model="service.quantity" ng-change="discountChange($index)" ng-disabled="disableEditing" tabindex="1" ng-focus="closeDropdown()"></input></div>
                                <div class="col-xs-1 center-text" ng-show="showdiscperc">
								<div class="col-xs-6 reduce-padding"><input type="number" class="form-control discount" ng-model="service.discountperc" ng-change="discountPercentChange($index)" ng-disabled="disableEditing" tabindex="1"></input></div>
								<div class="col-xs-6">%</div>
								</div>
								<div ng-show="showdiscperc" class="col-xs-1 center-text">
                                <input type="number" class="form-control discount" ng-model="service.discount" ng-change="discountChange($index)" min="0" max="balance"  ng-disabled="disableEditing || showdiscperc" tabindex="1"></input></div>
                                <div ng-show="!showdiscperc" class="col-xs-2 center-text">
                                <input type="number" class="form-control discount" ng-model="service.discount" ng-change="discountChange($index)" min="0" max="balance"  ng-disabled="disableEditing || showdiscperc" tabindex="1"></input></div>
								<div class="col-xs-1 center-text">{{service.fee*service.quantity-service.discount}}</div>
                                <div class="col-xs-1 center-text">

                                    <button type="button" class="btn btn-xs btn-primary" ng-show="$last" ng-click="addService($index+1)"  ng-disabled="disableEditing" tabindex="1"><i class="fa fa-plus"></i></button>
                                    <button type="button" class="btn btn-xs btn-danger" ng-hide="$last || service.description==='Registration' || service.description==='Consultation'" ng-click="removeService($index)"  ng-disabled="disableEditing" tabindex="1"><i class="fa fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-xs-12 total-section"></div>
                            <div class="col-xs-6" style="padding-top:60px">
                                <label class="form-control-label">
                                    Remarks
                                </label>
                                <textarea class="form-control" ng-model="remarks"></textarea>
                            </div>
                            <div class="col-xs-6 ">
                                <div class="col-xs-5 col-xs-offset-7 grand-total">
                                    <div class="col-xs-6 reduce-padding grand-label">Grand Total</div>
                                    <div class="col-xs-6 reduce-padding">
                                        <input type="number" name="dt" class="form-control" ng-model="grandTotal" ng-disabled="true">
                                    </div>

                                </div>
                                <div class="col-xs-5 col-xs-offset-7 grand-total">
                                    <div class="col-xs-6 reduce-padding grand-label">Total Received</div>
                                    <div class="col-xs-6 reduce-padding">
                                        <div class="disbaled-field">
                                            {{recievedTemp+recieved}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-5 col-xs-offset-7 grand-total">
                                    <div class="col-xs-6 reduce-padding grand-label">Balance </div>
                                    <div class="col-xs-6 reduce-padding">
                                        <input type="number" name="dt" class="form-control" ng-model="balance"  ng-disabled="true">
                                    </div>
                                </div>
                                <div class="col-xs-5 col-xs-offset-7 grand-total">
                                    <div class="col-xs-6 reduce-padding grand-label">Received </div>
                                    <div class="col-xs-6 reduce-padding">
                                        <input type="number" name="dt" class="form-control" ng-model="recieved" ng-change="updateBalance()" tabindex="1">
                                    </div>

                                </div>
                                <div class="err" ng-show="balance>0 && recieved">Received should be greater than total amount</div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="col-xs-12 payment-container">
                            <h5>Payment Options</h5>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="example6" checked="" ng-model="cash" ng-change="selectPaymentMethod('cash')"  ng-disabled="disableEditing">
                                    Cash
                                </label>
                            </div>

                            <div class="checkbox">
                                <label class="checkbox-label">
                                    <input type="checkbox" name="example6" checked="" ng-model="cheque" ng-change="selectPaymentMethod('cheque')"  ng-disabled="disableEditing">
                                    Cheque
                                </label>
                                <input class="form-control payment-textfields" name="chequeNumber" type="text" placeholder="Instrument Number" ng-model="chequeInfo.instrumentNumber" ng-if="cheque" ng-disabled="disableEditing" required=""/>
                                <input class="form-control payment-textfields" name="chequeDate" type="date" placeholder="Date" ng-model="chequeInfo.date" ng-if="cheque" ng-disabled="disableEditing" required=""/>
                                <input class="form-control payment-textfields" name="chequeBank" type="text" placeholder="Bank" ng-model="chequeInfo.bankName" ng-if="cheque" ng-disabled="disableEditing" required=""/>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-label">
                                    <input type="checkbox" name="example6" checked="" ng-model="card" ng-change="selectPaymentMethod('card')" ng-disabled="disableEditing">
                                    Debit/Credit Card
                                </label>
                                <input class="form-control payment-textfields" name="invoiceNumber" type="text" placeholder="Invoice Number" ng-model="cardInfo.number" ng-if="card" ng-disabled="disableEditing" required=""></input>
                            </div>


                        </div>
                    </div>
                    <div class="col-xs-12">

                        <!-- Update Button -->

                        <div class="btn-align">
                            <button  type="submit" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="submit()" ng-disabled="!patient.name || (!grandTotal && (grandTotal == totaldisc)) || processing || balance>0 || form.$invalid">
                            <span ng-hide="processing">Generate Invoice</span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                        </div>
                        <div class="btn-align">
                            <button  type="submit" class="btn btn-lg nav-btn btn-primary" ng-click="reset()" ng-disabled="processing">
                            <span ng-hide="processing">Reset</span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                        </div>


                    </div>
                    <div class="col-xs-12" ng-show="billHistory.length>0">
                        <div class="col-xs-12 reduce-padding bill-history">
                            <h5>BILLING HISTORY</h5>
                            <hr>
                        </div>
                        <div class="col-xs-12 reduce-padding">

                            <div class="col-xs-12 reduce-padding grid-header">
                                <div class="col-xs-2 header-col">Bill No</div>
                                <div class="col-xs-2 center-text header-col">Refered Doctor</div>

                                <div class="col-xs-2 center-text header-col">Payment Method</div>
                                <div class="col-xs-2 center-text header-col">Date</div>
                                <div class="col-xs-2 center-text header-col">Grand Total</div>
                                <div class="col-xs-2 center-text header-col header-last-col"></div>
                            </div>
                            <div ng-repeat="bill in billHistory"  class="col-xs-12 reduce-padding grid-rows">
                                <div class="col-xs-2">{{bill.billNumber}}</div>
                                <div class="col-xs-2 center-text">{{bill.referedDoctor.name}}</div>

                                <div class="col-xs-2 center-text">{{bill.invoice[bill.invoice.length-1].paymentMethod}}</div>
                                <div class="col-xs-2 center-text">{{bill.created.substr(0,10)}}</div>
                                <div class="col-xs-2 center-text">{{bill.grandTotal}}</div>
                                <div class="col-xs-2 center-text">

                                    <button type="button" class="btn btn-xs btn-primary" ng-click="printoldBill($index)">
                                    <i class="fa fa-print"> Print</i></button>
                                    <button type="button" class="btn btn-xs btn-danger" ng-click="refundClick($index)">
                                    <i class="fa fa-money"> Refund</i></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
