<section data-ng-controller="PatientArrivalController">
    <div class="purchase-requisition-list" ng-show="showWalkIn">
        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="showWalkIn = false;"></button>
        </div>
        <div class="col-xs-offset-1 col-xs-10" ng-show="showWalkIn">
            <picklist-simple headings-to-add="headingsPatient" height="350" rows-to-add="patients" prefix="prefixPatient" multiselect="'single'" callbackfn="callbackwalkin(arg1)" title="'Select Patient'">
        </div>
    </div>
    <div class="purchase-requisition-list" ng-show="register">
        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="register=false"></button>
        </div>
        <div class="col-xs-offset-4 col-xs-4 register-patient-popup">
            <form name="formPatientArrival" class="form-horizontal" novalidate>
                <div class="col-xs-12">
                    <h5 ng-hide="showMRNumber">CREATE PATIENT</h5>
                    <h5 ng-show="showMRNumber">VIEW PATIENT</h5>
                    <hr>
                    <br />
                    <div class="col-xs-12 reduce-padding">
                        <label class="form-control-label">
                            Name
                        </label>
                        <br>
                        <div class="col-xs-12 reduce-padding">
                            <input type="text" 
                                name="name" 
                                class="form-control" 
                                ng-disabled="showMRNumber" 
                                ng-model="patient.name" 
                                required="">
                            <span class="error" ng-show="formPatientArrival.name.$touched && formPatientArrival.name.$error.required">Please fill this field</span>
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding">
                        <label class="form-control-label">
                            Phone Number
                        </label>
                        <br>
                        <div class="col-xs-12 reduce-padding">
                            <input type="text" name="phone" class="form-control" ng-disabled="showMRNumber" ng-model="patient.phone" ui-mask="99999999999" ui-mask-placeholder required="">
                            <span class="error" ng-show="formPatientArrival.phone.$touched && formPatientArrival.phone.$error.required">Please fill this field</span>
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding">
                        <label class="form-control-label">
                            Gender
                        </label>
                        <br>
                        <input class="click-cursor" ng-model="patient.gender" id="radio_male" type="radio" value="male">
                        <label for="radio_male" class="click-cursor">
                            Male
                        </label>
                        <input class="click-cursor" ng-model="patient.gender" id="radio_female" type="radio" value="female">
                        <label for="radio_female" class="click-cursor">
                            Female
                        </label>
                    </div>
					<div class="col-xs-12 reduce-padding">
						<label class="form-control-label">
							Area<span class="optional-span">(Optional)</span>
						</label>
						<br>
						<div class="col-xs-12 reduce-padding">
							<select ng-model="patient.patient_area" class="form-control">
								<option ng-repeat="area in areas" value="{{area.description}}">{{area.description}}</option>
							</select>
						</div>
					</div>					
                    <div class="col-xs-12 reduce-padding">
                        <div class="col-xs-8 reduce-padding">
                            <label class="form-control-label">
                                Date of Birth
                            </label>
                            <br>
                            <input type="date" class="form-control" datetime="dd-MM-yyyy" ng-model="patient.dob" ng-change="checkDOB(patient.dob)" required="">
                            
                        </div>
                        <div class="col-xs-1 text-center">
                            
                            <br>
                            <label class="form-control-label age-slash">
                                /
                            </label>
                        </div>
                        <div class="col-xs-2 reduce-padding">
                            <label class="form-control-label">
                                Age<span class="optional-span">(Optional)</span>
                            </label>
                            <br>
                            <input type="Number" class="form-control" ng-model="patient.age" ng-change="calculateDOB()">
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding">
                        <label class="form-control-label">
                            Email<span class="optional-span">(Optional)</span>
                        </label>
                        <br>
                        <div class="col-xs-12 reduce-padding">
                            <input type="text" name="email" class="form-control" ng-disabled="showMRNumber" ng-model="patient.email" >
                        </div>
                    </div>					
                    <div class="col-xs-12 reduce-padding">
                        <label class="form-control-label">
                            CNIC<span class="optional-span">(Optional)</span>
                        </label>
                        <br>
                        <div class="col-xs-12 reduce-padding">
                            <input type="text" name="cnic" class="form-control" ng-disabled="showMRNumber" ng-model="patient.cnic" ui-mask="99999-9999999-9" ui-mask-placeholder>
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding">
                        <label class="form-control-label">
                            Address<span class="optional-span">(Optional)</span>
                        </label>
                        <br>
                        <div class="col-xs-12 reduce-padding">
                            <input type="text" name="address" class="form-control" ng-disabled="showMRNumber" ng-model="patient.address">
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding">
                        <label class="form-control-label">
                            Panel<span class="optional-span">(Optional)</span>
                        </label>
                        <br>
                        <div class="col-xs-12 reduce-padding">
                            <select ng-init="patient.panel_id = 'None'" ng-model="patient.panel_id" class="form-control">
                                <option value="None">None</option>
                                <option ng-repeat="panel in panels" value="{{panel._id}}">{{panel.description}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12" ng-show="showMRNumber">
                        <label class="form-control-label">
                            MR Number
                        </label>
                        <br>
                        <div class="col-xs-12 reduce-padding">
                            <!--input type="text" name="MRNumber" class="form-control" ng-model="patient.mr_number" disabled="true"-->
							<div class="form-control">
								<span ng-show="patient.mr_prefix">{{patient.mr_prefix}}-</span>{{patient.mr_number}}
							</div>
                        </div>
                    </div> 
                    <hr class="hr-padding hr-full">
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-lg btn-primary" ng-click="reset_patient(formPatientArrival)" ng-hide="showMRNumber" ng-disabled="processing">Clear</button>
                    <button type="submit" class="btn btn-lg btn-success" ng-click="submit_patient_walkin(patient, formPatientArrival)" ng-disabled="!formPatientArrival.$valid || processing" ng-hide="showMRNumber">Save</button>
                </div>
            </form>
        </div>
    </div>
    <form name="formPatient" class="form-horizontal" novalidate ng-click="showDoctorsDropDown = false">
        <div class="col-xs-12">
            <div class="col-xs-12 reduce-padding">
                <div class="col-xs-4 reduce-padding">
                    <h5 ng-show="walkinappointment">WALK IN PATIENT</h5>
                    <h5 ng-show="!walkinappointment">PATIENTS WITH APPOINTMENTS</h5>
                    <hr>
                    <br/>
                </div>
                <div class="col-xs-8 reduce-padding">
                    <div class="float-right search-block-field reduce-padding" ng-show="walkinappointment">
                        <div class="form-input-icon form-input-icon-right">
                            <i ng-hide="processing" class="icmn-search"></i>
                            <input type="text" class="form-control form-control-sm form-control-rounded search-container-height" ng-model="searchPatientKeyword" placeholder="Search by Patient Number..." ng-enter="getPatients('walkin')">
                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                            <button type="button" ng-disabled="processing" class="search-block-submit" ng-click="getPatients('walkin')">
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinnerSearch">
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 reduce-padding">
                <div class="col-xs-4 appoin-walkin">
                    <input class="click-cursor" id="radio_appointment" type="radio" ng-checked="!walkinappointment" ng-click="walkinappointment = !walkinappointment">
                    <label for="radio_appointment">
                        Appointment
                    </label>
                    <input class="click-cursor" id="radio_walkin" type="radio" ng-checked="walkinappointment" ng-click="walkinappointment = !walkinappointment">
                    <label for="radio_walkin">
                        Walk In
                    </label>
                </div>
                <div class="col-xs-3" ng-show="walkinappointment">
                    <div class="col-xs-12 reduce-padding">
                        <label class="form-control-label">
                            Speciality
                        </label>
                        <br>
                        <div class="col-xs-12 reduce-padding">
                            <select class="form-control" ng-model="speciality" ng-change="changeSpeciality()" required="">
                                <option ng-repeat="speciality in specialities" value="{{speciality.description}}">
                                    {{speciality.description}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding">
                        <label class="form-control-label">
                            Doctor
                        </label>
                        <br>
                        <div class="col-xs-12 reduce-padding">
                            <input type="text" class="form-control disable-valid-dirty" ng-model="searchDoctor" ng-disabled="showAppointmentDelete" ng-focus="searchDoctors()" ng-change="searchDoctors('walkin', 'walkin')" placeholder="Select Doctor">
                        </div>
                        <div class="search-result-container dropdown-height" ng-show="showDoctorsDropDown">
                            <div class="results" tabindex="0" ng-enter="selectDoctorAppointment(doctor)" ng-repeat="doctor in searched_doctors | filter: filterSpeciality(speciality)" ng-click="selectDoctorAppointment(doctor)">
                                {{doctor.name}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding" ng-show="walkinappointment">
                        <label class="form-control-label">
                            Patient Name
                        </label>
                        <div class="col-xs-12 reduce-padding">
                            <input type="text" class="form-control" ng-model="walkinpatient.name" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding" ng-show="walkinappointment">
                        <label class="form-control-label">
                            Phone Number
                        </label>
                        <div class="col-xs-12 reduce-padding">
                            <input type="text" class="form-control" ng-model="walkinpatient.phone" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding" ng-show="walkinappointment">
                        <label class="form-control-label">
                            MR Number
                        </label>
                        <div class="col-xs-12 reduce-padding">
                            <!--input type="text" class="form-control" ng-model="walkinpatient.mr_number" ng-disabled="true"-->
							<div class="form-control">
								<span ng-show="walkinpatient.mr_prefix">{{walkinpatient.mr_prefix}}-</span>{{walkinpatient.mr_number}}
							</div>
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding" ng-show="walkinappointment">
                        <button type="button" class="btn btn-success token-btn" ng-click="print_receipt(formPatient)" ng-disabled="!isDoctorSelected" ng-show="showMRNumber">Confirm</button>
                        <button type="button" class="btn btn-success token-btn" ng-click="reset_walkin(formPatient)" ng-show="showMRNumber">Clear</button>
                        <button type="button" class="btn btn-primary token-btn" ng-click="register_new_patient()" ng-hide="showMRNumber">
                            Register
                        </button>
                    </div>
                </div>
                <div class="col-xs-offset-4 col-xs-3" ng-show="!walkinappointment">
                    <div class="col-xs-12 reduce-padding">
                        <label class="form-control-label">
                            Doctor
                        </label>
                        <br>
                        <div class="col-xs-12 reduce-padding">
                            <input type="text" class="form-control disable-valid-dirty" ng-model="searchDoctor" ng-disabled="showAppointmentDelete" ng-focus="searchDoctors()" ng-change="searchDoctors('view', 'view')" placeholder="Select Doctor">
                        </div>
                        <div class="search-result-container dropdown-height" ng-show="showDoctorsDropDown">
                            <div class="results" tabindex="0" ng-enter="selectDoctorAppointment(doctor)" ng-repeat="doctor in searched_doctors" ng-click="selectDoctorAppointment(doctor)">
                                {{doctor.name}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 reduce-padding" ng-show="!walkinappointment">
                    <div class="col-xs-12 appointment-header">
                        <div class="col-xs-2 reduce-padding">
                            Doctor Name
                        </div>
                        <div class="col-xs-2 reduce-padding">
                            Patient Name
                        </div>
                        <div class="col-xs-2 reduce-padding">
                            MR Number
                        </div>
                        <div class="col-xs-2 reduce-padding">
                            Phone Number
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center click-cursor" ng-click="sortBy('time')">
                            Time <i class="fa fa-sort" ></i>
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center click-cursor" ng-click="sortBy('appointment_status')">
                            Status <i class="fa fa-sort" ></i>
                        </div>
                        <div class="col-xs-2 reduce-padding text-align-center">
                            Action
                        </div>
                    </div>
                    <div class="col-xs-12 search-row">
                        <div class="col-xs-2 reduce-padding">
                            <input class="input-field-border" type="text" ng-model="search.doctor_name"></input>
                        </div>
                        <div class="col-xs-2 reduce-padding">
                            <input class="input-field-border" type="text" ng-model="search.patient_name"></input>
                        </div>
                        <div class="col-xs-2 reduce-padding">
                            <input class="input-field-border" type="text" ng-model="search.mr_number"></input>
                        </div>
                        <div class="col-xs-2 reduce-padding">
                            <input class="input-field-border" type="text" ng-model="search.phone"></input>
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding scroll-arrival-appointments">
                        <div class="col-xs-12 appointment-row" ng-repeat="appointment in doctorAppointments | filter:search | orderBy:propertyName:reverse" ng-class="{blue: (appointment.appointment_status === 'Scheduled'), green: (appointment.appointment_status === 'Arrived'), gray: (appointment.appointment_status === 'Confirmed')}" ng-hide="appointment.appointment_status === 'Confirmed'">
                            <div class="col-xs-2 reduce-padding vertical-txt-pos">
                                {{appointment.doctor_name}}
                            </div>
                            <div class="col-xs-2 reduce-padding vertical-txt-pos">
                                {{appointment.patient_name}}
                            </div>
                            <div class="col-xs-2 reduce-padding vertical-txt-pos">
                                
								<div>
									<span ng-show="appointment.mr_prefix">{{appointment.mr_prefix}}-</span>{{appointment.mr_number}}
								</div>								
                            </div>
                            <div class="col-xs-2 reduce-padding vertical-txt-pos">
                                {{appointment.phone}}
                            </div>
                            <div class="col-xs-1 reduce-padding text-align-center vertical-txt-pos" ng-hide="appointment.time.length === 0">
                                {{appointment.time}}
                            </div>
                            <div class="col-xs-1 reduce-padding text-align-center vertical-txt-pos" ng-hide="appointment.time.length != 0">
                                Waiting - {{appointment.number_in_queue}}
                            </div>
                            <div class="col-xs-1 reduce-padding text-align-center vertical-txt-pos">
                                {{appointment.appointment_status}}
                            </div>
                            <div class="col-xs-2 reduce-padding text-align-center">
                                <button type="button" class="btn btn-sm btn-primary grid-regis-btn" ng-show="!appointment.mr_number" ng-click="register_new_patient(appointment.patient_name, appointment.phone, appointment._id)" ng-disable="processing">
                                    Register
                                </button>
                                <button type="button" class="btn btn-sm btn-success grid-receipt-btn" ng-show="appointment.mr_number && appointment.appointment_status!=='Arrived' && appointment.appointment_status!=='Confirmed'" ng-click="print_receipt_appointment(appointment)" ng-disabled="processing">
                                    Confirm
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </form>
</section>