<div style="margin-top:142px;font-size: 15px;float:left">
    <table style="width : 100%;">
        <tr>
            <td style="">
                Patient Name : {{name}}<br>
                MR No : {{mr_number}}<br>
				Age : {{age}} yrs<br>
                Phone : {{phone}}<br>
				Address: {{address}}<br>
				Date: {{date}}<br>
				Time: {{time}}
            </td>
        </tr>
    </table>
</div>
