<h1 style="text-align: center;">Receipt</h1>
<div style="margin-top: 100px;">
    <table style="width : 100%">
        <tr>
            <td>
                <span style="font-size: 14px; font-weight: bold;"> Patient Name : </span><br>
            </td>
            <td>{{print_appointment.patient_name}}</td>
            <td></td>
            <td>
                <span style="padding-left: 20px; font-size: 14px; font-weight: bold;">Doctor Name : </span>
            </td>
            <td>{{print_appointment.doctor_name}}</td>
        </tr>
        <tr>
            <td>
                <span style="font-size: 14px; font-weight: bold;">Patient MR Number : </span>
            </td>
            <td>{{print_appointment.mr_number}}</td>
            <td></td>
            <td>
                <span style="font-size: 14px; font-weight: bold; padding-left: 20px;">Appointment Date : </span>
            </td>
            <td>{{print_appointment.appointment_date}}</td>
        </tr>
        <tr>
            <td>
                <span style="font-size: 14px; font-weight: bold;">Patient Phone No : </span>
            </td>
            <td>{{print_appointment.phone}}</td>
            <td></td>
            <td ng-hide="print_appointment.time.length === 0">
                <span style="font-size: 14px; font-weight: bold; padding-left: 20px;">Appointment Time : </span>
            </td>
            <td ng-hide="print_appointment.time.length === 0">
                {{print_appointment.time}}
            </td>
            <td ng-show="print_appointment.time.length === 0">
                <span style="font-size: 14px; font-weight: bold; padding-left: 20px;">Queue Number : </span>
            </td>
            <td ng-show="print_appointment.time.length === 0">
                {{print_appointment.number_in_queue}}
            </td>
        </tr>
    </table>
    <div>
        <table style="margin-top: 20px;text-align: center;width: 100%; width: 100%;">
            <tr>
                <th style="border: 1px solid #ccc;width: 100px;">Description</th>
                <th style="border: 1px solid #ccc;">Fee</th>
            </tr>
            <tr ng-repeat="item in print_receipt_data" style="background-color: #efefef;">
                <td style="padding-left: 5px; padding-right: 5px;">{{item.description}}</td>
                <td style="padding-left: 5px; padding-right: 5px;">{{item.fee}}</td>
            </tr>
        </table>
        <div style="border-top: 1px solid #ccc; font-size: 16px; padding: 15px;text-align: right;">
            <span style="font-size: 14px; font-weight: bold;">Total Rs.</span> {{print_total}}
        </div>
    </div>
</div>

<div style="bottom: 0; position: absolute; text-align: center; margin-left: -50px;left: 50%;">Thank You</div>