<section data-ng-controller="ReceptionController" ng-init="managepatients = true;">
    <div class="panel opd">
        <div class="panel-heading">
            <div class="nav-tabs-horizontal">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" ng-class="{'nav-tab-selected': managepatients}" ng-click="switchTabs('registerPatient')" ui-sref="reception.registerPatient">Register Patient</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ng-class="{'nav-tab-selected': manageappointments}" ng-click="switchTabs('createAppointment')" ui-sref="reception.createAppointment">Create Appointments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ng-class="{'nav-tab-selected': viewappointments}" ng-click="switchTabs('viewAppointments')" ui-sref="reception.viewAppointments">View Appointments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ng-class="{'nav-tab-selected': patientarrival}" ng-click="switchTabs('patientArrival')" ui-sref="reception.patientArrival">Patient Arrival</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ng-class="{'nav-tab-selected': generatebill}" ng-click="switchTabs('generateBill')" ui-sref="reception.generateBill">Generate Bill</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div ui-view></div>
        </div>
    </div>
</section>