<section class="opd" data-ng-controller="registerPatientController">
    <div class="purchase-requisition-list" ng-show="showPatients">
        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="showPatients = false;"></button>
        </div>
        <div class="col-xs-offset-1 col-xs-10" ng-show="showPatients">
            <picklist-simple headings-to-add="headingsPatient" height="350" rows-to-add="patients" prefix="prefixPatient" multiselect="'single'" callbackfn="callbackpatient(arg1)" title="'Select Patient'">
        </div>
    </div>
    <form name="formPatientRegistration" class="form-horizontal" novalidate>
        <div class="col-xs-12 reduce-padding">
            <div class="col-md-6">
                <h5 ng-hide="showMRNumber">CREATE PATIENT</h5>
                <h5 ng-show="showMRNumber">UPDATE PATIENT</h5>
                <hr>
                <br />
                <div class="col-xs-9 reduce-padding">
                    <label class="form-control-label">
                        MR Number
                    </label>
                    <br>
                    <div class="col-xs-9 reduce-padding">
                   		<div class="form-control">
                            <span ng-show="patient.mr_prefix">{{patient.mr_prefix}}-</span>{{patient.mr_number}}
						</div>
					</div>
                </div>
                <div class="col-xs-9 reduce-padding">
                    <label class="form-control-label">
                        Name
                    </label>
                    <br>
                    <div class="col-xs-9 reduce-padding">
                        <input type="text"
                            name="name"
                            class="form-control"
                            ng-model="patient.name"
                            ng-pattern="/^[a-zA-Z\s]*$/"
                            required="">
                        <span class="error" ng-show="patient.name.$touched && patient.name.$error.required">Please enter valid value</span>
                    </div>
                </div>
                <div class="col-xs-9 reduce-padding">
                    <label class="form-control-label">
                        Phone Number
                    </label>
                    <br>
                    <div class="col-xs-9 reduce-padding">
                        <input type="text" name="phone" class="form-control" ng-model="patient.phone" ui-mask="9999999?9?9?9?9" ui-mask-placeholder required="">
                        <span class="error" ng-show="patient.phone.$touched && patient.phone.$error.required">Please fill this field</span>
                    </div>
                </div>
                <div class="col-xs-9 reduce-padding">
                    <label class="form-control-label">
                        Gender
                    </label>
                    <br>
                    <input class="click-cursor" ng-model="patient.gender" id="radio_male" type="radio" value="male">
                    <label for="radio_male" class="click-cursor">
                        Male
                    </label>
                    <input class="click-cursor" ng-model="patient.gender" id="radio_female" type="radio" value="female">
                    <label for="radio_female" class="click-cursor">
                        Female
                    </label>
                </div>
				<div class="col-xs-9 reduce-padding">
					<label class="form-control-label">
						Area<span class="optional-span">(Optional)</span>
					</label>
					<br>
					<div class="col-xs-9 reduce-padding">
						<select ng-model="patient.patient_area" class="form-control">
							<option ng-repeat="area in areas" value="{{area.description}}">{{area.description}}</option>
						</select>
					</div>
				</div>
            </div>
            <div class="col-md-6">
                <div class="col-xs-9 float-right search-block-field reduce-padding">
                    <div class="form-input-icon form-input-icon-right">
                        <i ng-hide="processing" class="icmn-search"></i>
                        <input type="text"
                            class="form-control form-control-sm form-control-rounded search-container-height"
                            ng-model="searchPatientKeyword"
                            placeholder="Search by Patient Number..."
                            ng-enter="getPatients('patients')"/>
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <button type="button" class="search-block-submit" ng-disabled="processing" ng-click="getPatients('patients')">
                            <div class="centerForDemo" ng-show="processing">
                                <div class="loadingSpinnerSearch">
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="col-xs-12 reduce-padding">
                    <div class="col-xs-4 reduce-padding">
                        <label class="form-control-label">
                            Date of Birth
                        </label>
                        <br>
                        <input type="date" class="form-control" datetime="dd-MM-yyyy" ng-model="patient.dob" ng-change="checkDOB(patient.dob)" required="">

                    </div>
                    <div class="col-xs-1 text-center">

                        <br>
                        <label class="form-control-label" style="margin-top:5px">
                            OR
                        </label>
                    </div>
                    <div class="col-xs-2 reduce-padding">
                        <label class="form-control-label">
                            Age<span class="optional-span">(Optional)</span>
                        </label>
                        <br>
                        <input type="Number" class="form-control" ng-model="patient.age" ng-change="calculateDOB()">
                    </div>
					<div class="col-xs-3">
                        <label class="form-control-label">
                            Age Units
                        </label>
                        <br>
                        <select ng-init="age_type='Years'" ng-model="age_type" class="form-control" ng-change="calculateDOB()">
                            <option value="Years">Years</option>
                            <option value="Months">Months</option>
							<option value="Days">Days</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-9 reduce-padding">
                    <label class="form-control-label">
                        Address<span class="optional-span">(Optional)</span>
                    </label>
                    <br>
                    <div class="col-xs-9 reduce-padding">
                        <input type="text" name="address" class="form-control" ng-model="patient.address" >
                    </div>
                </div>
                <div class="col-xs-9 reduce-padding">
                    <label class="form-control-label">
                        Email<span class="optional-span">(Optional)</span>
                    </label>
                    <br>
                    <div class="col-xs-9 reduce-padding">
                        <input type="text" name="email" class="form-control" ng-model="patient.email" >
                    </div>
                </div>
                <div class="col-xs-9 reduce-padding">
                    <label class="form-control-label">
                        CNIC<span class="optional-span">(Optional)</span>
                    </label>
                    <br>
                    <div class="col-xs-9 reduce-padding">
                        <input type="text" name="cnic" class="form-control" ng-model="patient.cnic" ui-mask="99999-9999999-9" ui-mask-placeholder>
                    </div>
                </div>
                <div class="col-xs-9 reduce-padding">
                    <label class="form-control-label">
                        Panel<span class="optional-span">(Optional)</span>
                    </label>
                    <br>
                    <div class="col-xs-9 reduce-padding">
                        <select ng-init="patient.panel_id = 'None'" ng-change="panelChanged()" ng-model="paneldata" class="form-control">
                            <option value="None">None</option>
                            <option ng-repeat="panel in panels" value="{{panel}}">{{panel.description}}</option>
                        </select>
                    </div>
                </div>
               <div class="col-xs-9 reduce-padding">
                    <label class="form-control-label">
                        Panel Card Number<span ng-show="!paneldata" class="optional-span">(Optional)</span>
                    </label>
                    <br>
                    <div class="col-xs-9 reduce-padding">
                       <input type="text" name="cardnumber" class="form-control" ng-model="patient.panelCardNumber" ng-required="paneldata">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="hr-padding hr-full">
                <button class="btn btn-lg btn-primary" ng-click="reset_patient(formPatientRegistration)" ng-disabled="processing">
                    Clear
                </button>
                <button type="submit" class="btn btn-lg btn-success" ng-click="update_patient(patient, formPatientRegistration)" ng-disabled="!formPatientRegistration.$valid || processing" ng-show="UpdateItem">
                    Update
                </button>
                <button type="submit" class="btn btn-lg btn-success" ng-click="submit_patient(patient, formPatientRegistration)" ng-disabled="!formPatientRegistration.$valid || processing" ng-hide="UpdateItem">
                    Save
                </button>
				<button class="btn btn-lg btn-info" ng-click="print_card(patient)" ng-disabled="processing" ng-show="UpdateItem">
                    Print
                </button>
                <button type="submit" class="btn btn-lg btn-info" ng-click="generate_bill(patient)" ng-disabled="processing" ng-show="UpdateItem">
                    Generate Bill
                </button>
            </div>
        </div>
    </form>
</section>
