<section data-ng-controller="ViewAppointmentsController">
    <form name="formViewAppointment" class="form-horizontal" novalidate ng-click="showDoctorsDropDown = false">
        <div class="col-xs-12 reduce-padding">
            <h5>VIEW APPOINTMENTS</h5>
            <hr>
            <br />
            <div class="col-xs-12">
                <div class="col-md-6">
                    <label class="form-control-label">
                        Doctor
                    </label>
                    <br>
                    <div class="col-xs-6 reduce-padding">
                        <input type="text" class="form-control disable-valid-dirty" ng-model="searchDoctor" ng-disabled="showAppointmentDelete" ng-focus="searchDoctors()" ng-change="searchDoctors('change', 'view')" placeholder="Select Doctor">
                    </div>
                    <div class="search-result-container dropdown-height" ng-show="showDoctorsDropDown">
                        <div class="results" tabindex="0" ng-enter="selectAppointmentDoctors(doctor)" ng-repeat="doctor in searched_doctors" ng-click="selectAppointmentDoctors(doctor)">
                            {{doctor.name}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="form-control-label">
                        Date
                    </label>
                    <br>
                    <div class="col-xs-6 reduce-padding float-left">
                        <input type="date" ng-change="viewDoctorAppointments()" name="date" class="form-control disable-valid-dirty" ng-model="searchDate" required="required">
                    </div>
                </div>
                <br>
                <hr class="hr-padding hr-full">
            </div>
            <div class="col-xs-12">
                <div class="col-xs-12 appointment-header">
                    <div class="col-xs-3 reduce-padding text-align-center click-cursor" ng-click="sortBy('doctor_name')">
                        Doctor Name
                    </div>
                    <div class="col-xs-3 reduce-padding text-align-center click-cursor" ng-click="sortBy('patient_name')">
                        Patient Name
                    </div>
                    <div class="col-xs-2 reduce-padding text-align-center">
                        Patient Phone
                    </div>
                    <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('time')">
                        Time Slot
                    </div>
                    <div class="col-xs-2 reduce-padding text-align-center">
                        Cancel Appointment
                    </div>
                </div>
                <div class="col-xs-12 search-row text-align-center">
                    <div class="col-xs-3 reduce-padding">
                        <input class="input-field-border" type="text" ng-model="search.doctor_name"></input>
                    </div>
                    <div class="col-xs-3 reduce-padding">
                        <input class="input-field-border" type="text" ng-model="search.patient_name"></input>
                    </div>
                </div>
                <div class="col-xs-12 reduce-padding scroll-arrival-appointments">
                    <div class="col-xs-12 appointment-row" ng-repeat="appointment in doctorAppointments | filter:search | orderBy:propertyName:reverse" ng-class="{blue: (appointment.appointment_status === 'Scheduled'), green: (appointment.appointment_status === 'Arrived'), gray: (appointment.appointment_status === 'Confirmed')}">
                        <div class="col-xs-3 reduce-padding vertical-txt-pos text-align-center">
                            {{appointment.doctor_name}}
                        </div>
                        <div class="col-xs-3 reduce-padding vertical-txt-pos text-align-center">
                            {{appointment.patient_name}}
                        </div>
                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center">
                            {{appointment.phone}}
                        </div>
                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center" ng-hide="appointment.time.length === 0">
                            {{appointment.time}}
                        </div>
                        <div class="col-xs-2 reduce-padding vertical-txt-pos text-align-center" ng-hide="appointment.time.length != 0">
                            Waiting - {{appointment.number_in_queue}}
                        </div>
                        <div class="col-xs-2 reduce-padding text-align-center">
                            <button type="button" class="btn btn-sm btn-danger grid-regis-btn" ng-click="cancel_appointment(appointment._id)" ng-disable="processing" ng-hide="appointment.appointment_status === 'Confirmed' || appointment.appointment_status === 'Arrived'">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
				<br>
				<div class="col-xs-12" style="margin-top:15px">
					<div class="btn-align">
						<button  type="submit" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="submit()">
						<span ng-hide="processing">Print Appointments</span>
							<div class="centerForDemo" ng-show="processing">
								<div class="loadingSpinner"></div>
							</div>
						</button>
					</div>
				</div>
            </div>
        </div>
    </form>
</section>