.prescription {
	.table-top-margin {
		margin-top: 20px;
	}

	.add-btn {
		padding: 2px 7px;
	}

	.fill-presc {
		background-color: #bfb8b8 !important;
	}
	
	.fill-notes {
		background-color: #f2f3af !important;
	}
	
	.fill-lab {
		background-color: #92d0d0 !important;
	}
	
	.table-width: {
		width: 600px;
	}
	
	.row-height {
		height: 15px;
	}
	
	.reduce-margin-btm {
		margin-bottom: 0px;
	}

	.sms-reminder {
		float: left;
		margin-top: -18px;
	}

	.followup-date {
		float: left;
		margin-top: -18px;
		margin-left: 30px;
	}

	.patient-info-headings {
		font-weight: bold;
		margin-top: 6px;
	}

	.ng-click-active {
		cursor: pointer;
	}

	.popup-preview {
		background-color: #fff;
		overflow-y : scroll;
		height: 500px;
		margin : auto;
		width: 750px;
	}

	.text-border {
		border: 1px solid #827ca1;
	    padding: 3px;
	    border-radius: 4px;
	    min-height: 25px;
	}
}

