.prescriptionPref {
	.table-top-margin {
		margin-top: 20px;
	}

	.add-btn {
		padding: 2px 7px;
	}

	.reduce-margin-btm {
		margin-bottom: 0px;
	}

	.sms-reminder {
		float: left;
		margin-top: -18px;
	}

	.followup-date {
		float: left;
		margin-top: -18px;
		margin-left: 30px;
	}

	.patient-info-headings {
		font-weight: bold;
	}

	.btn-align {
		margin-top: 20px;
	}

	.margin-top-input {
		float: left;
		width: 65px;
	}

	.margin-top-unit {
		float: left;
    	margin-left: 5px;
    	margin-top: 3px;
	}

	.doctor-info {
		text-align: right;
	}

	.hospital-logo {
		margin-bottom: 20px;
	}

	.doc-patient-info {
		margin-bottom: 20px;
	}

	.set-margin {
		margin-top: 0;
	}
	.text-area-border {
		border: 1px solid #827ca1;
		border-radius: 4px;
		padding: 3px 5px;
		height: 45px;
	}
}

