h1 {
	text-align: center;
	
}

.purchase-order-print {
	margin-top: 100px;
}

.heading {
	font-size: 14px;
	font-weight: bold;
}

.margin-left {
	padding-left: 20px;: 
}



.grid-table {
	margin-top: 20px;
	text-align: center;
	tr:nth-child(odd) {background-color: #F9F9F9};
	width: 100%;
}

.ng-hide {
	display: none;
}

.td-padding {
	padding-left: 5px;
	padding-right: 5px;
}

.tr-border {
	border: 1px solid #ccc;
}

.total-container {
	border-top: 1px solid #ccc;
	font-size: 16px;
	padding: 15px;
	text-align: right;
}

.signature {
	border-top: 1px solid #000;
    width: 138px;
    padding: 5px 10px;
    float: right;
}

.signature-container {
	margin-top: 40px;
	height: 40px;
}

.pr-no-width {
	width: 100px;
}

.remarks-container {
	margin-top: 5px;
	margin-bottom: 10px;
}

.remarks-text {
	margin-left: 80px;
}

.remarks {
	float: left;
}

.footer {
	bottom: 0;
    position: absolute;
    text-align: center;
    margin-left: -102px;
    left: 50%;
}