// Colors
$white: #ffffff;
$gray: #eceff4;
$gray-lighten: lighten($gray, 2%);
$gray-lighten-more: lighten($gray, 4%);
$gray-darken: darken($gray, 4%);
$gray-darken-more: darken($gray, 8%);
$black: #24222f;
$black-lighten: lighten($black, 20%);
$black-lighten-more: lighten($black, 40%);
$black-lighten-more-more: lighten($black, 60%);
$blue: #0088ff;
$blue-darken: darken($blue, 8%);
$orange: #f2a654;
$yellow: yellow;

// Accent colors
$default: #acb7bf;
$primary: #01a8fe;
$secondary: #6a7a84;
$success: #46be8a;
$info: #0190da;
$warning: #f39834;
$danger: #fb434a;

// Transitions
@mixin transition-fast() {
    transition: all 0.05s ease-in-out;
}
@mixin transition-middle() {
    transition: all 0.1s ease-in-out;
}
@mixin transition-slow() {
    transition: all 0.2s ease-in-out;
}
@mixin transition-very-slow() {
    transition: all 0.4s ease-in-out;
}
@mixin transition-menu() {
  transition: transform 0.2s ease-in-out;
}

// Fonts
$font-text: 'Open Sans', sans;

// Rsponsive utils
$xxl-min-width: 1600px;
$xxl-max-width: 1599px;
$xl-min-width: 1200px;
$xl-max-width: 1199px;
$md-min-width: 992px;
$md-max-width: 991px;
$sm-min-width: 768px;
$sm-max-width: 767px;
$xs-min-width: 544px;
$xs-max-width: 543px;

.page-content {
	margin-top: 70px;
	margin-left: 20px;
}

.reduce-page-content {
    margin: 0 !important;
    padding: 0 !important;
}

.remove-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.toast-msg {
	top: 50px !important;
}

.remove-margin {
	margin: 0 !important;
}

.blur {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    background-color: rgba(0,0,0,0.4);
}


input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 5px #008AE8;
    border: 1px solid #008AE8;
}

.error {
    color: #f00;
    font-size: 9px;
    position: absolute;
}

.form-control {
    color: #55595c !important;
}


.auto-margin {
    margin-left: auto;
    margin-right: auto;
}

.popup-background {
    padding: 5px;
    position: fixed;
    background: #eaeaea;
    border-radius: 5px;
    left: 50%;
    top: 20%;
    z-index: 9999;
}

.popup-close-btn {
    background-color: #fff;
}

.purchase-requisition-list {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    left: 0;
    padding: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.table-properties {
    overflow-y: scroll;
}

input[type=radio]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

input[type=radio]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 20px;
  background   : url('../../modules/core/img/radio_unchecked.png') no-repeat left;
  line-height  : 24px;
  font-weight  : 600;
  font-size    : 13px;
}

input[type=radio]:checked + label {
  background   : url('../../modules/core/img/radio_checked.png') no-repeat left;
}

input[type=radio]:hover + label {
  cursor: pointer
}

.white-text {
  color: white !important;
}

.nav-logo {
  width: 158px;
}

.nav-header {
  margin-left: 160px;
}

@import "../../lib/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "../../modules/core/css/basic-form-elements";
@import "../../modules/core/css/dropdowns";
@import "../../modules/core/css/typography";
@import "../../modules/core/css/fonts";
@import "../../modules/core/css/base.default";
@import "../../modules/core/css/base.responsive";
@import "../../modules/core/css/jscrollpane";
@import "../../modules/core/css/widgets";
@import "../../modules/core/css/header";
@import "../../modules/core/css/selectboxes";
@import "../../modules/core/css/dynamic-grid";
@import "../../modules/core/css/expandable-picklist";
@import "../../modules/core/css/picklist-expandable";
@import "../../modules/core/css/mixins";
@import "../../modules/core/css/breadcrumbs";

@import "../../modules/hospital-admin/css/hospital-admin";
@import "../../modules/hospital-admin/css/create-facility";
@import "../../modules/hospital-admin/css/facility-pricing";
@import "../../modules/inventories/css/inventories";
@import "../../modules/inventories/css/inventories-pricing";
@import "../../modules/opd/css/opd";
@import "../../modules/opd/css/arrival";
@import "../../modules/ipd/css/ipd";
@import "../../modules/main-page/css/main-page";
@import "../../modules/pos/css/pos";
@import "../../modules/inventories/css/purchase-requisition";
@import "../../modules/inventories/css/purchase-order";
@import "../../modules/inventories/css/purchase-return";
@import "../../modules/inventories/css/GRN";
@import "../../modules/doctor/css/prescription";
@import "../../modules/doctor/css/doctor";
@import "../../modules/staff/css/nurse";
@import "../../modules/doctor/css/prescriptionPref";
@import "../../modules/billing/css/generate-bill";
@import "../../modules/hospital-admin/css/manage-expense";


@import "../../modules/core/css/core";
