<section class="GRN" id="headerid" data-ng-controller="GRNController">
    <div class="purchase-requisition-list" ng-show="(showPurchaseOrders && GRN.type==='Purchase Order') || showStoresList || showSupplierList || showItemsList || showGrid">
        <div>
            <div class="btn btn-xs popup-close-btn float-right" ng-click="showPurchaseOrders = false;showSupplierList = false;showStoresList = false;showItemsList = false;showGrid = false">

            </div>
            <!-- <button type="button"  ><i class="fa fa-close"></i></button> -->
        </div>
        <div class="col-xs-12 background-dynamic-grid-np reduce-padding" ng-show="showPurchaseOrders && GRN.type==='Purchase Order'">
            <picklist-expandable headings-to-add="headingsPO" rows-to-add="PO" prefix="prefixPO" expandable-headings-to-add="expandableHeadingsPO" height="350" expandable-heading="expandableHeadingPO" callbackfn="selectedItems(arg1)" title="'Select Medicines from Purchase Orders'">
        </div>
        <div class="col-xs-offset-1 col-xs-10" ng-show="showStoresList">
            <picklist-simple headings-to-add="headingsStores" height="350" rows-to-add="storesToShow" prefix="prefixStore" multiselect="'single'" callbackfn="selectStore(arg1)" title="'Select Store'">
        </div>
        <div class="col-xs-offset-1 col-xs-10" ng-show="showSupplierList">
            <picklist-simple headings-to-add="headingsSuppliers" height="350" rows-to-add="suppliersToShow" prefix="prefixSuppliers" multiselect="'single'" callbackfn="selectSupplier(arg1)" title="'Select Supplier'">
        </div>
        <div class="col-xs-12 background-dynamic-grid-np reduce-padding" ng-show="showItemsList">
            <picklist-simple-pagination headings-to-add="headingsMedicines" height="350" rows-to-add="allItems" prefix="prefix" multiselect="'multiple'" callbackfn="populateList(arg1)" title="'Select Medicines'" searchdata="searchMedicines(keyword)" loadmore="loadMoreItems()">
        </div>
        <div class="col-xs-offset-1 col-xs-10" ng-show="showGrid">
            <picklist-simple headings-to-add="headingsGRN" height="350" rows-to-add="GRNs" prefix="prefixGRN" multiselect="'single'" callbackfn="callbackfn(arg1)" title="'Select GRN'">
        </div>
    </div>


    <div class="panel purchase-requisition">

        <!-- <div class="panel-heading">
            <h3>Goods Received Note</h3>
        </div> -->
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Goods Received Note</a></li>
        </ul>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default-outline" ng-click="mode = 'Basic'" ng-class="{ 'active' : mode == 'Basic'}">
                Basic
            </label>
            <label class="btn btn-default-outline" ng-click="mode = 'Advanced'" ng-class="{ 'active' : mode == 'Advanced'}">
                Advanced
            </label>
        </div>
        <div class="col-lg-6 float-right search-block-field reduce-padding">
            <div class="form-input-icon form-input-icon-right">
                <i class="icmn-search"></i>
                <input type="text" class="form-control form-control-sm form-control-rounded search-container-field-height" ng-model="searchGRNKeyword" placeholder="Search by Supplier, invoice or GRN Number..." ng-enter="getGRN()">
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                <button type="button" class="search-block-submit" ng-click="getGRN()"></button>
            </div>
        </div>
        <div class="panel-body">
            <form name="formGRN" class="form-horizontal" novalidate>
                <div class="col-xs-12">
                    <div class="col-xs-12 reduce-padding">
                        <div ng-show="UpdateItem">
                            <h5>Update GRN</h5>
                            <hr>
                        </div>
                        <div ng-hide="UpdateItem">
                            <h5>New GRN</h5>
                            <hr>
                        </div>
                        <div class="col-xs-4">

                            <!-- GRN Number -->
                            <div class="col-xs-9" ng-hide="GRN.GRNNumber === ''">
                                <div>
                                    <label class="form-control-label">
                                        Document Number
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="text" name="GRNNumber" class="form-control" ng-model="GRN.GRNNumber" disabled="true">

                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Document Category
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <select name="transcationCategories" class="form-control" ng-model="GRN.transcationCategory" required="">
                                            <option ng-repeat="category in transcationCategories" ng-value="category.purchaseType">{{category.purchaseType}}</option>
                                        </select>
                                        <span class="error" ng-show="formGRN.$submitted && formGRN.transcationCategories.$error.required">Please select this field</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Transcation Category -->
                             <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Document Mode
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <select name="type" class="form-control" ng-model="GRN.type" required="" ng-change="itemsList = [];itemsQty = false;totalAmount=0;">
                                            <option value="Direct">Direct</option>
                                            <option value="Purchase Order">From Purchase Order</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
							<div class="col-xs-9">
								<div>
									<label class="form-control-label">Date</label>
									<input type="date" name="ed" required="" class="form-control" ng-model="GRN.date">
									<span class="error" ng-show="formGRN.ed.$touched && formGRN.ed.$error.required">Please fill this field</span>
								</div>
							</div>
                        </div>
                        <div class="col-xs-4">

						    <!-- Suppliers list -->
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Supplier<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
										<input type="text" name="suppliers" placeholder="Select Supplier" class="form-control" ng-model="selectedSupplier.description" ng-click="openSupplierList()">
                                    </div>

                                </div>
                            </div>

							<!-- Supplier Chalan Number -->
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Supplier Invoice Number<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="number" name="supplierChalanNumber" class="form-control" ng-model="GRN.supplierChalanNumber">
                                    </div>
                                </div>
                            </div>

                            <!-- Supplier Chalan Number Date  -->
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Supplier Invoice Date<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="date" name="supplierChalanDate" class="form-control" ng-model="GRN.supplierChalanDate">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-4" ng-show="mode=='Advanced'">
                            <!-- Stores list -->
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Store<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="text" name="store" placeholder="Select Store" class="form-control" ng-model="selectedStore.description" ng-click="openStoreList()">
                                    </div>

                                </div>
                            </div>

							<!-- Gate Pass Number -->
                            <div class="col-xs-9" ng-show="mode=='Advanced'">
                                <div>
                                    <label class="form-control-label">
                                        Gate Pass Number<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="number" name="gatePassNumber" class="form-control" ng-model="GRN.gatePassNumber">
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-xs-12"><hr width="100px"></div>
                    <div class="col-xs-12">
                        <!-- Show purchase order requests -->
                        <div class="col-xs-9" ng-show="GRN.type==='Purchase Order'">
                            <div>
                                <label class="form-control-label">
                                    Add Purchase Orders
                                </label>
                                <div class="col-xs-12 reduce-padding">
                                    <button type="button" name="purchaseOrders" class="btn" ng-click="openPurchaseOrders()">Select Purchase Order(s)</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-9" ng-show="GRN.type==='Direct' && !(UpdateItem && GRN.processed)">
                        <div class="col-xs-4 items-search-container">
                            <label class="form-control-label">
                                Add Items to GRN
                            </label>
                            <div class="search-block">
                                <div class="form-input-icon form-input-icon-right">
                                    <input type="text" class="form-control form-control-sm search-container-height" ng-model="searchKeyword" placeholder="Search items..." typeahead="item.description for item in itemsSearchTypeahead($viewValue)" typeahead-loading="loadingLocations" typeahead-on-select="selectedSearchItem($item)" class="form-control">
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <button type="button" ng-disabled="processing" class="items-search-btn" ng-click="openItemsList()" ng-disabled="processing"><i ng-hide="processing" class="fa fa-search">
                                    </i>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner">
                                        </div>
                                    </div>
                                    </button>
                                </div>
                            </div>
                            <span class="error" ng-show="formGRN.$submitted && itemsList.length == '0'">Please Add Items</span>
                        </div>
                    </div>
                    <div class="col-xs-12" ng-hide="itemsList.length == '0'">
                            <label class="form-control-label">
                                Received Items
                            </label>
                            <div class="table-properties" >
                              <table class="table-width" >
                                <!-- <thead class="tableHead">
                                  <tr class="order-table-head-row">
                                    <td class="order-table-row column-padding-1">Medicine Name</td>
                                    <td class="text-center">Qty</td>
                                    <td class="text-center" ng-hide="GRN.type==='Purchase Order'">rate</td>
                                    <td class="text-center" ng-hide="GRN.type==='Purchase Order'">value</td>
                                    <td class="text-center" ng-hide="GRN.type==='Purchase Order'">discount</td>
                                    <td class="text-center" ng-hide="GRN.type==='Purchase Order'">Total Discount</td>
                                    <td class="text-center" ng-hide="GRN.type==='Purchase Order'">Sale tax type</td>
                                    <td class="text-center" ng-hide="GRN.type==='Purchase Order'">total Tax</td>
                                    <td class="text-center">net value</td>
                                    <td class="text-center remove-btn-column">Remove</td>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr tabindex="{{$index}}" ng-repeat="med in itemsList">
                                    <td class="order-table-row column-padding-1">{{med.description}}</td>
                                    <td class="text-center order-table-row">
                                      <input class="form-control grid-input-height number-input-width auto-margin" type="Number" ng-model="med.quantity" min="1">
                                    </td>
                                    <td class="text-center order-table-row" ng-hide="GRN.type==='Purchase Order'">
                                      <input class="form-control grid-input-height number-input-width auto-margin" type="Number" ng-model="med.rate" min="1">
                                    </td>
                                    <td class="text-center order-table-row" ng-hide="GRN.type==='Purchase Order'">
                                      {{med.quantity*med.rate}}
                                    </td>
                                    <td class="text-center order-table-row" ng-hide="GRN.type==='Purchase Order'">
                                      <input class="form-control grid-input-height number-input-width auto-margin" type="Number" ng-model="med.discount" min="1">
                                    </td>
                                    <td class="text-center order-table-row" ng-hide="GRN.type==='Purchase Order'">
                                      <input class="form-control grid-input-height number-input-width auto-margin" type="Number" ng-model="med.totalDiscount" min="1">
                                    </td>
                                    <td class="text-center order-table-row" ng-hide="GRN.type==='Purchase Order'">
                                      <input class="form-control grid-input-height number-input-width auto-margin" type="Number" ng-model="med.saleTaxType" min="1">
                                    </td>
                                    <td class="text-center order-table-row" ng-hide="GRN.type==='Purchase Order'">
                                      <input class="form-control grid-input-height number-input-width auto-margin" type="Number" ng-model="med.totalTax" min="1">
                                    </td>
                                    <td class="text-center order-table-row">
                                      {{(med.quantity*med.rate)-med.totalDiscount+med.totalTax}}
                                    </td>
                                    <td class="text-center order-table-row">
                                      <button class="close-btn" ng-click="remove_medicine($index)" ><i class="fa fa-trash"></i></button>
                                    </td>
                                  </tr>
                                </tbody> -->
                                <thead class="table-head">
                                  <tr class="order-table-head-row">
                                    <td class="order-table-row column-padding-1 col-pad">Medicine Name</td>
                                    <td class="text-center col-pad">Qty</td>
									<td class="text-center col-pad">Pack Size</td>
									<td class="text-center col-pad">Loose Packing</td>
                                    <td class="text-center col-pad">Selling Rate</td>
                                    <td class="text-center col-pad">Purchase Rate</td>
                                    <td class="text-center col-pad">Value</td>
									<td class="text-center col-pad">Bonus</td>
                                    <td class="text-center col-pad">Expiry Date</td>
                                    <td class="text-center col-pad">Batch No</td>

                                    <!-- <td class="text-center col-pad" ng-hide="GRN.type==='Purchase Order'">Discount Type</td> -->
                                    <td class="text-center col-pad" >Discount</td>
                                    <!-- <td class="text-center col-pad" ng-hide="GRN.type==='Purchase Order'">Total Discount</td> -->
                                    <!-- <td class="text-center col-pad" ng-hide="GRN.type==='Purchase Order'">Tax Type</td> -->
                                    <td class="text-center col-pad">Sales Tax</td>
                                    <!-- <td class="text-center col-pad" ng-hide="GRN.type==='Purchase Order'">Total Tax</td> -->
                                    <td class="text-center col-pad">Net value</td>

                                    <td class="text-center"></td>
                                  </tr>
                                </thead>
                                <tbody class="table-body">
                                  <tr tabindex="{{$index}}" ng-repeat="med in itemsList">
                                    <td class="order-table-row column-padding-1 med-name-grid" width="200">{{med.description}}
                                    </td>
                                    <td class="text-center order-table-row">
                                      <input class="form-control grid-input-height number-input-width auto-margin" type="Number" ng-model="med.quantity" min="0" ng-change="calculate_total_net_amount()" ng-pattern="/^[0-9]+(\.{0})?$/">
                                    </td>
									<td class="text-center order-table-row">
										<span ng-show="!med.loosepacking">{{med.storage_to_selling}}</span><span ng-show="med.loosepacking">1</span>
                                    </td>
									<td class="text-center order-table-row">
										<label class="form-control-label" style="font-weight:600">
											<input type="checkbox" ng-disabled="UpdateItem" name="loosepacking" checked="" ng-model="med.loosepacking" ng-change="changePrices(med)">
										</label>
                                    </td>
                                    <td class="text-center order-table-row unit-input">
                                      <input class="form-control grid-input-height number-input-width auto-margin" type="Number" ng-model="med.sellingPrice" min="0" ng-change="calculate_total_net_amount()">
                                    </td>
                                    <td class="text-center order-table-row unit-input">
                                      <input class="form-control grid-input-height number-input-width auto-margin" type="Number" ng-model="med.rate" min="0"  ng-change="calculate_total_net_amount()">
                                    </td>
                                     <td class="text-center order-table-row">
                                        <div class="table-text-box" ng-hide="med.quantity===undefined || med.rate===undefined">
                                            {{(med.quantity*med.rate).toFixed(2);}}
                                        </div>
                                        <div class="table-text-box" ng-show="med.quantity===undefined || med.rate===undefined">
                                            0
                                        </div>
                                    </td>
									<td class="text-center order-table-row">
                                      <input class="form-control grid-input-height number-input-width auto-margin" type="Number" ng-model="med.bonus" min="0">
                                    </td>
                                    <td class="text-center order-table-row">
                                        <input class="form-control grid-input-height auto-margin date-select" type="Date" ng-model="med.expiryDate"  ng-show="med.expiry_date_enabled">
                                        <div ng-hide="med.expiry_date_enabled">
                                            <div class="table-text-box">Disabled</span>
                                        </div>
                                    </td>

                                    <td class="text-center order-table-row">
                                      <input class="form-control grid-input-height auto-margin text-center" type="text" ng-model="med.batchID">
                                    </td>


                                    <td class="text-center order-table-row">
                                        <div class="discount-container">
                                            <div class="disc">
                                            <input class="form-control grid-input-height number-input-width auto-margin left-align"
                                            type="Number"
                                            ng-model="med.discount"
                                            min="0"
                                            max="100"
                                            ng-change="calculate_total_net_amount()"
                                            ng-if="med.discountType==='perc'"/>
                                            <input class="form-control grid-input-height number-input-width auto-margin left-align"
                                            type="Number"
                                            ng-model="med.discount"
                                            min="0"
                                            ng-change="calculate_total_net_amount()"
                                            ng-if="med.discountType==='lumsum' || med.discountType==='PerItem' ">
                                            <select class="form-control grid-input-height select-type" ng-model="med.discountType" required="">
                                                <option value="PerItem">Per Item</option>
                                                <option value="perc">%</option>
                                                <option value="lumsum">lump sum</option>
                                            </select>
                                            </div>
                                            <div class="total-disc">
                                                <div class="table-text-box" ng-show="med.discountType==='PerItem' && (med.quantity!==undefined || med.discount!==undefined)">
                                                    {{(med.quantity*med.discount).toFixed(2)}}
                                                </div>
                                                <div class="table-text-box"  ng-show="med.discountType==='perc' && med.rate!==undefined && med.discount!==undefined && med.quantity!==undefined">
                                                    {{((med.quantity*med.rate)*(med.discount/100)).toFixed(2)}}
                                                </div>
                                                <div class="table-text-box" ng-show="med.discountType==='lumsum' && med.discount!==undefined">
                                                    {{med.discount}}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <!-- <td class="text-center order-table-row" ng-hide="GRN.type==='Purchase Order'">

                                    </td>
                                    <td class="text-center order-table-row" ng-hide="GRN.type==='Purchase Order'">

                                    </td> -->
                                    <td class="text-center order-table-row">
                                        <div class="discount-container">
                                            <div class="disc">
                                                <input class="form-control grid-input-height number-input-width auto-margin left-align" type="Number" ng-model="med.saleTax" min="0" max="100" ng-change="calculate_total_net_amount()" ng-if="med.taxType==='perc'">
                                                <input class="form-control grid-input-height number-input-width auto-margin left-align" type="Number" ng-model="med.saleTax" min="0" ng-change="calculate_total_net_amount()" ng-if="med.taxType==='lumsum'">
                                                <select class="form-control grid-input-height select-type" ng-model="med.taxType" required="">
                                                    <option value="perc">%</option>
                                                    <option value="lumsum">lump sum</option>
                                                </select>
                                            </div>
                                            <div class="total-disc">
                                                <span ng-show="med.taxType==='perc' && med.quantity !== undefined && med.rate!== undefined && med.saleTax !== undefined">
                                                    <div class="table-text-box">
                                                        {{(med.quantity*med.rate)*(med.saleTax/100)}}
                                                    </div>
                                                </span>
                                                <span ng-show="med.taxType==='lumsum' && med.saleTax !== undefined">
                                                    <div class="table-text-box">
                                                        {{med.saleTax}}
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <!-- <td class="text-center order-table-row" ng-hide="GRN.type==='Purchase Order'">

                                    </td>
                                    <td class="text-center order-table-row" ng-hide="GRN.type==='Purchase Order'">

                                    </td> -->

                                    <td class="text-center order-table-row">
                                        <div class="table-text-box" ng-show="med.netValue!==undefined">
                                            {{med.netValue}}
                                        </div>
                                    </td>
                                    <td class="text-center order-table-row">
                                      <button type="button" class="btn-danger close-btn" ng-click="remove_medicine($index)" ><i class="fa fa-trash"></i></button>
                                      <!-- <img class="close-img" src="img/close_btn.png" width="20px" height="20px" tabindex="1"> -->
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <span class="error" ng-show="itemsQty">Quantity, rate or expiry values incorrect.</span>

                            </div>
                    </div>
                    <div class="col-xs-12" ng-hide="itemsList.length == '0'">
                        <div class="grand-total">
                            <br>
                            <span><b>Grand Total </b></span>  Rs. {{totalAmount}}
                        </div>
                    </div>
                    <div class="col-xs-12">

                        <hr class="hr-padding hr-full">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div ng-class="confirmationPopup">
                                    <div class="gray-container">
                                        <b>Are you sure?</b><br>
                                        This Goods Received Note will be deleted permanently.<br><br>
                                        <button class="btn btn-neutral" ng-click="hide_delete_popup()">Cancel</button>&nbsp;&nbsp;<button class="btn btn-danger" ng-click="confirm_delete_popup(formGRN)">Delete</button>
                                    </div>
                                    <div class="arrow-down-right"></div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-lg btn-success nav-btn" ng-click="update(GRN, formGRN)" ng-disabled="itemsList.length == '0' || disableSubmit || !formGRN.$valid || processing" ng-show="UpdateItem && !GRN.processed">
                                    <span ng-hide="processing">Update</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                <button type="button" class="btn btn-lg btn-primary btn-success nav-btn" ng-click="submit(GRN, formGRN)" ng-disabled="itemsList.length == '0' || disableSubmit || !formGRN.$valid || processing" ng-hide="UpdateItem">
                                    <span ng-hide="processing">Save</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                <button type="reset" ng-show="UpdateItem && GRN.processed" class="btn btn-lg btn-success nav-btn" ng-disabled="processing" ng-click="print(formPurchaseOrder)">
                                    <span ng-hide="processing">Print</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                <button type="reset" class="btn btn-lg btn-primary nav-btn" ng-disabled="processing" ng-click="reset(formPurchaseOrder)">
                                    <span ng-hide="processing">Clear</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                <button type="button" class="btn btn-lg btn-danger nav-btn" ng-disabled="processing" ng-click="delete()" ng-show="UpdateItem && !GRN.processed">
                                    <span ng-hide="processing">Delete</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
