<section class="purchase-order" data-ng-controller="InventoryDetailsController">
    <!--div class="purchase-requisition-list " ng-show="processing">
    	<button type="button" ng-disabled="true" class="col-xs-offset-5 col-xs-3 btn btn-default">
    		Loading...
    	</button>
    </div-->
	
    <div class="purchase-requisition-list" ng-show="showfromStoresList">
        <div>
            <div class="btn btn-xs popup-close-btn float-right" ng-click="showfromStoresList = false;showtoStoresList = false">
                
            </div>
            <!-- <button type="button"  ><i class="fa fa-close"></i></button> -->
        </div>
		
        <div class="col-xs-offset-1 col-xs-10" ng-show="showfromStoresList">
            <picklist-simple headings-to-add="headingsStores" height="350" rows-to-add="storesToShow" prefix="prefixfromStore" multiselect="'single'" callbackfn="selectfromStore(arg1)" title="'Select Store'">
        </div>

        
    </div>

    <div class="panel main-page">
        <!-- <div class="panel-heading">
            <h3>Add/Edit Labels</h3>
        </div> -->
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Item Wise Ledger</a></li>
        </ul>
        <div class="panel-body">
            <form name="formLabel" class="form-horizontal" novalidate>
                <div class="col-xs-12">
					<div class="col-xs-3">
						<div>
							<label class="form-control-label">
							 Store
							</label>
							<br>
							<div class="col-xs-12 reduce-padding">
								<input type="text" name="store" placeholder="Select from Store" class="form-control" ng-model="fromStoreDescription" ng-click="openfromStoreList()" required>
							</div>
							
						</div>
						<label class="form-control-label">Select Item</label>
						<br>
						<div class="form-input-icon">
							<input type="text" class="form-control form-control-sm" ng-model="name_search_keyword" placeholder="Search..." typeahead="item.description for item in itemsSearchTypeahead($viewValue)" typeahead-loading="loadingLocations" typeahead-on-select="callbackfn($item)">
						</div>
					</div>

					<div class="col-xs-3">
                        <label class="form-control-label">From Date</label>
                        <input type="date" name="dt" class="form-control" ng-model="fromDate" >
						<label class="form-control-label">To Date</label>
                        <input type="date" name="dt" class="form-control" ng-model="toDate">			
                    </div>

					<div class="col-xs-3 reduce-padding text-align-center" style="margin-top:5px">
                        <br>
                        <button class="css-class btn btn-success" ng-click="getreport()">Apply</button>
						&nbsp;
						<button class="css-class btn btn-success" ng-click="printreport()">&nbsp;Print&nbsp;</button>
                    </div>
					<!--div class="col-xs-3 reduce-padding text-align-center">
                        <br>
                        <button class="css-class btn btn-success">Print Report</button>
                    </div-->
                </div>                
				<div class="col-xs-12 reduce-padding grid-top-margin">
                    <h5>Item Wise Ledger</h5>
                     <hr>
					<div class="col-lg-12">
                       
                        <div class="col-xs-12 reduce-padding" ng-hide="showGrid">
                        	Please select item.
                        </div>
                        <div class="col-xs-12 reduce-padding" ng-show="showGrid">
		                    <div class="col-xs-12 reduce-padding report-header">
		                        <div class="col-xs-2 reduce-padding text-align-center document-heading">
		                            Item Code: {{item.code}}
		                        </div>
		                        <div class="col-xs-3 reduce-padding text-align-center document-heading">
		                            Description: {{item.description}}
		                        </div>
								<div class="col-xs-2 reduce-padding text-align-center document-heading">
		                            From: {{fromDate | date: 'dd/MM/yyyy'}}
		                        </div>
								<div class="col-xs-2 reduce-padding text-align-center document-heading">
		                            To: {{toDate | date: 'dd/MM/yyyy'}}
		                        </div>
		                        <div class="col-xs-2 reduce-padding text-align-center document-heading">
		                            Opening Balance: {{openingBalance}}
		                        </div>
		                    </div>
							<br>
		                    <div class="col-xs-12 reduce-padding report-header">
		                        <div class="col-xs-2 reduce-padding text-align-center">
		                            Document
		                        </div>
		                        <div class="col-xs-2 reduce-padding text-align-center">
		                           Doument Number
		                        </div>
		                        <div class="col-xs-2 reduce-padding text-align-center click-cursor" ng-click="sortBy('created')">
		                            Date
		                        </div>
		                        <div class="col-xs-2 reduce-padding text-align-center">
		                            IN
		                        </div>
								<div class="col-xs-2 reduce-padding text-align-center">
		                            OUT
		                        </div>
		                        <div class="col-xs-2 reduce-padding text-align-center">
		                            Balance
		                        </div>
		                    </div>
		                    <div class="col-xs-12 reduce-padding">
			                    <div class="col-xs-12 reduce-padding search-row text-align-center">
			                        <div class="col-xs-2 reduce-padding">
			                            <input class="input-field-border" type="text" ng-model="search.documentType"></input>
			                        </div>
			                    </div>
			                    <div class="col-xs-12 reduce-padding report-row" ng-repeat="document in item.documents | filter:search | orderBy:propertyName:reverse">
			                        <div class="col-xs-2 reduce-padding text-align-center">
			                            {{document.documentType}}
			                        </div>
			                        <div class="col-xs-2 reduce-padding text-align-center">
			                            {{document.code}}
			                        </div>
			                        <div class="col-xs-2 reduce-padding text-align-center">
			                            {{document.created | date: 'dd/MM/yyyy'}}
			                        </div>
			                        <div class="col-xs-2 reduce-padding text-align-center">
			                            {{document.inquantity}}
			                        </div>
			                        <div class="col-xs-2 reduce-padding text-align-center">
			                            {{document.outquantity}}
			                        </div>
			                        <div class="col-xs-2 reduce-padding text-align-center">
			                            {{document.balance}}
			                        </div>
			                    </div>
		                    </div>
		                </div>
                    </div>
                    <!--div class="col-lg-4">
                        <h5>SELECT INVENTORY</h5>
                        <hr>
                        <div class="col-xs-12" ng-show="!showTable">
                            <label class="form-control-label">No inventory found.</label>
                        </div>
                        <div class="col-xs-12 background-dynamic-grid-np reduce-padding" ng-show="showTable">
                            <picklist-simple-pagination headings-to-add="headingsInventory" height="250" rows-to-add="inventoryToShow" prefix="'prefix'" multiselect="'single'" callbackfn="callbackfn(arg1)" searchdata="searchMedicines(keyword)" loadmore="loadMoreItems()">
                        </div>
                    </div-->
                </div>
            </form>
        </div>
    </div>
</section>