<section data-ng-controller="InventoriesPricingController">
    <div class="purchase-requisition-list" ng-show="showSupplierList">
        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="showSupplierList = false">Close</button>
        </div>
        <div ng-show="showSupplierList">
            <dynamic-grid columns-to-add="supplierColumns" datafortable="suppliers" callbackfn="selectSupplier(arg1)"  columnsizefortable="200"></dynamic-grid>
        </div>
    </div>
    <div class="panel inventories-pricing">
        <!-- <div class="panel-heading">
            <h3>Inventory Pricing</h3>
        </div> -->
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/main-page">Home</a></li>
            <li ng-hide="UpdateItem"  class="active-page"><a href="#">Inventory Pricing</a></li>
        </ul>
        <div class="panel-body">
            <form name="formPricing" class="form-horizontal" novalidate>
                <div class="col-lg-12">
                    <div class="col-lg-12 reduce-padding">
                        <div class="col-lg-6">
                            <h5>PRICE DETAILS</h5>
                            <hr>
                            <br/>
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Pricing Category
                                    </label>
                                    <br>
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-default-outline" ng-click="pricingType = 'sale'" ng-class="{ 'active' : pricingType == 'sale'}">
                                            Sale  
                                        </label>
                                        <label class="btn btn-default-outline" ng-click="pricingType = 'purchase'" ng-class="{ 'active' : pricingType == 'purchase'}">
                                            Purchase
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div>
                                    <div class="col-xs-12 reduce-padding">
                                        <label class="form-control-label">Date of Transaction</label>
                                    </div>
                                    <input type="date" name="dt" required="" class="form-control" ng-model="dt">
                                    <span class="error" ng-show="formPricing.dt.$touched && formPricing.dt.$error.required">Please fill this field</span>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Source
                                    </label>
                                    <br>
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-default-outline" ng-click="sourceType = 'customer'" ng-class="{ 'active' : sourceType == 'customer'}">
                                            Customer  
                                        </label>
                                        <label class="btn btn-default-outline" ng-click="sourceType = 'supplier'" ng-class="{ 'active' : sourceType == 'supplier'}">
                                            Supplier
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- Suppliers list -->
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Source
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <div class="selected-picklist" ng-show="selectedSupplier!==undefined">
                                           Selected Supplier : {{selectedSupplier.description}}
                                        </div>
                                        <button type="button" name="suplliers" class="btn" ng-click="showSupplierList=!showSupplierList">Open Source List</button>
                                        <span class="error" ng-show="formPricing.$submitted && selectedSupplier===undefined">Please select Supplier</span>
                                    </div>
                                     
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Discount
                                    </label>
                                    <br>
                                    <div class="col-xs-8 reduce-padding">
                                        <input type="number" min="0" name="discountAmount" class="form-control" ng-model="pricing.discountAmount" ng-show="discountType == 'amount'" required="">
                                        <input type="number" name="discountAmount" class="form-control" ng-model="pricing.discountAmount" min="0" max="100" ng-show="discountType == 'percent'" required="">
                                        <span class="error" ng-show="formPricing.discountAmount.$touched && formPricing.discountAmount.$error.required">Please fill this field</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default-outline" ng-click="discountType = 'percent'" ng-class="{ 'active' : discountType == 'percent'}">
                                                %  
                                            </label>
                                            <label class="btn btn-default-outline" ng-click="discountType = 'amount'" ng-class="{ 'active' : discountType == 'amount'}">
                                                Rs.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div>
                                    <div class="col-xs-12 reduce-padding">
                                        <label class="form-control-label">Selling Price</label>
                                    </div>
                                    <div class="col-xs-8 reduce-padding">
                                        <input name="sellingPrice" type="number" class="form-control" ng-model="pricing.sellingPrice" required="">
                                        <span class="error" ng-show="formPricing.sellingPrice.$touched && formPricing.sellingPrice.$error.required">Please fill this field</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <btn class="btn btn-default disabled">
                                            {{selling_unit}}
                                        </btn>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div>
                                    <div class="col-xs-12 reduce-padding">
                                        <label class="form-control-label">Purchase Price</label>
                                    </div>
                                    <div class="col-xs-8 reduce-padding">
                                        <input name="purchasingPrice" type="number" class="form-control" ng-model="pricing.purchasingPrice" required="">
                                        <span class="error" ng-show="formPricing.purchasingPrice.$touched && formPricing.purchasingPrice.$error.required">Please fill this field</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <btn class="btn btn-default disabled">
                                            {{purchase_unit}}
                                        </btn>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div>
                                    <div class="col-xs-12 reduce-padding">
                                        <label class="form-control-label">Retail Price</label>
                                    </div>
                                    <div class="col-xs-8 reduce-padding">
                                        <input name="retailPrice" type="number" class="form-control" ng-model="pricing.retailPrice" required="">
                                        <span class="error" ng-show="formPricing.retailPrice.$touched && formPricing.retailPrice.$error.required">Please fill this field</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <btn class="btn btn-default disabled">
                                            {{purchase_unit}}
                                        </btn>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div>
                                    <div class="col-xs-12 reduce-padding">
                                        <label class="form-control-label">Effective Date</label>
                                    </div>
                                    <input type="date" name="ed" required="" class="form-control" ng-model="ed">
                                    <span class="error" ng-show="formPricing.ed.$touched && formPricing.ed.$error.required">Please fill this field</span>
                                </div>
                            </div>                  
                        </div>  
                    </div>
                    <div class="col-lg-12">
                        <hr class="hr-inventory">
                        <div>
                            <div class="col-xs-12">
                                <button class="btn btn-primary" ng-click="reset_pricing(formPricing)">Clear</button>
                                <button type="submit" class="btn btn-success" ng-click="submit_pricing(pricing, formPricing)" ng-disabled="formPricing.discountAmount.$error.required || formPricing.sellingPrice.$error.required || formPricing.purchasingPrice.$error.required || formPricing.retailPrice.$error.required">Save</button>
                                <span class="error" ng-show="formPricing.discountAmount.$touched && formPricing.discountAmount.$error.required || formPricing.sellingPrice.$touched && formPricing.sellingPrice.$error.required || formPricing.purchasingPrice.$touched && formPricing.purchasingPrice.$error.required || formPricing.retailPrice.$touched && formPricing.retailPrice.$error.required">Please fill remaining fields</span>
                            </div>
                        </div>
                    </div>
                </div> 
            </form>
        </div>
    </div>
</section>