<section data-ng-controller="InventoriesStockController">
    <dynamic-grid columns-to-add="columnsToshow" datafortable="samplejson" callbackfn="callbackfn(arg1)" columnsizefortable="columnSize" ng-show="showGrid"></dynamic-grid>

    <div class="form-group row"> 
        <div class="col-md-8">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="searchKeyword" placeholder="Search Stock..." ng-enter="getItems()">
                <span class="input-group-btn" ng-click="getItems()">
                    <a href="javascript: void(0);" ng-click="getItems()" class="btn btn-success">
                        Search Items
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="panel inventories-pricing" ng-class="{'blur': showGrid}" ng-click="hide_directive()">
        <!-- <div class="panel-heading">
            <h3></h3>
        </div> -->
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/main-page">Home</a></li>
            <li ng-hide="UpdateItem"  class="active-page"><a href="#">Inventory Stock</a></li>
        </ul>
        <div class="panel-body">
            <form name="formStock" class="form-horizontal" novalidate>
                <div class="col-lg-12">
                    <div class="col-lg-12 reduce-padding">
                        <div class="col-lg-6">
                            <h5>STOCK DETAILS</h5>
                            <hr>
                            <br />
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Inventory ID
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="text" name="id" class="form-control" ng-model="stock.id" required="">
                                        <span class="error" ng-show="formStock.id.$touched && formStock.id.$error.required">Please fill this field</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Batch
                                    </label>
                                    <br>
                                    <div class="col-xs-10 reduce-padding">
                                        <div data-ng-repeat="batch in batch">
                                        	<div class="col-xs-10 reduce-padding">
	                                            <div class="col-xs-12 reduce-padding">
	                                                <input type="text" class="form-control" ng-model="batch.batchID" name="batchID" placeholder="Batch ID" required="">
	                                                <span class="error" ng-show="formStock.batchID.$touched && formStock.batchID.$error.required">Please fill this field</span>
	                                            </div>
	                                            <div class="col-xs-12 reduce-padding">
	                                                <input type="text" class="form-control" ng-model="batch.quantity" name="quantity" placeholder="Quantity" required="">
	                                                <span class="error" ng-show="formStock.quantity.$touched && formStock.quantity.$error.required">Please fill this field</span>
	                                            </div>
                                        	</div>
                                            <div class="col-xs-2">
                                                <button class="btn btn-default" ng-click="removeBatch($index)" ><i class="fa fa-trash"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 reduce-padding">
                                        <button class="btn btn-default" ng-click="addBatch()">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="col-lg-12">
                        <hr class="hr-inventory">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <button class="btn btn-primary" ng-click="reset_stock(formStock)">Clear</button>
                                <button type="submit" class="btn btn-success" ng-click="submit_stock(stock, formStock)" ng-disabled="formStock.id.$error.required" ng-hide="UpdateItem">Save</button>
                                <button type="submit" class="btn btn-success" ng-click="update_stock(stock, formStock)" ng-disabled="formStock.id.$error.required" ng-show="UpdateItem">Update</button>
                                <button type="submit" class="btn btn-danger" ng-click="delete_stock(formStock)" ng-show="UpdateItem">Delete</button>
                                <span class="error" ng-show="formStock.id.$touched && formStock.id.$error.required">Please fill remaining fields</span>
                                <span class="error" ng-show="batch.length == 0">Please enter batch details</span>
                            </div>
                        </div>
                    </div>
                </div> 
            </form>
        </div>
    </div>
</section>