<section data-ng-controller="InventoriesUnitController">
    <div class="panel inventories-pricing">
        <!-- <div class="panel-heading">
            <h3>Add/Edit Units</h3>
        </div> -->
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Units</a></li>
        </ul>
        <div class="panel-body">
            <form name="formUnit" class="form-horizontal" novalidate>
                <div class="col-xs-12 reduce-padding">
                    <div class="col-lg-6">
                        <h5>UNIT DETAILS</h5>
                        <hr>
                        <br />
                        <div class="col-xs-9 reduce-padding">
                            <label class="form-control-label">
                                Description
                            </label>
                            <br>
                            <div class="col-xs-9 reduce-padding">
                                <input type="text" name="description" class="form-control" ng-model="unit.description" required="">
                                <span class="error" ng-show="formUnit.description.$touched && formUnit.description.$error.required">Please fill this field</span>
                            </div>
                        </div>
                        <div class="col-xs-9 reduce-padding">
                            <label class="form-control-label">
                                    Default Option
                            </label>
                            <br>
                            <div class="col-xs-9 reduce-padding">
                                <select class="form-control" ng-model="defaultOption" required="">
                                    <option ng-selected="defaultOption" value="true">Yes</option>
                                    <option ng-selected="!defaultOption" value="false">No</option>
                                </select>
                            </div>
                            <hr class="hr-padding hr-full">
                        </div>
                        <div class="col-xs-12 reduce-padding error" ng-show="formUnit.description.$touched && formUnit.description.$error.required">
                            Please fill remaining fields
                        </div>
                        <div class="col-xs-12 reduce-padding">
                            <button type="button" class="btn btn-lg btn-danger" ng-click="delete_unit()" ng-show="UpdateItem">Delete</button>
                            <button type="button" class="btn btn-lg btn-primary" ng-click="reset_unit(formUnit)">Clear</button>
                            <button type="button" class="btn btn-lg btn-success" ng-click="update_unit(unit, formUnit)" ng-disabled="formUnit.description.$error.required" ng-show="UpdateItem">Update</button>
                            <button type="button" class="btn btn-lg btn-success" ng-click="submit_unit(unit, formUnit)" ng-disabled="formUnit.description.$error.required" ng-hide="UpdateItem">Save</button>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h5>UPDATE EXISTING UNITS</h5>
                        <hr>
                        <div class="col-xs-12" ng-show="!showTable">
                            <label class="form-control-label">No units found.</label>
                        </div>
                        <div class="col-xs-12 background-dynamic-grid-np reduce-padding" ng-show="showTable">
                            <picklist-simple headings-to-add="headings" height="250" rows-to-add="unitsToShow" prefix="prefix" multiselect="'single'" callbackfn="callbackfn(arg1)" title="'Select Unit'">
                        </div>
                    </div>
                    <div class="col-xs-12 form-group">
                        <div ng-class="confirmationPopup">
                            <div class="arrow-up"></div>
                            <div class="gray-container">
                                <b>Are you sure?</b><br>
                                This unit will be deleted permanently.<br><br>
                                <button class="btn btn-neutral" ng-click="hide_delete_popup()">Cancel</button>&nbsp;&nbsp;<button class="btn btn-danger" ng-click="confirm_delete_popup(formUnit)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div> 
            </form>
        </div>
    </div>
</section>