<head>
<meta charset="utf-8"/>

<style>
	.mw-100 {
		min-width: 70px;
	}

	.table-width {
		width: 100%;
	}

	.table-head {
		background-color: lightgray;
		border-bottom: 2px solid darkgray;
		height: 35px;
		font-size: 12px;
	}

	.order-table-head-row {
		border-bottom: 1px solid lightgray;
		font-size: 12px;
		font-weight: bold;
	}

	.text-center {
		text-align: center;
	}

	.ng-hide {
		display: none;
	}

	.col-pad {
		padding: 0 10px;
		border-right: 1px solid #fff;
	}

	.order-table-row {
		border-bottom: 1px solid lightgray;
		height: 35px;
		font-size: 12px;
	}
</style>
</head>
<div style="height:100px;font-family:'helvetica'">
    <div style="float: left;">
        <img src="{{hospitallogo}}" height="100px" style="margin-right:20px;"/>
    </div>
    <div style="float: left;">
        <h1 style="text-align: left;margin-top:0;">Item Ledger Report</h1>
		<p>{{date}} {{time}}</p>
    </div>
</div>
<div style="margin-top:20px;font-family:'helvetica'">
	<table style="font-size:14px" class="table-width">
			<thead>
				<tr>
					<th>Code</th>
					<th class="text-center">Description</th>
					<th class="text-center">From Date</th>
					<th class="text-center">To Date</th>
					<th class="text-center">Opening Balance</th>
				</tr>
			</thead>
			<tbody>
			<tr>
				<td class="text-center">{{itemledger.code}}</td>
				<td class="text-center">{{itemledger.description}}</td>
				<td class="text-center">{{fromdate}}</td>
				<td class="text-center">{{todate}}</td>
				<td class="text-center">{{openingBalance}}</td>
			</tr>
	</table>
</div>
<div style="margin-top:30px;font-size: 18px;width:700px;font-family:'helvetica'">
    <div>
        <table class="table-width">
			<thead class="table-head">
				<tr>
					<th class="order-table-row column-padding-1 col-pad mw-100">Document</th>
					<th class="text-center col-pad mw-100">Document Number</th>
					<th class="text-center col-pad mw-100">Date</th>
					<th class="text-center col-pad mw-100">IN</th>
					<th class="text-center col-pad mw-100">OUT</th>
					<th class="text-center col-pad mw-100">Balance</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in itemledger.documents">
					<td class="text-center order-table-row mw-100">{{item.documentType}}</td>
					<td class="text-center order-table-row mw-100">{{item.code}}</td>
					<td class="text-center order-table-row mw-100">{{item.created | date:"DD-MM-YYYY"}}</td>
					<td class="text-center order-table-row mw-100">{{item.inquantity}}</td>
					<td class="text-center order-table-row mw-100">{{item.outquantity}}</td>
					<td class="text-center order-table-row mw-100">{{item.balance}}</td>

				</tr>
			</tbody>
        </table>
    </div>
</div>
