<section data-ng-controller="InventoriesController" data-ng-init="find()">
    <!-- <div class="page-header">
        <h1>Inventories</h1>
    </div> -->
    <ul class="list-unstyled breadcrumb">
        <li><a href="/#!/main-page">Home</a></li>
        <li ng-hide="UpdateItem"  class="active-page"><a href="#">Inventories</a></li>
    </ul>
    <div class="list-group">
        <a data-ng-repeat="inventory in inventories" data-ng-href="#!/inventories/{{inventory._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="inventory.created | date:'medium'"></span>
				by
				<span data-ng-bind="inventory.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="inventory.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!inventories.$resolved || inventories.length">
    	No Inventories yet, why don't you <a href="/#!/inventories/create">create one</a>?
    </div>
</section>