<section class="purchase-order"  id="headerid" data-ng-controller="purchaseOrderController">
    <div class="purchase-requisition-list" ng-show="showGrid || showSupplierList">
        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="showGrid=false;showSupplierList=false;"></button>
        </div>
        <div class="col-xs-offset-1 col-xs-10" ng-show="showGrid">
            <picklist-simple headings-to-add="headingsPO" height="350" rows-to-add="PO" prefix="prefixPO" multiselect="'single'" callbackfn="callbackfn(arg1)" title="'Select Purchase Order'">
        </div>
        <div class="col-xs-offset-1 col-xs-10" ng-show="showSupplierList">
            <picklist-simple headings-to-add="headingsSuppliers" height="350" rows-to-add="suppliersToShow" prefix="prefixSuppliers" multiselect="'single'" callbackfn="selectSupplier(arg1)" title="'Select Supplier'">
        </div>
    </div>
    <div class="purchase-requisition-list" ng-show="showPurchaseRequisitions">
        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="showPurchaseRequisitions = false;"></button>
        </div>
        <div class="col-xs-offset-1 col-xs-10 background-dynamic-grid-np reduce-padding" ng-show="showPurchaseRequisitions">
            <picklist-expandable headings-to-add="headingsPR" rows-to-add="PR" prefix="prefixPR" expandable-headings-to-add="expandableHeadingsPR" height="350" expandable-heading="expandableHeadingPR" callbackfn="selectedItems(arg1)" title="'Select Medicines from Purchase Requisitions'">
        </div>
    </div>
    <div class="purchase-requisition-list" ng-show="showAllItems">
        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="showAllItems = false;"></button>
        </div>
        <div class="col-xs-offset-1 col-xs-10 background-dynamic-grid-np reduce-padding" ng-show="showAllItems">
            <picklist-simple-pagination headings-to-add="headingsMedicines" height="350" rows-to-add="allItems" prefix="prefix" multiselect="'multiple'" callbackfn="populateList(arg1)" loadmore="loadMoreItems()" searchdata="searchMedicines(keyword)" title="'Select Medicines'">
        </div>
    </div>
    <div class="panel purchase-requisition" ng-class="{'blur': showGrid}" ng-click="hide_directive()">
        <!-- <div class="panel-heading">
            <h3>Purchase Order</h3>
        </div> -->
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Purchase Order</a></li>
        </ul>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default-outline" ng-click="mode = 'Basic'" ng-class="{ 'active' : mode == 'Basic'}">
                Basic  
            </label>
            <label class="btn btn-default-outline" ng-click="mode = 'Advanced'" ng-class="{ 'active' : mode == 'Advanced'}">
                Advanced
            </label>
        </div>
        <div class="col-lg-6 float-right search-block-field reduce-padding">
            <div class="form-input-icon form-input-icon-right">
                <i class="icmn-search"></i>
                <input type="text" class="form-control form-control-sm form-control-rounded search-container-field-height" ng-model="searchOrderKeyword" placeholder="Search by Purchase Order Number..." ng-enter="getPendingPurchaseOrders()">
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                <button type="button" class="search-block-submit" ng-click="getPendingPurchaseOrders()"></button>
            </div>
        </div>
        <div class="panel-body">
            <form name="formPurchaseOrder" class="form-horizontal" novalidate>
                <div class="col-xs-12">
                    <div class="col-xs-12 reduce-padding">
                        <div ng-show="UpdateItem">
                            <h5>Update Purchase Order</h5>
                            <hr>
                        </div>
                        <div ng-hide="UpdateItem">
                            <h5>New Purchase Order</h5>
                            <hr>
                        </div>
                        <div class="col-xs-4"> 
                            
                            
                            <div class="col-xs-9" ng-hide="purchaseOrder.purchaseOrderNumber === ''">
                                <div>
                                    <label class="form-control-label">
                                        Document Number
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="text" name="purchaseOrderNumber" class="form-control" ng-model="purchaseOrder.purchaseOrderNumber" disabled="true">
                                    </div>
                                </div>
                            </div> 
                            
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Document Category
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <select name="transcationCategories" class="form-control" ng-model="purchaseOrder.transcationCategory" required="">
                                            <option ng-repeat="category in transcationCategories" ng-value="category.purchaseType">{{category.purchaseType}}</option>
                                        </select>
                                        <span class="error" ng-show="formPurchaseOrder.$submitted && formPurchaseOrder.transcationCategories.$error.required">Please select this field</span>
                                    </div>
                                </div>
                            </div>  
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Document Mode
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <select name="request" class="form-control" ng-model="purchaseOrder.request" ng-change="itemsList = [];itemsQty = false;" required="">
                                            <option value="Direct">Direct</option>
                                            <option value="Purchase Requisition">Purchase Requisition</option>
                                        </select>
                                        <span class="error" ng-show="formPurchaseOrder.$submitted && formPurchaseOrder.request.$error.required">Please select this field</span>
                                    </div>
                                </div>
                            </div>   
							<div class="col-xs-9">
							<div class="checkbox" style="padding-top:10px">
								<label class="form-control-label" style="font-weight:600">
									<input type="checkbox" name="suppliermed" checked="" ng-model="addallmed">
									Add All Supplier medicine
								</label>
							</div>	
							</div>
                        </div>

                        <div class="col-xs-4">
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Date
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="date" name="date" class="form-control" ng-model="purchaseOrder.date" required="">
                                    </div>
                                    <span class="error" ng-show="formPurchaseOrder.date.$touched && formPurchaseOrder.date.$error.required">Please fill this field</span>
                                </div>
                            </div>
                            
                            
                            <div class="col-xs-9" ng-show="mode=='Advanced'">
                                <div>
                                    <label class="form-control-label">
                                        Remarks<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <textarea type="text" name="remarks" class="form-control" ng-model="purchaseOrder.remarks"></textarea>
                                
                                    </div>
                                </div>
                            </div> 
                        </div>

                        <div class="col-xs-4" ng-show="mode=='Advanced'">
                            <!-- Suppliers list -->
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Supplier<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="text" name="suppliers" placeholder="Select Supplier" class="form-control" ng-model="selectedSupplier.description" ng-click="openSupplierList()">
                                    </div>
                                     
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Payment Mode<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <select class="form-control" ng-init="purchaseOrder.paymentMode='Cash'" ng-model="purchaseOrder.paymentMode">
										<option value="Cash" ng-selected="!purchaseOrder.paymentMode || purchaseOrder.paymentMode =='Cash'">Cash</option>
										<option value="Credit">Credit</option>
										
									</select>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Supplier Quotation No<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="number" name="supplierQuotationNo" class="form-control" ng-model="purchaseOrder.supplierQuotationNo">
                                    </div>
                                </div>
                            </div> 							
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Supplier Quotation Date<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="date" name="supplierQuotationDate" class="form-control" ng-model="purchaseOrder.supplierQuotationDate">
                            
                                    </div>
                                </div>
                            </div> 
                        </div>

                        <div>
                            <hr>
                            <div class="col-xs-9" ng-show="purchaseOrder.request==='Direct'">
                                <div class="col-xs-4 items-search-container">
                                    <label class="form-control-label">
                                        Add Items to Purchase Order
                                    </label>
                                    <div class="search-block">
                                        <div class="form-input-icon form-input-icon-right">
                                            <input type="text" class="form-control form-control-sm search-container-height" ng-model="searchKeyword" placeholder="Search items..." typeahead="item.description for item in itemsSearchTypeahead($viewValue)" typeahead-loading="loadingLocations" typeahead-on-select="selectedSearchItem($item)" class="form-control">
                                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                            <!-- <input type="text" class="form-control form-control-sm form-control-rounded search-container-height" placeholder="Search..." ng-model="searchKeyword" > -->
                                            <button type="button" class="items-search-btn" ng-click="openItemsList()" ng-disabled="processing"><i ng-hide="processing" class="fa fa-search"></i>
                                                <div class="centerForDemo" ng-show="processing">
                                                    <div class="loadingSpinner">
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                        <span class="error" ng-show="formPurchaseOrder.$submitted && itemsList.length == '0'">Please select some items</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-9" ng-show="purchaseOrder.request==='Purchase Requisition'">
                                <div class="col-xs-4">
                                    <label class="form-control-label">
                                        Show Requistion Requests
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <button type="button" name="date" class="btn" ng-click="openPurchaseRequisitions()" >Open List</button>
                                        <span class="error" ng-show="formPurchaseOrder.$submitted && itemsList.length == '0'">Please select some items</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12" ng-hide="itemsList.length == '0'">
                            <label class="form-control-label">
                                Items for Purcshase Order
                            </label>
                            <div class="table-properties" >
                              <table class="table-width" >
                                <thead class="table-head">
                                  <tr class="order-table-head-row">
                                    <td class="order-table-row column-padding-1 col-pad">Medicine Name</td>
                                    <td class="text-center col-pad">Qty</td>
                                    <td class="text-center col-pad">Rate</td>
                                    <td class="text-center col-pad">Value</td>
                                    <td class="text-center col-pad">Discount</td>
                                    <td class="text-center col-pad">Total Discount</td>
                                    <td class="text-center col-pad">Sales Tax</td>
                                    <td class="text-center col-pad">Total Tax</td>
                                    <td class="text-center col-pad">Net Value</td>
                                    <td class="text-center col-pad"></td>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr tabindex="{{$index}}" ng-repeat="med in itemsList">
                                    <td class="order-table-row column-padding-1">{{med.description}}</td>
                                    <td class="text-center order-table-row">
                                      <input class="form-control grid-input-height number-input-width auto-margin" type="Number" ng-model="med.quantity" min="0" ng-change="calculate_total_net_amount()"  ng-pattern="/^[0-9]+(\.{0})?$/">
                                    </td>
                                    <td class="text-center order-table-row">
                                      <input class="form-control grid-input-height number-input-width auto-margin" type="Number" ng-model="med.rate" min="0" ng-change="calculate_total_net_amount()"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                                    </td>
                                    <td class="text-center order-table-row">
                                        <div class="table-text-box" ng-hide="med.quantity===undefined || med.rate===undefined">
                                            {{(med.quantity*med.rate).toFixed(2)}}
                                        </div>
                                        <div class="table-text-box" ng-show="med.quantity===undefined || med.rate===undefined">
                                            0
                                        </div>
                                    </td>
                                    <td class="text-center order-table-row">
                                        <div class="auto-margin input-n-dropdown">
                                            <input class="form-control grid-input-height number-input-width auto-margin left-align" 
                                                type="Number" 
                                                ng-model="med.discount" 
                                                min="0" 
                                                max="100"
                                                ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"
                                                ng-change="calculate_total_net_amount()"  
                                                ng-if="med.discountType==='perc'"/>
                                            <input class="form-control grid-input-height number-input-width auto-margin  left-align" 
                                                type="Number" 
                                                ng-model="med.discount" 
                                                min="0"
                                                ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"
                                                ng-change="calculate_total_net_amount()"  
                                                ng-if="med.discountType==='lumsum' || med.discountType==='PerItem' ">
                                            <select class="form-control number-input-width grid-input-height" ng-model="med.discountType" ng-change="calculate_total_net_amount()" required="">
                                                <option value="PerItem">Per Item</option>
                                                <option value="perc">%</option>
                                                <option value="lumsum">lump sum</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td class="text-center order-table-row">
                                        <div class="table-text-box" ng-show="med.discountType==='PerItem' && (med.quantity!==undefined || med.discount!==undefined)" ng-show="">
                                                    {{(med.quantity*med.discount).toFixed(2)}}
                                        </div>
                                        <div class="table-text-box"  ng-show="med.discountType==='perc' && med.rate!==undefined && med.discount!==undefined && med.quantity!==undefined">
                                            {{((med.quantity*med.rate)*(med.discount/100)).toFixed(2)}}
                                        </div>
                                        <div class="table-text-box" ng-show="med.discountType==='lumsum' && med.discount!==undefined">
                                            {{med.discount}}
                                        </div>
                                    </td>
                                    <td class="text-center order-table-row">
                                        <div class="auto-margin input-n-dropdown">
                                            <input class="form-control grid-input-height number-input-width auto-margin left-align" type="Number" 
                                            ng-model="med.saleTax"
                                            min="0"
                                            max="100"
                                            ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                                            step="0.01"
                                            ng-change="calculate_total_net_amount()" 
                                            ng-if="med.taxType==='perc'">
                                            <input class="form-control grid-input-height number-input-width auto-margin left-align" type="Number" 
                                            ng-model="med.saleTax"
                                            min="0"
                                            ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" 
                                            step="0.01" 
                                            ng-change="calculate_total_net_amount()" 
                                            ng-if="med.taxType==='lumsum'">
                                            <select class="form-control number-input-width grid-input-height left-align" ng-model="med.taxType" ng-change="calculate_total_net_amount()" required="">
                                                <option value="perc">%</option>
                                                <option value="lumsum">lump sum</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td class="text-center order-table-row">
                                        <span ng-show="med.taxType==='perc' && med.quantity !== undefined && med.rate!== undefined && med.saleTax !== undefined">
                                            <div class="table-text-box">
                                                {{((med.quantity*med.rate)*(med.saleTax/100)).toFixed(2)}}
                                            </div>
                                        </span>
                                        <span ng-show="med.taxType==='lumsum' && med.saleTax !== undefined">
                                            <div class="table-text-box">
                                                {{med.saleTax.toFixed(2)}}
                                            </div>
                                        </span>
                                    </td>
                                    <td class="text-center order-table-row">
                                      <span ng-hide="med.netValue==='NaN'">{{med.netValue}}</span>
                                    </td>
                                    <td class="text-center order-table-row">
                                      <button  type="button" class="close-btn btn-danger" ng-click="remove_medicine($index)" ><i class="fa fa-trash"></i></button>
                                      <!-- <img class="close-img" src="img/close_btn.png" width="20px" height="20px" tabindex="1"> -->
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <span class="error" ng-show="itemsQty">Please Enter Quantity and Rate for Items</span>
                            </div> 
                        </div>
                        <div class="col-xs-12" ng-hide="itemsList.length == '0'">
                            <div class="grand-total">
                                <br>
                                <span><b>Grand Total </b></span>  Rs. {{totalAmount}} 
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12">

                        <hr class="hr-inventory hr-full">
                        <div class="form-group">
                            <div class="col-xs-12">

                                <div ng-class="confirmationPopup">
                                    <div class="gray-container">
                                        <b>Are you sure?</b><br>
                                        This Purchase Order will be deleted permanently.<br><br>
                                        <button class="btn btn-neutral" ng-click="hide_delete_popup()">Cancel</button>&nbsp;&nbsp;<button class="btn btn-danger" ng-click="confirm_delete_popup(formPurchaseOrder)">Delete</button>
                                    </div>
                                    <div class="arrow-down-right"></div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <!-- <button type="button" class="btn btn-lg btn-success nav-btn" ng-click="update_purchase_order(purchaseOrder, formPurchaseOrder)" ng-disabled="itemsList.length == '0' || !formPurchaseOrder.$valid" ng-show="UpdateItem">
                                <span ng-hide="processing">Update</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button> -->
                                <button type="button" class="btn  btn-lg btn-success nav-btn" ng-click="submit_purchase_order(purchaseOrder, formPurchaseOrder,true)" ng-disabled="itemsList.length == '0' || !formPurchaseOrder.$valid || processing" ng-hide="UpdateItem">
                                    <span ng-hide="processing">Save and Email</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                <button type="button" class="btn  btn-lg btn-success nav-btn" ng-click="submit_purchase_order(purchaseOrder, formPurchaseOrder,false)" ng-disabled="itemsList.length == '0' || !formPurchaseOrder.$valid || processing" ng-hide="UpdateItem">
                                    <span ng-hide="processing">Save</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                <button type="button" ng-disabled="processing" class="btn btn-lg btn-primary nav-btn" ng-click="reset(formPurchaseOrder)">
                                    <span ng-hide="processing">Clear</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                <button type="button" ng-disabled="processing" class="btn btn-lg btn-danger nav-btn" ng-click="delete_purchase_order(formPurchaseOrder)" ng-show="UpdateItem">
                                    <span ng-hide="processing">Delete</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div> 

            </form>
        </div>
    </div>
</section>