<style>
body {
  background: rgb(204,204,204);
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}
</style>
<page size="A4" style="padding: 1.5cm; font-family:Arial, Helvetica, sans-serif;">
	<div style="margin : 20px 10px; bottom: 0; float: left; width: 774px;color:#ffffff;">
	<div style="float: left;">
		<img src="{{hospitallogo}}" style="width: 150px; margin-left: -18px;" alt="Ali Medical Logo"/>
	</div>
	<div style="width: 482px; float: left;text-align: center;color: #000000;">

			<h3 style="margin-bottom: 0px;">{{hospitalname}}</h3>
			<p style="font-weight: bold; font-size: 14px; margin-top: 30px; margin-bottom: 5px;">{{hospitalEmail}}</p>
			<h3 style="font-size: 24px; margin-top: 5px; margin-bottom: 20px;">Purchase Requisition</h3>
	</div>
	<div style="width: 160px; float: right;color:#000">
		<table style="width : 100%;font-size : 12px;  border-collapse: collapse; text-align: right;">
  		<col width="80">
			<tr style="border-collapse: collapse; font-weight: bold;">
				<td style="padding: 5px; border-collapse: collapse;">&nbsp;</td>
			</tr>
			<tr style="border-collapse: collapse; font-weight: bold;">
				<td style="padding: 5px; border-collapse: collapse;">Printing Date & Time</td>
			</tr>
			<tr style=" border-collapse: collapse; font-weight: bold;">
				<td style="padding: 5px; border-collapse: collapse;">{{printingDate}}</td>
			</tr>
		</table>
	</div>
	<div>
		<table style="width : 100%;font-size : 13px; border-collapse: collapse; margin-bottom:20px; text-align: left;line-height: 0.7;color:#000 ">
			<tr style="border-collapse: collapse;">
				<td style="padding: 5px; border-collapse: collapse;"><strong>PR. No:</strong> PR-{{printData.code}}</td>
				<td style="padding: 5px; border-collapse: collapse; text-align: right;"><strong>Date: {{createdDate}}</strong></td>
			</tr>
		</table>
	</div>
	<div style="color: #000000;">
			<p style="font-size: 12px;"><b>Subject:</b></p>
			<p style="font-size: 12px; line-height: 1.5;"><b>Req. for purchase of items</b><br/></p>
	</div>
	<div style="color: #000000;">
		<table style="width : 100%;font-size : 11px;  border: 1px solid #000000; border-collapse: collapse; text-align: center;">
			<tr style="border: 1px solid #000000; border-collapse: collapse; font-weight: bold;">
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">Sr.No</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">Code</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">Description</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">Req Qty</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">Req By</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">Est Delivery</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">Est Rate</td>
			</tr>
			<tr ng-repeat="item in printData.itemsList" style="border: 1px solid #000000; border-collapse: collapse;">
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;"><strong>{{$index+1}}</strong></td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">{{item.code}}</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">{{item.description}}</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">{{item.quantity}}</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">{{item.requestedBy}}</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">{{item.estDeliveryDate | date: 'dd-MM-yyyy'}}</td>
				<td style="padding: 5px; border: 1px solid #000000; border-collapse: collapse;">{{item.estRate}}</td>
			</tr>
		</table>
		<br/>
	</div>
		<div style="color: #000000;border-top: 2px solid #000000; width: 258px; margin-right:258px; float: left;margin-top: 40px;">
			<h4 style="text-align: center; margin-bottom: 0px; margin-top: 5px;">Requesting Officer</h4>
		</div>
		<div style="color: #000000;border-top: 2px solid #000000; width: 258px; float: right;margin-top: 40px;">
			<h4 style="text-align: center; margin-bottom: 0px; margin-top: 5px;">Chairman / CEO</h4>
		</div>
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		<div style="color: #000000; bottom: 20px; border-top: 2px solid #000000;  padding: 1rem; ">
			<p style="font-size: 12px;text-align: center; margin-top: 10px; line-height: 1.5;">
			<b>{{hospitalAddress}} PH: {{hospitalPHNumber}}</b><br/>
			<b>Fax: {{hospitalPHNumber}} Email: {{hospitalEmail}}</b><br/>
			Powered by: TALKHEALTH (HMIS)
			</p>
		</div>
	</div>
</page>
