<section class="purchase-return purchase-order"  id="headerid" data-ng-controller="purchaseReturnController">
    <div class="purchase-requisition-list" ng-show="showGRNs || showAllItems || showAllPurchaseReturns || showfromStoresList">
        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="showfromStoresList = false;showGRNs = false; showAllItems=false; showAllPurchaseReturns=false; "></button>
        </div>
		
        <div class="col-xs-offset-1 col-xs-10" ng-show="showfromStoresList">
            <picklist-simple headings-to-add="headingsStores" height="350" rows-to-add="storesToShow" prefix="prefixfromStore" multiselect="'single'" callbackfn="selectfromStore(arg1)" title="'Select Store'">
        </div>

        <div class="col-xs-offset-1 col-xs-10 reduce-padding" ng-show="showGRNs">
            <picklist-expandable headings-to-add="headingsGRN" rows-to-add="GRNs" prefix="prefixGRN" expandable-headings-to-add="expandableHeadingsGRN" height="350" expandable-heading="expandableHeadingGRN" callbackfn="selectedItems(arg1)" title="'Select Medicines from GRNs'">
        </div>

         <!--Purchase Returns PickList-->
        <div class="col-xs-offset-1 col-xs-10" ng-show="showAllPurchaseReturns">
            <picklist-simple headings-to-add="headingsPurchaseReturns" height="350" rows-to-add="allPurchaseReturns" prefix="prefix" multiselect="'single'" callbackfn="Purchase_Return_CallBack(arg1)" title="'Select Purchase Return'">
        </div>
        <!---->

        <div class="col-xs-offset-1 col-xs-10 background-dynamic-grid-np reduce-padding" ng-show="showAllItems">
            <picklist-simple-pagination headings-to-add="headingsMedicines" height="350" rows-to-add="allItems" prefix="prefix" multiselect="'multiple'" callbackfn="populateList(arg1)" title="'Select Medicines'" searchdata="searchMedicines(keyword)" loadmore="loadMoreItems()">
        </div>
    </div>
    <div class="panel purchase-requisition">
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Purchase Return</a></li>
        </ul>
        <div class="panel-body">
            <!--Search by Purchase Return-->
            <div class="col-lg-6 float-right search-block-field reduce-padding">
                <div class="form-input-icon form-input-icon-right">
                    <i class="icmn-search"></i>
                    <input type="text" class="form-control form-control-sm form-control-rounded search-container-field-height" ng-model="searchPurchaseReturnKeyword" placeholder="Search by Purchase Return Number..." ng-enter="get_purchase_return()">
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                    <button type="button" class="search-block-submit" ng-click="get_purchase_return()"></button>
                </div>
            </div>
            <!---->
            <form name="formPurchaseOrder" class="form-horizontal" novalidate>
                <div class="col-xs-12">
                    <div class="col-xs-12 reduce-padding">
                        <div>
                            <h5>Purchase Return</h5>
                            <hr>
                        </div>
                        <div class="col-xs-4"> 
                            <div class="col-xs-9" ng-hide="purchaseOrder.purchaseReturnNumber===''">
                                <div>
                                    <label class="form-control-label">
                                        Document Number
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="text" name="purchaseReturnNumber" class="form-control" ng-model="purchaseOrder.purchaseReturnNumber" disabled="true">
                                    </div>
                                </div>
                            </div> 
                            <div class="col-xs-9">
								<div>
                                    <label class="form-control-label">
                                        From Store
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="text" name="store" placeholder="Select from Store" class="form-control" ng-model="purchaseOrder.storeDescription" ng-click="openfromStoreList()" required>
                                    </div>
                                </div>
                                <div>
                                    <label class="form-control-label">
                                        Date
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="date" name="date" class="form-control" ng-model="purchaseOrder.date" required="">
                                        <span class="error" ng-show="formPurchaseOrder.$submitted  && formPurchaseOrder.date.$error.required">Please select this field</span>
                                    </div>
                                </div>
                            </div> 
                            <!-- <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Document Category
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <select name="transcationCategories" class="form-control" ng-model="purchaseOrder.transcationCategory" required="">
                                            <option ng-repeat="category in transcationCategories" ng-value="category.purchaseType">{{category.purchaseType}}</option>
                                        </select>
                                        <span class="error" ng-show="formPurchaseOrder.$submitted && formPurchaseOrder.transcationCategories.$error.required">Please select this field</span>
                                    </div>
                                </div>
                            </div>   -->                        
                        </div>

                        <div class="col-xs-4">
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Remarks<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <textarea type="text" name="remarks" class="form-control" ng-model="purchaseOrder.remarks"></textarea>
                                
                                    </div>
                                </div>
                            </div> 
                        </div>

                        <div class="col-xs-4" ng-show="mode=='Advanced'">
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Supplier Quotation No<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="text" name="supplierQuotationNo" class="form-control" ng-model="purchaseOrder.supplierQuotationNo">
                                        
                                    </div>
                                </div>
                            </div> 
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Supplier Quotation Date<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="date" name="supplierQuotationDate" class="form-control" ng-model="purchaseOrder.supplierQuotationDate">
                            
                                    </div>
                                </div>
                            </div> 
                        </div>

                        <div>
                            <hr>
                            <div class="col-xs-9" ng-show="purchaseOrder.request==='Direct'">
                                <div class="col-xs-5 items-search-container">
                                    <label class="form-control-label">
                                        Add Items for Return
                                    </label>
                                    <div class="search-block">
                                        <div class="form-input-icon form-input-icon-right">
                                            <input ng-disabled="btnDelshow" class="form-control form-control-sm search-container-height" id="namesearch" tabindex=1 type="text" ng-change="search_medicines_stock()" ng-model="name_search_keyword" placeholder="Name" ng-keydown="onKeydown(searched_medicines[searched_medicines.length + 1], $event)">
                                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                            <!-- <input type="text" class="form-control form-control-sm form-control-rounded search-container-height" placeholder="Search..." ng-model="searchKeyword" > -->
                                            <button type="button" class="items-search-btn" ng-click="openItemsList()" ng-disabled="processing"><i ng-hide="processing" class="fa fa-search"></i>
                                                <div class="centerForDemo" ng-show="processing">
                                                    <div class="loadingSpinner">
                                                    </div>
                                                </div>
                                            </button>
											<div class="search-result-container dropdown-height" ng-show="show_dropdown">
												<div class="search-heading">
													<div class="col-xs-8 reduce-padding">MEDICINES</div>
													<div class="col-xs-4 reduce-padding">IN STOCK</div>
												</div>
												<div class="results" ng-show="name_search_keyword!==''" tabindex="{{$index+4}}" ng-repeat="med in searched_medicines track by $index" ng-enter="add_search_medicine(med)" ng-click="add_search_medicine(med)" ng-keydown="onKeydown(med, $event)" ng-focus="onFocus(med)">
													<div class="col-xs-8 reduce-padding">{{med.description}}</div>
													<div class="col-xs-4 reduce-padding">{{med.totalstock}}</div>
												</div>
											</div>
                                        </div>
                                        <span class="error" ng-show="formStockTransfer.$submitted && itemsList.length == '0'">Please select some items</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-9" ng-show="purchaseOrder.request==='GRN'">
                                <div class="col-xs-4">
                                    <label class="form-control-label">
                                        Show GRN
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <button type="button" name="date" class="btn" ng-click="openGRNs()" >Open List</button>
                                        <span class="error" ng-show="formPurchaseOrder.$submitted && itemsList.length == '0'">Please select some items</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12" ng-hide="itemsList.length == '0'">
                            <label class="form-control-label">
                                Items for Return
                            </label>
                            <div class="table-properties" >
								<table class="table-width" >
									<thead class="tableHead">
										<tr class="order-table-head-row">
											<td class="order-table-row column-padding-1">Medicine Name</td>
											<td class="text-center col-pad">Code</td>
											<td class="text-center col-pad">Batch</td>
											<td class="text-center col-pad">Expiry</td>
											<td class="text-center col-pad">In Stock</td>
											<td class="text-center col-pad">Return Quantity</td>
											<td class="text-center col-pad">Rate</td>
											<td class="text-center col-pad">Net value</td>
											<td class="text-center col-pad"></td>
										</tr>
									</thead>
                                <tbody>
                                  <tr tabindex="{{$index}}" ng-repeat="med in itemsList">
                                    <td class="order-table-row column-padding-1">{{med.description}}</td>
									<td class="text-center order-table-row">
										{{med.code}}
									</td>
									<td ng-show="!btnDelshow" class="text-center order-table-row">
										<select class="form-control" ng-model="med.batchId"  ng-change="batch_selected($index, med.batchId)">
											<option ng-repeat="item in med.batches" ng-value="item.batch">{{item.batch}}</option>
										</select>
									</td>
									<td ng-show="btnDelshow" class="text-center order-table-row">
										{{med.batchId}}
									</td>
									<td class="text-center order-table-row">
										{{med.expiryDate | date: 'dd-MM-yyyy'}}
									</td>
									<td class="text-center order-table-row">
										{{med.availableQuantity}}
									</td>
                                    <td class="text-center order-table-row">
                                      <input class="form-control grid-input-height number-input-width auto-margin" type="Number" ng-disabled="btnDelshow" ng-model="med.quantity" min="1" ng-max="med.availableQuantity" ng-change="calculate_total_net_amount()">
                                    </td>
                                    <td class="text-center order-table-row">
                                      <input class="form-control grid-input-height number-input-width auto-margin" type="Number" ng-disabled="btnDelshow" ng-model="med.rate" min="0" ng-change="calculate_total_net_amount()">
                                    </td>
                                    <!--td class="text-center order-table-row">
                                      <input class="form-control grid-input-height date-input-width auto-margin" type="date" ng-model="med.expiryDate" ng-show="med.expiry_date_enabled===true">
                                      <span ng-show="med.expiry_date_enabled===false">Disabled</span>
                                    </td-->
                                    <td class="text-center order-table-row">
                                      <span ng-hide="med.netValue==='NaN'">{{med.netValue}}</span>
                                    </td>
                                    
                                    <td class="text-center order-table-row">
                                      <button  type="button" class="close-btn btn-danger" ng-click="remove_medicine($index)" ><i class="fa fa-trash"></i></button>
                                      <!-- <img class="close-img" src="img/close_btn.png" width="20px" height="20px" tabindex="1"> -->
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            <span class="error" ng-show="itemsQty">Please Enter Quantity and Rate for Items</span>
                            </div> 
                        </div>
                        <div class="col-xs-12" ng-hide="itemsList.length == '0'">
                            <div class="grand-total">
                                <br>
                                <span><b>Grand Total </b></span>  Rs. {{totalAmount}} 
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12">
                        <hr class="hr-inventory hr-full">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div ng-class="confirmationPopup">
                                    <div class="gray-container">
                                        <b>Are you sure?</b><br>
                                        This Purchase Return will be deleted permanently.<br><br>
                                        <button class="btn btn-neutral" ng-click="hide_delete_popup()">Cancel</button>&nbsp;&nbsp;<button class="btn btn-danger" ng-click="confirm_delete_popup(formPurchaseOrder)">Delete</button>
                                    </div>
                                    <div class="arrow-down-right"></div>
                                </div>
                            </div>						
                            <div class="col-xs-12">
                                <button type="button" ng-show="!btnDelshow" class="btn  btn-lg btn-success nav-btn" ng-click="handle_Submit_Request(purchaseOrder, formPurchaseOrder)" ng-disabled="itemsList.length == '0'">
                                    <span ng-hide="processing">{{btnType}}</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                <button ng-show="btnDelshow" type="button" style="background-color: #e74c3c; border-color: #c0392b" class="btn btn-lg btn-primary nav-btn" ng-click="delete()">
                                    <span ng-hide="processing">Delete</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                <button type="button" class="btn btn-lg btn-primary nav-btn" ng-click="reset(formPurchaseOrder)">
                                    <span ng-hide="processing">Clear</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div> 
            </form>
        </div>
    </div>
</section>