<h1 style="text-align: center;">Purchase Order Receipt</h1>
<div style="margin-top: 100px;">
    <table>
        <tr>
            <td>
                <span style="font-size: 14px;font-weight: bold;">Purchase Order Number : </span><br>
            </td>
            <td>
                <div>{{printData.purchaseOrderNumber}}</div>
                
            </td>
            <td></td>
            <td>
                <span style="padding-left: 20px;font-size: 14px;font-weight: bold;" ng-hide="printData.supplierQuotationNo===''">Supplier Quotation No : </span>

            </td>
            <td>
                <div ng-hide="printData.supplierQuotationNo===''">{{printData.supplierQuotationNo.substring(0,12)}}</div>
            </td>
        </tr>
        <tr>
            <td>
                <span style="font-size: 14px;font-weight: bold;">Purchase Order Date : </span>
            </td>
            <td>
                <div>{{printData.date.substring(0,10)}}</div>
                
            </td>
            <td></td>
            <td>
                <span style="font-size: 14px;font-weight: bold;padding-left: 20px;" ng-hide="printData.supplierQuotationNo===''">Supplier Quotation Date : </span>

            </td>
            <td>
                <div ng-hide="printData.supplierQuotationNo===''">{{printData.supplierQuotationDate.substring(0,10)}}</div>    
            </td>
        </tr>
    </table>
    <div style="margin-top: 5px;margin-bottom: 20px;" ng-hide="printData.remarks===''">
        <div style="margin-left: 2px;font-size: 14px;font-weight: bold;float:left;">Remarks : </div>
        <div style="margin-left: 20px;float: left;">{{printData.remarks}}</div>
    </div>
    
    <div>
        <table style="margin-top: 20px;text-align: center;width: 100%;width: 100%;">
            <tr>
                <th style="border: 1px solid #ccc;width: 100px;">Purchase Requisition No</th>
                <th style="border: 1px solid #ccc;">Code</th>
                <th style="border: 1px solid #ccc;">Description</th>
                <th style="border: 1px solid #ccc;">Remarks</th>
                <th style="border: 1px solid #ccc;">Qty</th>
                <th style="border: 1px solid #ccc;">Rate</th>
                <th style="border: 1px solid #ccc;">Discount</th>
                <th style="border: 1px solid #ccc;">Tax</th>  
                <th style="border: 1px solid #ccc;">Net Value</th>

            </tr>
            <tr ng-repeat="item in printData.itemsList" style="background-color: #efefef">
                <td style="padding-left: 5px;padding-right: 5px;">{{item.purchaseRequisitionCode}}</td>
                <td style="padding-left: 5px;padding-right: 5px;">{{item.code}}</td>
                <td style="padding-left: 5px;padding-right: 5px;">{{item.description.substring(0,10)}}</td>
                <td style="padding-left: 5px;padding-right: 5px;">{{item.remarks.substring(0,10)}}</td>
                <td style="padding-left: 5px;padding-right: 5px;">{{item.quantity}}</td>
                <td style="padding-left: 5px;padding-right: 5px;">{{item.rate}}</td>
                <td style="padding-left: 5px;padding-right: 5px;">
                    <span ng-show="item.discountType==='perc'">{{(item.discount).toFixed(2)}}%</span>
                    <span ng-show="item.discountType==='lumsum'">{{(item.discount).toFixed(2)}}(Rs)</span>
                    <span ng-show="item.discountType==='PerItem'">{{(item.discount*item.quantity).toFixed(2)}}(Rs)</span>
                </td>
                <td style="padding-left: 5px;padding-right: 5px;">{{(item.saleTax).toFixed(2)}}
                    <span ng-show="item.taxType==='perc'">%</span>
                    <span ng-show="item.taxType==='lumsum'">(Rs)</span></td>
                <td style="padding-left: 5px;padding-right: 5px;">{{item.netValue}}</td>
            </tr>
        </table>
        <div style="border-top: 1px solid #ccc;font-size: 16px;padding: 15px;text-align: right;">
            <span style="font-size: 14px;font-weight: bold;">Total Rs.</span> {{printData.total}}
        </div>
        <div style="margin-top: 40px;height: 40px;">
            <div style="border-top: 1px solid #000;width: 138px;padding: 5px 10px;float: right;">Authorized Signature</span>
        </div>
    </div>
</div>

<div style="bottom: 0;position: absolute;text-align: center;margin-left: -102px;left: 50%;">Powered by www.talkhealth.me</div>