<section class="purchase-order"  id="headerid" data-ng-controller="stockTransferController">

    <div class="purchase-requisition-list" ng-show=" showtoStoresList || showfromStoresList || showItemsList || showGrid">
        <div>
            <div class="btn btn-xs popup-close-btn float-right" ng-click="showfromStoresList = false;showtoStoresList = false;showGrid = false">
                
            </div>
            <!-- <button type="button"  ><i class="fa fa-close"></i></button> -->
        </div>
		
        <div class="col-xs-offset-1 col-xs-10" ng-show="showfromStoresList">
            <picklist-simple headings-to-add="headingsStores" height="350" rows-to-add="storesToShow" prefix="prefixfromStore" multiselect="'single'" callbackfn="selectfromStore(arg1)" title="'Select Store'">
        </div>

        <div class="col-xs-offset-1 col-xs-10" ng-show="showtoStoresList">
            <picklist-simple headings-to-add="headingsStores" height="350" rows-to-add="storesToShow" prefix="prefixtoStore" multiselect="'single'" callbackfn="selecttoStore(arg1)" title="'Select Store'">
        </div>
        
    </div>
	
    <div class="panel purchase-requisition" ng-class="{'blur': showGrid}" ng-click="hide_directive()">
        <!-- <div class="panel-heading">
            <h3>Purchase Order</h3>
        </div> -->
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Stock Transfer</a></li>
        </ul>
        <div class="panel-body">
            <form name="formStockTransfer" class="form-horizontal" novalidate>
                <div class="col-xs-12">
                    <div class="col-xs-12 reduce-padding">
                      

                        <div class="col-xs-4">
                            <!-- From Store -->
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        From Store
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="text" name="store" placeholder="Select from Store" class="form-control" ng-model="stocktransfer.fromStoreDescription" ng-click="openfromStoreList()" required>
                                    </div>
                                    
                                </div>
                            </div>
							<div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        To Store
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <input type="text" name="store" placeholder="Select to Store" class="form-control" ng-model="stocktransfer.toStoreDescription"  ng-click="opentoStoreList()" required>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
						 <div class="col-xs-4">
                            
                            <div class="col-xs-9">
                                <div>
                                    <label class="form-control-label">
                                        Remarks<span class="optional-span">(Optional)</span>
                                    </label>
                                    <br>
                                    <div class="col-xs-12 reduce-padding">
                                        <textarea type="text" name="remarks" class="form-control" ng-model="purchaseOrder.remarks"></textarea>
                                
                                    </div>
                                </div>
                            </div> 
                        </div>

                        <div>
                            <hr>
                            <div class="col-xs-9">
                                <div class="col-xs-6 items-search-container">
                                    <label class="form-control-label">
                                        Add Items for Transfer
                                    </label>
                                    <div class="search-block">
                                        <div class="form-input-icon form-input-icon-right">
                                            <input class="form-control form-control-sm search-container-height" id="namesearch" tabindex=1 type="text" ng-change="search_medicines_stock()" ng-model="name_search_keyword" placeholder="Name" ng-keydown="onKeydown(searched_medicines[searched_medicines.length + 1], $event)">
                                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                            <!-- <input type="text" class="form-control form-control-sm form-control-rounded search-container-height" placeholder="Search..." ng-model="searchKeyword" > -->
                                            <button type="button" class="items-search-btn" ng-click="openItemsList()" ng-disabled="processing"><i ng-hide="processing" class="fa fa-search"></i>
                                                <div class="centerForDemo" ng-show="processing">
                                                    <div class="loadingSpinner">
                                                    </div>
                                                </div>
                                            </button>
											<div class="search-result-container dropdown-height" ng-show="show_dropdown">
												<div class="search-heading">
													<div class="col-xs-8 reduce-padding">MEDICINES</div>
													<div class="col-xs-4 reduce-padding">IN STOCK</div>
												</div>
												<div class="results" ng-show="name_search_keyword!==''" tabindex="{{$index+4}}" ng-repeat="med in searched_medicines track by $index" ng-enter="add_search_medicine(med)" ng-click="add_search_medicine(med)" ng-keydown="onKeydown(med, $event)" ng-focus="onFocus(med)">
													<div class="col-xs-8 reduce-padding">{{med.description}}</div>
													<div class="col-xs-4 reduce-padding">{{med.totalstock}}</div>
												</div>
											</div>
                                        </div>
                                        <span class="error" ng-show="formStockTransfer.$submitted && itemsList.length == '0'">Please select some items</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12" ng-hide="itemsList.length == '0'">
                            <label class="form-control-label">
                                Items for Transfer
                            </label>
                            <div class="table-properties" >
                              <table class="table-width" >
                                <thead class="table-head">
                                  <tr class="order-table-head-row">
                                    <td class="order-table-row column-padding-1 col-pad">Medicine Name</td>
                                    <td class="text-center col-pad">Code</td>
									<td class="text-center col-pad">Quantity in Store</td>
                                    <td class="text-center col-pad">Quantity to Transfer</td>
									<td class="text-center col-pad">Net Amount</td>
                                    <td class="text-center col-pad"></td>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr tabindex="{{$index}}" ng-repeat="med in itemsList">
                                    <td class="order-table-row column-padding-1">{{med.description}}</td>
									<td class="text-center order-table-row column-padding-1">{{med.code}}</td>
									<td class="text-center order-table-row column-padding-1">{{med.totalstock}}</td>
                                    <td class="text-center order-table-row">
                                      <input ng-show="stocktransfer.fromStoreDescription!='Stock Adjustment'" ng-change='changeNetTotal(med)' class="form-control grid-input-height number-input-width auto-margin" type="Number" ng-model="med.quantity" min="1" ng-max="med.totalstock"  ng-pattern="/^[0-9]+(\.{0})?$/">
									  <input ng-show="stocktransfer.fromStoreDescription=='Stock Adjustment'" ng-change='changeNetTotal(med)' class="form-control grid-input-height number-input-width auto-margin" type="Number" ng-model="med.quantity" min="1"  ng-pattern="/^[0-9]+(\.{0})?$/">
									</td>
                                    <td class="text-center order-table-row column-padding-1">
										<input disabled ng-model="med.netValue" class="form-control grid-input-height number-input-width auto-margin"></input>
									</td>
                                    <td class="text-center order-table-row">
                                      <button  type="button" class="close-btn btn-danger" ng-click="remove_medicine($index)" ><i class="fa fa-trash"></i></button>
                                      <!-- <img class="close-img" src="img/close_btn.png" width="20px" height="20px" tabindex="1"> -->
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <span class="error" ng-show="itemsQty">Please Enter Quantity for all Items</span>
                            </div> 
                        </div>
                      

                    </div>
                    <div class="col-xs-12">

                        <hr class="hr-inventory hr-full">
                        <div class="form-group">
                            <div class="col-xs-12">

                                <div ng-class="confirmationPopup">
                                    <div class="gray-container">
                                        <b>Are you sure?</b><br>
                                        This Purchase Order will be deleted permanently.<br><br>
                                        <button class="btn btn-neutral" ng-click="hide_delete_popup()">Cancel</button>&nbsp;&nbsp;<button class="btn btn-danger" ng-click="confirm_delete_popup(formStockTransfer)">Delete</button>
                                    </div>
                                    <div class="arrow-down-right"></div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <!-- <button type="button" class="btn btn-lg btn-success nav-btn" ng-click="update_purchase_order(purchaseOrder, formPurchaseOrder)" ng-disabled="itemsList.length == '0' || !formPurchaseOrder.$valid" ng-show="UpdateItem">
                                <span ng-hide="processing">Update</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button> -->
                                <button type="button" class="btn  btn-lg btn-success nav-btn" ng-click="submit_transfer(stocktransfer, formStockTransfer)" ng-disabled="itemsList.length == '0' || !formStockTransfer.$valid || processing" ng-hide="UpdateItem">
                                    <span ng-hide="processing">Save</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                <button type="button" ng-disabled="processing" class="btn btn-lg btn-primary nav-btn" ng-click="reset(formStockTransfer)">
                                    <span ng-hide="processing">Clear</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                                <button type="button" ng-disabled="processing" class="btn btn-lg btn-danger nav-btn" ng-click="delete_purchase_order(formStockTransfer)" ng-show="UpdateItem">
                                    <span ng-hide="processing">Delete</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div> 

            </form>
        </div>
    </div>
</section>