<section class="main-page purchase-order" data-ng-controller="StockReportController">
    <div class="purchase-requisition-list " ng-show="processing">
        <button type="button" ng-disabled="true" class="col-xs-offset-5 col-xs-3 btn btn-default">
            Loading...
        </button>
    </div>
    <div class="purchase-requisition-list" ng-show="showStoresList">
        <div>
            <div class="btn btn-xs popup-close-btn float-right" ng-click="showStoresList = false">
                
            </div>
            <!-- <button type="button"  ><i class="fa fa-close"></i></button> -->
        </div>
		
        <div class="col-xs-offset-1 col-xs-10" ng-show="showStoresList">
            <picklist-simple headings-to-add="headingsStores" height="350" rows-to-add="storesToShow" prefix="prefixStore" multiselect="'single'" callbackfn="selectStore(arg1)" title="'Select Store'">
        </div>
    </div>
    
    <div class="panel">
        <!-- <div class="panel-heading">
            <h3>Home</h3>
        </div> -->
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Stock Report</a></li>
        </ul>
        <div class="panel-body">
            <form name="formHospital" class="form-horizontal" novalidate>
                <div class="col-xs-12">
				
					<div class="col-xs-3">
						<div>
							<label class="form-control-label">
								Select Store
							</label>
							<br>
							<div class="col-xs-12 reduce-padding">
								<input type="text" name="store" placeholder="Select Store" class="form-control" ng-model="storeDescription" ng-click="openStoreList()" required>
							</div>
							
						</div>
					</div>
                    <div class="col-xs-3 reduce-padding">
                        <label class="form-control-label">Select Supplier</label>
                        <select class="form-control" ng-model="selectedSupplier">
                            <option ng-value="'all'">All</option>
                            <option ng-repeat="supplier in suppliers" ng-value="supplier._id">{{supplier.description}}</option>
                        </select>
                    </div>
					<div class="col-xs-5 reduce-padding text-align-center" style="margin-top:5px">
                        <br>
						<button type="button" class="btn btn-primary btn-success" ng-click="getReport()" ng-disabled="processing">
							<span ng-hide="processing">Apply</span>
							<div class="centerForDemo" ng-show="processing">
								<div class="loadingSpinner"></div>
							</div>
						</button>
						&nbsp;
                        <button ng-json-export-excel data="inventoryStock" report-fields="{'id': 'Item Id', description: 'Description', totalInStock: 'In stock', stockprice: 'Stock Value'}" filename =" 'Stock-Report' " separator="," class="css-class btn btn-success">Export CSV</button>
						&nbsp;
						        <button type="button" class="btn btn-primary btn-success" ng-click="printreport()" ng-disabled="processing" >
                                    <span ng-hide="processing">Print Report</span>
                                    <div class="centerForDemo" ng-show="processing">
                                        <div class="loadingSpinner"></div>
                                    </div>
                                </button>
                    </div>
					<!--div class="col-xs-3 reduce-padding text-align-center">
                        <br>
                        <button class="css-class btn btn-success">Print Report</button>
                    </div-->
                </div>
                <div class="col-md-12 grid-top-margin">
                    
                    <div class="col-xs-12 reduce-padding">
                        <h5>Stock Report</h5>
                        <hr>
                        <br/>
                    </div>
                    <div class="col-xs-12 reduce-padding report-header" style="min-height:50px">
                        <div class="col-xs-1 ">
                            Code
                        </div>
                        <div class="col-xs-3">
                            Description
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            In Stock
                        </div>
						<div class="col-xs-2 reduce-padding text-align-center">
                            Sale Price&#47;Unit
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            Sale Value
                        </div>
                        <div class="col-xs-2 reduce-padding text-align-center" ng-show="purchaseprices">
                            Purchase Price&#47;Unit
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center" ng-show="purchaseprices">
                            Purchase Value
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center" ng-show="purchaseprices">
                            Potential Profit
                        </div>													
                    </div>
                    <div class="col-xs-12 reduce-padding search-row">
                        <div class="col-xs-offset-1 col-xs-3">
                            <input class="input-field-border" type="text" ng-model="search.description"></input>
                        </div>
                        <!--div class="col-xs-1 reduce-padding text-align-center">
                            <input class="input-field-border" style="width:100%" placeholder="Filter less than.." type="text" ng-model="totalInStock"></input>
                        </div-->
                    </div>
                    <div class="col-xs-12 reduce-padding report-row" ng-repeat="item in inventoryStock | filter:search" ng-show="item.totalInStock>0">
                        <div class="col-xs-1">
                            {{item.id}}
                        </div>
                        <div class="col-xs-3">
                            {{item.description}}
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            {{item.totalInStock}}
                        </div>
						<div class="col-xs-2 reduce-padding text-align-center">
                            {{item.saleperunit}}
                        </div>
						<div class="col-xs-1 reduce-padding text-align-center">
                            {{item.stockprice}}
                        </div>
						<div class="col-xs-2 reduce-padding text-align-center">
                            {{item.averagePrice}}
                        </div>
						<div class="col-xs-1 reduce-padding text-align-center">
                            {{item.totalprice}}
                        </div>
						<div class="col-xs-1 reduce-padding text-align-center">
                            {{item.profit}}
                        </div>						
                    </div>
					 <div class="col-xs-offset-7 col-xs-1  text-align-left" style="padding-top: 20px;">
						<b>{{totalstockprice}}</b>
					</div>
					<div class="col-xs-offset-2 col-xs-1  text-align-center" style="padding-top: 20px;">
						<b>{{totalpurchaseprice}}</b>
					</div>
					<div class="col-xs-1  text-align-center" style="padding-top: 20px;">
						<b>{{totalprofit}}</b>
					</div>
                </div>

            </form>
        </div>
    </div>
</section>