<section class="main-page" data-ng-controller="LowStockReportController">
    <div class="purchase-requisition-list " ng-show="processing">
        <button type="button" ng-disabled="true" class="col-xs-offset-5 col-xs-3 btn btn-default">
            Loading...
        </button>
    </div>
    
    <div class="panel">
        <!-- <div class="panel-heading">
            <h3>Home</h3>
        </div> -->
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Low Stock Report</a></li>
        </ul>
        <div class="panel-body">
            <form name="formHospital" class="form-horizontal" novalidate>
                <!--div class="col-xs-12">
                    <div class="col-xs-3 reduce-padding">
                        <label class="form-control-label">Select Supplier</label>
                        <select class="form-control" ng-model="selectedSupplier" ng-change="updateReport()">
                            <option ng-value="'all'">All</option>
                            <option ng-repeat="supplier in suppliers" ng-value="supplier._id">{{supplier.description}}</option>
                        </select>
                    </div>
                </div-->
                <div class="col-md-9 grid-top-margin">
                    
                    <div class="col-xs-12 reduce-padding">
                        <h5>Low Stock Report</h5>
                        <hr>
                        <br/>
                    </div>
                    <div class="col-xs-12 reduce-padding report-header">
                        <div class="col-xs-3">
                            Item ID
                        </div>
                        <div class="col-xs-4">
                            Description
                        </div>
                        <div class="col-xs-2 reduce-padding text-align-center">
                            Total in Stock
                        </div>
                        <div class="col-xs-2 reduce-padding text-align-center">
                            Miniumum Level
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding search-row">
                        <div class="col-xs-offset-3 col-xs-4">
                            <input class="input-field-border" type="text" ng-model="search.description"></input>
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding report-row" ng-repeat="item in inventoryStock | filter:search">
                        <div class="col-xs-3">
                            {{item.id}}
                        </div>
                        <div class="col-xs-4">
                            {{item.description}}
                        </div>
                        <div class="col-xs-2 reduce-padding text-align-center">
                            {{item.quantity}}
                        </div>
						<div class="col-xs-2 reduce-padding text-align-center">
                            {{item.minimum}}
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding text-align-right">
                        <br>
                        <button ng-json-export-excel data="inventoryStock" report-fields="{'id': 'Item Id', description: 'Description', quantity: 'In stock', minimum: 'Minimum Level'}" filename =" 'LowStock-Report' " separator="," class="css-class btn btn-success">Export CSV</button>
						&nbsp;
						<button class="css-class btn btn-success" ng-click="printreport()">Print Report</button>
					</div>
                </div>

            </form>
        </div>
    </div>
</section>