<style>
body {
  background: rgb(204,204,204);
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}
page[size="A4"][layout="portrait"] {
  width: 29.7cm;
  height: 21cm;
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}
</style>
<page size="A4" layout="portrait" style="padding: 1.5cm; font-family:Arial, Helvetica, sans-serif;">
	<div style="margin : 20px; bottom: 0; float: left; width: 1082px;color:#ffffff;">
	<div style="float: left;">
		<img src="{{hospitallogo}}" style="width: 150px; text-align: center; margin-left: -18px;" alt="Ali Medical Logo"/>
	</div>
	<div style="width: 790px; float: left;text-align: center;color: #000000;">

			<h3 style="margin-bottom: 0px;">{{hospitalname}}</h3>
			<p style="font-weight: bold; font-size: 14px; margin-top: 30px; margin-bottom: 5px; text-decoration: underline;">{{hospitalEmail}}</p>
	</div>
	<div style="width: 160px; float: right;color:#000;">
		<table style="width : 100%;font-size : 12px;  border-collapse: collapse; text-align: right;">
  		<col width="80">
			<tr style="border-collapse: collapse; font-weight: bold;">
				<td style="padding: 5px; border-collapse: collapse;">&nbsp;</td>
			</tr>
			<tr style="border-collapse: collapse; font-weight: bold;">
				<td style="padding: 5px; border-collapse: collapse;">Printing Date & Time</td>
			</tr>
			<tr style=" border-collapse: collapse; font-weight: bold;">
				<td style="padding: 5px; border-collapse: collapse;">{{printingDate}}</td>
			</tr>
		</table>
	</div>
	<div style="width: 1082px; float: left;text-align: center;color: #000000; background: #e2e2e2; border-top: 2px solid #000000; margin-bottom: 5px;">
			<h3 style="font-size: 20px; margin-top: 10px; margin-bottom: 10px;">Stock Transfer ** Original Copy **</h3>
	</div>
	<div style="color:#000">
		<table style="width : 100%;font-size : 13px; border-collapse: collapse; margin-bottom:20px; text-align: left;line-height: 0.7; ">
			<tr style="border-collapse: collapse;">
				<td style="padding: 5px; border-collapse: collapse;"><strong>Transfer Number: </strong></td>
				<td style="padding: 5px; border-collapse: collapse;">{{printData.transferNumber}}</td>
				<td style="padding: 5px; border-collapse: collapse;"><strong>From Store:</strong></td>
				<td style="padding: 5px; border-collapse: collapse;">{{printData.fromStoreDescription}}</td>
				<td style="padding: 5px; border-collapse: collapse; text-align: right;"><strong>To Store:</strong></td>
				<td style="padding: 5px; border-collapse: collapse;">{{printData.toStoreDescription}}</td>
			</tr>
			<tr style="border-collapse: collapse;">
				<td style="padding: 5px; border-collapse: collapse;"><strong>Remarks: </strong></td>
				<td style="padding: 5px; border-collapse: collapse;">{{printData.remarks}}</td>
			</tr>
		</table>
	</div>
	<div style="color: #000000;">
		<table style="width : 100%;font-size : 11px;   border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff;border-collapse: collapse; text-align: center;">
			<tr style="border: 1px solid #000000; border-collapse: collapse; font-weight: bold;">
				<td style="padding: 5px; border-collapse: collapse;">Sr.No</td>
				<td style="padding: 5px; border-collapse: collapse;">Description of Materials and Specifications</td>
				<!--td style="padding: 5px; border-collapse: collapse;">Pack Size</td>
				<td style="padding: 5px; border-collapse: collapse;">Packs Ordered</td>
				<td style="padding: 5px; border-collapse: collapse;">Quantity Ordered</td>
				<td style="padding: 5px; border-collapse: collapse;">Total Packs Rcvd Till date</td>
				<td style="padding: 5px; border-collapse: collapse;">Packs Balance</td-->
				<td style="padding: 5px; border-collapse: collapse;">Total Qty Transfered</td>
				<td style="padding: 5px; border-collapse: collapse;">Total Value</td>
				<!--td style="padding: 5px; border-collapse: collapse;">Unit Rate</td-->
			</tr>
			<tr ng-repeat="item in printData.itemsList" style="border-collapse: collapse; font-weight: bold; border-bottom: 1px solid #ffffff;">
				<td style="padding: 5px; border-collapse: collapse;">{{$index+1}}</td>
				<td style="padding: 5px; border-collapse: collapse;">{{item.description}}</td>
				<!--td style="padding: 5px; border-collapse: collapse;">1</td>
				<td style="padding: 5px; border-collapse: collapse;">10</td>
				<td style="padding: 5px; border-collapse: collapse;">10</td>
				<td style="padding: 5px; border-collapse: collapse;">10</td>
				<td style="padding: 5px; border-collapse: collapse;">0</td-->
				<td style="padding: 5px; border-collapse: collapse;">{{item.quantity}}</td>
				<td style="padding: 5px; border-collapse: collapse;">{{item.netValue}}</td>
			<!--table style="width : 35%;font-size : 11px; margin-left: 85px; border: 1px solid #000000; border-collapse: collapse; text-align: left;">
			<tr style="border: 1px solid #000000; border-collapse: collapse; font-weight: bold;">
				<td style="padding: 5px; border-collapse: collapse;">Batch Number</td>
				<td style="padding: 5px; border-collapse: collapse;">Manufact. Date</td>
				<td style="padding: 5px; border-collapse: collapse;">Expiry Date</td>
				<td style="padding: 5px; border-collapse: collapse;">Batch Qty</td>
			</tr>
			<tr style="border: 1px solid #000000; border-collapse: collapse; ">
				<td style="padding: 5px; border-collapse: collapse;">3652</td>
				<td style="padding: 5px; border-collapse: collapse;">01-Jan-2017</td>
				<td style="padding: 5px; border-collapse: collapse;">31-Jan-2019</td>
				<td style="padding: 5px; border-collapse: collapse;">10</td>
			</tr>

		</table-->
			</tr>
		</table>
	</div>
		<div style="color: #000000;margin-top: 40px;">
		<table style="width : 100%;font-size : 12px;border-collapse: collapse; text-align: left;font-weight: bold;">
			<!--tr style="border-collapse: collapse; ">
				<td style="padding: 5px; border-collapse: collapse;" colspan="6">&nbsp;</td>
				<td style="padding: 5px; border-collapse: collapse;font-size : 11px;">Total Transfer Value:</td>
				<td style="padding: 5px; border-collapse: collapse; text-align: right;font-size : 11px;">{{totalforPrint}}</td>
			</tr-->
			<!--tr style="border-collapse: collapse; ">
				<td style="padding: 5px; border-collapse: collapse;" colspan="6">&nbsp;</td>
				<td style="padding: 5px; border-collapse: collapse;font-size : 11px;">Total Recieved Invoice(for current GRN) Amount:</td>
				<td style="padding: 5px; border-collapse: collapse;font-size : 11px; text-align: right;">123,964.50</td>
			</tr>
			<tr style="border-collapse: collapse; ">
				<td style="padding: 5px; border-collapse: collapse;" colspan="6">&nbsp;</td>
				<td style="padding: 5px; border-collapse: collapse;font-size : 11px;">Recieved PO Amount:</td>
				<td style="padding: 5px; border-collapse: collapse;font-size : 11px; text-align: right;">123,964.50</td>
			</tr-->
			<tr style="border-collapse: collapse; ">
				<td style="padding: 5px; border-collapse: collapse;">Prepared By:</td>
				<td style="padding: 5px; border-collapse: collapse;">___________________</td>
				<td style="padding: 5px; border-collapse: collapse;">Recieved By:</td>
				<td style="padding: 5px; border-collapse: collapse;">___________________</td>
				<td style="padding: 5px; border-collapse: collapse;">Date:</td>
				<td style="padding: 5px; border-collapse: collapse;">___________________</td>
				<!--td style="padding: 5px; border-collapse: collapse;">PO Total Amount:</td>
				<td style="padding: 5px; border-collapse: collapse; text-align: right;">123964.50</td-->
			</tr>
		</table>
		</div>

		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		<div style="color: #000000; bottom: 20px; border-top: 2px solid #000000;  padding: 1rem; ">
			<p style="font-size: 12px;text-align: center; margin-top: 10px; line-height: 1.5;">
			<b>{{hospitalAddress}} PH: {{hospitalPHNumber}}</b><br/>
			<b>Fax: {{hospitalPHNumber}} Email: {{hospitalEmail}}</b>
			</p>
		</div>
	</div>
</page>
