<div style="height:100px;">
    <div style="float: left;">
        <img src="{{hospitallogo}}" height="100px" style="margin-right:20px;"/>
    </div>
    <div style="float: left;">
        <h1 style="text-align: left;margin-top:0;">{{hospitalname}}</h1>
        <p>{{hospitalAddress}}<br>
        Tel: {{hospitalPHNumber}}</p>
    </div>
</div>
<div style="margin-top:100px;font-size: 12px;">
    <table style="width : 100%;">
        <tr>
            <td style="">
               {{doctor}}<br>
            </td>
            <td style="text-align: right;">
                Date : {{searchDate}}<br>
            </td>
        </tr>
    </table>
    <div>
        <table style="margin-top: 20px;text-align: center;width: 100%;width: 100%;">
            <tr>
                <th style="border: 1px solid #000">Doctor Name</th>
                <th style="border: 1px solid #000">Patient Name</th>
                <th style="border: 1px solid #000;">Phone Number</th>
                <th style="border: 1px solid #000;">Time</th>
            </tr>
            <tr ng-repeat="appointment in doctorAppointments">
                <td style="padding-left: 5px;padding-right: 5px;border-bottom: 1px solid #ddd;">{{appointment.doctor_name}}</td>
                <td style="padding-left: 5px;padding-right: 5px;border-bottom: 1px solid #ddd;">{{appointment.patient_name}}</td>
                <td style="padding-left: 5px;padding-right: 5px;border-bottom: 1px solid #ddd;">{{appointment.phone}}</td>
                <td style="padding-left: 5px;padding-right: 5px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{appointment.time}}</td>
            </tr>
        </table>
    </div>
</div>
