<!--img src="./images/watermark1.png" style="margin-top: 300px;width:100%;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;"></img-->
<div style="font-family:Arial, Helvetica, sans-serif">
	<div style="height:70px;">
		<div style="float: left;">
			<img src="{{hospitallogo}}" height="70px" style="margin-right:20px;"/>
		</div>
		<div style="float: left;">
			<h1 style="text-align:left;margin-top:5px;font-size:16px;margin-bottom:0;color:#6f6d6d">{{hospitalname}}</h1>
			<p style="margin-top:5px;font-size:12px;color:#6f6d6d">{{hospitalAddress}}<br>
			Tel: {{hospitalPHNumber}}</p>
		</div>
	</div>
	<div style="margin-top:20px;font-size: 12px;">
		<table style="width : 100%;">
			<tr>
				<td style="line-height:1.5">
					<b>Patient Name: {{patientInfo.name}}</b><br>
					<b>Patient MR No:</b> {{patientInfo.mr_number}}<br>
					<b>Patient Phone:</b> {{patientInfo.phone}}
					<table style="width : 100%; border-collapse: collapse; text-align: left;">
					<tr style="border-collapse: collapse;">
						<td style="border-collapse: collapse;" colspan="10">					
							<div id="externalbox">
							<io-barcode code="{{ patientInfo.mr_number }}" type="CODE128B" options="options"></io-barcode>
							</div>	
						</td>
					</tr>
				</table>
				</td>
				<td style="text-align: right;line-height:1.5">
					<b>Bill Number:</b> {{billNumber}}-{{invoice.length}}<br>
					<b>Refering Doctor:</b> {{referingDoctor.name}}<br>
					<b>Referred Doctor:</b> {{referedDoctor.name}}<br>
					<b>Date:</b> {{modified}} {{time}}<br>
				</td>
			</tr>
		</table>
		<div>
			<table style="margin-top: 20px;text-align: center;width: 100%;width: 100%;">
				<tr>
					<th style="border: 1px solid #000;text-align: left;padding-right: 5px;">Description</th>
					<th style="border: 1px solid #000;width:75px;background-color:#bdb7b7">Token#</th>
					<th style="border: 1px solid #000;width:75px;">Fee</th>
					<th style="border: 1px solid #000;width:75px;">Discount</th>
					<th style="border: 1px solid #000;width:75px;">Qty</th>
					<th style="border: 1px solid #000;width:75px;">Total</th>

				</tr>
				<tr ng-repeat="service in servicesInfo">
					<td style="text-align:left;padding-left: 5px;padding-right: 5px;border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;">{{service.description}}</td>
					<td style="padding-left: 5px;padding-right: 5px;border-bottom: 1px solid #ddd;background-color:#bdb7b7"><b>{{service.token_number}}</b></td>
					<td style="padding-left: 5px;padding-right: 5px;border-bottom: 1px solid #ddd;">{{service.fee}}</td>
					<td style="padding-left: 5px;padding-right: 5px;border-bottom: 1px solid #ddd;">{{service.discount}}</td>
					<td style="padding-left: 5px;padding-right: 5px;border-bottom: 1px solid #ddd;">{{service.quantity}}</td>
					<td style="padding-left: 5px;padding-right: 5px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{(service.fee*service.quantity)-service.discount}}</td>
				</tr>
			</table>
		</div>
		<div>
			<table style="float:right;width: 200px;margin-top: 20px;">
				<tbody>
					<tr>
						<td style="text-align: left;border-bottom: 1px solid #ddd;padding-bottom:10px; ">Total </td>
						<td style="text-align: right;border-bottom: 1px solid #ddd;padding-bottom:10px;">Rs. {{grandTotal}}</td>
					</tr>

					<tr>
						<td style="text-align: left;padding-bottom:10px;">Received </td>
						<td style="text-align: right;padding-bottom:10px;">Rs. {{invoice[invoice.length-1].recieved}}</td>
					</tr>
					<tr>
						<td style="text-align: left;border-top: 1px solid #ddd;">Balance </td>
						<td style="text-align: right;border-top: 1px solid #ddd;">Rs. {{grandTotal-recievedCash}}</td>
					</tr>
				</tbody>
			</table>
		</div>
				<div>
					<table style="float:left;width:200px;margin-top:70px;font-size:11px">
						<tbody>
							<tr>
							<td></td>
							</tr>
							<tr>
							<td></td>
							</tr>
							<tr style="padding-top:10px">
								<td style="text-align: left;">Handled by: {{invoice[invoice.length-1].handlerName}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--div>
				<table style="margin-top: 10px;">
					<tbody>
						<tr>
							<td style="text-align: left;"></td>
							<td style="text-align: center;">Handled by {{invoice[invoice.length-1].handlerName}}</td>
							<td style="text-align: right;">Thank You</td>
						</tr>
					</tbody>
				</table>
			</div-->

	</div>

</div>
