<img src="./images/watermark1.png" style="margin-top: 300px;width:100%;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;"></img>
<div style="height:100px;">
    <div style="float: left;">
        <img src="{{hospitallogo}}" height="100px" style="margin-right:20px;"/>
    </div>
    <div style="float: left;">
        <h1 style="text-align: left;margin-top:0;">{{hospitalname}}</h1>
        <p>{{hospitalAddress}}<br>
        Tel: {{hospitalPHNumber}}</p>
    </div>
</div>
<div style="margin-top:100px;font-size: 18px;">
    <table style="width : 100%;">
        <tr>
            <td style="">
                Patient Name : {{patientInfo.name}}<br>
                Patient MR No : <span ng-show="patientInfo.mr_prefix">{{patientInfo.mr_prefix}}-</span>{{patientInfo.mr_number}}<br>
                Patient Phone : {{patientInfo.phone}}
            </td>
            <td style="text-align: right;">
                <span>Bill Number : {{billNumber}}-{{invoice.length}}<br></span>
                <span ng-show="referingDoctor.name">Refering Doctor : {{referingDoctor.name}}<br></span>
                <span ng-show="referedDoctor.name">
                Referred Doctor : {{referedDoctor.name}}<br>
                </span>
                Date & time : {{modified}} {{time}}<br>
            </td>
        </tr>
    </table>
    <div>
        <table style="margin-top: 20px;text-align: center;width: 100%;width: 100%;">
            <tr>
                <th style="border: 1px solid #000;text-align: left;padding-right: 5px;">Description</th>
                <th style="border: 1px solid #000;width:75px;">Token#</th>
                <th style="border: 1px solid #000;width:75px;">Fee</th>
                <th style="border: 1px solid #000;width:75px;">Discount</th>
                <th style="border: 1px solid #000;width:75px;">Qty</th>
                <th style="border: 1px solid #000;width:75px;">Total</th>

            </tr>
            <tr ng-repeat="service in servicesInfo">
                <td style="text-align:left;padding-left: 5px;padding-right: 5px;border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;">{{service.description}}</td>
                <td style="padding-left: 5px;padding-right: 5px;border-bottom: 1px solid #ddd;">{{service.token_number}}</td>
                <td style="padding-left: 5px;padding-right: 5px;border-bottom: 1px solid #ddd;">{{service.fee}}</td>
                <td style="padding-left: 5px;padding-right: 5px;border-bottom: 1px solid #ddd;">{{service.discount}}</td>
                <td style="padding-left: 5px;padding-right: 5px;border-bottom: 1px solid #ddd;">{{service.quantity}}</td>
                <td style="padding-left: 5px;padding-right: 5px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">{{(service.fee*service.quantity)-service.discount}}</td>
            </tr>
        </table>
        <div style="float:right;">
            <table style="width: 200px;margin-top: 20px;">
                <tbody>
                    <tr>
                        <td style="text-align: left;border-bottom: 1px solid #ddd;padding-bottom:10px; ">Grand Total Rs.</td>
                        <td style="text-align: right;border-bottom: 1px solid #ddd;padding-bottom:10px;">{{grandTotal}}</td>
                    </tr>

                    <tr>
                        <td style="text-align: left;padding-bottom:10px;">Recieved Rs.</td>
                        <td style="text-align: right;padding-bottom:10px;">{{invoice[invoice.length-1].recieved}}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;border-top: 1px solid #ddd;">Balance Rs. </td>
                        <td style="text-align: right;border-top: 1px solid #ddd;">{{grandTotal-recievedCash}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div style="bottom: 0;position: absolute;text-align: right;left: 80%;">Handled by {{invoice[invoice.length-1].handlerName}}</div>
<div style="bottom: 0;position: absolute;text-align: center;margin-left: -50px;left: 50%;"><b>Thank You</b></div>
