<section data-ng-controller="GenerateBillController" class="generate-bill">
    <div class="purchase-requisition-list" ng-show="showPatients || refundPopUp">
        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="showPatients = false;refundPopUp = false;"></button>
        </div>
        <div class="col-xs-offset-1 col-xs-10" ng-show="showPatients">
            <picklist-simple headings-to-add="headingsPatient" height="350" rows-to-add="patients" prefix="prefixPatient" multiselect="'single'" callbackfn="callbackpatient(arg1)" title="'Select Patient'">
        </div>
        <form name="refundForm" class="refund-popup" ng-show="refundPopUp">
            <label class="form-control-label">
                Refund Amount
            </label>
            <input class="form-control" type="number" min='0' ng-model="refundAmount" required=""></input>
            <label class="form-control-label">
                Refund Reason
            </label>
            <textarea class="form-control" ng-model="refundRemarks" required=""></textarea><br>
            <button  type="button" class="btn btn-danger" ng-click="confirmRefund()" ng-disabled="processing || refundForm.$invalid">
            <span ng-hide="processing">Confirm Refund</span>
                <div class="centerForDemo" ng-show="processing">
                    <div class="loadingSpinner"></div>
                </div>
            </button>

        </form>
    </div>

    <div class="panel opd">
        <div class="panel-heading">

        </div>
        <div class="panel-body">
            <div class="tab-pane">
                <form name="formPatientRegistration" class="form-horizontal" novalidate>
                    <div class="col-xs-12 reduce-padding">
                        <div class="col-xs-12 reduce-padding">
                            <div class="col-xs-6">
                                <h5>PATIENT BILL</h5>
                            </div>
                            <div class="col-xs-6">
                                <div class="float-right search-block-field reduce-padding">
                                    <div class="form-input-icon form-input-icon-right">
                                        <i class="icmn-search"></i>
                                        <input type="text" class="form-control form-control-sm form-control-rounded search-container-height" ng-model="searchPatientKeyword" placeholder="Search by Patient Number..." ng-enter="getPatients('patients')">
                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                        <button type="button" class="search-block-submit" ng-click="getPatients('patients')"></button>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-lg-12 reduce-padding" ng-show="patient.name">
                            <div class="col-xs-3">
                                <label class="form-control-label">
                                    Name
                                </label>
                                <br>
                                {{patient.name}}
                            </div>
                            <div class="col-xs-3">
                                <label class="form-control-label">
                                    Phone Number
                                </label>
                                <br>
                                {{patient.phone}}

                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-6">
                                    <label class="form-control-label">
                                        Refering Doctor
                                    </label>
                                    <select ng-model="referingDoctor" class="form-control" required="" ng-disabled="disableEditing">
                                        <option ng-repeat="doctor in doctors" value="{{doctor}}">{{doctor.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <label class="form-control-label">
                                    MR Number
                                </label>
                                <br>
                                <span ng-show="patient.mr_prefix">{{patient.mr_prefix}}-</span>{{patient.mr_number}}
                            </div>
                            <div class="col-xs-3">
                                <label class="form-control-label">
                                    Date
                                </label><br>
                                {{todayDate.substr(0,todayDate.length-13)}}
                            </div>

                            <div class="col-xs-6">
                                <div class="col-xs-6">
                                    <label class="form-control-label">
                                        Refered Doctor
                                    </label>
                                    <select ng-model="referedDoctor" class="form-control" required="" ng-disabled="disableEditing">
                                        <option ng-repeat="doctor in doctors" value="{{doctor}}">{{doctor.name}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 no-patient" ng-hide="patient.name">
                            No Patient Selected
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-12 reduce-padding services-table">

                            <div class="col-xs-12 reduce-padding grid-header">
                                <div class="col-xs-4 header-col">Facility Description</div>
                                <div class="col-xs-3 center-text header-col">Charges</div>
                                <div class="col-xs-1 center-text header-col">Qty</div>
                                <div class="col-xs-2 center-text header-col">Discount (%)</div>
                                <div class="col-xs-1 center-text header-col">Total</div>
                                <div class="col-xs-1 center-text header-col header-last-col"></div>
                            </div>
                            <div ng-repeat="service in servicesData"  class="col-xs-12 reduce-padding grid-rows">
                                <div class="col-xs-4">
                                    <!-- <div ng-show="service.description==='Consultation' || service.description==='Registration'">{{service.description}}</div> -->
                                    <input class="form-control dropdown-input" ng-model="service.description" ng-click="openDropdown($index)" ng-blur="closeDropdown()" ng-keydown="onKeydown(facilities[facilities.length+1], $event)" tabindex="1"  ng-disabled="disableEditing"></input>
                                    <ul ng-show="dropdownFlag === $index" class="services-dropdown">
                                        <li class="dropdown-header">
                                            <div class="col-xs-6">Facility Name</div>
                                            <div class="col-xs-6">Category</div>
                                        </li>
                                        <li class="facility-li" ng-show="facilities.length===0">Nothing found</li>
                                        <li class="facility-li" ng-repeat="facility in facilities" ng-click="selectFacility($index,service)" tabindex="$index+2">
                                            <div class="col-xs-6">{{facility.description}}</div>
                                            <div class="col-xs-6">{{facility.category}}</div>
                                        </li>
                                    </ul>
                                    <!-- <select ng-model="service.service_id"
                                        class="form-control"
                                        required=""
                                        ng-change="selectFacility($index)"
                                        ng-hide="service.description==='Consultation'  || service.description==='Registration'">
                                        <option ng-repeat="facility in facilities"
                                            value="{{facility._id}}">
                                            {{facility.description}}
                                        </option>
                                    </select> -->
                                </div>
                                <div class="col-xs-3 center-text">{{service.fee}}</div>
                                <div class="col-xs-1 center-text">
                                <input type="number" class="form-control" ng-model="service.quantity" ng-change="disocuntChange()" ng-disabled="disableEditing"></input></div>
                                <div class="col-xs-2 center-text">
                                <input type="number" class="form-control discount" ng-model="service.discount" ng-change="disocuntChange()" min="0" max="100"  ng-disabled="disableEditing"></input></div>
                                <div class="col-xs-1 center-text">{{service.fee*service.quantity-(service.fee*service.quantity*service.discount/100)}}</div>
                                <div class="col-xs-1 center-text">
                                    <button type="button" class="btn btn-xs btn-primary" ng-show="$last" ng-click="addService()"  ng-disabled="disableEditing"><i class="fa fa-plus"></i></button>
                                    <button type="button" class="btn btn-xs btn-danger" ng-hide="$last" ng-click="removeService($index)"  ng-disabled="disableEditing" ><i class="fa fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-xs-12 total-section"></div>
                            <div class="col-xs-6 col-xs-offset-6 ">
                                <div class="col-xs-5 col-xs-offset-7 grand-total">
                                    <div class="col-xs-6 reduce-padding grand-label">Grand Total</div>
                                    <div class="col-xs-6 reduce-padding">
                                        <input type="number" name="dt" class="form-control" ng-model="grandTotal" ng-disabled="true">
                                    </div>

                                </div>
                                <div class="col-xs-5 col-xs-offset-7 grand-total">
                                    <div class="col-xs-6 reduce-padding grand-label">Total Recieved</div>
                                    <div class="col-xs-6 reduce-padding">
                                        <div class="disbaled-field">
                                            {{recievedTemp+recieved}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-5 col-xs-offset-7 grand-total">
                                    <div class="col-xs-6 reduce-padding grand-label">Balance </div>
                                    <div class="col-xs-6 reduce-padding">
                                        <input type="number" name="dt" class="form-control" ng-model="balance"  ng-disabled="true">
                                    </div>
                                </div>
                                <div class="col-xs-5 col-xs-offset-7 grand-total">
                                    <div class="col-xs-6 reduce-padding grand-label">Recieved </div>
                                    <div class="col-xs-6 reduce-padding">
                                        <input type="number" name="dt" class="form-control" ng-model="recieved" ng-change="updateBalance()">
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="col-xs-12 payment-container">
                            <h5>Payment Options</h5>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="example6" checked="" ng-model="cash" ng-change="selectPaymentMethod('cash')"  ng-disabled="disableEditing">
                                    Cash
                                </label>
                            </div>

                            <div class="checkbox">
                                <label class="checkbox-label">
                                    <input type="checkbox" name="example6" checked="" ng-model="cheque" ng-change="selectPaymentMethod('cheque')"  ng-disabled="disableEditing">
                                    Cheque
                                </label>
                                <input class="form-control payment-textfields" type="text" placeholder="Instrument Number" ng-model="chequeInfo.instrumentNumber" ng-show="cheque" ng-disabled="disableEditing"/>
                                <input class="form-control payment-textfields" type="date" placeholder="Date" ng-model="chequeInfo.date" ng-show="cheque" ng-disabled="disableEditing"/>
                                <input class="form-control payment-textfields" type="text" placeholder="Bank" ng-model="chequeInfo.bankName" ng-show="cheque" ng-disabled="disableEditing"/>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-label">
                                    <input type="checkbox" name="example6" checked="" ng-model="card" ng-change="selectPaymentMethod('card')" ng-disabled="disableEditing">
                                    Debit/Credit Card
                                </label>
                                <input class="form-control payment-textfields" type="text" placeholder="Invoice Number" ng-model="cardInfo.number" ng-show="card" ng-disabled="disableEditing"></input>
                            </div>


                        </div>
                    </div>
                    <div class="col-xs-12">

                        <!-- Update Button -->

                        <div class="btn-align">
                            <button  type="submit" class="btn btn-lg nav-btn btn-success btn-primary" ng-click="submit()" ng-disabled="!patient.name || !grandTotal || processing">
                            <span ng-hide="processing">Generate Invoice</span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                        </div>
                        <div class="btn-align">
                            <button  type="submit" class="btn btn-lg nav-btn btn-primary" ng-click="reset()" ng-disabled="processing">
                            <span ng-hide="processing">Reset</span>
                                <div class="centerForDemo" ng-show="processing">
                                    <div class="loadingSpinner"></div>
                                </div>
                            </button>
                        </div>


                    </div>
                    <div class="col-xs-12" ng-show="billHistory.length>0">
                        <div class="col-xs-12 reduce-padding bill-history">
                            <h5>BILLING HISTORY</h5>
                            <hr>
                        </div>
                        <div class="col-xs-12 reduce-padding">

                            <div class="col-xs-12 reduce-padding grid-header">
                                <div class="col-xs-2 header-col">Bill No</div>
                                <div class="col-xs-2 center-text header-col">Refered Doctor</div>

                                <div class="col-xs-2 center-text header-col">Payment Method</div>
                                <div class="col-xs-2 center-text header-col">Date</div>
                                <div class="col-xs-2 center-text header-col">Grand Total</div>
                                <div class="col-xs-2 center-text header-col header-last-col"></div>
                            </div>
                            <div ng-repeat="bill in billHistory"  class="col-xs-12 reduce-padding grid-rows">
                                <div class="col-xs-2">{{bill.billNumber}}</div>
                                <div class="col-xs-2 center-text">{{bill.referedDoctor.name}}</div>

                                <div class="col-xs-2 center-text">{{bill.invoice[bill.invoice.length-1].paymentMethod}}</div>
                                <div class="col-xs-2 center-text">{{bill.created.substr(0,10)}}</div>
                                <div class="col-xs-2 center-text">{{bill.grandTotal}}</div>
                                <div class="col-xs-2 center-text">

                                    <button type="button" class="btn btn-xs btn-primary" ng-click="printoldBill($index)">
                                    <i class="fa fa-print"> Print</i></button>
                                    <button type="button" class="btn btn-xs btn-danger" ng-click="refundClick($index)">
                                    <i class="fa fa-money"> Refund</i></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
