<section data-ng-controller="AdminDoctorsController">
    <div class="purchase-requisition-list" ng-show="showDoctors">
        <div>
            <button type="button" class="btn btn-xs popup-close-btn float-right" ng-click="showDoctors = false;"></button>
        </div>
        <div class="col-xs-offset-3 col-xs-6 background-dynamic-grid-np reduce-padding" ng-show="showDoctors">
            <picklist-simple headings-to-add="headings" height="350" rows-to-add="doctorsToShow" prefix="prefix" multiselect="'single'" callbackfn="callbackdoctor(arg1)" title="'Select Doctor'">
        </div>
    </div>
    <div class="panel hospital-admin">
        <div class="col-lg-6 reduce-padding">
            <ul class="list-unstyled breadcrumb">
                <li><a href="/#!/main-page">Home</a></li>
                <li class="active-page"><a href="#">Manage Doctors</a></li>
            </ul>
        </div>
        <div class="col-lg-6 float-right search-block-field reduce-padding">
            <div class="form-input-icon form-input-icon-right">
                <i ng-hide="processing" class="icmn-search"></i>
                <input type="text" class="form-control form-control-sm form-control-rounded search-container-field-height" ng-model="searchDoctorKeyword" typeahead="doctor.name for doctor in doctorsSearchTypeahead($viewValue)" typeahead-loading="loadingLocations" typeahead-on-select="callbackdoctor($item)" placeholder="Search by Doctor Name..." ng-enter="getDoctors()">
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                <button type="button" ng-disabled="processing" class="search-block-submit" ng-click="getDoctors()">
                    <div class="centerForDemo" ng-show="processing">
                        <div class="loadingSpinnerSearch">
                        </div>
                    </div>
                </button>
            </div>
        </div>
        <div class="panel-body">
            <form name="formDoctor" class="form-horizontal" novalidate>
                <div class="col-xs-12 reduce-padding">
                	<div class="col-lg-12 reduce-padding">
	                    <div class="col-lg-6">
	                        <h5>DOCTOR DETAILS</h5>
	                        <hr>
	                        <br />
	                        <div class="col-xs-12 reduce-padding">
	                            <label class="form-control-label">
	                                Name
	                            </label>
	                            <br>
	                            <div class="col-xs-9 reduce-padding">
	                                <input type="text" autofocus="" name="name" class="form-control" ng-model="doctor.name" required="" ng-change="updateUserName()">
                                	<span class="error" ng-show="formDoctor.name.$touched && formDoctor.name.$error.required">Please fill this field</span>
	                            </div>
	                        </div>
	                        <div class="col-xs-12 reduce-padding">
	                            <label class="form-control-label">
	                                Consultation Fee
	                            </label>
	                            <br>
	                            <div class="col-xs-9 reduce-padding">
	                                <input type="number" name="consultation_fee" min="1" class="form-control" ng-model="doctor.consultation_fee" required="">
                                	<span class="error" ng-show="formDoctor.consultation_fee.$touched && formDoctor.consultation_fee.$error.required">Please fill this field</span>
	                            </div>
	                        </div>
	                        <div class="col-xs-12 reduce-padding">
	                            <label class="form-control-label">
	                                Percentage in Consultation Fee
	                            </label>
	                            <br>
	                            <div class="col-xs-9 reduce-padding">
	                                <input type="number" name="percentage_fee" min="0" max="100" class="form-control" ng-model="doctor.percentage_fee" required="">
                                	<span class="error" ng-show="formDoctor.percentage_fee.$touched && formDoctor.percentage_fee.$error.required">Please fill this field</span>
	                            </div>
	                        </div>
	                        <div class="col-xs-12 reduce-padding">
	                            <label class="form-control-label">
	                                Speciality
	                            </label>
	                            <br>
	                            <div class="col-xs-9 reduce-padding">
	                            	<select class="form-control" ng-model="doctor.speciality" required="">
	                            		<option ng-repeat="speciality in specialities" value="{{speciality.description}}">
	                            			{{speciality.description}}
	                            		</option>
	                            	</select>
	                            </div>
	                        </div>
                        	<div class="col-xs-12 reduce-padding" ng-hide="doctor.speciality === 'Medical Officer'">
	                            <label class="form-control-label">
	                                Time Per Slot in Minutes
	                            </label>
	                            <br>
	                            <div class="col-xs-9 reduce-padding">
	                                <input type="number" name="slot_duration" min="1" class="form-control" ng-model="doctor.slot_duration" required="doctor.speciality !== 'Medical Officer'">
                                	<span class="error" ng-show="formDoctor.slot_duration.$touched && formDoctor.slot_duration.$error.required">Please fill this field</span>
                            	</div>
	                        </div>
							<div class="col-xs-12 reduce-padding">
	                            <label class="form-control-label">
	                            Login UserName
	                            </label>
	                            <br>
	                            <div class="col-xs-9 reduce-padding">
	                                <input type="text" name="username" class="form-control" ng-disabled="UpdateItem" ng-model="doctor.username" min-length=3 required="">
                                	<span class="error" ng-show="formDoctor.username.$touched && formDoctor.username.$error.required">Please fill this field</span>
	                            </div>
	                        </div>
														
				
	                        <div class="col-xs-12 reduce-padding">
	                            <label class="form-control-label">
	                                Qualification(s)<span class="optional-span">(Optional)</span>
	                            </label>
	                            <br>
	                            <div class="col-xs-9 reduce-padding">
	                                <input type="text" name="qualification" class="form-control" ng-model="doctor.qualification">
	                            </div>
	                        </div>
	                        <div class="col-xs-12 reduce-padding">
	                            <label class="form-control-label">
	                                PMDC Number<span class="optional-span">(Optional)</span>
	                            </label>
	                            <br>
	                            <div class="col-xs-9 reduce-padding">
	                                <input type="text" name="pmdc_number" class="form-control" ng-model="doctor.pmdc_number">
	                            </div>
	                        </div>
	                        <div class="col-xs-12 reduce-padding">
								<label class="form-control-label">
									PMDC Expiry<span class="optional-span">(Optional)</span>
								</label>
								<br>
	                            <div class="col-xs-9 reduce-padding">
									<input type="date" class="form-control" datetime="dd-MM-yyyy" ng-model="doctor.pmdc_expiry">
	                            </div>
	                        </div>
	                        <div class="col-xs-12 reduce-padding">
								<label class="form-control-label">
									Phone Number<span class="optional-span">(Optional)</span>
								</label>
								<br>
								<div class="col-xs-9 reduce-padding">
									<input type="text" name="phone" class="form-control" ng-model="doctor.phone" ui-mask="9999999?9?9?9?9" ui-mask-placeholder >
								</div>
	                        </div>
	                        <div class="col-xs-12 reduce-padding">
								<label class="form-control-label">
									Email<span class="optional-span">(Optional)</span>
								</label>
								<br>
								<div class="col-xs-9 reduce-padding">
									<input type="text" name="email" class="form-control" ng-model="doctor.email" >
								</div>
	                        </div>
							<div class="col-xs-12 reduce-padding">
								<label class="form-control-label">
									CNIC<span class="optional-span">(Optional)</span>
								</label>
								<br>
								<div class="col-xs-9 reduce-padding">
									<input type="text" name="cnic" class="form-control" ng-model="doctor.cnic" ui-mask="99999-9999999-9" ui-mask-placeholder>
								</div>
	                        </div>
	                    </div>
	                    <div class="col-lg-6" ng-hide="doctor.speciality === 'Medical Officer'">
	                        <h5>SCHEDULE DETAILS</h5>
	                        <hr>
	                        <br />
	                        <div class="col-xs-12 reduce-padding schedule-height form-control-label">
		                        <div ng-repeat="schedule in schedules">
		                        	<div class="col-xs-12 panel timing-panel">
		                        		<div class="col-xs-6 reduce-padding">
				                            <label class="form-control-label">
				                                Schedule {{schedules.length - $index}}
				                            </label>
		                        		</div>
				                        <div class="col-xs-6 reduce-padding text-align-right" ng-show="schedules.length > 1">
	                                        <div class="col-xs-12">
					                            <label class="form-control-label">
					                                Remove Schedule
					                            </label>
	                                            <button type="button" class="btn btn-default margin-auto" ng-click="remove_timing($index)" ><i class="fa fa-trash"></i></button>
	                                        </div>
				                            <br>
				                        </div>
				                        <div class="col-xs-12 reduce-padding">
				                            <label class="form-control-label">
				                                Days<span class="error" ng-show="noDays">Please select days</span>
				                            </label>
											<div ng-repeat="day in schedule.days track by $index" ng-if="$index % 3 == 0">
												<div class="col-xs-4 reduce-padding">
													<button type="button" class="btn btn-lg btn-default timeslot" ng-hide="schedule.days[$index] === undefined" ng-class="{'btn-success': schedule.days[$index].selected === 'yes', 'btn-warning': schedule.days[$index].selected === 'no'}" ng-click="select_day(schedule.days[$index])">
														{{schedule.days[$index].name}}
													</button>
												</div>
												<div class="col-xs-4 reduce-padding">
													<button type="button" class="btn btn-lg btn-default timeslot" ng-hide="schedule.days[$index + 1] === undefined" ng-class="{'btn-success': schedule.days[$index + 1].selected === 'yes', 'btn-warning': schedule.days[$index + 1].selected === 'no'}" ng-click="select_day(schedule.days[$index + 1])">
														{{schedule.days[$index + 1].name}}
													</button>
												</div>
												<div class="col-xs-4 reduce-padding">
													<button type="button" class="btn btn-lg btn-default timeslot" ng-hide="schedule.days[$index + 2] === undefined" ng-class="{'btn-success': schedule.days[$index + 2].selected === 'yes', 'btn-warning': schedule.days[$index + 2].selected === 'no'}" ng-click="select_day(schedule.days[$index + 2])">
														{{schedule.days[$index + 2].name}}
													</button>
												</div>
											</div>
				                            <br>
				                        </div>
				                        <div class="col-xs-12 reduce-padding">
				                            <label class="form-control-label">
				                                Timing
				                            </label>
				                            <br>
				                            <div class="col-xs-12 reduce-padding">
					                            <div class="col-xs-5 reduce-padding">
					                            	<div class="col-xs-12 reduce-padding">
						                            	<div class="col-xs-4 text-align-center">
						                            		<i class="fa fa-angle-up cursor-hover" ng-click="increment($index, true, 'hrs')"></i>
						                            	</div>
						                            	<div class="col-xs-4 col-xs-offset-1 text-align-center">
						                            		<i class="fa fa-angle-up cursor-hover" ng-click="increment($index, true, 'mins')"></i>
						                            	</div>
					                            	</div>
					                            	<div class="col-xs-12 reduce-padding">
														<div class="col-xs-4 text-align-center">
															<input type="number" name="starthr" min="1" max="12" class="form-control text-align-center" ng-model="schedule.starthrs" required="true">				
														</div>
														<div class="col-xs-1 reduce-padding text-align-center">:</div>
														<div class="col-xs-4 text-align-center">
															<input type="number" name="startmin" min="0" max="59" class="form-control text-align-center" ng-model="schedule.startmins" required="">				
														</div>
														<div class="col-xs-2 meridian-toggle reduce-padding" ng-model="schedule.start_meridian" ng-click="changemeridianfrom($index)">
														{{schedule.start_meridian}}
														</div>
						                            	<div class="col-xs-12 reduce-padding">
							                            	<div class="col-xs-4 text-align-center">
							                            		<i class="fa fa-angle-down cursor-hover" ng-click="decrement($index, true, 'hrs')"></i>
							                            	</div>
							                            	<div class="col-xs-4 col-xs-offset-1 text-align-center">
							                            		<i class="fa fa-angle-down cursor-hover" ng-click="decrement($index, true, 'mins')"></i>
							                            	</div>
						                            	</div>
													</div>
					                            </div>
												<div class="col-xs-2 timepicker-div text-align-center">
													to
												</div>
					                            <div class="col-xs-5 reduce-padding">
					                            	<div class="col-xs-12 reduce-padding">
						                            	<div class="col-xs-4 text-align-center">
						                            		<i class="fa fa-angle-up cursor-hover" ng-click="increment($index, false, 'hrs')"></i>
						                            	</div>
						                            	<div class="col-xs-4 col-xs-offset-1 text-align-center">
						                            		<i class="fa fa-angle-up cursor-hover" ng-click="increment($index, false, 'mins')"></i>
						                            	</div>
					                            	</div>
					                            	<div class="col-xs-12 reduce-padding">
														<div class="col-xs-4 text-align-center">
															<input type="number" name="endhr" min="1" max="12" class="form-control text-align-center" ng-model="schedule.endhrs" required="">				
														</div>
														<div class="col-xs-1 reduce-padding text-align-center">:</div>
														<div class="col-xs-4 text-align-center">
															<input type="number" name="endmin" min="0" max="59" class="form-control text-align-center" ng-model="schedule.endmins" required="true">
														</div>
														<div class="col-xs-2 meridian-toggle reduce-padding" ng-model="schedule.end_meridian" ng-click="changemeridianTo($index)">
															{{schedule.end_meridian}}
														</div>
													</div>
													<div class="col-xs-12 reduce-padding">
						                            	<div class="col-xs-4 text-align-center">
						                            		<i class="fa fa-angle-down cursor-hover" ng-click="decrement($index, false, 'hrs')"></i>
						                            	</div>
						                            	<div class="col-xs-4 col-xs-offset-1 text-align-center">
						                            		<i class="fa fa-angle-down cursor-hover" ng-click="decrement($index, false, 'mins')"></i>
						                            	</div>
													</div>
					                            </div>
				                        	</div>
				                        </div>
			                    	</div>
			                    </div>
			                </div>
	                        <div class="col-xs-12 reduce-padding add-another-timing">
	                        	<btn class="btn btn-lg btn-success" ng-click="check_timing()">Add Another Timing</btn>
	                        </div>
	                    </div>
	                    <div class="col-xs-12">
	                    	<hr class="hr-padding hr-full">
                            <button type="button" class="btn btn-lg btn-danger" ng-click="delete_doctor(formDoctor)" ng-disabled="processing" ng-show="UpdateItem">
                            	Delete
                            </button>
                            <button class="btn btn-lg btn-primary" ng-disabled="processing" ng-click="reset_doctor(formDoctor)">
                            	Clear
                            </button>
                            <button type="button" class="btn btn-lg btn-success" ng-click="update_doctor(doctor, formDoctor)" ng-show="UpdateItem && doctor.speciality !== 'Medical Officer'" ng-disabled="!formDoctor.$valid || processing">
                            	Update
                            </button>
                            <button type="button" class="btn btn-lg btn-success" ng-click="update_medical_officer(doctor, formDoctor)" ng-show="UpdateItem && doctor.speciality === 'Medical Officer'" ng-disabled="!formDoctor.$valid || processing">
                            	Update
                            </button>
                            <button type="button" class="btn btn-lg btn-success" ng-click="submit_doctor(doctor, formDoctor)" ng-hide="UpdateItem || doctor.speciality === 'Medical Officer'" ng-disabled="!formDoctor.$valid || processing">
                            	Save
                            </button>
                            <button type="button" class="btn btn-lg btn-success" ng-click="submit_medical_officer(doctor, formDoctor)" ng-hide="UpdateItem || doctor.speciality !== 'Medical Officer'" ng-disabled="!formDoctor.$valid || processing">
                            	Save
                            </button>
	                    </div>
                	</div>
                    <div class="col-lg-12 reduce-padding">
                        <div ng-class="confirmationPopup">
                            <div class="gray-container">
                                <b>Are you sure?</b><br>
                                This customer/supplier will be deleted permanently.<br><br>
                                <button class="btn btn-neutral" ng-click="hide_delete_popup()">Cancel</button>&nbsp;&nbsp;<button class="btn btn-danger" ng-click="confirm_delete_popup(formDoctor)">Delete</button>
                            </div>
                            <div class="arrow-down"></div>
                        </div>
                    </div>
                </div> 
            </form>
        </div>
    </div>
</section>