<section data-ng-controller="AdminSpecialitiesController">
    <div class="panel inventories-pricing">
        <ul class="list-unstyled breadcrumb">
            <li><a href="/#!/main-page">Home</a></li>
            <li class="active-page"><a href="#">Specialities</a></li>
        </ul>
        <div class="panel-body">
            <form name="formSpeciality" class="form-horizontal" novalidate>
                <div class="col-xs-12 reduce-padding">
                    <div class="col-lg-6">
                        <h5>SPECIALITY DETAILS</h5>
                        <hr>
                        <br />
                        <div class="col-xs-9 reduce-padding">
                            <label class="form-control-label">
                                Description
                            </label>
                            <br>
                            <div class="col-xs-9 reduce-padding">
                                <input type="text" name="description" class="form-control" ng-model="speciality.description" required="">
                                <span class="error" ng-show="formSpeciality.description.$touched && formSpeciality.description.$error.required">Please fill this field</span>
                            </div>
                            <hr class="hr-padding hr-full">
                        </div>
                        <div class="col-xs-12 reduce-padding error" ng-show="formSpeciality.description.$touched && formSpeciality.description.$error.required">
                            Please fill remaining fields
                        </div>
                        <div class="col-xs-12 reduce-padding">
                            <button type="button" class="btn btn-lg btn-danger" ng-click="delete_speciality()" ng-show="UpdateItem">Delete</button>
                            <button type="button" class="btn btn-lg btn-primary" ng-click="reset_speciality(formSpeciality)">Clear</button>
                            <button type="button" class="btn btn-lg btn-success" ng-click="update_speciality(speciality, formSpeciality)" ng-disabled="formSpeciality.description.$error.required" ng-show="UpdateItem">Update</button>
                            <button type="button" class="btn btn-lg btn-success" ng-click="submit_speciality(speciality, formSpeciality)" ng-disabled="formSpeciality.description.$error.required" ng-hide="UpdateItem">Save</button>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h5>UPDATE EXISTING SPECIALITIES</h5>
                        <hr>
                        <div class="col-xs-12" ng-show="!showTable">
                            <label class="form-control-label">No specialities found.</label>
                        </div>
                        <div class="col-xs-12 background-dynamic-grid-np reduce-padding" ng-show="showTable">
                            <picklist-simple headings-to-add="headings" height="250" rows-to-add="specialitiesToShow" prefix="prefix" multiselect="'single'" callbackfn="callbackfn(arg1)" title="'Select Speciality'">
                        </div>
                    </div>
                    <div class="col-xs-12 form-group">
                        <div ng-class="confirmationPopup">
                            <div class="arrow-up"></div>
                            <div class="gray-container">
                                <b>Are you sure?</b><br>
                                This speciality will be deleted permanently.<br><br>
                                <button class="btn btn-neutral" ng-click="hide_delete_popup()">Cancel</button>&nbsp;&nbsp;<button class="btn btn-danger" ng-click="confirm_delete_popup(formSpeciality)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div> 
            </form>
        </div>
    </div>
</section>