<section class="manage-expense" data-ng-controller="expenseManagerController">
	<div class="panel">
        <ul class="list-unstyled breadcrumb">
                <li><a href="/#!/admin-main-page">Home</a></li>
                <li class="active-page"><a href="/#!/manage-expense">Manage Expenses</a></li>
        </ul>
        <div class="panel-body">
            
            <form name="form" class="form-horizontal" novalidate>
                <div class="col-xs-12" ng-hide="editMode">
                    <h5>Manage Expenses</h5>
                    <br>
                </div>
                <div class="col-xs-12" ng-show="editMode">
                    <h5>Create/Update Expense</h5>
                    <br>
                </div>
                <div class="col-xs-12" ng-hide="editMode">
                    <button type="button" class="btn btn-primary" ng-click="editMode=true;clearForm();">Create Expense</button>
                    <br><hr>
                </div>
                <div class="col-xs-12" ng-show="editMode">
                    
                    <div class="col-xs-4">
                        <div class="col-xs-9">
							<label class="form-control-label">
                                Type
                            </label>
                            <br>
                            <select name="expenseType" class="form-control" ng-model="expense.expenseType" required="">
                                <option ng-value="Income">Income</option>
                                <option ng-value="Expense">Expense</option>
                                <option ng-value="Refund">Refund</option>
                            </select>                            
                            <label class="form-control-label">
                                Description
                            </label>
                            <br>
                            <input name="description" type="text" class="form-control" ng-model="expense.description" required="">
							
							<label class="form-control-label">
                                Amount
                            </label>
                            <br>
                            <input name="amount" type="number" class="form-control" ng-model="expense.amount" required="">
                      
                            
							<!--label class="form-control-label">
                                Expense Number
                            </label>
                            <br>
                            <input type="text" class="form-control" ng-model="expense.expenseNumber" disabled="true"-->
                            
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="col-xs-9">
                           
                            <label class="form-control-label">
                                Date
                            </label>
                            <br>
                            <input type="date" class="form-control" ng-model="expense.created" required="">
							
							<label class="form-control-label">Department</label>
                            <select class="form-control" ng-model="expense.department" required="">
                                <option ng-repeat="val in departments" ng-value="val">{{val}}</option>
                            </select>   
                            
                            <label class="form-control-label">
                                Tags
                            </label>
                            <br>
                            <input type="text" class="form-control" ng-model="tag" ng-enter="addTag()" ng-focus="searchTags()" ng-change="searchTags()">
							<div class="search-result-container dropdown-height" ng-show="showDoctorsDropDown">
                                <div class="results" tabindex="0" ng-enter="addTag($index)" ng-repeat="t in searched_tags | filter: tag" ng-click="addTag($index)">
                                    {{t}}
                                </div>
                            </div>
                            <div class="col-xs-12 reduce-padding">
                                <div class="float-left tag" ng-repeat="tag in expense.tags">
                                    <div  class="tag-text float-left">{{tag}} </div>
                                    <div class="tag-remove float-left" ng-click="removeTag($index)"></div>
                                </div>
                            </div>
                                     
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="col-xs-9">
						
						   <label class="form-control-label">
                                File url
                            </label>
                            <br>
                            <input type="text" class="form-control" ng-model="expense.fileUrl">
                            <input type="file" onchange="angular.element(this).scope().uploadFile(this.files[0])" id="fileInput" accept="image/*">
                            <!--label class="form-control-label">
                                Repeat
                            </label>
                            <br>

                            <select class="form-control" 
                                    ng-options="o.value as o.label for o in options"  
                                    ng-model="expense.repeat">
                                    
                            </select>
                             
                            <div class="col-xs-12  reduce-padding" ng-if="expense.repeat">
                                <label class="form-control-label">
                                    Repeat Number
                                </label>
                                <br>
                                <input name="repeatNum" type="number" class="form-control" ng-model="expense.repeatNum" required="">
                                
                            </div>
                            
                            <div class="col-xs-12 reduce-padding" ng-if="expense.repeat">
                                <label class="form-control-label" >
                                    Frequency
                                </label>
                                <br>
                                <select name="repeatFrequency" type="text" class="form-control" ng-model="expense.repeatFrequency" required="">
                                    <option ng-value="'month'">Month</option>
                                </select>
                                
                            </div!-->
                        </div>
                    </div>
                    <div class="col-xs-12 text-right">
                            <button type="button" class="btn btn-lg btn-danger " ng-click="editMode=false">Close</button>
                            <button type="button" class="btn btn-lg btn-success" ng-click="submit()" ng-disabled="form.$invalid">Save Expense</button>
                        
                    </div>
                    
                </div>
                
                <div class="col-xs-9" ng-hide="editMode">
                    <div class="col-xs-12 reduce-padding report-header">
                        <div class="col-xs-2">
                            Date
                        </div>
                        <div class="col-xs-1 reduce-padding" >
                            Type
                        </div>
                        <div class="col-xs-3 reduce-padding">
                            Description
                        </div>
                        <div class="col-xs-1 reduce-padding">
                            Amount
                        </div>
                        <div class="col-xs-2 text-align-center">
                            Department
                        </div>
                        <div class="col-xs-2 text-align-center">
                            Tags
                        </div>
                    </div>
                    <div class="col-xs-12 reduce-padding search-row text-align-center">
                        <div class="col-xs-offset-8 col-xs-4">
                            <input class="col-xs-12 input-field-border" type="text" ng-model="keyword" placeholder="Search by description or tag..."></input>
                        </div>
                    </div>
                    <div class="col-xs-12" ng-show="expenses.length === 0">
                        No Items Found
                    </div>
                    <div class="col-xs-12 reduce-padding report-row" ng-repeat="expense in expenses" ng-click="selectExpense(expense)">
                        
                        <div class="col-xs-2">
                            {{expense.created | date:"dd-MM-yyyy"}}
                        </div>
                        <div class="col-xs-1 reduce-padding">
                            {{expense.expenseType}}
                        </div>
                        <div class="col-xs-3 reduce-padding">
                            {{expense.description}}
                        </div>
                        <div class="col-xs-1 reduce-padding text-align-center">
                            {{expense.amount}}
                        </div>
                       <div class="col-xs-2 reduce-padding text-align-center">
                            {{expense.department}}
                        </div>
                        <div class="col-xs-3 text-align-center">
                            <span ng-repeat="tag in expense.tags">{{tag}}<span ng-hide="$last">, </span></span>
                            <!--{{expense.tags}}-->
                        </div>
                    </div>
                    
                    <div class="col-xs-6 reduce-padding text-align-left">
                        <br>
                        <button class="btn btn-sm btn-primary" ng-click="changePage('prev')" ng-disabled="pageNo===0">Prev</button>&nbsp;
                        <button class="btn btn-sm btn-primary" ng-click="changePage('next')" ng-disabled="expenses.length<10">Next</button>
                        
                    </div>
                    <div class="col-xs-6 reduce-padding text-right">
                        <br>
                        Page {{currentPage+1}}
                        
                    </div>
                    <hr class="hr-full">
                    <!--<div class="col-xs-12 text-align-right">
                        <b>Total Sales : {{totalSalesAmount.toFixed(2)}}</b>
                    </div>
                    <div class="col-xs-12 reduce-padding text-right">
                        <br>
                        <button type="button" ng-json-export-excel data="exportJson" report-fields="{'id': 'Item Id', description: 'Description', quantity: 'Quantity', price: 'Price'}" filename =" 'Sales-Report' " separator="," class="css-class btn btn-success">Export CSV</button>
                    </div>-->
                </div>
                    
                    
            </form>
        </div>
    </div>
</section>