<section class="facility-pricing" data-ng-controller="FacilityPricingController">

	<div class="panel">
        <ul class="list-unstyled breadcrumb">
                <li><a href="/#!/main-page">Home</a></li>
                <li class="active-page"><a href="#">Service Pricing</a></li>
        </ul>
        <div class="panel-body">

            <form name="formPanel" class="form-horizontal" novalidate>
                <div class="col-xs-12">
                    <h5>Manage Departments</h5>
                    <hr>
                </div>
                <div class="col-xs-6">

                    <div class="col-xs-10">
                        <div class="col-xs-6" ng-repeat="node in nodes">
                            <label class="form-control-label">Category {{$index+1}}</label>
                            <select class="form-control" ng-model="node.selected" ng-change="selectFacility($index)">
                                <option ng-repeat="child in node.children" ng-value="child">{{child}}</option>
                            </select>
                        </div>
                    </div>&nbsp
                    <div class="col-xs-2">
                    <button ng-click="exportfile()" style="margin-top:25px;" type="button" class="css-class btn btn-success">Export</button>
        &nbsp
        <button ng-click="printreport()" class="css-class btn btn-success" style="margin-top:10px; ">Print</button>

				<button class="btn btn-success full-width" type="button" ng-click="submit()" ng-disabled="formPanel.$invalid" style="margin-top:10px;">Save Pricing</button>
      </div>
                    <br>
                    <div class="col-xs-12 pricing-table" ng-show="showGrid">
                        <h5>Add Services and Pricing</h5>
                        <hr>
                        <div class="col-xs-12">
                            <table class="table-width">
                                <tbody>
                                    <thead>
                                        <tr class="table-head order-table-head-row">
                                            <td class="col-pad">Name</td>
                                            <td class="col-pad">Price</td>
                                            <td><button type="button" class="btn btn-sm btn-primary add-service" ng-click="addService()">Add Service</button></td>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="service in services" class="order-table-row">
                                        <td class="col-pad">
                                            <input class="form-control" type="text" ng-model="service.description" required=""></input>
                                        </td>
                                        <td class="col-pad">
                                            <input class="form-control" type="number" ng-model="service.price" min="0" required=""></input>
                                        </td>

                                        <td  class="text-center">
                                            <button type="button" class="btn btn-xs btn-primary" ng-click="selectService(service.description)">Add Details</button>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            <table class="table-width add-service-row">
                                <tbody>
                                    <td class="text-center">

                                    </td>
                                </tbody>
                            </table>

                            <div class="save-btn">
                                <div class="btn-align">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-12" ng-if="selectedService">

                        <h4>{{selectedService}}</h4>
                        <hr>
                        <br>
                        <h5>Expenses</h5>
                        <table class="table-width">
                            <tbody>
                                <thead>
                                    <tr class="table-head order-table-head-row">
                                        <td class="col-pad">Name</td>
                                        <td class="col-pad">Cost</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tr ng-repeat="expense in expenses" class="order-table-row">
                                    <td class="col-pad">
                                        <input name="expenseDesc" class="form-control" type="text" ng-model="expense.description"></input>
                                    </td>
                                    <td class="col-pad">
                                        <input name="expenseCost" class="form-control" type="number" ng-model="expense.cost" min="0"></input>
                                    </td>
                                    <td  class="text-center">
                                        <button type="button" class="btn btn-xs btn-primary" ng-click="addExpense()"  ng-show="$last">Add Expense</button>
                                        <button type="button" class="btn btn-xs btn-danger" ng-click="removeItem(expenses,$index)"  ng-hide="$last">Remove</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h5>Shares</h5>
                        <table class="table-width">
                            <tbody>
                                <thead>
                                    <tr class="table-head order-table-head-row">
                                        <td class="col-pad">Doc Name</td>
                                        <td class="col-pad">Percentage</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tr ng-repeat="share in shares" class="order-table-row">
                                    <td class="col-pad">
                                        <input name="doctorName"
                                            class="form-control"
                                            type="text"
                                            typeahead="doctor.name for doctor in doctorsSearchTypeahead($viewValue)"
                                            typeahead-loading="loadingLocations"
                                            typeahead-on-select="callbackdoctor($item,$index)"
                                            placeholder="Doctor Name..."
                                            ng-model="share.doctorName"></input>
                                    </td>
                                    <td class="col-pad">
                                        <input name="commission" class="form-control" type="number" ng-model="share.commissionPerc" min="0" max="100"></input>
                                    </td>
                                    <td  class="text-center">
                                        <button type="button" class="btn btn-xs btn-danger" ng-click="removeItem(shares,$index)"  ng-hide="$last">Remove</button>
                                        <button type="button" class="btn btn-xs btn-primary" ng-click="addShare()" ng-show="$last">Add Doctor</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="save-btn">
                            <div class="btn-align">
                                <button class="btn btn-success" type="button" ng-click="submitDetails()" ng-disabled="formPanel.$invalid">Save Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
