<head>
<meta charset="utf-8"/>

<style>
	.mw-100 {
		min-width: 70px;
	}

	.w-50 {
		width: 50px;
	}

	.table-width {
		width: 100%;
	}

	.table-head {
		background-color: lightgray;
		border-bottom: 2px solid darkgray;
		height: 35px;
		font-size: 12px;
	}

	.order-table-head-row {
		border-bottom: 1px solid lightgray;
		font-size: 12px;
		font-weight: bold;
	}

	.text-center {
		text-align: center;
	}

	.ng-hide {
		display: none;
	}

	.col-pad {
		padding: 0 10px;
		border-right: 1px solid #fff;
	}

	.order-table-row {
		border-bottom: 1px solid lightgray;
		height: 35px;
		font-size: 12px;
	}
</style>
</head>
<div style="height:100px;font-family:'helvetica'">
    <div style="float: left;">
        <img src="{{hospitallogo}}" height="100px" style="margin-right:20px;"/>
    </div>
    <div style="float: left;">
        <h1 style="text-align: left;margin-top:0;">Service Pricing</h1>
		<p>{{date}} {{time}}</p>
    </div>
</div>
<div style="margin-top:70px;font-size: 18px;width:700px;font-family:'helvetica'">
    <div>
        <table class="table-width">
			<thead class="table-head">
				<tr>
					<th class="text-center col-pad w-50">#</th>
					<th class="order-table-row column-padding-1 col-pad">Description</th>
					<th class="text-center col-pad mw-100">Price</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="service in services">
					<td class="text-center order-table-row">{{$index+1}}</td>
					<td class="text-center order-table-row">{{service.description}}</td>
					<td class="text-center order-table-row mw-100">{{service.price}}</td>
				</tr>
				<tr ng-show="invoices.length>0">
					<td class="order-table-row column-padding-1 mw-100"><b>Total Sum</b></td>
					<td class="text-center order-table-row mw-100"></td>
					<td class="text-center order-table-row mw-100"></td>
					<td class="text-center order-table-row mw-100"></td>
					<td class="text-center order-table-row mw-100"></td>
					<td class="text-center order-table-row mw-100"></td>
					<td class="text-center order-table-row mw-100"></td>
					<td class="text-center order-table-row mw-100"></td>
					<!--td class="text-center order-table-row mw-100"><b>{{alltotal}}</b></td-->
					<td class="text-center order-table-row mw-100"><b>{{totalAmounts.toFixed(2)}}</b></td>
					<!--td class="text-center order-table-row mw-100"><b>{{allbalance}}</b></td-->
				</tr>
			</tbody>
        </table>
    </div>
</div>
