<section class="opd" data-ng-controller="UserManagementController">
<div class="panel opd">
	<div class="panel-body">
		<form name="formPatientRegistration" class="form-horizontal" novalidate>
			<div class="col-xs-12 reduce-padding">
				<div class="col-md-6">
					<h5>USER MANAGEMENT</h5>
					<hr>
					<br />
					<div class="col-xs-9 reduce-padding">
						<label class="form-control-label">
							Display Name
						</label>
						<br>
						<div class="col-xs-9 reduce-padding">
							<input type="text" name="name" class="form-control" ng-model="user.displayName" required>
							<span class="error" ng-show="user.displayName.$touched && user.displayName.$error.required">Please enter valid value</span>
						</div>
					</div>
					<div class="col-xs-9 reduce-padding">
						<label class="form-control-label">
							User Name
						</label>
						<br>
						<div class="col-xs-9 reduce-padding">
							<input type="text" name="userid" class="form-control" ng-model="user.username" required>
							<span class="error" ng-show="user.username.$touched && user.username.$error.required">Please enter valid value</span>
						</div>
					</div>
					<div class="col-xs-9 reduce-padding">
						<label class="form-control-label">
							Password<span class="optional-span" ng-show="UpdateItem">(Leave empty if no change)</span>
						</label>
						<br>
						<div class="col-xs-9 reduce-padding">
							<input type="password" name="pwd" class="form-control" ng-model="user.password" ng-required="!UpdateItem">
							<span class="error" ng-show="user.password.$touched && user.password.$error.required">Please enter valid value</span>
						</div>
					</div>
					<div class="col-xs-9 reduce-padding">
						<label class="form-control-label">
							Role(s)
						</label>
						<br>
						<div class="col-xs-9 reduce-padding left">
							<select class="form-control" ng-model="user.roles" required>
								<option value="opd receptionist">FDO</option>
								<option value="reports">Report Viewing</option>
								<option value="doctor">Doctor</option>
								<option value="OTA">OTA</option>
								<option value="lab pathologist">Lab Pathologist</option>
								<option value="lab receptionist">Lab Receptionist</option>
								<option value="lab technician">Lab Technician</option>
								<option value="radiologist">Radiologist</option>
								<option value="radiology receptionist">Radiology Receptionist</option>
								<option value="dental nurse">Dental Nurse</option>
								<option value="nurse">Nurse</option>
								<option value="opd admin">OPD Admin</option>
								<option value="medical officer">Medical Officer</option>
								<option value="opd receptionist">OPD Receptionist</option>
								<option value="pharmacy admin">Pharmacy Admin</option>
								<option value="pharmacy salesman">Pharmacy Salesman</option>
								<option value="ipd receptionist">IPD Receptionist</option>
								<option value="ipd admin">IPD Admin</option>
								<option value="ipd nurse">IPD Nurse</option>
								<option value="emergency receptionist">Emergency Receptionist</option>
								<option value="emergency admin">Emergency Admin</option>
								<option value="emergency nurse">Emergency Nurse</option>
								<option value="super admin">Super Admin</option>
								<option value="store admin">Store Admin</option>
							</select>
						</div>
					</div>
					<div class="col-xs-9 reduce-padding" ng-show="user.roles === 'pharmacy salesman'">
						<label class="form-control-label">
							Store
						</label>
						<br>
						<div class="col-xs-9 reduce-padding left">
							<select class="form-control" ng-model="user.store" ng-required="user.roles === 'pharmacy salesman'">
								<option></option>
								<option ng-repeat="store in stores" value="{{store.description}}">{{store.description}}</option>
							</select>
						</div>
					</div>
					<div class="col-xs-12 reduce-padding">
						 <hr class="hr-padding hr-full">
						<button type="button" class="btn btn-lg btn-danger" ng-click="delete_user()" ng-show="UpdateItem">Delete</button>
						<button type="button" class="btn btn-lg btn-primary" ng-click="reset_user(formPatientRegistration)">Clear</button>
						<button type="button" class="btn btn-lg btn-success" ng-click="update_user(user, formPatientRegistration)" ng-disabled="!formPatientRegistration.$valid || processing" ng-show="UpdateItem">Update</button>
						<button type="button" class="btn btn-lg btn-success" ng-click="submit_user(user, formPatientRegistration)" ng-disabled="!formPatientRegistration.$valid || processing" ng-hide="UpdateItem">Save</button>
					</div>
				</div>
                <div class="col-lg-6">
					<h5>UPDATE EXISTING USERS</h5>
					<hr>
					<div class="col-xs-12" ng-show="!showTable">
						<label class="form-control-label">No areas found.</label>
					</div>
					<div class="col-xs-12 background-dynamic-grid-np reduce-padding" ng-show="showTable">
						<picklist-simple headings-to-add="headings" height="250" rows-to-add="usersToShow" prefix="prefix" multiselect="'single'" callbackfn="callbackfn(arg1)" title="'Select User'">
					</div>
                </div>

				<div class="col-xs-12 form-group">
					<div ng-class="confirmationPopup">
						<div class="arrow-up"></div>
						<div class="gray-container">
							<b>Are you sure?</b><br>
							This user will be deleted permanently.<br><br>
							<button class="btn btn-neutral" ng-click="hide_delete_popup()">Cancel</button>&nbsp;&nbsp;<button class="btn btn-danger" ng-click="confirm_delete_popup(formSpeciality)">Delete</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
